[2018-09-11 08:20] duidae opened #20 "[Bug] file info issues"
- [X] (fixed) 0. dont sort header
- [X] (fixed) 1.  Going through the list of files on the ASIAA server, some cause the backend to crash.
- [X] (fixed)`1803m_tabular_axis.image`: crash, probably error handling for permission denied
- [X] (fixed)`SDC335.579...`: not crash, but quite slow return -> handled by KS, casacore's problem
- [X] (fixed) 2. It seems to take a _long_ time to get the informati

[2018-09-14 04:34] #20 closed

[2018-10-04 06:16] kswang1029 opened #35 "broken file info due to casacore update on Oct 4, 2018"
The "user friendly" file info appears broken due to the update of casacore on Oct. 4 2018. Some entries are missing. Attached is the screenshot *before* the update.
![setest_checkheader_short_ref](https://user-images.githubusercontent.com/20819712/46456024-feb96f00-c7df-11e8-97bc-e244b06d1346.png)

And *after* update:
<img width="1275" alt="screen shot 2018-10-04 at 14 17 44" src="https://user-ima

[2018-10-05 09:08] duidae opened #37 "Implement z(spectral) profile"
pseudo code:
- [X] update frontend to branch angus/req_spectral_profile
- [X] step 1: implement corresponding action
- [X] step 2: connect feature from bottom to top(SessionDispatcher)
- [X] step 3: set channel_vals: leave empty, frontend will handle it

[2018-10-16 07:31] #35 closed

[2018-10-16 07:32] duidae opened #40 "Refactor DataLoader.cpp with std::pair"

[2018-10-16 07:33] kswang1029 commented on #35
The root cause is due to removal of X11

[2018-10-16 07:33] duidae opened #41 "Try ImageStatistics with new version casacore"

[2018-10-16 08:03] #40 closed

[2018-10-17 01:54] duidae opened #43 "Modify exception handling mechanism of CARTA"
Current CARTA will crash when getting fatal exception, however, some exceptions are not so fatal (ex: open CASA image failed), so need to downgrade those exceptions in order not to trigger crash/abort, to keep backend alive

[2018-10-17 01:56] duidae opened #44 "Implement SET_SPATIAL_REQUIREMENTS"

[2018-10-17 02:00] duidae opened #45 "Update wiki for open source developers"

[2018-10-18 06:45] duidae opened #47 "Incorrect fields CTYPE3 in file info (Headers)"
set preferVelocity, opticalVelocity to false in FitsHeaderExtractor.cpp
bool preferVelocity = false;
bool opticalVelocity = false;

[2018-10-18 06:51] #47 closed

[2018-10-18 09:04] duidae opened #49 "Move core/Data/Image/hashidsxx to CARTAvis-externals/ThirdParty"
we use hashidsxx to generate hash id, however it's a third party library, should move the codes to CARTAvis-externals/ThirdParty

https://github.com/schoentoon/hashidsxx

[2018-10-18 09:07] duidae opened #50 "Disk cache of histogram"
use disk cache of histogram to speed up animator

[2018-10-18 09:24] duidae opened #51 "integrate CI/CD to develop process"

[2018-10-18 09:28] zarda opened #52 "Confirm the correctness of branch: Remove the X11 dependency"
After removing the Qt gui deppendency in the main process, the X11 dependency is still existed. The next step is to remove the Qt gui from carta core. The branch "hjan/remove_X11_depend" need to be validated and debug.

[2018-10-18 09:29] #51 closed

[2018-10-18 10:04] duidae opened #53 "Update casa/casacore to latest version"
* Update casa & casacore @ 20181003
  * casa lastest commit:
    * 677e55de4 Merge pull request #734 in CASA/casa from CAS-11913 to master
  * casacore latest commit:
    * b734a4565 Merge pull request #775 from casacore/issue774
* [casa lastest commit] -> [remove casacore submodule of CASA] -> [add casacore submodule of CARTAvis/New-casacore] -> [Modify some files for building casa successfully]

[2018-10-18 10:09] #53 closed

[2018-10-19 02:36] zarda opened #54 "The role of Carta core"
Carta core has some supported functionality and main process, but there is also the "Carta lib" providing functionalities. Should we let core be a pure engine and move the supported functionality to "Carta lib". So that the core can decouple to the library.

[2018-10-19 02:45] #50 closed

[2018-10-19 06:06] duidae opened #55 "multiple HDU in file list for fits file"

[2018-10-19 06:23] duidae opened #56 "Restore NaN instead of complementing 0 in X/Y profile"
Leave NaN with NaN, not 0

[2018-10-19 06:38] #56 closed

[2018-10-19 08:21] #37 closed

[2018-10-22 01:40] duidae opened #59 "Replace infinity with NaN in X/Y profile"
infinity will lead X/Y profile to strange scale, so replace it with NaN

[2018-10-22 01:49] duidae opened #61 "Replace infinity with NaN in X/Y profile"

[2018-10-22 02:32] duidae opened #62 "Replace infinite with NaN in XY profile"

[2018-10-22 08:44] #62 closed

[2018-10-23 01:03] #61 closed

[2018-10-23 01:11] #59 closed

[2018-10-23 02:35] duidae opened #66 "move protobuf submodule to the uppermost folder(currently in carta/cpp/CartaLib/Proto)"
protobuf submodule in backend is too deep (carta/cpp/CartaLib/Proto), easy to forget, move to the uppermost folder(CARTAvis/) or 3rd party

[2018-10-23 09:14] kswang1029 opened #67 "[bug / crash] validate frontend request before generate "RASTER_IMAGE_DATA""
the frontend GUI allows to zoom to a place where the loaded image is totally outside the view. In this case, backend may crash.

[2018-10-24 02:26] kswang1029 opened #68 "[improvement] skip "SPECTRAL_PROFILE_DATA" for single channel images"
If the image has only one channel, the generation of "SPECTRAL_PROFILE_DATA" should be skipped. This could prevent some crash events if the image header does not contain sufficient frequency/velocity information.

[2018-10-25 08:44] kswang1029 opened #69 "[crash] RaDecVal.fits"
Debug: CasaImageLoader plugin trying to load image:  "/Users/kswang/CARTA/Images/carta_image_library/Images/RaDecVel.fits"
Debug: CasaImageLoader plugin tries to load non-casa image
Debug: 	-opened as FITS image
Debug: lat.shape =  [3, 4, 7, 1]
Debug: lat.dataType =  7
Debug: Float type is  7
[1m[31mFatal: ASSERT: "uint(i) < uint(size())" in file /usr/local/Cellar/qt@5.7/5.7.1/lib/QtCore.framewo

[2018-10-30 02:43] duidae commented on #68
fixed in commit aa40e8c83b79b8a8caa204ad5541a100e0a6e8bd

[2018-10-30 02:43] #68 closed

[2018-10-31 02:10] duidae commented on #69
dead point:
int stokeIndicator = Util::getAxisIndex(image, AxisInfo::KnownType::STOKES);  // DataLoader.cpp std::shared_ptr<CoordinateFormatterInterface> cf(
                               image-> metaData()-> coordinateFormatter()-> clone() ); // Util.cpp

[2018-10-31 02:13] kswang1029 commented on #69
believe it or not, with the desktop version I can open this image without problems.

[2018-11-01 01:44] #69 closed

[2018-11-01 01:45] duidae opened #72 "Support HDF5 format"

[2018-11-01 01:52] duidae opened #73 "parallelize histogram calculation with multi-thread"

[2018-11-01 02:37] duidae opened #74 "Invalid message check"
replace qFatal with qWarning/qCritical to prevent crash in SessionDispatcher.cpp, NewServerConnector.cpp

[code]

[2018-11-01 05:55] duidae commented on #74
fix in commit 8e136f3

[2018-11-01 05:55] #74 closed

[2018-11-05 01:36] duidae commented on #44
fixed PR #77 https://github.com/CARTAvis/carta-backend/pull/77

[2018-11-05 01:37] #44 closed

[2018-11-05 02:37] zarda opened #78 "Crash condition: Send twice the same request continuously"
This is a crashed condition whenever the frontend send two same requests continuously but not acquiring any message back. The Websocket interface will stack some messages and crashed.

[2018-11-05 02:39] zarda opened #79 "Crash condition: FILE_LIST_REQUEST with a unknown directory path"
Frontend sends: FILE_LIST_REQUEST with the directory = “/unknown/path” will make backend to be crashed. Where the target directory is not existed.

[2018-11-05 08:22] duidae commented on #79
fixed in PR #80 https://github.com/CARTAvis/carta-backend/pull/80

[2018-11-05 08:47] duidae opened #82 "Add error handling before sending respond message"

[2018-11-05 08:49] duidae commented on #82
fixed in PR https://github.com/CARTAvis/carta-backend/pull/81

[2018-11-05 08:49] #82 closed

[2018-11-05 08:51] duidae commented on #56
fixed in PR https://github.com/CARTAvis/carta-backend/pull/57

[2018-11-05 08:53] duidae commented on #59
fixed in PR https://github.com/CARTAvis/carta-backend/pull/63

[2018-12-14 07:44] duidae opened #23 "Invalid unit of beam in CASA image"
the unit of beam (BMAJ, BMIN) is deg, however cunit1/cunit2 is rad, so the inconsistency results in wrong scale of beam icon in frontend

[2018-12-14 07:44] #23 closed, assigned to duidae

[2019-02-01 15:02] pford opened #64 "Backend should reuse file info for OPEN_FILE_ACK"
Currently recreates file info and extended file info

[2019-02-12 00:09] #64 closed, assigned to pford

[2019-02-27 13:30] confluence opened #76 "HDF5 file stays open if reading main dataset in file info loader fails"
If the file info loader fails to load the main dataset into a `casacore::HDF5Lattice` near line 173 of `FileInfoLoader.cc` (for example, because the data is not the expected type), the file remains open, which prevents it from being read by other tools (e.g. `h5ls`) until the backend is shut down.

This seems to be a casacore issue with the lattice object, which needs to be cleaned up somehow.

I

[2019-07-30 08:59] #76 closed, assigned to confluence

[2021-05-10 06:06] veggiesaurus opened #812 "Improve --browser command-line argument behaviour"
Need to emulate behaviour found in jupyter-notebook (browser opening up as a separate process, etc).

[2021-05-10 06:07] veggiesaurus commented on #812
assigning to @jolopezl. @confluence can help with the investigations.

[2021-05-10 06:24] confluence commented on #812
I think examining what Jupyter / `webbrowser.open` / `subprocess.Popen` is doing in more detail will help us figure out what to do. We need to 1) launch the browser in a new session, 2) disown it so that closing the terminal doesn't kill it and 3) decide what to do with the output. My preference is to suppress it, for parity with the default browser command.

[2021-05-11 14:03] confluence opened #813 "Generate random FITS and HDF5 files for unit tests"
Many unit tests which need to be added require files with specific large dimensions (e.g. tests of tile or chunk behaviour). It would be impractical to store these files. Instead, we should integrate the unit tests with the [random FITS file generator](https://github.com/idia-astro/image-generator) and the [HDF5 converter](https://github.com/idia-astro/fits2idia/), create these files as they are n

[2021-05-11 14:25] veggiesaurus commented on #813
I suggest we split the last checkbox into a separate issue

[2021-05-11 14:27] confluence opened #814 "Add tests for spatial profiles"
This depends on #813 and should be done before #430 is merged so that it can be tested more effectively.

[2021-05-12 06:34] kswang1029 opened #815 "cannot save layout"
thanks for the help from @acdo2002 @YuHsuan-Hwang and @ajm-asiaa

The issue here is: if we have a global installation of CARTA on a server and every user just types carta to launch it, it appears that a layout cannot be saved which might depend on the permission of CARTA's "pwd".

Can anyone try and see if it is also reproducible from your side? If it is confirmed, we will need to fix this before

[2021-05-12 07:11] kswang1029 commented on #815
I just tried again and I cannot reproduce it......
@acdo2002 @YuHsuan-Hwang @ajm-asiaa could you try again with almat5?

[2021-05-12 07:22] YuHsuan-Hwang commented on #815
I can reproduce it only when launching two carta

[2021-05-12 07:24] kswang1029 commented on #815
from one backend process or two backend processes?

[2021-05-12 07:24] YuHsuan-Hwang commented on #815
two backend processes

[2021-05-12 08:02] YuHsuan-Hwang commented on #815
reproduce steps:
1. launch two carta backend using different terminals and access them using browsers
2. try saving layout using the _first_ launched carta

[2021-05-12 08:11] acdo2002 commented on #815
I can reproduce this issue:

1) ssh to server, type "carta" to start up 1st backend, copy 1st url(included token) to browser(google-chrome), then I can save the layout.
2) open another terminal, type "carta" to start up 2nd backend, copy 2nd url(include token) to brower(google-chrome), at this stage, the second (newest url) can save the layout, however the original(1st url) cannot save the layout.

[2021-05-12 12:22] ajm-ska opened #817 "starting_port argument"
At the moment, if using a shared installation of CARTA in a cluster environment, the carta_backend _must_ use port 3002 and upward. This might be a limitation on RHEL servers that have a firewall active by default. The sys-admin needs to open a range of ports, but there may be a preferred range of ports that are not 3002+.

After discussion with @veggiesaurus the best solution appears to be a new

[2021-05-14 05:49] kswang1029 opened #820 "statistics and histogram from an ellipse region in a PV image are not available"
this should be fixed for v2.0

<img width="937" alt="Screen Shot 2021-05-14 at 1 48 00 PM" src="https://user-images.githubusercontent.com/20819712/118227430-1ccccd00-b4bb-11eb-80cd-d24322bf5611.png">

[2021-05-14 06:24] veggiesaurus commented on #820
@pford can you look into this for the 2.0 final release?

[2021-05-18 17:12] pford commented on #820
I have fixed this for the reference image.  It looks like you cannot do spatial matching of PV images so it is not necessary to convert regions to another image?

[2021-05-19 00:20] kswang1029 commented on #820
Right, matching pv image is not allowed.

[2021-05-21 19:11] #820 closed, assigned to pford

[2021-05-26 14:23] veggiesaurus commented on #815
@kswang1029 should we backport this to 2.0?

[2021-05-26 14:47] kswang1029 commented on #815
Yes good idea

[2021-05-26 14:52] veggiesaurus commented on #815
reopening for 2.0 backport

[2021-05-31 07:02] kswang1029 opened #825 "backend crash when enable multiple profile plot"
This happens once in my case.

I have three images loaded and all matched spatially and spectrally. Then when I click the image checkbox from the spectral profiler widget, the backend crashed. I will keep an eye on this and see if I can find a robust way to reproduce it.

Note: not a showstopper for v2.0. And if we find the root cause we could try to make a patch release later.

[2021-05-31 21:15] jolopezl commented on #812
@confluence, @veggiesaurus: I tried several things for improving the browser command, including `boost::process` and system calls such as `fork()`, `setsid()`, and `execv()`, but none of them was actually the correct approach. Something along the lines of:
[code]
works relatively ok, but it changes the backend process, and it doesn't really exit when killing it as usual but stays in the background

[2021-06-01 12:01] confluence opened #826 "Add a changelog"
Add a `CHANGELOG.md` file which summarises changes between releases. For minor releases this can just be a list of changes merged to `dev` taken from GitHub. For major releases we can add a human-written section describing the release.

This information can be reused in package changelogs.

[2021-06-02 10:29] o-smirnov commented on #817
I've got a question for the devs (or any knowledgable user) related to this. I'm running the 1.4 backend inside a container, port-forwarded over ssh. This all works perfectly fine, I specify ``--port X --fport Y`` for the HTTP and WebSocket ports on the backend, and invoke the URL as e.g. ``http://localhost:13010/?socketUrl=ws://localhost:13011``

And everything connects and loads up.

Looking at

[2021-06-02 10:37] veggiesaurus commented on #817
@o-smirnov yes, the backend will now host the frontend code directly, on the same port. The grpc port is only needed if you want to control carta via the scripting interface, but this is still in active development as of 2.0.

[2021-06-02 10:54] o-smirnov commented on #817
Excellent, so I only need to forward one port now, and the client-side URL is simply ``http://localhost:port``? Very neat!

[2021-06-02 14:46] o-smirnov commented on #817
@veggiesaurus is there any way to pass in the authentication token programmatically, or is it always just chosen randomly?

[2021-06-02 14:54] veggiesaurus commented on #817
You just need to set the `CARTA_AUTH_TOKEN` environmental variable. We decided this was a more secure approach than using a command line argument, because those will show up with `ps`.

Yes, it simplifies things quite a bit. This is something we've been meaning to introduce for a while, but it required upgrading our websocket library to the latest version. The backend-hosting-frontend approach com

[2021-06-03 07:00] o-smirnov commented on #817
Thanks, makes sense. I assume the standard ``uuid`` library is used for the token?

[2021-06-03 07:16] veggiesaurus commented on #817
We use [`uuid`](https://www.npmjs.com/package/uuid) in the[ CARTA controller](https://carta-controller.readthedocs.io/en/release-2.0/) and [`libuuid`](https://linux.die.net/man/3/libuuid) for tokens generated by the backend. In particular, we use `uuid_generate_random` so that there's no information on the timestamp embedded.

[2021-06-04 07:28] #815 closed, assigned to veggiesaurus

[2021-06-07 10:01] #817 closed, assigned to jolopezl

[2021-06-09 01:57] kswang1029 opened #828 "support analytics with annulus region"
related to the frontend issue: https://github.com/CARTAvis/carta-frontend/issues/1486

The annulus regions are:
- circle
- ellipse

requirements: https://docs.google.com/document/d/1jGvhkRwzzF_aA19iCVRANd3PtU8rY7fQAhE6fANOjI8/edit#

[2021-06-09 02:05] kswang1029 opened #829 "custom histogram calculations"
At the moment a histogram is computed with range and n_bin derived automatically. To make the histogram widget be more useful for analysis, custom
- n_bin
- bin_width
- range
need to be configurable.

related to frontend: https://github.com/CARTAvis/carta-frontend/issues/1488

[2021-06-09 07:40] veggiesaurus commented on #829
I think this might already actually be supported on the backend

edit: no, currently the histogram config only supports `num_bins`, not the range itself

[2021-06-09 07:53] kswang1029 commented on #829
and need ICD changes I suppose

[2021-06-09 07:58] veggiesaurus commented on #829
yes, non-breaking ones though, and probably pretty trivial

[2021-06-09 13:05] keflavich opened #830 "Don't establish readlocks on CASA images"
I'd like to prevent CARTA from establishing a "read lock" on image cubes.

I've had several (dozen) experiences where I open an image to inspect it, find something to fix, re-run the imaging, then find my supercomputer has been spinning its wheels for days waiting for a read/write lock.  It would be better not to establish those locks.

If needed, this may be doable with https://github.com/radio-a

[2021-06-09 13:30] veggiesaurus opened #831 "Improve REST API with support for other JSON objects"
The REST API currently supports preferences and layouts. In future, we will need to store additional objects as well. Off the top of my head:
- Code snippets
- Workspaces / projects (not sure what the terminology is here)

The API needs to be made more flexible, so that we can handle these additional objects in a similar manner without copy/pasting a lot of code.

[2021-06-09 14:11] confluence opened #833 "Automatic high-level coding style check with clang-tidy"
After [the big variable renaming](https://github.com/CARTAvis/carta-backend/pull/214) we intended to add an automatic check for certain high-level style issues (like the naming convention), which would work in the same way as the lower-level format check, but to the best of my recollection we only [created an initial configuration](https://github.com/CARTAvis/carta-backend/pull/213) and didn't add

[2021-06-09 18:47] keflavich opened #992 "Show frequency support in file browser"
The file browser "File Information" window should show frequency information for images and cubes.  Currently, it only shows how many pixels there are, e.g.:
[code]

I didn't see an open issue for this, but I'd be really surprised if I'm the first to ask for this, so please close as redundant if it's open elsewhere.

[2021-06-09 18:51] veggiesaurus commented on #992
i.e frequency range and velocity range? If so, I agree it would be useful

[2021-06-09 19:06] keflavich commented on #992
yep exactly.  Velocity range can be... useful in more limited cases.  It would be really cool if you could change the reffreq for the velocity calculation on the fly, but that's just bonus.

[2021-06-10 17:03] keflavich opened #835 "Segmentation fault using spectral line query"
I tried running a spectral line query for the first time since upgrading to 2.0.  It immediately segmentation faulted:

`/scratch/local/2762493/.mount_CARTA-DdZrZq/AppRun: line 18: 25445 Segmentation fault      (core dumped) $DIR/bin/carta_backend "$@"`

I was simply querying between 87.8 and 87.95 GHz with a couple modest-sized cubes open.

[2021-06-10 17:24] veggiesaurus commented on #835
What distro is this? Could you try using the packaged version instead of the appimage?

[2021-06-11 05:28] duidae commented on #835
This works for AppImage on RedHat/CentOS 7 platform(found by @ajm-asiaa):
`$ sudo yum install nss`

[2021-06-11 07:47] #831 closed, assigned to veggiesaurus

[2021-06-11 11:40] veggiesaurus commented on #830
I've done a quick test using `lsof` after opening a FITS file, HDF5 file and CASA file in CARTA.

FITS files open with read-only access and no lock. HDF5 files open with read-only access _and_ a read lock. CASA images open `table.f0_TSM0` and `mask0/table.f0_TSM0` with read-only access and no lock, as well as `table.lock` and `mask0/table.lock` in read-write access and a read lock on part of the f

[2021-06-11 11:42] veggiesaurus commented on #830
Also, I guess one thing we should expect is that things may go horribly wrong with CARTA if you attempt to continue reading from a file after its been rewritten!

[2021-06-11 13:06] keflavich commented on #830
I think I've already done this in some cases; I used the filesystem to move a file that had a lock on it (`mv` ignores readlocks, at least on this filesystem?) and... CARTA just used what was cached, I think.  It just redisplayed the same data.  It was weird, but no major crashes happened.  Again, not sure I can reproduce _exactly_ what I did...

[2021-06-14 03:54] kswang1029 opened #836 "fix homebrew packages"
This is to address issues encountered from the v2.0 release.

[2021-06-14 03:55] kswang1029 opened #837 "fix RHEL/CentOS packages"
This is to address issues encountered from the v2.0 release.

[2021-06-14 03:57] kswang1029 opened #838 "Documentation: summarise default settings"
@veggiesaurus please help to fill in details.

[2021-06-14 03:57] kswang1029 opened #839 "consoliate all formating style checkes"
@veggiesaurus please help to fill in details.

[2021-06-14 04:09] kswang1029 commented on #839
duplicated.

[2021-06-14 04:09] #839 closed, assigned to confluence

[2021-06-15 11:53] confluence opened #840 "Add token-based authentication to the gRPC service"
Add authentication to the gRPC service as described in the [scripting security design document](https://docs.google.com/document/d/1UVsyDd4FB8iFCdy6nsKdMoB28gpIhS55pJE0evWn1Oc/) and in the [more general wrapper issue](https://github.com/idia-astro/carta-python/issues/13).

[2021-06-15 12:54] #813 closed, assigned to confluence

[2021-06-17 21:00] pford opened #844 "Update carta-casacore epic"
Issues which need an update of the casa6 commit in carta-casacore:

#528, #649, #996.  Also #665 for HDF5 LEL support.

[2021-06-18 02:28] kswang1029 opened #845 "add spatial and spectral range information in the file information"
cf casaviewer, the casaviewer provides range information as part of the file information including:
- R.A. range (or Longitude)
- Dec. range (or Latitude)
- Frequency range
- Velocity range
- Stokes coverage

[2021-06-18 02:32] kswang1029 opened #846 "add beam area info in the statistics widget"
beam area info is defined as

pi / 4 ln(2) * theta_a * theta_b where theta_x refers to FWHM of the beam element

UPDATE: this could be implemented entirely at frontend as image headers should already be cached so that beam information is available for the beam area calculations.

[2021-06-18 14:06] veggiesaurus opened #848 "fix issues with contour animation when contour compression is disabled"
As discovered by @kswang1029, playing back an animation with contours at a high frame rate can result in garbled ICD messages when using the MacOS electron app. @ajm-asiaa worked out that this only occurs with the electron app (and not the homebrew install) because contour compression is disabled.

This may be because we're instructing uWebSockets to compress the uncompressed contour messages usin

[2021-06-18 14:10] veggiesaurus commented on #848
now that I know what I'm looking for, I can reproduce this error on Ubuntu 20.04 in the `dev` branch as well. It seems to happen more frequently when the dev console is open (because network data is inspected, leading to reduced throughput of data)

https://user-images.githubusercontent.com/592504/122575305-e7367900-d050-11eb-95d1-d2e317a4edec.mp4

[2021-06-20 09:47] kswang1029 opened #849 "performance degradation when animating raster + two sets of contours"
test images: HD163296_CO_2_1.fits and HD163296_13CO_2_1.fits. Both spatial sizes are 432 px x 432 px.

If we animate one raster + one contour at fps 15, we see the performance is okay (raster and contour are a bit out of sync as already a known issue).

If we animator one raster + two sets of contours (from each cube) at fps 15, the animation becomes extremely slow and is not usable.

This might b

[2021-06-21 06:02] ajm-ska opened #850 "Linux aarch64 support"
I was the proponent for ARM support before, and I thought having Apple Silicon support would be enough. At the time we added the following to the CMakeLists.txt file:

With those lines, the carta_backend builds and runs fine on an Apple Silicon Mac because cmake reads `CMAKE_SYSTEM_PROCESSOR` as `arm` and `CMAKE_SYSTEM_NAME` as `Darwin`.

At the time, I didn't think it would be necessary to suppor

[2021-06-21 21:55] #814 closed, assigned to confluence

[2021-06-22 11:35] #850 closed, assigned to ajm-ska

[2021-06-23 02:58] #848 closed, assigned to veggiesaurus, ajm-ska

[2021-06-25 11:37] veggiesaurus opened #853 "Populate file list response with modification time and number of items for each directory"
Request from a group of users at U. Toronto to also display the modification time for directories in CARTA. I think we should also display the number of items (easy enough to determine using `fs::directory_iterator`).

Example from the Ubuntu file browser below:

![image](https://user-images.githubusercontent.com/592504/123419093-20736980-d5ba-11eb-94fc-d585e1e816bc.png)

[2021-06-25 11:38] veggiesaurus commented on #853
would require a minor change to ICD and frontend as well.

I suggest we do some rough estimates of performance before committing to displaying # of items though.

[2021-06-25 14:42] veggiesaurus commented on #853
Seems to be working well (`angus/directory_info` branch with `angus/853_directory_info` backend branch):

![image](https://user-images.githubusercontent.com/592504/123441372-0fcfed00-d5d4-11eb-9ccc-4b77fc16140d.png)

Takes about 40 ms to get the item count for that 25000 item folder, on both SSD and HDD.

[2021-06-25 14:58] veggiesaurus opened #854 "Add code coverage metrics to CI"
We have a bunch of unit tests for the backend, and @markccchiang is adding new ones for existing features as part of the 3.0-beta.1 release (#797).

We should add some basic code coverage statistics to the CI. `gcovr` can be used to generate a report from `gcov`, or we can use some sort of online platform for this.

[2021-06-25 15:04] veggiesaurus commented on #854
We're currently sitting at just under 17% code coverage, by the way :nauseated_face:

[2021-06-28 10:02] #853 closed, assigned to veggiesaurus

[2021-06-28 17:14] confluence commented on #838
Default settings for all the config values / commandline parameters? And where should this be summarised -- more details in the body of the commandline help?

[2021-06-28 18:50] jolopezl opened #857 "Program settings won't read starting_folder setting from configuration file"
The CARTA backend crashes when starting it with the following backend settings file:
[code]
with the following message:
[code]
It also fails if one attempts to start CARTA as:
[code]
which is the natural guess for the starting_folder command-line setting. It works if one uses `base` instead:
[code]

These are two different problems but involves a similar change. I propose updating the command line

[2021-06-28 18:58] jolopezl commented on #857
I guess this is partly duplicated since we already have https://github.com/CARTAvis/carta-backend/issues/807

[2021-06-28 19:05] pford commented on #857
If you run `carta_backend --help` you can see the parameters.  `base` has been deprecated as a parameter for the starting folder, which is now a positional parameter instead of an option: `carta {OPTION...] <starting_folder>`

[2021-06-28 19:05] veggiesaurus commented on #857
the positional argument is used for the starting folder. For example,
`carta_backend /home/angus/data` will use the top level folder of `/` (default) and `/home/angus/data` as the starting folder

[2021-06-28 19:10] jolopezl commented on #857
Ok! Thanks, @pford, and @veggiesaurus. I got confused while getting CARTA crashing with what I was aiming to test for other things. I was trying to get it working using backend json-based settings, but I kept failing there with `starting_folder` (which is really missing for that) but tested the command line differently using what I guessed what correct `--starting_folder`.

[2021-06-30 08:49] veggiesaurus commented on #857
@jolopezl can we close this in favour of #807?

[2021-06-30 10:00] jolopezl commented on #857
Yes, of course!. I am ashamed of having opened this issue now.

[2021-06-30 10:16] veggiesaurus commented on #857
At least now we're all on the same page :+1:

[2021-06-30 10:16] #857 closed, assigned to jolopezl

[2021-06-30 16:23] veggiesaurus opened #861 "Improve speed of HDF5 header parsing"
The FITS file `hlsp_candels_hst_acs_gn-tot-60mas_f606w_v1.0_drz.fits` has roughly 13000 header entries. The file info takes ~2 seconds to load. After converting to HDF5, it takes about 30 seconds to load the file info in CARTA.

I don't think this is an inherent limitation of the HDF5 file format though, because viewing the attributes in HDF Compass takes about 2 seconds as well. We should be able

[2021-06-30 17:53] veggiesaurus commented on #861
changing to estimate of 1, as it should be as simple as switching to using `H5Aiterate2` instead of manually opening each attribute using `H5Aopen_idx`

[2021-07-01 07:38] veggiesaurus opened #863 "PR for adjusted CASA code"
Issue to track progress of the CASA PR which will allow us to remove a large chunk of code we've copied from casacode

[2021-07-05 09:44] veggiesaurus opened #865 "Get CI running on supported platforms"
We currently have our CI running on Ubuntu 16.04, CentOS (7?) and MacOS (10.15?)

We need to run our CI on the following officially supported platforms:
- Ubuntu 18.04 and 20.04
- RHEL 7/8 or CentOS 7/8 (We could also use AlmaLinux or RockyLinux for CentOS 8 support)
- MacOS 10.15 and 11

We can use Docker for most of these (I think we can even use Docker for RHEL if we have an account).

[2021-07-06 08:00] veggiesaurus commented on #838
@kswang1029 can you remember what this issue was for? Was it for documenting the JSON config options in the user manual itself?

[2021-07-06 08:06] kswang1029 commented on #838
Hmm I cannot remember. We already have the auto-generated json doc in the appendix of the user manual (@confluence helped me on this part while I was working on the user manual revision before the release)

[2021-07-06 08:22] veggiesaurus commented on #838
I propose we close this issue then, and reopen if needed.

[2021-07-06 08:30] #838 closed, assigned to nobody

[2021-07-06 14:41] #861 closed, assigned to confluence

[2021-07-08 15:12] confluence opened #866 "Multiple problems with specific HDF5 files"
The [latest commit](https://github.com/CARTAvis/carta-backend/commit/c9d08197e69f4ef384840cd12785b6651198da19) seems to have introduced several issues which affect specific HDF5 files. Some files (e.g. `M17_SWex.hdf5`) cause the backend to crash if they are loaded, while some files cause the backend to freeze / hang after they are loaded (a symptom of this was [this frontend issue](https://github.

[2021-07-08 20:23] #866 closed, assigned to pford

[2021-07-14 08:05] veggiesaurus commented on #835
@keflavich what distro are you running this on? Did the above suggestion fix the issue?

[2021-07-14 10:56] Kechil opened #868 "support integer and boolean image types"
See CARTAvis/carta-backend#520, which was split so that the complex component could be prioritised for v3b-1.

[2021-07-14 15:24] keflavich commented on #835
I was running on redhat 7.  I don't have rights to install software globally on the machine.  I haven't retried yet

[2021-07-15 12:25] ajm-ska commented on #835
I don't think this is a CARTA issue as such.
CARTA uses the system's 'curl' command to query the spectral line database.
The segmentation fault is due to curl failing. It is failing because the Network Security Services (nss) certificates are outdated. You are likely using an older RedHat 7 release such as RedHat 7.3 or 7.4 (`cat /etc/redhat-release`)
I bet 'curl' on that system is unable to conne

[2021-07-15 13:40] veggiesaurus commented on #835
the workaround for CARTA would be to not enforce HTTPS checking, as far as I know :thinking: Or to _attept_ HTTP connection and fall back on HTTP if it fails. A segfault isn't an ideal situation.

[2021-07-15 21:53] confluence opened #869 "Log error and critical messages to stderr instead of stdout"
Currently all messages logged to the console are written to `stdout`. It would be more consistent with *NIX conventions to use `stderr` correctly (and make it slightly easier to determine programmatically whether the backend has crashed, e.g. from the scripting wrapper). [This spdlog issue](https://github.com/gabime/spdlog/issues/345) discusses this exact use case and provides a suggested solution

[2021-07-16 16:59] veggiesaurus opened #871 "generic HTTP proxy for resources without CORS"
We have a number of scenarios where we need to pull data from external sources:
- Splatalogue
- NED, SIMBAD, etc
- ADS

Those resources are out of our control. They may not have HTTPS or CORS enabled, which means we cannot query them directly from the browser. This means a lot of the asynchronous requests have to be made via the backend. At the moment, we've only implemented this for Splatalogue,

[2021-07-16 17:09] veggiesaurus commented on #871
@panchyo0 will need to use the backend for grabbing data for the online catalogue query tool, so he may have input on this issue too.

[2021-07-19 03:52] duidae commented on #871
Maintaining a small proxy could be a solution as the demand of requesting external resources increases, and I think those pain in the neck in the development may possibly due to we are trying to integrate those services dedicated to "human" rather than applications(i.e. lack of API), so they would update in any time and in any form without considering others, which may increase our development & m

[2021-07-19 06:17] veggiesaurus commented on #871
That's certainly true of splatalogue, but NED, SIMBAD and ADS are designed as APIs specifically. However, the major problem is that they're often designed with python/bash scripts in mind, rather than in-browser execution.

[2021-07-19 07:08] veggiesaurus commented on #871
Ok, I think we should aim to add this in v3.0-beta.2. I suggest we use the following approach

![image](https://user-images.githubusercontent.com/592504/126117495-017b77d7-7695-4cf6-baf7-0321af199111.png)

It would be nice to eventually migrate to using asynchronous `cURL` handling, but I don't think that's strictly necessary in our case, because of our single-user-per-process approach.

[2021-07-20 07:10] kswang1029 opened #873 "double click to load an image results in incorrect header extraction"
if we use the load button to load an image, it works fine. However, if we load the same image with double click the returned header becomes weird.

test image: https://drive.google.com/file/d/1T6DwUKsOrFs9SB8dnhYkiiwEls9zS0VM/view?usp=sharing

with the load button
![Screen Shot 2021-07-20 at 3 12 07 PM](https://user-images.githubusercontent.com/20819712/126277632-da858deb-78c8-4cca-9dc6-6f076e86d6

[2021-07-20 07:17] veggiesaurus commented on #873
@kswang1029 what happens if you load the same image using the URL parameters?

[2021-07-20 07:24] veggiesaurus commented on #873
The frontend may be partly to blame here. When you double click on a file, it spams the backend with requests:
- Two `FileInfoRequest` messages (one for each click :man_facepalming: )
- One `OpenFile` message (for the double-click action itself)

Ideally it should just be a single `OpenFile` message when you double-click. However, I do think we should still make sure the results are consistent.

[2021-07-20 07:32] kswang1029 commented on #873
hmm same wrong header as the case with double click

[2021-07-20 07:33] veggiesaurus commented on #873
Ok, so it seems like calling `OpenFile` without first calling `FileInfoRequest` causes the issue, rather than some sort of race condition.

Does the same thing happen with HDF5?

[2021-07-20 07:49] kswang1029 commented on #873
This appears only happening with the attached test image. I tried other images with multiple HDUs and others without, all work fine so far.

[2021-07-20 14:51] pford commented on #873
It looks like it is loading the primary header/array (which is an image?) with the double click: `SIMPLE = T` rather than `XTENSION = IMAGE` and the filename does not show the HDU and EXTNAME.

If the HDU is not specified in OpenFile, the backend opens the first HDU which is an image.

[2021-07-26 08:38] veggiesaurus opened #876 "memory leak when loading images and requesting spectral profiles repeatedly"
Not sure if this is possibly related to https://github.com/CARTAvis/carta/issues/83.

I wrote a code snippet to load the same file 500 times, and make a region each time. If you run the snippet with a spectral profiler widget open, the backend leaks memory.

The code snippet:

[code]

I tried the same image with CASA, FITS and HDF5, and got the following results (not exactly apples-to-apples, beca

[2021-07-26 11:08] #812 closed, assigned to jolopezl

[2021-07-26 11:22] veggiesaurus commented on #873
The HDU is not specified in `OpenFile`, so it should load the first image HDU. From the image data, it's clearly loading the first image HDU correctly, but the _header_ info is the first HDU, not the first image HDU.

The first HDU for this image is

[code]

which is definitely not an image (`NAXIS = 0`)

[2021-07-26 11:23] veggiesaurus commented on #873
My guess it it will occur whenever the _first_ HDU is not an image

[2021-07-27 05:34] kswang1029 commented on #873
if we load the image spire250_ext.fits with double-click, the displayed name in the image list widget is **spire250_ext.fits**.
![Screen Shot 2021-07-27 at 1 28 10 PM](https://user-images.githubusercontent.com/20819712/127100552-780bc000-e5cc-4dff-909d-71d4dd6643e1.png)
However, if we load the image spire250_ext.fits with the load button, the displayed name in the image list widget is **spire250_e

[2021-07-27 06:14] veggiesaurus commented on #873
It's the same issue, isn't it? NAXIS=0

[2021-07-27 06:18] kswang1029 commented on #873
yes. I just provide my other test result here.

[2021-07-29 11:36] #873 closed, assigned to pford

[2021-07-30 07:41] veggiesaurus opened #882 "support boolean types in FITS and VOTable input"
Currently, boolean types are not supported in catalogs. The ICD supports it, but the columns are not imported properly by the backend

[2021-07-30 11:30] #882 closed, assigned to veggiesaurus

[2021-08-02 05:33] kswang1029 opened #886 "spectral line query widget: support offline FITS catalog"
related to #650 and frontend https://github.com/CARTAvis/carta-frontend/issues/1490

catalog should include
- JPL catalog
- CDMS catalog
- in-house optical atomic lines

[2021-08-02 19:10] pford commented on #863
I opened a CASA ticket to change the imageanalysis code in the casa6 repo and looked at this in detail.  The goal of this issue is to remove code from CARTA that was copied from CASA imageanalysis.  However, the new imageanalysis ImageMoments function `lineMultiApply` was copied from casacore::LatticeApply to enable cancellation.  I think that the CASA reviewers will be as unhappy to add code copi

[2021-08-04 21:41] confluence commented on #840
This was implemented in PR #881.

[2021-08-04 21:41] #840 closed, assigned to confluence

[2021-08-05 02:54] kswang1029 opened #891 "backend crash when exporting region file including polyline"
@YuHsuan-Hwang found this while implementing the frontend support of polyline (https://github.com/CARTAvis/carta-frontend/pull/1592). After some investigations, it appears that exporting a polyline with specific numbers of points would cause the backend crash. They are 4, 8, 12 and so on.

[2021-08-05 03:17] kswang1029 opened #892 "in-house implementation of moment map generator"
Due to codebase maintenance issues (casacore/casacode), it would be better to have our own implementation of the moment map generator in order to fit CARTA's need for cancellation. For HDF5 images, ZYX cube should be used from performance point of view. (https://github.com/CARTAvis/carta-backend/issues/602)

All the following "moment" should be supported:

Please refer to https://casa.nrao.edu/doc

[2021-08-05 03:58] kswang1029 opened #893 "file info: revise Stokes to Polarization for consistency and generalization"
The FITS standard defines how "Stokes" axis should be defined. Although the axis is call Stokes, actually other polarization conventions are included too.

![Screen Shot 2021-08-04 at 2 53 46 PM](https://user-images.githubusercontent.com/20819712/128288384-4dbf9403-8ad3-40af-84a0-941b2d4dc5e1.png)

For consistency and to support other cases, the frontend part changes the label "Stokes" to "Polariz

[2021-08-05 11:00] veggiesaurus commented on #863
shall we close this issue @pford @kswang1029 ?

[2021-08-05 11:14] kswang1029 commented on #863
Ok from my side

[2021-08-05 14:49] pford commented on #863
I agree.  I have already closed the CASA ticket as "Won't Do".

[2021-08-05 14:49] #863 closed, assigned to pford, markccchiang

[2021-08-05 14:51] pford commented on #863
Closed and replaced by #892

[2021-08-06 15:55] pford commented on #891
I need more information @YuHsuan-Hwang @kswang1029 .  Using frontend commit `origin/yuhsuan/1149_polyline_region 5e4870d` and backend `dev`, I opened set_QA/set_QA_regionTest/M17_SWex.image and created a 4-point polyline region and an 8-point polyline region then exported them in CRTF pixel and world and DS9 pixel and world coordinates without a backend crash.  Backend was running in Docker with U

[2021-08-06 16:08] pford commented on #891
I did the same as above on Mix 'n Match with a 4-pt polyline, exported testpolyline4pt.crtf (pixel) and testpolyline4pt_world.crtf (world).

[2021-08-08 15:51] #893 closed, assigned to pford

[2021-08-09 01:50] kswang1029 commented on #891
@pford hmmm, have you tried the native mac build? It appears that this only happens on mac...

[2021-08-09 06:05] YuHsuan-Hwang opened #895 "Support other polarization types"
Support all the stokes value of fits files:
![Screen Shot 2021-08-04 at 2 53 46 PM](https://user-images.githubusercontent.com/43841102/128664733-7644f102-d156-4cbc-928a-6a0ef13a8686.png)
This includes:

- [x] Extend protobuf message `StokesType`
- [x] Extend stokes type of Z profile, XY profile, histogram data, and statistics data
- [x] Extend types of hypercube

requiring frontend: https://github

[2021-08-09 06:26] kswang1029 opened #896 "backend crash when loading multiple HDF5 images in one shot"
with my local mac build, loading four hdf5 images in one shot would "usually" crash the backend. Sometimes I see

[2021-08-09 14:21:53.640] [error] Error opening HDF5 image: HDF5 error: Unknown data type of scalar attribute PC02_03
[2021-08-09 14:21:53.641] [error] Error loading image data: HDF5 error: reading slab from data set array DATA
[2021-08-09 14:21:53.787] [error] Error loading image data

[2021-08-09 06:27] kswang1029 commented on #896
As a note here, occasionally this issue can happen with multiple FITS images too but I cannot find a robust way to reproduce the problem.

[2021-08-10 12:29] confluence commented on #826
This was implemented in the merge of #897.

[2021-08-10 12:29] #826 closed, assigned to confluence

[2021-08-11 06:21] kswang1029 opened #899 "cube histogram of hdf5 is not derived from the pre-calculated one"
When requesting a cube histogram from hdf5 image, the backend should just read the pre-calculated one instead of performing real calculations from the image cube.

[2021-08-11 06:25] kswang1029 opened #900 "cursor info widget does not show updated values for all matched images"
To reproduce:
1) load two matchable images and match them
2) launch the cursor info widget
3) move cursor around and observe the reported pixel values. We should see pixel values from the two images are updating but there is only one updating.

[2021-08-11 06:43] acdo2002 commented on #900
I also noticed this with Jenkins ICD tests.
This problem shows up from the backend dev commit: `a8831fc`
(previous one `aee910a` works fine)

[2021-08-11 08:03] kswang1029 commented on #900
@markccchiang could you help on this for v3b1?

[2021-08-11 08:03] kswang1029 commented on #899
@markccchiang could you help on this for v3b1?

[2021-08-11 08:29] #891 closed, assigned to pford

[2021-08-11 10:52] DhanrajIuc opened #901 "Backend make fails with error temporary of non-literal type ‘CARTA::script::ActionRequest’ in a constant expression"
We are trying to set up a Cartavis server on our HPC, Specifications are given below:
**Operating system** : Centos 7.4
**GCC** : 7.2.0
**Issue** : Carta backend Make failed
**Error** :
/carta-backend/build/carta-scripting-grpc/carta_service.pb.cc: In constructor ‘constexpr CARTA::script::ActionRequestDefaultTypeInternal::ActionRequestDefaultTypeInternal()’:
/carta-backend/build/carta-scripting-gr

[2021-08-11 16:14] markccchiang commented on #900
Ok.

[2021-08-11 17:51] #899 closed, assigned to nobody

[2021-08-11 17:52] veggiesaurus commented on #901
@confluence any ideas?

[2021-08-11 17:54] veggiesaurus commented on #901
@DhanrajIuc which branch are you using? Could you try the `release/2.0` branch and run `git submodule update --init --recursive` to grab the correct submodules.

If you just want to get the backend up and running on centos 7, you can also install the prebuilt packages (see [here](https://carta.readthedocs.io/en/latest/installation_and_configuration.html#installation-via-package-managers))

[2021-08-11 17:54] confluence commented on #901
What versions of gRPC and protocol buffers are you using?

[2021-08-11 18:21] confluence commented on #901
Actually, I think the issue may be the GCC version. The minimum that we support is GCC 8 -- the [dockerfile for CentOS 7](https://github.com/CARTAvis/carta-backend/blob/dev/Dockerfiles/Dockerfile-CentOS7) has more details about the dependencies and the build process.

But we do recommend using our prebuilt packages if you are on one of our supported systems.

[2021-08-11 20:46] confluence commented on #900
Please also add this to the changelog.

[2021-08-12 05:31] DhanrajIuc commented on #901
Hi, Thank you for the update. Will try with GCC-8 and get back to you.

[2021-08-12 06:17] #900 closed, assigned to nobody

[2021-08-12 08:00] veggiesaurus opened #904 "ensure CMakeLists.txt is fully compatible with the specified cmake_minimum_required"
Our `CMakeLists.txt` has `cmake_minimum_required` as `3.10`, but we are using some functions from later versions. We need to make sure that we conform to 3.10.

Main offender seems to be `add_compile_definitions` , which was introduced in 3.12.

[2021-08-13 02:15] kswang1029 opened #906 "region histogram broken with the in-memory moment images"
After generating a moment image in memory, if we request a region histogram with the histogram widget, we will see no histogram showing up.

[2021-08-24 02:13] ajm-ska opened #909 "crash when opening a region file on CentOS8"
Our ICD tests have revealed a crash that only occurs on CentOS8.

When a carta_backend running on CentOS8 tries to open our region test file `M17_SWex_regionSet1_world.crtf` it results in an immediate crash of the backend:

[code]

It is strange because the same region file can be opened without problems on CentOS7, Ubuntu 18.04, and Ubuntu 20.04.

At first I thought it was the GCC version used to

[2021-08-24 02:20] kswang1029 commented on #909
the first one “symbol” (aka point region) works fine.
problem starts from the 2nd region. If we remove those decoration related parameters (ie the 2nd centerbox in the above region def), it loads fine.

[2021-08-24 02:20] kswang1029 commented on #909
@pford could you help?

[2021-08-24 02:21] ajm-ska commented on #909
If it is any help for debugging, I was using this Docker container `ajmasiaa/centos8-carta-jenkins-builder` (It is on DockerHub)

[2021-08-24 09:44] veggiesaurus commented on #896
probably related to HDF5 library thread safety. I saw something similar with FITS files on Windows if you load lots of files across lots of threads.

[2021-08-24 09:47] veggiesaurus commented on #830
@pford is this fixed now?

[2021-08-31 03:07] acdo2002 opened #1065 "ERROR_DATA ICD message returned when setting a region"
How to generate:
(1) Open browser's Console.
(2) Open any files (fits/image/hdf5) and create a region.

Problem:
After setting a region, the frontend ICD message sequences:
SET_REGION=>
<=SET_REGION_ACK
SET_CURSOR=>
<=SPATIAL_PROFILE_DATA
SET_SPATIAL_REQUIREMENT {regionid:0}=>
SET_SPATIAL_REQUIREMENT {regionid:1}=>
<=SPATIAL_PROFILE_DATA
<=ERROR_DATA {message: "Spatial requirements not valid for n

[2021-08-31 03:29] kswang1029 commented on #1065
Starting from the v3beta1 carta supports spatial profiles from point region. Line region will also be supported in bete2. So what you are seeing is a result of these changes (and might be temporary side effects).

[2021-09-01 10:39] #906 closed, assigned to markccchiang

[2021-09-02 13:49] Jordatious opened #912 "Incorrect projection in v3b1 when CROTA keys present"
An IDIA user has some mosaics created from CASA and WSClean images, which both include the deprecated CROTA FITS header keys. I've asked for a copy of these images to provide for @kswang1029.

carta.idia (v2.0.1) projects it fine, including with diagonal grid lines for the mosaic of the WSClean images. But carta-beta.idia (v3.0.0-beta.1b) incorrectly projects it without the diagonal grid lines. Sp

[2021-09-02 13:55] veggiesaurus commented on #912
[example_images.zip](https://github.com/CARTAvis/carta-frontend/files/7099336/example_images.zip)

Here's an example of two images (`C.fits` and `C_rot.fits`). They are identical apart from the `CROTA2` term. Both display correctly in DS9 and CARTA 2.0, but CARTA 3.0 beta-1 does not replace the `CROTA2` entry with a CD matrix, and it does not seem to display correctly

[2021-09-02 14:07] veggiesaurus commented on #912
Strangely enough, the CARTA backend now seems to replace `CROTA2` with `CROTA` :shrug:  not sure why.

I noticed that converting the file to HDF5 using `fits2idia` solves the issue (`CROTA2` is no longer replaced with `CROTA` and the  overlay renders correctly):

![image](https://user-images.githubusercontent.com/592504/131859879-e23810e1-c18c-4a23-82ab-af43bc9eb76f.png)

[2021-09-02 14:20] kswang1029 commented on #912
Hmm so it is actually a backend issue?🤔

[2021-09-02 14:41] veggiesaurus commented on #912
Looks like a casacore issue :thinking: Moving to `carta-backend` and assigning @pford

[2021-09-07 08:53] ajm-ska commented on #854
@veggiesaurus This was initially not automatically working for all branches when I was using a Docker Pipeline in Jenkins. But I have since managed to update the RHEL7 server that is running the Jenkins Mix 'N Match. Now Jenkins can natively build the carta-backend with -Dtest=on and run the coverage script.

The page looks a bit primitive, but it seems to be working: https://carta.asiaa.sinica.ed

[2021-09-07 09:03] veggiesaurus commented on #854
ok, it's getting there. Can you make the commit hashes a link to the actual commit on github? And the branch names a link to the branch on github.

I noticed some odd behaviour:

![image](https://user-images.githubusercontent.com/592504/132317003-1e5d5f82-e4ff-4dd1-8bc7-53f62d1420b6.png)

Same commit hash, very different results

[2021-09-07 10:08] ajm-ska commented on #854
@veggiesaurus OK. I will try to add appropriate hyperlinks.

Well spotted about the the 14.5% and 18.5%. I see the latest two `78c4ff2` entries exhibit the same behaviour. They are same commit, but the job was just re-run.
![Screen Shot 2021-09-07 at 6 01 51 PM](https://user-images.githubusercontent.com/20802551/132326582-c42610da-c8c2-4b9b-8a2c-bb49c9953c48.png)
If you click through to the detail

[2021-09-08 02:09] kswang1029 opened #916 "file info inconsistency"
The generated file info from FITS and CASA images has inconsistent entries, likely due to truncation error:

<img width="504" alt="Screen Shot 2021-09-08 at 10 03 35 AM" src="https://user-images.githubusercontent.com/20819712/132434788-dc07c0fa-43d1-4221-9628-078cd01af8d3.png">
<img width="504" alt="Screen Shot 2021-09-08 at 10 03 22 AM" src="https://user-images.githubusercontent.com/20819712/1324

[2021-09-08 02:10] kswang1029 commented on #916
@markccchiang would you be able to investigate this? This is also related to the unit test of file info extraction.

[2021-09-08 02:32] markccchiang commented on #916
Ok.

[2021-09-10 04:35] ajm-ska commented on #854
@veggiesaurus The requested changes have been made and it seems to be working: https://carta.asiaa.sinica.edu.tw/coverage/

Now, clicking on the Commit ID takes you to the commit on GitHub, clicking on Branch Name takes you to the branch on GitHub, and clicking on the percentage value takes you to the full code coverage report.

It is done with a more complex sed command and some variables:

[code

[2021-09-13 03:11] kswang1029 opened #918 "apply a new RESTFRQ when exporting a subimage"
the relevant frontend issue is https://github.com/CARTAvis/carta-frontend/issues/1653

The current subimage export adopts the same RESTFRQ defined the in header of the input cube. This feature is to support the ability to set a new rest frequency of the subimage. This backend part needs to apply the custom rest frequency to the header of the exported subimage.

[2021-09-17 12:28] confluence opened #922 "Intermittent failures in VoTableTest"
`VoTableTest.BooleanFilterEqual` and `VoTableTest.BooleanFilterNotEqual` fail intermittently. I have reproduced this in `dev` on Ubuntu Focal.

[2021-09-22 09:20] #916 closed, assigned to markccchiang

[2021-09-23 05:39] kswang1029 opened #924 "load fz and fits.gz via the command line"
Reported by a user with v3b1 release:

It seems not being able to load fits.gz image directly via the command line (eg `carta xxx.fits.gz`). Tested with the ubuntu package

<img width="400" alt="Screen Shot 2021-09-23 at 1 43 53 PM" src="https://user-images.githubusercontent.com/20819712/134459573-17f48760-56ac-4f2e-8421-bfc9355a809b.png">

(The same issue can be reproduced by loading the image in

[2021-09-23 05:40] kswang1029 commented on #924
@ajm-asiaa would you be able to investigate the electron app for this? Not sure it is the electron wrapper or it is the carta_backend causing the issue.

[2021-09-23 05:56] kswang1029 commented on #924
@markccchiang would you be able to investigate this issue?

[2021-09-23 06:03] veggiesaurus commented on #924
@kswang1029 can you load a fits.gz image using the URL query parameter?

[2021-09-23 06:04] kswang1029 commented on #924
nope. fz works fine.

[2021-09-23 06:13] kswang1029 commented on #924
I think as long as we load the image "quickly", the issue exists. By quickly I mean
1) via URL query parameter
2) via double click
3) via command line

If we load the image by single-click to see file info then single click the load button, everything is fine. Something odd in the file info/header gathering step?

[2021-09-23 06:27] markccchiang commented on #924
Ok.

[2021-09-23 06:28] veggiesaurus commented on #924
ok, then it must be a backend issue, not the electron app

[2021-09-23 06:33] ajm-ska commented on #924
I'm suspicious of the Electron app. We were only allowing it to open fits and hdf5 files through the command line (folders were handled differently). I will investigate in more detail later.

[code]

[2021-09-23 06:33] kswang1029 commented on #924
with the electron app and an alias to the executable, I see `Error: Possibly an unsupported file type` from the terminal and the app does not launch. So I am not sure it is the backend or the electron wrapper. @ajm-asiaa are we able to pass all possible command line flags to the electron app executable?

[2021-09-23 06:34] kswang1029 commented on #924
ok then this is it. We will also need to support `fz` and `fits.gz`

[2021-09-23 06:36] ajm-ska commented on #924
OK. For the next release I will expand that line with the newly supported file types:
[code]

[2021-09-23 06:36] kswang1029 opened #925 "load fz and fits.gz from electron app via command line"
at the moment fz and fits.gz are not allowed to be loaded via electron app started via the command line

[2021-09-23 06:37] kswang1029 commented on #924
@ajm-asiaa I created a separate issue https://github.com/CARTAvis/carta-backend/issues/925

[2021-09-23 06:41] veggiesaurus commented on #924
why are we not just using the backend for this? We don't use file extensions to deterime file type elsewhere in CARTA

[2021-09-23 07:13] ajm-ska commented on #924
This was from the early days. I thought it was a good idea to stop it from trying to open an incompatible file, accidentally or otherwise. If that were to be done, the Electron app would open with the frontend, the backend would immediately crash, but the Electron window would remain on screen with an unusable frontend. It may not be clear to the user what went wrong.

This way, it checks if the f

[2021-09-23 07:18] veggiesaurus commented on #924
We shouldn't be checking the file type by extension though. And if the frontend tries to open an invalid file there will just be an error message, surely?

[2021-09-23 07:26] kswang1029 opened #926 "backend crash when loading a non-image via the command line"
Tested with Ubuntu package. If we do something like `carta Jy_per_beam_TO_Kelvin.png`, the frontend loads up in the browser but we will immediately see a pop up due to backend crash.

[2021-09-23 07:27] kswang1029 commented on #924
It appears that if we feed unsupported files, the backend will die...
https://github.com/CARTAvis/carta-backend/issues/926

[2021-09-23 07:33] ajm-ska commented on #924
I just tried it with an incompatible file. The error message does not indicate what the problem is. I could press "retry" a million times and it would never reconnect.

![Screen Shot 2021-09-23 at 3 27 54 PM](https://user-images.githubusercontent.com/20802551/134469294-f8b17c5c-2a4d-4d34-a614-38713e60850f.png)

I still think it is a better user experience to immediately report the potential proble

[2021-09-23 07:37] veggiesaurus commented on #924
Ok, I stand corrected, we clearly need to fix the crash. But if we want to check if files can be opened, we should take the same approach the backend uses (file content, not extension).

I wonder if we should add a --checkfiles command line to the backend that we can call from the electron wrapper to validate files

[2021-09-23 07:46] ajm-ska commented on #924
I see. I didn't consider file content. Then when the backend handling of this is improved, we can remove the file extension checks from the Electron wrapper script.

[2021-09-23 07:59] ajm-ska commented on #924
I think a `--checkfiles` flag would be just as useful to the new 'carta' wrapper script for the Debian version when using the command line. It would be even better if the file could be the first thing to check and not open the frontend if an incompatible file is used.

[2021-09-24 07:48] kswang1029 commented on #926
@markccchiang could you investigate this?

[2021-09-24 14:36] markccchiang commented on #926
Ok.

[2021-09-28 04:05] kswang1029 opened #930 "user feedback for v3b1: backend crash when loading specific fits.gz images"
This is reported by a v3b1 user via the freshdesk. When loading fits.gz images, the backend will crash. Please contact kswang to get a copy of the test file.

Crash log attached.
[crash_log.txt](https://github.com/CARTAvis/carta-backend/files/7240944/crash_log.txt)

Note that this is confirmed with both Ubuntu (VM) and macOS (native).

[2021-09-28 12:08] confluence opened #931 "Human-distinguishable security tokens"
As suggested in user feedback to initial testing of the scripting interface.

We now have two unrelated security tokens (for the websocket connection and for the gRPC connection), which have the exact same format and are difficult to tell apart. It would be helpful if we prepended a human-readable string (e.g. `WS_` or `GRPC_`) to the tokens that we generate to make them easier to distinguish by a

[2021-09-28 12:17] confluence opened #932 "Stop using namespace std"
We currently import the `std` namespace in several `.cc` files. I suggest eliminating this everywhere, because:

1. It means importing a lot of generic symbol names which are difficult to distinguish at a glance within the code.
2. It may lead to unpredictable behaviour, since certain mathematical functions may silently resolve to either a C function or an STL function depending on what headers ha

[2021-09-28 12:22] confluence opened #933 "Use carta namespaces consistently"
We currently don't consistently put all of our classes in the `carta` namespace. We should decide what structure the namespace should have (should there be nested namespaces corresponding to subdirectories?) and apply this system consistently.

[2021-09-28 14:24] #904 closed, assigned to confluence

[2021-09-29 17:28] confluence commented on #896
I'm having trouble reproducing this. Does it happen more frequently with particular files, file sizes, etc.?

[2021-10-05 08:49] kswang1029 commented on #896
I can still reproduce the issue with my local Mac build. Crash report attached.

0   libhdf5.200.dylib             	0x00000001102daa7d H5S_select_iter_init + 61
1   libhdf5.200.dylib             	0x000000011019a253 H5D__select_io + 951
2   libhdf5.200.dylib             	0x0000000110199e44 H5D__select_read + 41
3   libhdf5.200.dylib             	0x0000000110174770 H5D__chunk_read + 767
4   libhdf5.

[2021-10-05 08:53] kswang1029 commented on #896
if I change the order, the backend does not crash but gives different kinds of errors
![Screen Shot 2021-10-05 at 4 53 10 PM](https://user-images.githubusercontent.com/20819712/135992117-eae91faa-9876-470c-b5e7-af485443400e.png)

![Screen Shot 2021-10-05 at 4 54 27 PM](https://user-images.githubusercontent.com/20819712/135992303-a16ad981-78e0-4fa2-b9d3-00346d032e06.png)

[2021-10-08 04:27] kswang1029 opened #935 "FITS header extraction of BMAJ, BMIN, BPA"
reported by a user:

If the header does not contain BMAJ, BMIN, BPA as keys but these strings are stored as part of the HISTORY context, the backend still picks them up. The backend should ignore any keys from HISTORY.

BITPIX  =                  -32 /
NAXIS   =                    3 /
NAXIS1  =                  585 /
NAXIS2  =                  587 /
NAXIS3  =                    1 /
EXTEND  =

[2021-10-08 22:14] pford commented on #935
This is an intentional "feature" of casacore::FITSImage, which has this comment:

// Try and find the restoring beam in the history cards if
// its not in the header

@kswang1029 do you want to override the casacore behavior?

[2021-10-08 22:30] pford commented on #935
Another comment indicates that setting the beam from HISTORY is a result of AIPS writing the beam there, rather than in the header keywords.  CONVL is an AIPS task so this behavior makes sense and should be a valid beam.

[2021-10-10 03:22] kswang1029 commented on #935
The example obtained from the user is an example of quoting an incorrect beam size from the history header unfortunately. Is it possible to switch off this guessing “feature”? If beam is not defined with BMAJ, BMIN, and BPA explicitly in the header, we should set them undefined. History is only trustworthy after parsing by human brain I think.

[2021-10-18 04:18] ajm-ska opened #940 "cfitsio 3.47 dependency for RHEL7/CentOS7"
I will put this here for now even though technically it should go to the fits2idia repository?

For RHEL7/CentOS7 we can not build the carta-backend with the unit-tests (-Dtest=on). This is because RHEL7 comes with cfitsio 3.37 by default (through the [EPEL repository](https://centos.pkgs.org/7/epel-x86_64/cfitsio-3.370-10.el7.x86_64.rpm.html)). The older cfitsio 3.37 works fine if simply building

[2021-10-18 07:17] confluence commented on #940
It looks like this is _only_ a dependency for building the converter. Removing this function from the converter would be non-trivial. I think that the most sensible approach would be to stop building the converter from the test build and add it as a runtime binary dependency -- we could then create a patched CentOS7 package for the converter (possibly with a static CFITSIO) and eliminate this buil

[2021-10-18 07:23] veggiesaurus commented on #940
@confluence can I leave this to you, then? You can make the converter a runtime dependency, and then you can make a new issue for @ajm-asiaa to package the converter with a statically-linked cftisio?

[2021-10-18 07:44] confluence commented on #940
Yes. I will create a branch and make the change in our cmake config. (We can use [`find_program`](https://cmake.org/cmake/help/latest/command/find_program.html).)

[2021-10-18 08:41] confluence commented on #940
@ajm-asiaa I have made a draft PR [here](https://github.com/CARTAvis/carta-backend/pull/941). If you make the appropriate packages and test them with that branch, we should also modify the dockerfiles before merging the PR.

[2021-10-18 09:00] veggiesaurus commented on #854
code coverage seems to be showing zero again. I would also like this info displayed in the PR as one of the checks

[2021-10-20 19:14] veggiesaurus opened #945 "Backend crashes on RedHat platforms when certain folders aren't accesible"
The backend throws a `std::filesystem_error` exception and crashes when some folders aren't accessible on certain linux distributions (currently only reproducible on RHEL7) .

For example, if `/etc/carta` or `~/.carta` isn't accessible, the backend can crash with an error in the log:

```[critical] filesystem error: status: Permission denied```.

I suspect it has to do with not catching exceptions

[2021-10-27 00:47] pford commented on #909
@ajm-asiaa I created a docker image from the CentOS8 dockerfile, then built carta-casacore (Release) and carta-backend (Debug, then Release) in the container.  When I opened M17_SWex.fits (or .image) and imported the M17_SWex_regionSet1_world.crtf region file, the 16 regions were successfully loaded in the list.

[2021-10-27 00:53] pford commented on #909
It was using gcc 8.4.1

[2021-10-27 03:21] kswang1029 opened #950 "votable catalog column with unicodeChar is not recognized"
as reported by a user.

[carta_votable_test.xml.zip](https://github.com/CARTAvis/carta-backend/files/7422901/carta_votable_test.xml.zip)

all formats in https://www.ivoa.net/documents/VOTable/20191021/REC-VOTable-1.4-20191021.pdf Section 2.1

[2021-10-27 08:56] #922 closed, assigned to veggiesaurus

[2021-10-27 08:58] #924 closed, assigned to markccchiang

[2021-10-27 12:50] ajm-ska commented on #909
@pford Thank you for investigating this. I tried with a new Docker container from the CentOS8 Dockerfile and the issue appears to be gone now! The region file opened successfully. The old Docker container still exhibits the issue, so something is different, but I haven't figured what it is yet.

I have added the new Docker container to the draft Docker Jenkins CI and region tests now pass.

I can

[2021-10-27 12:58] veggiesaurus commented on #950
There's an easy way to "support" unicode chars in CARTA (a one-line fix), which just treats columns of type `unicodeChar` as `char`. But I'm not sure this will actually work properly with unicode strings. It works fine with the file above, but that doesn't contain any special characters.

[2021-10-27 13:00] veggiesaurus commented on #950
actually it seems to work ok with a brief check:

![image](https://user-images.githubusercontent.com/592504/139070641-a7c92f13-d8fe-4511-87c7-b0185a385c53.png)

[2021-10-27 13:11] kswang1029 commented on #950
If we support Unicode char how do we do filtering?

[2021-10-27 14:10] veggiesaurus commented on #950
It seems to just work :shrug:

![image](https://user-images.githubusercontent.com/592504/139082663-61a748b4-acda-4e05-b87b-c99e447cb7ed.png)

[2021-10-27 14:12] kswang1029 commented on #950
😂😂😂

[2021-10-27 15:45] confluence opened #952 "Remove gRPC"
gRPC is an unnecessarily complex solution for the current scripting design. Our wrapper (and potential other wrappers) only needs to send one kind of message to the backend, and this could be done via a new endpoint in the existing HTTP server. This would give us asynchronous scripting requests for free, allow scripting commands to be issued via standard HTTP tools, make SDM integration of the scr

[2021-10-28 03:43] kswang1029 opened #953 "rounding errors in world coordinates of exported polyline region as ds9 format"
if a polyline is exported as casa format in world coordinate, we see

polyline [[17:56:21.67061, -021.57.16.6090], [17:56:21.69974, -021.57.21.6747], [17:56:21.56575, -021.57.19.4053], [17:56:21.57449, -021.57.23.8226], [17:56:21.48419, -021.57.22.9715], [17:56:21.49001, -021.57.25.6867]] coord=J2000, corr=[I], linewidth=2, linestyle=-, symsize=1, symthick=1, color=2ee6d6, font=Helvetica, fontsize

[2021-10-28 03:47] pford commented on #953
This is likely an issue with other DS9 regions as well, such as polygon.

[2021-10-28 08:08] veggiesaurus commented on #945
Actually, I can reproduce this on ubuntu as well.

For example, calling `fs::exists("/root")` as a normal user works fine (it returns `true`), but calling `fs::exists("/root/somefile")` results in an error getting thrown. This presents problems if the user can't access `/etc/carta`, or something has been messed up and the user is trying to access a different user's `$HOME/.carta` (:facepalm: :face

[2021-10-28 09:53] kswang1029 commented on #952
I remembered gRPC was also added to casacode when we add it to carta codebase?

[2021-10-28 10:04] confluence commented on #952
Maybe they can also remove a dependency. 🙈 They should be able to use the same simple HTTP request to use the proposed new API.

IIRC when we first added scripting support we didn't even have a built-in HTTP server, so this wouldn't have been possible at the start.

[2021-10-29 05:19] #950 closed, assigned to veggiesaurus

[2021-10-29 13:38] #945 closed, assigned to veggiesaurus

[2021-11-02 10:29] #935 closed, assigned to pford

[2021-11-02 20:00] #912 closed, assigned to pford

[2021-11-08 06:54] kswang1029 opened #1069 "incorrect mean/std visualization in the render config widget"
![Screen Shot 2021-11-08 at 2 52 01 PM](https://user-images.githubusercontent.com/20819712/140696910-172441d3-a9e6-4b71-ac0f-8ea595886987.png)

[2021-11-09 08:26] #940 closed, assigned to confluence, ajm-ska

[2021-11-09 09:17] robsimmonds opened #957 "Concurrency Name Spaces"
The new concurrency code in Concurrency.h should be refactored with namespaces.

[2021-11-10 08:34] confluence commented on #933
I suggest that we include in this issue a review of the current subdirectory structure, and possibly move some files around. (For example:  `ProgramSettings` is global, not per-session, so it's unclear why it is in the `SessionManager` subdirectory.)

[2021-11-10 08:41] confluence opened #958 "Create a high-level style guide for developers"
Once we have completed the outstanding refactoring tasks, we should summarise some guidelines in a document for developers, so that future changes to the codebase can be consistent. I suggest a markdown document in this repository, which can be viewed directly on GitHub. This probably isn't complex enough to warrant a whole Sphinx project, unless we want to extend it to be something more detailed,

[2021-11-10 08:42] confluence opened #959 "Backend refactoring"
This epic collects all outstanding issues related to backend code refactoring and code style.

[2021-11-10 11:25] ajm-ska commented on #909
I investigated and it turns out that there was something wrong with el8 carta-casacore RPM (`carta-casacore-3.4.0+5.8.0+2021.4.23-1.el8.x86_64.rpm`).
I rebuilt the RPM from scratch, and now the problem is gone.
I have uploaded the new RPM to the repository as the number '2' release: `carta-casacore-3.4.0+5.8.0+2021.4.23-2.el8.x86_64.rpm`.
Although I still can't understand exactly what was wrong wi

[2021-11-10 18:15] confluence opened #960 "Use wrappers to construct protocol buffer messages where possible"
Some wrappers for constructing protocol buffer messages in a more shorthand way were recently added to `Util/Message`. There are many places in the code where we could be using these wrappers instead of the more verbose multi-line syntax for filling in one field at a time (apart from the cases where we deliberately construct the message in multiple stages).

[2021-11-11 08:33] #926 closed, assigned to markccchiang

[2021-11-11 11:38] kswang1029 opened #961 "auto update casa measure data"
based on https://casa.nrao.edu/casadocs/casa-6.1.0/external-data/casa-data-repository it is suggested to update casa measure data _regularly_. The above URL contains the information on how to get it updated.

[2021-11-11 11:39] kswang1029 commented on #961
I suggest @ajm-asiaa and one backend developer to work together on this.

[2021-11-11 14:33] veggiesaurus commented on #836
@ajm-asiaa and @veggiesaurus agreed that the solution is to just do away with bottles altogether.

[2021-11-11 14:34] veggiesaurus commented on #895
@kswang1029 can we close this now?

[2021-11-11 14:35] kswang1029 commented on #895
yes

[2021-11-11 14:38] #895 closed, assigned to YuHsuan-Hwang

[2021-11-11 17:33] pford commented on #959
I just ran across the backend Timer class which was modified slightly in a PR but does not seem to be used in the code.  Should this be added to the list (use-it-or-lose-it)?  It would make the performance logging code throughout the backend look nicer but adds overhead for map access.

And speaking of maps, should we prefer map::find over map::count to check for a given key and make this consiste

[2021-11-11 17:46] confluence commented on #959
Agreed on both counts -- we should make a list of classes and functions which are no longer used. And I think `find` is more idiomatic for checking for a key.

[2021-11-11 17:57] pford commented on #959
I stand corrected, the carta::Timer will be used by the new C++ ICD tests when performance is enabled.

[2021-11-17 13:52] confluence opened #963 "Bump preferences schema version"
The backend is currently using `preference_schema_1.json` when writing the preferences file. It should be using `preferences_schema_2.json`.

[2021-11-17 15:07] #896 closed, assigned to confluence

[2021-11-18 11:51] veggiesaurus opened #965 "Optimise reading of 2D slices from FITS files"
A quick implementation of the simplest way to read a 2D slice from a FITS image with cfitsio is shown below:

[code]

The approach above is quite a bit (50%) faster than `Frame::FillImageCache`, and it can be optimised further.

[2021-11-18 11:52] veggiesaurus opened #966 "Image loading optimisations"
Epic for a few connected issues on image loading optimisation. Goal is to roughly double initial image loading speed of FITS images for version 3.0-beta.3 (and have performance gains for HDF5 files when contouring).

As a comparative benchmark: DS9 can load a 64K x 64K FITS image on my machine in 10 500 ms (time from clicking "Load" to the image being displayed). The same thing in CARTA takes 17 5

[2021-11-18 11:59] veggiesaurus opened #967 "Migrate 2D image cache away from std::vector<float>"
We currently use a `std::vector<float>` for `Frame::_image_cache`. However, the ability to resize the image cache is not of any use, because a new cache is made for each separate image, and all image channels have the same 2D slice size. The main problem with using a `std::vector` is that we end up allocating memory _and_ initialising to zero before we fill it with values from disk. This means it

[2021-11-18 12:03] veggiesaurus opened #968 "Optimise filling of image cache from tiled HDF5 files"
We currently use `Frame::FillImageCache` to read the entire 2D image slice from disk when an HDF5 file is contoured (@confluence to double-check this...). However, at least part of the image is likely already cached. At some point (in terms of what fraction of tiles are cached) it would be advantageous to rather fill the image cache from the tile cache and only read the missing tiles from disk.

[2021-11-18 12:07] veggiesaurus commented on #965
Estimating as 2 story points because this will require a little refactoring.

[2021-11-19 08:59] veggiesaurus commented on #836
@ajm-asiaa can I close this? Have you disabled the bottles feature?

[2021-11-19 09:35] veggiesaurus commented on #849
@kswang1029 I can't reproduce this on my Ubuntu 20.04 machine :thinking: I'm able to run the animation at (target frame rate of) 15 fps, with two contour sets and one raster. My CPU usage was < 10 % total :shrug:

Did you notice this on MacOS?

[2021-11-19 09:46] kswang1029 commented on #849
Yes I tested with macOS. 🤔

[2021-11-19 09:49] veggiesaurus commented on #849
I'm trying to isolate the cause of this. Can you see if any of the following prevent the performance degradation?
1. Using block or no smoothing instead of Gaussian
2. Just generating a single contour levels per image
3. Changing the contour levels so that they are almost entirely empty (e.g. a level that is far higher than the max value of the image)
4. Using a the cube histogram instead of chann

[2021-11-19 10:22] kswang1029 commented on #849
A quick response to 2 and 3, degradation is more significant if there more contour levels being rendered per channel. If there is no contour rendered at all, no degradation is seen. Will test others cases

[2021-11-19 11:08] kswang1029 commented on #849
=> using block or no smoothing does not improve the situation

=> helps a little bit but still the degradation is significant and have impact to usability a lot

=> I tried a level so that only one or two channels have a contour. In this case, no performance degradation is seen. I think this is correlated with how many contour levels are rendered: the more contours are rendered, the prominent the

[2021-11-22 02:39] ajm-ska commented on #836
@veggiesaurus OK. I removed reference to the bottles from the `carta-cascacore.rb` and `carta.rb` files so hopefully it will be OK now.

[2021-11-22 02:39] #836 closed, assigned to ajm-ska

[2021-11-22 12:34] confluence opened #969 "Initialisation bug in Region class"
When a `Region` is created, it initially has an empty `RegionState` created with the default constructor which does not initialise any of its properties. To set the initial "real" state, the `Region` constructor calls `UpdateRegion`, which calls `RegionChanged` on the empty state, which uses various properties on the empty state (which are uninitialized). The least disruptive way to fix this is pr

[2021-11-22 14:15] #969 closed, assigned to confluence

[2021-11-22 18:05] confluence opened #971 "Cursor-related crash in spectral multi-profile plot of image matched with itself"
The segfault reported by @kswang1029 in #955 is actually present in `dev` (but not in the last beta, so it should be possible to bisect to find the commit which introduced it).

Steps to reproduce:

1. Load an image
2. Append the same image
3. Match them
4. Open the Z profile widget
5. Check the "Image" checkbox to plot multiple profiles
6. Move the cursor around

The crash is in `memmove` in `cas

[2021-11-23 08:25] #971 closed, assigned to confluence

[2021-11-23 13:44] #963 closed, assigned to confluence

[2021-11-24 07:38] #957 closed, assigned to nobody

[2021-11-29 07:39] ajm-ska opened #976 "ubuntu 21.10 missing <includes>"
It looks like the cppmutex changes have broken the ability to build the carta-backend on Ubuntu 21.10 (and most likely for the upcoming Ubuntu 22.04). The compiler is GCC 11.2. There are two different errors, but they are trivial to fix as the compiler proposes the solutions:

Error 1:

[code]

As it suggests, adding `#include <condition_variable>` to `src/Concurrency.h` fixes the problem.

Error

[2021-11-29 09:54] ajm-ska opened #978 "Unit Test problem with IcdTest.AnimatorPlayback"
It has been discovered that the `IcdTest.AnimatorPlayback` Unit Test is does not run reliably on Ubuntu 20.04.
Sometimes it passes, sometimes it gives a segmentation fault, and sometimes it just hangs indefinitely.
The later case makes CI difficult as it holds everything up.

To reproduce the issue, please try running the test multiple times:
`./carta_backend_tests --gtest_filter=IcdTest.AnimatorP

[2021-11-29 09:56] veggiesaurus commented on #978
@markccchiang can you look at this?

Actually, not sure who should investigate this. I suggested @markccchiang as he wrote the test, but I can't really see anything wrong with the test itself.

[2021-11-29 15:16] markccchiang commented on #978
I will investigate this problem.

[2021-11-30 10:34] #953 closed, assigned to pford

[2021-11-30 12:03] veggiesaurus commented on #978
Stack trace for the segfault I get on ubuntu:

[code]

The other relevant threads are:

[code]

[code]

[2021-11-30 12:15] veggiesaurus commented on #978
I can't reproduce the same segfault in the initial commit that added the `IcdTest.AnimatorPlayback` test, but the test doesn't pass, it just gets stuck in an infinite loop (probably waiting for messages that never get sent?)

[2021-11-30 12:16] #976 closed, assigned to ajm-ska

[2021-12-02 13:35] veggiesaurus opened #981 "Hard crash when animation messages are received in unexpected order"
@robsimmonds to fill in description shortly...

[2021-12-02 13:37] #978 closed, assigned to markccchiang

[2021-12-03 10:36] veggiesaurus commented on #966
reassigning all issues in this epic to @jolopezl

[2021-12-07 06:57] robsimmonds commented on #981
I believe the issue is due to something slightly different. I think that if an animation task is still running when a new one is created, the pointer to the animation object in the session object can be left in a bad state. In this case serialising the update of that pointer should resolve this.

[2021-12-07 07:11] kswang1029 opened #982 "no region stat for matched images generated with CASA ia.fft"
Reported by a user

To reproduce the issue:
1) load the attached images and match them
2) make a region on the first image
3) set the first image as active and pan around the region to see region statistics. This is working well.
4) set the 2nd image (matched) as active and pan around the region to see region statistics. This triggers the issue.

The backend log says:
[2021-12-07 15:07:19.375] [de

[2021-12-09 13:54] kswang1029 opened #984 "periodic small pause during pv image generation"
This is observed with the progress log from the backend. With psrecord, the CPU footprint also shows such periodic pause. Need to investigate this further and see if this can be improved.

Different image formats are tested but they are not same cube in different formats.

FITS format:
![pv_generator_small_pause](https://user-images.githubusercontent.com/20819712/145409223-d1887953-2a32-4a41-bd49-

[2021-12-09 13:57] veggiesaurus commented on #984
perhaps it's doing disk I/O there? :thinking:

[2021-12-09 13:59] kswang1029 commented on #984
Even with PCIe SSD? the pause is ~0.8s which with an SSD quite some data can be read already?🤔 Or this is due to FITS data structure? I should try CASA format and HDF5 format too. Will report back once I got the measurements.

[2021-12-09 14:11] kswang1029 commented on #984
Just updated the test results and revised the issue descriptions. CASA format has the same issue too. HDF5, however, seems fine.

[2021-12-09 18:12] veggiesaurus commented on #984
you don't see anything similar with large FITS regions do you?

[2021-12-13 08:11] confluence opened #989 "Add exit on timeout flag to desktop launcher file"
The XDG / freedesktop.org desktop launcher used on Linux spawns a terminal window running the backend, which in turn spawns a new browser tab / window. When the browser tab is closed, the terminal remains open (because the backend is still running). So if the user launches CARTA again they'll get a new backend.

Adding `--exit_timeout 0` flag to the launcher executable causes the backend to exit w

[2021-12-13 09:34] #989 closed, assigned to confluence

[2022-01-05 05:21] kswang1029 commented on #846
Assuming this can be handled purely at frontend. Close for now.

[2022-01-05 05:21] #846 closed, assigned to nobody

[2022-01-05 06:32] kswang1029 commented on #992
duplicated with https://github.com/CARTAvis/carta-backend/issues/845

[2022-01-05 06:32] #992 closed, assigned to nobody

[2022-01-05 06:34] kswang1029 opened #994 "deprecate splatalogue query from the backend"
splatalogue now has enabled CORS so we don't need to use the backend to make a query to splatalogue.

[2022-01-07 08:58] veggiesaurus commented on #931
this may be unneccessary if we remove gRPC, right @confluence ?

[2022-01-07 09:11] confluence commented on #931
Yes; then we will very sensibly have only one token.

[2022-01-07 11:14] kswang1029 commented on #931
then we can close this one.

[2022-01-07 11:14] #931 closed, assigned to nobody

[2022-01-09 01:39] kswang1029 opened #996 "update casacore"
as title

[2022-01-10 11:22] jolopezl commented on #933
Hi @confluence, I like the idea of using consistent namespaces, and I agree that the current code organization needs changes (with `ProgramSettings` being an excellent example). So, we need to decide on two aspects:

- namespace convention, and
- folder structure changes.

I tend to believe that one namespace is enough for our current needs, but this can change anytime in the near or far future. T

[2022-01-10 11:55] confluence commented on #933
I think `ProgramSettings` definitely needs to move out of `SessionManager`; my suggestion would be to group it with `FileSettings` in a new `Settings` subdirectory. I don't want `Util` to turn into a catch-all location -- it should be for simple generic functions, particularly if they are used in multiple locations but don't clearly "belong" in any other place. It may be a good idea to move some o

[2022-01-11 09:51] #932 closed, assigned to jolopezl

[2022-01-11 20:37] jolopezl commented on #933
I was looking at the code right now and I find that `Frame` could go somewhere else since it includes much more than just session management, and it's an essential part of the backend. I am thinking of putting it under something else as `Core` or `Engine`. Open to more suggestions @confluence, @veggiesaurus, @kswang1029.

[2022-01-12 04:04] kswang1029 opened #999 "backend crash when requesting statistics from gz or fz FITS image"
**Describe the bug**
backend crash when requesting statistics from gz or fz FITS image

**To Reproduce**
Steps to reproduce the behavior:
1. Load one of the attached images
2. Enable the statistics widget
3. Should see backend crash

**Expected behavior**
backend should not crash

**Screenshots or videos**
n/a

**Platform info (please complete the following information):**
 - OS: macOS Monterey (i

[2022-01-12 08:46] veggiesaurus commented on #933
I'd quite like the threading and concurrency bits to be in the same dir.

[2022-01-12 08:47] veggiesaurus commented on #933
I guess the argument for keeping it as `Session` is that they are all per-session objects.

[2022-01-13 08:11] confluence opened #1001 "Fix or remove settings equality operators"
The equality operators for `ProgramSettings` use a `GetTuple` function which hasn't been updated to include new fields (so they no longer actually check for equality). The equality operator is only used in the empty arguments test of the settings class. Adding more of the fields causes the test to fail, because e.g. `event_thread_count` is set to a new value dynamically when CARTA is run with no p

[2022-01-13 08:16] confluence commented on #1001
A proof-of-concept solution for updating the operators is in the branch `1001_settings_equality_operators`.

* This solution does not check additional fields like `no_user_config`, etc., which should possibly also be added for completeness.
* There's a typo in the test name which this branch fixes.

Given that the operator is *only* used in this test, I think it would probably be a better idea to

[2022-01-13 10:45] jolopezl commented on #933
But almost everything else is a per-session object. If we were making that separation we would have two main levels, and then make another division.

[2022-01-15 05:24] kswang1029 opened #1002 "Vector field data calculations"
This is paired with the frontend feature https://github.com/CARTAvis/carta-frontend/issues/1155

Please refer to the google doc https://docs.google.com/document/d/1S8nNvonlowNwX_uPoPspxugUEnw5wRxbAS6y2HScTzs/edit# for details.

[2022-01-19 07:59] veggiesaurus commented on #1002
adjusting the story points to 5 because HDF5 tile cache needs to be taken into account

[2022-01-20 11:28] #869 closed, assigned to jolopezl

[2022-01-20 16:21] #982 closed, assigned to markccchiang

[2022-01-21 07:15] #933 closed, assigned to jolopezl

[2022-01-21 21:55] jolopezl commented on #961
Some work log for the implementation details:

After a quick conversation with @ajm-asiaa to help me understand the build and packaging to CARTA, we think a reasonable approach could be to update the data using a bash script and let the CASA data reside in `$HOME/.carta/casa-data`. Then, we can add something to the CARTA start script in scripts/carta and call for a data update, depending on the pa

[2022-01-21 22:10] jolopezl commented on #967
@veggiesaurus, do we have any design constraint to resist introducing c-style arrays here in favor of a significant performance gain for large images?

[2022-01-22 15:45] veggiesaurus commented on #967
No, thats totally fine, as long as they are carefully cleaned up. We don't actually ever need to resize the image cache if I recall correctly

[2022-01-24 03:05] ajm-ska commented on #961
It seems that unless we modify carta-casacore, we will need to use the `-DDATA_DIR="%CASAROOT%"` carta-casacore cmake build flag and then call `export CASAPATH=` before starting CARTA.

I guess a bash startup script could check for the presence of the 'geodetic' folder in `$HOME/.carta/casa-data` first and if present run `export CASAPATH=$HOME/.carta/casa-data`, if not present then run `export CAS

[2022-01-25 05:17] kswang1029 opened #1009 "backend crash when saving a pv image generated from a FITS cube"
**Describe the bug**
The backend crashes when saving a PV image generated from a FITS cube with a specific set of headers. This is reported by a user with v3b2 using the centos8 AppImage. The same issue can be reproduced with macOS too.

**To Reproduce**
Steps to reproduce the behavior:
1. load the attached test FITS cube
2. generate a PV image
3. save the PV image as FITS
4. backend should crash

[2022-01-25 05:17] kswang1029 commented on #1009
@pford would you be able to investigate this for the v3-beta3 release?

[2022-01-25 06:24] kswang1029 commented on #1009
After some more tests with a mockup cube, the root cause is identified.
- if the input FITS cube is 4D as ra-dec-channel-stokes, then the generated PV image can be saved without problems
- if the input FITS cube is 3D as ra-dec-channel, then the generated PV image cannot be saved resulting a backend crash.

So I guess this is something to do with the Stokes axis. Does the backend always assume the

[2022-01-25 13:11] jolopezl commented on #961
@ajm-asiaa, so we should add the following:

- Same auto-update script for all supported distributions (preliminary version in #1008): the auto-updated casa data is user-only. If we want a system-wide update we can rely on distribution-dependent packages.

- Preferences should not go in `~/.carta/backend.json`, but in `~/.carta/config/preferences.json`. With that change, we can add an option to sw

[2022-01-26 13:20] confluence opened #1011 "Fix error status codes in HTTP server"
You can only set a status on a uWebSockets response once, and you have to set status first, then headers, then a body. To ensure that a status is set before headers are set, the uWebSockets function for setting headers automatically sets the status to 200 first. This means that any subsequent attempt to set a different status will have no effect.

In our server code, there are several places where

[2022-01-26 13:42] collioud opened #1012 "Error when importing region : "Unrecognized key labelposition""
**Describe the bug**
Get an error when importing a previously exported region.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rectangular region
2. Export it to file (crtf)

Example :
#CRTFv0 CASA Region Text Format version 0
centerbox [[235.2485pix, 233.1714pix], [149.5497pix, 155.7809pix]] linewidth=2, linestyle=-, symsize=1, symthick=1, color=2ee6d6, font="Helvetica", fontsize=1

[2022-01-27 00:35] kswang1029 commented on #1012
This happens when a region has a custom name defined via the region dialog. Once a custom name is set, the following parameters show up in the crtf text:

label="my region", labelcolor=green, labelposition=top

test crtf file:
[test.crtf.zip](https://github.com/CARTAvis/carta-backend/files/7946605/test.crtf.zip)

[2022-01-27 05:02] kswang1029 opened #1013 "per cube histogram gets calculated when switching to a new Stokes value"
**Describe the bug**
The render configuration widget and the contour rendering dialog have a histogram plot showing the per-channel histogram by default. Optionally users may switch to per-cube mode to see a histogram derived using the entire cube.

When a 4D cube with multiple Stokes (eg Stokes IQUV) is loaded in CARTA and we request to see the per-cube histogram of Stokes I, we will see the back

[2022-02-04 21:44] jehibbard opened #1014 "Seg fault when using spectral widget on (older) gzipped data with VELO-LSR velocity units"
**Describe the bug**
CARTA v3-2b has a deg fault when I try to open a gzipped file of an older data cube (with CTYPE units VELO-LSR)

**To Reproduce**
Steps to reproduce the behavior:
1. Get the cube named "Tadpole-CARMA-CO-cube.fits" from https://www.cv.nrao.edu/~jhibbard/FITS/u10214/
2. Gzip it
3. open in in CARTA 3.0-2b
4. in the standard view. change the channel and draw a region
5. open a z-p

[2022-02-09 02:09] kswang1029 opened #1017 "cube histogram performance difference with different cube shapes"
The shape of a cube would result in quite different performance when computing cube histogram. For example, there are two cubes as
- cubeA: 10 x 10 x 10000 (4MB)
- cubeB: 100 x 100 x100 (4MB)

Computing the cube histogram of cubeB would be almost instantly done but for cubeA it would take a long while. What would be the root cause here (overhead when iterating through channels?) and is there a way

[2022-02-09 06:15] veggiesaurus commented on #1017
I think there's a way to _improve_ this, but I think cube A will always be much slower, because it involves 10000 very small reads, compared to 100 larger ones

[2022-02-11 17:48] jolopezl commented on #876
I am using macOS 11, and it looks like I can't reproduce the memory behavior.

CASA:
![plot-casa](https://user-images.githubusercontent.com/3409812/153641065-226052c1-d169-4970-bcf9-420731100dbe.png)
FITS:
![plot-fits](https://user-images.githubusercontent.com/3409812/153641069-32eb0655-34d9-4874-a957-401eca15fc00.png)
HDF5:
![plot-hdf5](https://user-images.githubusercontent.com/3409812/153641073-

[2022-02-11 17:56] veggiesaurus commented on #876
Please open an issue. I'll check on my MacBook on Monday

[2022-02-11 19:05] jolopezl opened #1019 "process finishes when loading FITS or HDF5 images repeatedly"
**Describe the bug**
While looking into #876, I found that the backend crashes when loading supermosaic.10-003.fits or supermosaic.10-001.hdf5. The carta-backend crashes with:

FITS:
[code]
HDF5:
[code]
or, also for HDF5:
[code]

**To Reproduce**
Execute the following using the code snippet widget in the front end:
[code]

Addendum: it is also possible to reproduce this crash just by opening the h

[2022-02-11 19:42] jolopezl commented on #1019
After running the test several times, now without starting carta_backend from Clion, I find the error for the case of the FITS file:
[code]
And another segmentation fault or bus error for the case of the HDF5 file. The errors seem to change slightly and might be related to what we have reported with the testing.

[2022-02-11 19:44] jolopezl commented on #876
Despite the unexpected crash, for the purpose of this issue, I managed to get a longer loop for the FITS file (starting carta_backend without using Clion):

![plot-fits-2](https://user-images.githubusercontent.com/3409812/153658927-0dd44844-3c8e-45fe-9bd8-0e5d8bfb8585.png)

[2022-02-15 12:41] confluence commented on #981
This was fixed in previous commits.

[2022-02-15 12:41] #981 closed, assigned to robsimmonds

[2022-02-15 14:07] confluence opened #1021 "Move loader cache to separate files"
Now that there is a `Cache` subdirectory available, this would be a more appropriate place to put the `LoaderCache` class, which is currently defined in the `Session` files.

[2022-02-16 12:27] veggiesaurus commented on #876
@jolopezl just confirming that the leak is still present in `dev`. Are you sure you're generating spetral profiles? Does your frontend layout include a spectral profiler widget set to the active region?

This is with a CASA file:
![carta_backend_loop_casa](https://user-images.githubusercontent.com/592504/154264224-d1d0c59f-23f3-4293-a9c3-82a0cfed9cba.png)

and this is the same file, but without th

[2022-02-16 15:11] confluence opened #1023 "Include guards are not consistently named"
The `#ifndef` guards in our headers and template files are inconsistently named -- some still reflect old file names or locations, some never used the same convention in the first place, etc.. It would be simple to extend our `style.py` script to check and fix these automatically.

[Here's a discussion](https://stackoverflow.com/questions/4867559/naming-include-guards) of various possible naming c

[2022-02-16 20:30] jolopezl commented on #1019
This crash happens in all versions of macOS < 12.2.1 and it has an erratic behavior. It looks like it's due to a problem with the system's developer tools than with our code or any of our dependencies. The problem is gone after upgrading to macOS Monterrey 12.2.1 and getting the latest command line developer tools.

The problem can be reproduced by attempting to open the same HDF5 image several ti

[2022-02-17 16:56] jolopezl commented on #876
Thanks for pointing out the missing widget. I verified that this is actually happening on several platforms.

[2022-02-17 22:35] nbrunett opened #1025 "Beam position angle incorrectly reported and rendered as degrees instead of radians for CASA image"
**Describe the bug**
For a `CASA` image created in `CASA` with `tclean`, the "file information" in the "file browser" dialog of `CARTA` reports the restoring beam position angle to be -1.44 deg while the "header" tab shows `BPA = -8.235030409149E+01`. Also, the beam ellipse when the image is loaded is using the position angle reported under "file information".

`imhead` in `CASA` shows that the po

[2022-02-18 07:42] kswang1029 commented on #1025
@nbrunett thanks for reporting this issue. It would be very helpful if you can share with us your test images for debugging.

[2022-02-18 11:09] veggiesaurus opened #1024 "Include moment map generation information"
Raised in CARTA tutorial by Gary Fuller:

We need to add some information to the FITS header history about moment map generation. For example, the velocity/channel/freq range used to generate the moment map ,as well as the channel width of the original cube.

[2022-02-18 13:53] nbrunett commented on #1025
Here you go. The `radians` file has the beam position angle in radians, and `degrees` has it in degrees.

Let me know if you have any issues with the files or need anything else.

[radians.tar.gz](https://github.com/CARTAvis/carta/files/8097690/radians.tar.gz)
[degrees.tar.gz](https://github.com/CARTAvis/carta/files/8097691/degrees.tar.gz)

[2022-02-21 07:25] kswang1029 commented on #1025
Here is the header obtained with casa-imhead. "radians.image" has the beam position angle defined in 'rad' in the casa image header format.
![Screen Shot 2022-02-21 at 15 19 08](https://user-images.githubusercontent.com/20819712/154907048-82f21961-1cdb-45c1-8489-a4bb82b2dcb1.png)
In CARTA, the BPA header (as -8.235030409149E+01) in FITS format is displayed correctly in the header tab. In the file

[2022-02-21 07:35] kswang1029 commented on #1025
@nbrunett Do you have any idea why the beam position angle is defined in rad not in degree? Are these test images generated with tclean directly without any other steps? We would like to get some ideas on how many casa images use rad to define the position angle of the beam element (knowing this would help us on scheduling of this bug fix). Thanks.

[2022-02-22 08:22] #952 closed, assigned to confluence

[2022-02-23 06:20] kswang1029 commented on #849
@markccchiang do you have time to investigate this performance issue?

[2022-02-23 06:24] kswang1029 commented on #849
Odd. with the macOS electron build v3b2 I cannot reproduce the problem.

[2022-02-23 06:29] kswang1029 commented on #849
@acdo2002 @markccchiang could you give this a try with the computers that you have access to? We may see contours out of sync a bit but  that's a separate issue. If you cannot reproduce the issue then we can close this for now. 🤞

[2022-02-23 06:50] kswang1029 commented on #849
My last attempt to reproduce this issue was Nov 2021. In December 2021 I upgraded my macOS to Monterey (clean install) and reset my CARTA dev env. It might be due to my previous dev env.

[2022-02-23 07:34] acdo2002 commented on #849
I quick check with my laptop Ubuntu 20.04.
Yes, I see contours out of sync a little bit, but I did not feel any animator becomes extremely slow when I load these two images (and set one of them as two contours and animate it).

I will check MacOS later.

[2022-02-23 11:22] acdo2002 commented on #849
I check two MacOS (backend and frontend are both current dev branch), and omp set to 4 when I start the backend.
I repeat the behavior that I performed earlier today on Ubuntu 20.04.
Two MacOS (Monterey & Big Sur) don't show any extreme slow performance when I set 2 contour levels and animate it.

[2022-02-23 11:27] kswang1029 commented on #849
@acdo2002 thank you for checking this out.

OK we can close this issue.

[2022-02-23 13:33] nbrunett commented on #1025
I don't have any ideas why the units are different sometimes, sorry. I should say that these cubes were made in an older version of `CASA` (5.6.1) for other compatibility reasons. I did try the `tclean` step in 6.2.1 (the newest I have access to for a quick test) with the same result.

These are cubes that I was making for science, not just for testing `CARTA`. This means there's a series of steps

[2022-03-02 10:37] #854 closed, assigned to ajm-ska

[2022-03-02 10:37] #865 closed, assigned to ajm-ska

[2022-03-03 07:38] #1025 closed, assigned to pford

[2022-03-03 14:25] jolopezl opened #1030 "Enable debug mode and address sanitization for all tests"
The tests suite should reveal all possible errors. However, several errors are hidden during compile-time and occasionally run time. One way to find issues is to build tests in debug mode and enable [address sanitization  (ASAN)](https://github.com/google/sanitizers/wiki/AddressSanitizer).

One way to get this is to configure the carta-backend as follows:
[code]

To suppress all the warnings comin

[2022-03-03 22:13] pford commented on #844
carta-casacore PR [#17](https://github.com/CARTAvis/carta-casacore/pull/17) has been opened.

[2022-03-04 06:57] ajm-ska opened #1032 "Jenkins CI issues"
**Describe the bug**
Besides the annoying issue unit tests on MacOS frequently failing, another issue is that is if Jenkins takes more than 1 hour to run a build, unit tests and ICD tests, it fails to report the complete status back to Github and the orange in progress light remains on Github indefinitely.

**To Reproduce**
Issue a commit while a Jenkins build is already in progress, or issue a pu

[2022-03-07 07:44] ajm-ska opened #1036 "no_frontend and no_database flags not working"
**Describe the bug**
It appears the new `--no_frontend` and `--no_database` flags were not fully tested. When used, the frontend and database parts still appear to be called.

**To Reproduce**
Start the carta_backend with the following flags: `--no_database --no_frontend --verbosity=5`
The log will show:

**Expected behavior**
We should not see any of the above messages when using the `no_frontend

[2022-03-07 08:49] #1036 closed, assigned to confluence

[2022-03-09 07:39] kswang1029 opened #1038 "An offset in the offset axis of a PV image generated with fixed angular separation"
With a test wide field image cube, if the pv cut is sampled with fixed pixel separation, the origin of the offset axis is correct as
![Gaussian_array_wide fits-Gaussian_array_wide_pv fits-image-2022-03-09-15-31-56](https://user-images.githubusercontent.com/20819712/157394042-0dcbc648-ece1-4a06-8823-074fd70b8d11.png)

However, if we simply increase the pv cut of the above example so that it is samp

[2022-03-09 09:00] #967 closed, assigned to jolopezl

[2022-03-09 09:58] jolopezl commented on #1030
Actually, for the testing environments, the CMake command should not take the `-Wall -Wextra` flags since those will produce too much unnecessary log for the testing environment:
[code]
I think `-O0 -g` is automatically set if `CMAKE_BUILD_TYPE=Debug`, but I like to be sure it's there.

For improving code quality, it would be nice to force fixing everything that comes up when `-Wall -Wextra` is en

[2022-03-09 13:17] veggiesaurus opened #1041 "Ensure 2.0 release works with updated casacore dependency"
We need to rebuild version 2.0 with the latest casacore dependency, to ensure that it functions correctly.

[2022-03-09 13:19] #996 closed, assigned to pford

[2022-03-09 13:19] #844 closed, assigned to pford

[2022-03-09 14:39] pford commented on #1038
@kswang1029 offset 0 is at the **angular** center of the line, then the pos/neg offsets are calculated from there.  So angular center != pixel center shown on image.

[2022-03-09 14:42] pford commented on #1038
I think if we use the pixel center of the line, then to make offset 0 at the center of the PV image we will either go past the end of the line on one side or not reach the end of the line on the other side.

[2022-03-10 05:43] kswang1029 commented on #1038
I suggest we align the pixel center of the line and the origin of the offset axis as mostly the center and origin serve as the references when users analyze emission structures and kinematics. This is also ensure consistency of visualization of the center of the line and the origin of the offset axis in the pv image.

Regarding the sampling near the two ends of the line, it is okay to go pass the

[2022-03-10 06:02] kswang1029 commented on #1041
packages to check
- [x] ubuntu package on 18.04
- [x] ubuntu package on 20.04
- [x] centos7 rpm
- [x] centos8 rpm
- [x] homebrew on intel Mac Big Sur

[2022-03-10 13:18] #837 closed, assigned to ajm-ska

[2022-03-10 18:00] jolopezl opened #1043 "Take care of current and future compilation warnings"
If carta-backend is built with `cmake -DDevSuppressExternalWarnings=ON -DCMAKE_CXX_FLAGS="-Wall -Wextra"` we have 649 warnings and several of them are of great concern. All possible warnings should be removed.

<img width="918" alt="Screen Shot 2022-03-10 at 15 09 22" src="https://user-images.githubusercontent.com/3409812/157727772-0a5ed346-3a8a-4fce-b813-f8f516a8e73b.png">

[2022-03-10 18:07] veggiesaurus commented on #1043
Can you provide some examples of the most concerning ones?

[2022-03-10 18:09] jolopezl commented on #1043
I forgot to attach the following histogram (sorry for not recentering the labels). So I'd say concerning ones is the large volume of sign-compare, and the infinite-loop (which might be innocent). Others just contaminate the code.

[2022-03-10 18:17] veggiesaurus commented on #1043
Signed comparison is the only one there that makes me nervous... But we should definitely clean things up in the other regards.

[2022-03-11 04:34] ajm-ska opened #1045 "update the CI systems for new carta-casacore and ASAN"
carta-casacore has been updated to 3.4.0+6.4.4+2022.3.9 and there is a pull request to [enable debug mode and address sanitization](https://github.com/CARTAvis/carta-backend/issues/1030). The CI systems need to be updated accordingly.

- Create RHEL7 and RHEL8 carta-casacore RPMs.

- Create 5 new Docker containers using the new carta-casacore RPM and DEB packages, plus install additional packages

[2022-03-11 08:17] #1030 closed, assigned to jolopezl

[2022-03-11 09:41] robsimmonds opened #1046 "Shutdown failure"
**Describe the bug**
Backend does not aways shutdown when expected.
Also logs often state that some sessions have not been deleted due to a non-zero reference count which seems to be linked.

**To Reproduce**
Create multiple web connections to a single backend and have the connects shutdown and then reconnect is one time this happens.

**Expected behavior**
backend should die after last session ha

[2022-03-11 09:45] robsimmonds opened #1047 "Session ID duplication"
**Describe the bug**
It is possible to get into a situation where there are multiple sessions with the same id.

**To Reproduce**
Start multiple web sessions. Kill the browser. Then have the browser restart, but start some new sessions before connecting to the existing ones.

**Expected behavior**
All sessions in a backend should have a unique ID.

**Platform info (please complete the following in

[2022-03-14 07:11] kswang1029 opened #1050 "spatial range of a rotated field in the file info"
as confirmed with @markccchiang, currently the spatial range of an image cube is derived using the bottom-left (BL) pixel and the top-right (TR) pixel. This works nicely if there is no sky rotation (mostly true with radio image cube). However, for image cubes from optical observations, there might be a non-zero sky rotation. When this happens, using the BL and TR pixels to derive the spatial range

[2022-03-14 07:23] #1009 closed, assigned to pford

[2022-03-14 08:27] ajm-ska opened #1051 "carta_backend built with ASAN flags crashes when opening supermosaic.10.hdf5"
**Describe the bug**
If built with the ASAN flags, the carta_backend will crash on all platforms when opening the `supermosaic.10.hdf5` test image.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the carta_backend with the following flags:
[code]
2. Start the carta-backend as you would normally do e.g.
[code]
3. Open the `supermosaic.10.hdf5` test image in the filebrowser.

4. carta_ba

[2022-03-14 08:47] ajm-ska opened #1052 "carta_backend built with ASAN flags crashes when opening closing a file during animation playback"
**Describe the bug**
If built with the ASAN flags, the carta_backend will occasionally crash if closing a file during animation playback.
It was noticed to sometimes occur during the `CLOSE_FILE_ANIMATION.test.ts` ICD test on RHEL7 and Ubuntu 20.04. I have been to reproduce it manually on macOS12 while using the ASAN suppression file.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the

[2022-03-14 08:47] jolopezl commented on #1051
~~Likely related to https://github.com/CARTAvis/carta-backend/issues/1019.~~

[2022-03-14 09:11] ajm-ska commented on #1051
Just to follow up, I did not use the ASAN suppression file in this case (`ASAN_OPTIONS=suppressions=$CARTAVISDIR/carta-backend/asan/myasan.supp`)

When I do use the ASAN suppression file, then `supermosaic.10.hdf5` can be opened successfully and crash does **not** occur!

[2022-03-14 09:28] veggiesaurus commented on #1051
Wonder if we need to submit an issue to casacore then?

[2022-03-14 17:22] jolopezl commented on #1052
Likely related to [#1019](https://github.com/CARTAvis/carta-backend/issues/1019).

[2022-03-14 21:44] jolopezl commented on #1051
The problem detected by the address sanitizer here is a strncpy that goes beyond the size of the source and destination c-syte string arrays in casacore.

The problem is in https://github.com/casacore/casacore/blob/ff44f079e2215858af36919f4f6a1ca95ddb0c09/coordinates/Coordinates/FITSCoordinateUtil.cc#L541 and a few more same calls like this one:

[code]

It seems that this is a C-style trick for '

[2022-03-16 09:33] veggiesaurus opened #1058 "Memory leaks due to not cleaning up casacore objects"
**Describe the bug**
Valgrind picks up a number of memory leaks when running the unit tests. Two of these are related to casacore objects that we're not cleaning up properly.

- `Session::782`: `casacore::CoordinateSystem* csys = _frames.at(file_id)->CoordinateSystem();`
- `RegionHandler::1147`: `casacore::LCRegion* lcregion = ApplyRegionToFile(region_id, file_id, report_error);`

[2022-03-16 09:48] veggiesaurus opened #1059 "HDF5 file loader has memory leaks"
**Describe the bug**
`Hdf5Loader::GetStatsDataTyped` creatse a `casacore::ArrayBase` raw pointer. This is fine, and we `delete` the pointer in `LoadStats2DBasic` and `LoadStats3DBasic` etc, but if an exception is thrown, this pointer is never deleted. We should make this a `unique_ptr<casacore::ArrayBase>` to get around this.

[2022-03-16 10:29] confluence commented on #845
This was fixed in #1042 .

[2022-03-16 10:29] #845 closed, assigned to markccchiang

[2022-03-16 10:41] kswang1029 commented on #1069
@acdo2002 will you be able to investigate this for v3b3?

[2022-03-16 11:14] ajm-ska opened #1061 "Use Github Actions to run the carta-backend format check"
Use GitHub Actions to perform the format check (running scripts/style.py) instead of using circleCI with the view of utilizing Github Action to do more Continuous Integration in future.

[2022-03-16 11:50] robsimmonds commented on #1046
Fixed by PR #1048

[2022-03-16 11:50] #1046 closed, assigned to robsimmonds

[2022-03-16 11:54] robsimmonds commented on #1047
Fixed by PR #1049

[2022-03-16 11:54] #1047 closed, assigned to robsimmonds

[2022-03-17 01:23] kswang1029 commented on #830
should be fixed now.

[2022-03-17 01:23] #830 closed, assigned to pford

[2022-03-17 01:34] kswang1029 commented on #835
This issue will not be addressed as we are going to migrate the query from the backend to the frontend. Please refer to https://github.com/CARTAvis/carta-backend/issues/994 and https://github.com/CARTAvis/carta-frontend/issues/1755

Close this for now.

[2022-03-17 01:34] #835 closed, assigned to nobody

[2022-03-17 01:54] kswang1029 commented on #886
I have prepared a FITS catalog including JPL and CDMS catalogs. It can be loaded with the catalog widget now.

[2022-03-17 01:56] kswang1029 commented on #901
Any further update about this issue? Are you able to build carta_backend now?

[2022-03-17 02:00] DhanrajIuc commented on #901
Dear Team,

Thanks to the support from [ https://secure-web.cisco.com/18imdhMtfkE-8jRc_3JU1TqSuE41olsZxbndSU6r2ExRyJV1Rq_FgGmU1eQxO0TKk50WTy1nH6NVVDJmsMp7Dsjp4Dwx4mifuMr_pnIrTxfFYMgySgHPIbOZkXnUoulhUh6fGk18mQsjmCaXhK5Z8cULv_hDdOOYJvftZmZpx3QdZoPskcPis73hwdmb6OBMihcHBWljE6URmFryBOejqhj8K04pg-Dn7-LXNrS3MVPMjx7Zpo7ctegqxVKxckmOMnW9F9I9OUFkn8wpkgtQcXQe2ROsRZ61p49IqrsTAYuW7VslPBn1sGL-dh0YTw1jBuDDVtcxDi

[2022-03-17 02:02] kswang1029 commented on #901
nice~

[2022-03-17 02:02] #901 closed, assigned to nobody

[2022-03-17 08:26] ajm-ska opened #1066 "carta_backend built with ASAN flags crashes when importing a specific region file."
**Describe the bug**
When we run the `DS9_REGION_EXPORT.test.ts` ICD test on macOS12, the carta_backend crashes. We can also trigger it manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the carta_backend with the following flags:
[code]
2. Start the carta-backend with the appropriate ASAN flags (remember to adjust paths for your system). This way proves we are taking the curren

[2022-03-17 11:52] acdo2002 commented on #1066
So far it occurs related to "export region" action, the error messages show between `[protocol] <== EXPORT_REGION` and `[protocol] ==> EXPORT_REGION_ACK`.
Not related to the image type (happened in all three types: fits, image, and hdf5)
Can trigger manually by export region as "**world coordinates**" for both CRTF region file and DS9 region file. No error if I export region as "pixel coordinates"

[2022-03-17 21:57] pford commented on #1038
The profiles generated for the PV image (all channels) currently use the same code as the line/polyline spatial profiles (current channel).  Should the pixel center of the line be used for the both the PV generator and the spatial profiles?  I believe the plan is to eventually support PV images from a polyline as well.

The issue with the polyline is that using the pixel center of each line, you m

[2022-03-17 22:08] pford commented on #1038
I am planning to fix this issue in the branch for line spatial profiles while I am modifying the fixed angular profiles code for polyline support.

In effect, a line is a polyline with one line segment.  Each line segment is handled individually because each has its own rotation angle, used to determine the points along the line where the box regions are created for the profiles.

But perhaps poly

[2022-03-18 07:51] ajm-ska commented on #909
This exact same issue has cropped up again in the new carta-casacore-devel-3.4.0+6.4.4+2022.3.9-1.el8.x86_64.rpm.

A search on Google reveals another team had the same issue, and they presented a [small demo program that can reproduce the issue](https://github.com/rstudio/httpuv/issues/133#issuecomment-387499519). From that issue, it looks like rpmbuild must have used `_GLIBCXX_ASSERTIONS` when I

[2022-03-21 05:53] acdo2002 commented on #1069
@kswang1029 I found it is because the "stdDev" in CARTA protobuf (CARTA.iHistogram) is "Infinity".
I can add one more criterion that the histogram will not plot the green region if the "frame.renderConfig.histogram.stdDev" is "Infinity". However I think it may not solve the problem properly.

One suggestion is ask carta backend to investigate why return "Infinity" in "stdDev" with this "NHI_ZEA.fi

[2022-03-22 04:04] ajm-ska opened #1070 "carta_backend built with ASAN flags occasionally crashes running Moments ICD tests"
**Describe the bug**
The carta-backend sometimes crashes when running the `MOMENTS_GENERATOR_FITS.test.ts` or `MOMENTS_GENERATOR_HDF5.test.ts` ICD tests. It can happen on Ubuntu 18.04, macOS12, and RHEL8.
It is rare on Ubuntu 18.04, but occurs more frequently on macOS12 with the HDF5 test.

**To Reproduce**
Build carta-backend with the Address Sanitizer flags.
Start the carta-backend.
Repeatedly r

[2022-03-22 08:00] acdo2002 commented on #1070
I confirmed this issue occurs in Ubuntu 20.04 Laptop and macOS12 Desktop.
It **only** occurs with carta_backend with Address Sanitizer flag.
The carta_backend Ubuntu 20.04 log can be download from [MOMENT_HDF5_AS-Ubuntu.log](https://github.com/CARTAvis/carta-backend/files/8322263/MOMENT_HDF5_AS-Ubuntu.log)

The carta_backend macOS12 log can be download from
[MOMENT_HDF5_AS-Mac.log](https://github.

[2022-03-22 08:06] veggiesaurus commented on #1070
The ubuntu error seems very odd to me. It looks like it's complaining about a double-free on `std::vector<CARTA::StatsType> _spectral_stats`, which is just handled by the default destructor of `RegionHandler`.

[2022-03-23 07:31] #1050 closed, assigned to markccchiang

[2022-03-23 12:46] #1061 closed, assigned to ajm-ska

[2022-03-25 19:52] pford commented on #1059
Will fix along with memory leak issues in #1058

[2022-03-25 20:06] jolopezl commented on #1051
Changes merged in casacore #1174. Now we need to get this into casa6 and then into carta-casacore.

[2022-03-28 21:41] pford commented on #909
As noted in the Slack build channel, I could not make a CentOS8 container in Docker using the Dockerfile since CentOS removed the packages from the official mirrors.  Using ajmasiaa/centos8-4-carta-jenkins-builder from Dockerhub, building carta-casacore from source in Debug mode, and building carta-backend from source in Release then Debug mode, I could not cause a crash when importing the region

[2022-03-30 11:24] confluence opened #1077 "RPM packages for ARM"
This is a placeholder issue for tracking the creation and publication of ARM builds of the RPM packages for the backend and all dependencies. There's a [companion issue](https://github.com/CARTAvis/carta-backend/issues/1078) for Ubuntu packages. This issue should be closed once ARM RPMs are publically available.

[2022-03-30 11:28] confluence opened #1078 "Ubuntu packages for ARM"
This is a placeholder issue for tracking the creation and publication of ARM builds of the Ubuntu packages for the backend and all dependencies. There's a [companion issue](https://github.com/CARTAvis/carta-backend/issues/1077) for RPM packages. This issue should be closed once ARM Ubuntu packages are available in the public PPA.

All the packages in the testing PPA have successfully been rebuld f

[2022-03-30 13:00] #1045 closed, assigned to ajm-ska

[2022-03-30 15:23] pford commented on #909
@ajm-asiaa you were correct.  When a 2D region is extended by channel and stokes ("corr=[I]"), two regions are created: one for the 2D region (e.g. WCPolygon for a centerbox), and an extension or stretch WCBox region.  casacore::WCExtension determines which axes need to be stretched/extended, puts them in a std::vector, and sorts them using the address of the first element e.g. &(tmpstretch[0]).

[2022-03-30 16:13] pford commented on #909
https://github.com/casacore/casacore/pull/1178

[2022-03-31 01:30] kswang1029 commented on #930
Cannot reproduce this issue with v3-beta2 on macOS.

[2022-03-31 01:30] #930 closed, assigned to pford

[2022-03-31 02:03] kswang1029 commented on #868
with CASA 6.4.3.27, we cannot read integer image (eg via imhead, or the viewer). The error messages are

2022-03-31 01:57:37 INFO imhead	##### Begin Task: imhead             #####
2022-03-31 01:57:37 INFO imhead	imhead( imagename='integer.image', mode='summary', hdkey='', hdvalue='', verbose=False )
2022-03-31 01:57:37 SEVERE image	Exception Reported: Exception: Unable to open image integer.image.

[2022-03-31 03:01] markccchiang commented on #868
I think we can try a way similar to `CartaFitsImage` that inherits the class `casacore::ImageInterface<float>` and then modify the `doGetSlice` function. Converting the integer or boolean types to float in the `doGetSlice` function when accessing images data.

[2022-03-31 14:29] pford commented on #868
The imageanalaysis types supported ("ITUPLE" in the traceback) include float, complex, double, and complex\<double\>.  I also tried to open integer.image in the casaviewer and the message was: "Only Float and Complex images are supported at present."

[2022-03-31 15:05] pford commented on #868
I think we need to keep the image types already in CARTA, but support the data types as `PagedImage<T>`, `CartaHdf5Image<T>`, etc. (base class `ImageInterface<T>`).

Jorge has started on this for complex images; the additional requirement for complex data is the ability for the user to request magnitude, phase, real or imaginary data.

[2022-03-31 18:33] jolopezl commented on #868
Thanks, @pford, some of these changes are here https://github.com/CARTAvis/carta-backend/tree/520-support-complex-image-types, but they might not be the best thing to do.

[2022-03-31 20:52] pford commented on #868
I just found out that `casacore::ImageOpener::openImage(filename)` only supports typed images of data type Float, Double, Complex, and DComplex (PagedImage, HDF5Image, ImageConcat, and ImageExpr).  It doubt this is a CASA viewer replacement item if casacore code and imageanalysis code do not support it.

I vote we close this issue.

[2022-04-02 02:04] kswang1029 commented on #1051
not sure if this is related: I tried to use v3b2 to load supermosaic.10.fits with double click (macOS electron app), and right after the image is loaded the backend crashed. Crash report attached. This cannot be reliably reproduced every time.

Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x00

[2022-04-02 13:58] jolopezl commented on #1051
It doesn't look the same. Those references in the log to nlohmann::json are related to the program settings (could you please check if you changed something there?). This issue is related to a problem with casacore.

[2022-04-04 09:58] ajm-ska commented on #1077
The aarch64 el7 and el8 RPMs for CARTA v2.0 and CARTA v3.0-beta2 are ready and live on `packages.cartavis.org`.

Both are also using the new carta-casacore-3.4.0+6.4.4+2022.3.9 even though I know we will need a newer bug-fixed carta-casacore soon. The el7 RPMs have been updated to use carta-gsl 2.5.

I created and tested the RPMs through Docker containers on an M1 Mac, but I assume they will also

[2022-04-05 08:35] #1058 closed, assigned to pford

[2022-04-05 08:35] #1059 closed, assigned to pford

[2022-04-08 07:34] ajm-ska commented on #961
A few points on https://github.com/CARTAvis/carta-backend/pull/1008/commits/6efae983617b166e8417c5761351adab25f666fa

- The current plan is that the `carta` script executes `casa_data_autoupdate` every time (Note the Debian and RPM packages will need to copy `casa_data_autoupdate` to /usr/bin/`).

- `casa_data_autoupdate` only takes action if the user has manually added the following lines to thei

[2022-04-11 15:22] confluence commented on #961
For beta releases, can the user manually create the appropriate files in `.carta` (and symlink them to `.carta-beta` if necessary)?

This should be documented. I don't think that this is likely to be an issue for the Ubuntu packages, since users can install the Kern casacore data package. But it should be available as an option.

In future it may be a good idea for us to revise how we separate the

[2022-04-12 02:52] kswang1029 commented on #868
If CASA cannot handle boolean and integer images I also suggest we close this issue.
`ia.newimagefromarray(): Create a new image analysis tool from a numpy array.
` can only allow me to generate a float or double precision image. We cannot make an integer nor a boolean image.
@jott3077 @jehibbard can we close this issue?

[2022-04-12 03:19] jott3077 commented on #868
The image types are CASA images, according to Kumar. Maybe they are handled differently.

[2022-04-12 04:38] kswang1029 opened #1083 "support beam info and beam rendering from an AIPS fits cube"
example AIPS fits images can be obtained from https://www2.mpia-hd.mpg.de/THINGS/Data.html

For such AIPS fits images, the beam info is not represented in header as BMAJ, BMIN, and BPA. It adopted a non-standard representation using the HISTORY keyword. The "standard" AIPS form is (all in degrees)

`HISTORY AIPS   CLEAN BMAJ=  3.8158E-03 BMIN=  3.4928E-03 BPA= -40.24 = `

We should still try to lo

[2022-04-12 04:39] kswang1029 commented on #1083
@markccchiang do you have time to look into this?

[2022-04-12 04:52] markccchiang commented on #1083
Ok, I will take a look at it.

[2022-04-12 13:43] pford commented on #1083
This is supported in casacore, but for #935 we removed the HISTORY beam. (See FitsLoader::RemoveHistoryBeam)

My comments in #935 indicated it was for AIPS images according to the casacore::FITSImage header comments.

[2022-04-12 13:51] kswang1029 commented on #1083
@jott3077 made this request to support AIPS fits cube. Deriving beam shape from history is really not ideal but we have no other choices. #935 is an example demonstrating it can lead to bad results.

Maybe we will need to warn users in the file info if the beam info is derived from history 🤔️

[2022-04-12 14:12] veggiesaurus commented on #1083
This is rather frustrating, because history is really not the appropriate place for this information, and the user was quite right to ask us to ignore it. If we add this back, we may produce misleading results, surely?

[2022-04-12 14:14] kswang1029 commented on #1083
@jott3077 could you confirm what unit is implicitly assumed for the beam shape defined in the HISTORY of an AIPS fits cube? #935 is an case that the unit is not set correctly by casacore, resulting an incorrect rendered beam. We have to make sure all AIPS fits cubes adopt the same unit for beam shape definition, otherwise rendering a wrong beam element is worse than not showing a beam element.

[2022-04-12 14:14] veggiesaurus commented on #1083
I guess the other choice would be to ignore it and provide a scripting snippet to generate the appropriate beam headers from the history.

[2022-04-12 14:32] kswang1029 commented on #1083
Can NRAO archive team fix this beam issue for all the archived AIPS fits images? This would help the situation a lot and ensure robustness for the future.

[2022-04-12 16:22] jehibbard commented on #1083
It's wider than the NRAO archive. For instance, I put all my thesis HI cubes and some subsequent ones into NED, and they have this behavior.

I checked a bunch of ancient images I have on disk and found:

HISTORY AIPS CLEAN BMAJ=...

gives units of degrees

HISTORY APCLN BMAJS=

gives units of arcsec (so did "HISTORY CONVL BMAJ=" in the #935 example)

MIRIAD gave units explicitly:
HISTORY RESTOR:

[2022-04-12 17:58] jehibbard commented on #868
I looked at a few "mask" images from the ALMA pipeline, thinking they may be integer, but CARTA had no problem opening those. So I'm not sure I know what the use case for pure integer or boolean images are.

[2022-04-13 06:08] veggiesaurus commented on #1083
Personally I think this is exactly why we shouldn't attempt to guess things unless they are following a clear and widely used convention. This looks like a minefield to me.

[2022-04-13 06:13] veggiesaurus commented on #1083
@markccchiang don't worry about this for now. It's on hold until there is clear consensus as to how we should handle this situation.

[2022-04-13 08:16] confluence opened #1086 "Fix the changelog before the next release"
Before the next release we need to check the changelog and make sure that any missing changes are recorded correctly. In future it may be a good idea to add a PR template to remind developers to maintain the changelog.

(Reminder: not every dev commit is necessarily a changelog entry -- some commits can be combined into one entry, commits which are fixes to earlier commits within the same release

[2022-04-13 11:09] confluence opened #1087 "Decouple moment unit test from imageanalysis dependency"
This is a precursor to replacing our use of casa imageanalysis with a custom moments implementation.

The unit test should use reference image data which has been generated separately and not within the test -- this removes the test's dependency on imageanalysis.

The unit test should also be expanded to test a wider range of cases.

[2022-04-13 11:18] ajm-ska commented on #1077
aarch64 carta-casacore RPMs have since been updated to `3.4.0+6.5.0+2022.4.12`, and carta-backend and carta-backend-beta have been rebuilt to use it.

[2022-04-13 11:18] #1077 closed, assigned to ajm-ska

[2022-04-13 11:34] ajm-ska commented on #1041
@kswang1029 I have updated the carta-casacore RPM to 3.4.0+6.5.0+2022.4.12 and rebuilt the carta-backend (v2.0) and carta-backend-beta (v3.0-beta.2) RPMs (both x86-64 and aarch64) to use it. I did a quick test and it appears to work. So maybe we can close this issue now.

[2022-04-13 23:21] pford commented on #909
Confirmed fixed in carta-casacore [PR 19](https://github.com/CARTAvis/carta-casacore/pull/19) merged 11 April.

[2022-04-13 23:21] #909 closed, assigned to pford

[2022-04-20 10:40] #918 closed, assigned to YuHsuan-Hwang

[2022-04-20 21:47] jolopezl opened #1089 "top level folder is used before reading JSON settings"
I have in backend.json a field for the top_level_folder:
[code]
If I start carta, and do:
[code]
I get the following address:
[code]
Which, as you can see is incorrect. It actually does not exist, and CARTA will not open it. I mentioned before that I needed to edit it by hand, because the URL should have resulted in something relative to my top_level_folder. Now, following KS example, I set the to

[2022-04-21 12:45] confluence commented on #1087
I am closing this, since it has been deferred to the next beta together with the moments implementation.

[2022-04-21 12:45] #1087 closed, assigned to confluence

[2022-04-22 13:02] jolopezl commented on #1051
Closed via https://github.com/CARTAvis/carta-casacore/pull/19, assuming the next release version comes with newer carta-casacore, which is expected.

[2022-04-22 13:02] #1051 closed, assigned to jolopezl

[2022-04-22 13:08] ajm-ska commented on #1052
This issue appears to be gone. It was most likely fixed in the 3.4.0+6.5.0+2022.4.12 carta-casacore update. I have not noticed it occurring in the ICD tests recently and I can not trigger it manually in macOS12. I also ran the `CLOSE_FILE_ANIMATION.test.ts` test in a RHEL7 Docker container 100 times and it passed every time. I feel we can close this issue now.

[2022-04-22 13:08] #1052 closed, assigned to confluence, jolopezl

[2022-04-24 18:34] spectram opened #1105 "Incorrect common beam estimation"
**Describe the bug**
When reading an image with multiple beams (i.e beams per channel), the value displayed in carta seems different from the value obtained by using common_beam in spectral cube package. The common beam calculated by casa also seems to align with the latter value.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a fits file with 2 tables; one with the image data and the

[2022-04-27 03:22] ajm-ska commented on #925
Originally we had the Electron `main.js` filtering file formats by name when opening them from the command line. e.g. only allowing files ending in `.fits` and `.hdf5` to be opened.
That restriction has now been removed from `main.js` and instead we can rely on the carta_backend itself to determine whether it can open a file or not.
I just tested this on a pre-v3.0.0-beta.3 macOS Electron version.

[2022-04-27 03:22] #925 closed, assigned to ajm-ska

[2022-04-27 09:55] ajm-ska commented on #1041
I just tried this with the even newer carta-casacore-3.4.0+6.5.0+2022.4.22 el7 and el8 RPMs, and carta v2.0 still works. I will close this issue now.

[2022-04-27 09:55] #1041 closed, assigned to confluence, ajm-ska, kswang1029

[2022-04-28 05:49] kswang1029 opened #1092 "backend crashes when we try to move a matched region on a matched carta-created subimage (using a region to crop)"
**Describe the bug**
backend crashes when we try to move a matched region on a matched carta-created subimage (using a region to crop).

**To Reproduce**
Steps to reproduce the behavior:
1. load an image
2. create a rectangle region to be used as the mask to save a subimage3.
3. use the save image dialog to save a subimage using the rectangle region as the mask in FITS format4.
4. keep the rectang

[2022-04-28 11:36] #1089 closed, assigned to jolopezl

[2022-04-29 04:23] ajm-ska opened #1094 "carta_backend built with ASAN flags crashes when repeating a cube histogram call"
**Describe the bug**
Ubuntu 18.04 and Ubuntu 20.04 are unable to run the 3 cube histogram ICD tests in sequence on the same backend. It crashes when it reaches the 3rd test.
[code]
If we run the PER_CUBE_HISTOGRAM_CANCELLATION ICD test by itself, the test passes. But if we repeat the test on the same carta-backend process, the backend crashes.

- It is a new problem that appears to have only shown

[2022-04-29 06:52] acdo2002 commented on #1094
I confirmed this issue can be produced in the real Ubuntu 20.04.
I run the carta_backend with ASAN flag:

The`PER_CUBE_HISTOGRAM.test.ts` and `PER_CUBE_HISTOGRAM_CANCELLATION.test.ts` only can passed on the first time, if I run them second time, the ASAN flag carta_backend will crash (report is similar to Anthony's report)
However such problem does not appear with `PER_CUBE_HISTOGRAM_HDF5.test.ts`

[2022-04-29 08:21] kswang1029 commented on #1038
@pford retested with the branch `pam/796_line_profile` and the issue is fixed. Thanks for addressing this 👍 . This issue can be closed once `pam/796_line_profile` is merged in.

[2022-05-03 09:19] #961 closed, assigned to jolopezl, ajm-ska

[2022-05-03 12:20] ajm-ska opened #1096 "carta_backend built with ASAN flags crashes when opening a DS9 region file on M1 based Macs"
**Describe the bug**
Our M1 Mac is unable to open DS9 region files when built with ASAN flags. It was first noticed through the ICD tests, but can be reproduced manually using the frontend. It is using the latest carta-casacore 3.4.0+6.5.0+2022.4.22.
This problem _only_ occurs on the M1 Mac with ASAN flags.

**To Reproduce**
Steps to reproduce the behavior:
1. Use an M1 Mac.
2. Build carta-backend

[2022-05-03 12:25] ajm-ska commented on #1096
I'm sorry, I just noticed that this is basically a repeat of issue #1066 ! I had forgotten about it!

[2022-05-03 20:24] pford commented on #1066
@ajm-asiaa I cannot build on MacOS M1, do you have instructions?

But I looked at the log and it indicated the error is in RegionImportExport.cc:93 where it reads each line of the region file into a string.  Line 93 is a blank line in the code, but the next line is: `if (single_line.back() == '\r')`

I am wondering if single_line is an empty string and back() causes the crash.  I added this check:

[2022-05-03 20:34] pford commented on #1066
The sanitizer log also indicates `READ of size 1` which also suggests back() is the problem.

[2022-05-04 01:42] ajm-ska commented on #1066
@pford That does indeed fix the problem! Now I can open the `M17_SWex_handMadeRegions_world.reg` file on the M1 Mac. Thank you!

[2022-05-04 02:09] ajm-ska commented on #1066
@pford To answer your question, we have some original installation instructions in a Google Doc [here](https://docs.google.com/document/d/1QL9zyM1Aj6xcMSGc2Nrr4u91iNSw7N31VJNj8CFNOpg/edit). It is a bit messy as the steps have changed over time, but following the commands in blue should work.

`pam/1066_ds9_import` is ready to be a PR.

[2022-05-04 08:14] #1012 closed, assigned to pford

[2022-05-04 14:24] pford commented on #1066
Thanks @ajm-asiaa .  Can we put this doc and the other Mac build [doc](https://docs.google.com/document/d/1STmqf0CaeVTwWfDGI1D0VloSvXHKlS2kcFEAFFqHDn8/edit?usp=sharing) in the shared drive? There is a **build and deploy and CI** folder under **CARTA technical documents**.  I worry that I will lose these links.

[2022-05-04 14:25] #1066 closed, assigned to confluence, jolopezl

[2022-05-04 14:25] #1096 closed, assigned to pford, jolopezl

[2022-05-05 18:32] privong opened #1101 ""box" region loaded from ds9 region file has incorrect angular size"
**Describe the bug**
I have a rectangular ds9 region saved as a file. When I load the region into CARTA the size of the region is significantly smaller than expected and is also significantly smaller than the same region loaded into `ds9`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a region file the following contents:
[code]
2. File->"Open Image" to load FITS image including that c

[2022-05-05 19:34] jolopezl opened #1100 "Enable support to detect conda environments"
This is just for developers:

It is possible to build carta using conda. Here's one example of a conda environment that work in macos: https://gist.github.com/jolopezl/220a55085d36bdd3ec6283a2a4e400cc. This environment comes with everything and it allows building: carta-casacore, carta-backend, and carta-frontend without the need for MacPorts or Homebrew. The biggest advantage is that the developm

[2022-05-06 02:00] kswang1029 commented on #1101
based on the ds9 user manual ("Specifying Positions and Sizes" of http://ds9.si.edu/doc/ref/region.html), in this case the implicit unit for size is degree.

[2022-05-06 02:56] kswang1029 opened #1102 "backend crash related to spatial profiler"
This has no reliable way to reproduce the problem so please just consider this as a record until we find a reliable way. I spotted this when I use v3b2 electron app to
1. load an image
2. request a region file list

The macOS Monterey console shows

carta_backend(54323,0x70000588e000) malloc: Heap corruption detected, free list is damaged at 0x600000e481e0
*** Incorrect guard value: 41582587773184

[2022-05-09 09:04] #1092 closed, assigned to pford

[2022-05-09 09:06] #1101 closed, assigned to pford

[2022-05-09 17:29] #1024 closed, assigned to markccchiang

[2022-05-10 10:25] #1002 closed, assigned to markccchiang

[2022-05-10 14:12] kswang1029 commented on #1105
@spectram could you provide a test image for us to investigate this issue?

[2022-05-10 17:02] #1038 closed, assigned to pford

[2022-05-11 07:55] kswang1029 opened #1368 "odd small pixel tiles seen in hdf5 image after animation stops"
**Describe the bug**
odd small pixel tiles seen in hdf5 image after animation stops

https://user-images.githubusercontent.com/20819712/167797705-a5d4049f-8406-4c49-b6ce-87d8421b79d4.mov

**To Reproduce**
Steps to reproduce the behavior:
1. load an hdf5 cube
2. start and stop animation playback repeatedly
3. observe the image quality, especially near the NaN edges.

**Expected behavior**
No such i

[2022-05-11 08:24] spectram commented on #1105
Hi @kswang1029,

I am attaching a casa image and a fits cube of a cutout from a bigger image. These do not have BMAJ, BMIN, or BPA parameters in their headers.

CARTA File information: smallcube
Median area beam = 19.2378" X 17.2745", -0.353488 deg
CARTA File information: smallcube.fits
Median area beam = 19.2378" X 17.2745", -1.40381 deg

SpectralCube Common_beam: smallcube.fits
Beam: BMAJ=19.249

[2022-05-11 09:10] kswang1029 commented on #1105
@spectram thanks for the test images. Using CASA-imhead (version 6.4.3.27) I see those images have BPA defined in _rad_. Our test image generated with earlier version of CASA is in _deg_. I guess at some point CASA changed the default unit of BPA. We also had a bug fix on this a few weeks ago, which will be available in the v3-beta3 release coming very soon. With that, I see the computed values of

[2022-05-12 15:00] confluence opened #1106 "Packages for Ubuntu Jammy (22.04)"
We should officially introduce packages for Ubuntu 22.04 in the next beta release, so that they are available for 3.0 (in time for the 22.04.1 point release, expected in late July).

We can overlap Bionic and Jammy packages for 3.0, and remove Bionic support in the first 4.0 beta.

[2022-05-13 14:40] privong commented on #1101
Thanks, @kswang1029. I created these regions with astropy's regions module and they seemed to load okay in ds9, so those two don't seem to be following the specs in the manual. I'll try to file upstream bug reports with them.

[2022-05-17 04:52] kswang1029 opened #1108 "error in pixel count of a matched polygon region"
**Describe the bug**
When there are two images with identical WCS header matched spatially, a polygon region may give inconsistent pixel count as seen with the statistics widget on the matched image. Here is "inconsistent" does not mean they have to be identical on both image as CARTA adopted polygon resampling again in order to perform region reprojection on matched image so it is possible to hav

[2022-05-17 05:31] kswang1029 commented on #1105
@spectram using your test images, with CARTA **_v3b3_** release and CASA 6.4.3, I see consistent results. As for the inconsistent beam position angle, I think it is due to the unit issue (rad vs deg) and when converting between casa format and fits format, it went wrong. This issue should be handled by team responsible for the convertor I think.

CARTA v3b3
casa image: `Median area beam = 19.2378"

[2022-05-17 09:42] spectram commented on #1105
Thanks for checking and getting back @kswang1029
Closing the issue.

[2022-05-17 09:42] #1105 closed, assigned to nobody

[2022-05-18 07:58] confluence opened #1109 "Improve unit testing strategy"
There are two ongoing issues which are making it difficult to add and maintain effective unit tests for all parts of the codebase:

1. It is difficult to isolate and test many functions because of access specifiers or because of the complex state that they depend on. As a result, we are testing a subset of functions, and sometimes writing overly complex novel code in unit tests to set up all the r

[2022-05-18 10:22] kswang1029 commented on #849
with macOS Monterey and v3b3 release, I can reproduce the issue. @acdo2002 could you repeat the test again to see if it can be reproduced?

https://user-images.githubusercontent.com/20819712/169017377-c9bdae9b-4b56-43f2-9e67-9f0d2adbe2a0.mov

[2022-05-18 11:24] kswang1029 commented on #849
tried with m1 Mac mini and the animation playback works fine (except the the contour sync issue). Odd, so this might be just my intel laptop?

UPDATE: with my intel Mac laptop without an external monitor (using intel GPU), I see the animation playback performs better considerably. However, if there is an external monitor (using AMD discrete GPU), the animation playback performs much worse! So this

[2022-05-18 11:52] acdo2002 commented on #849
Steps:
(1) open "HD163296_CO_2_1.fits", go to channel 88, using "min_max" in "Contours" tool and plot 5 contour levels (color: green)
(2)  open "HD163296_13CO_2_1.fits", and spatial and spectral matching to (1), then using "min_max" in "Contours" tool and plot 5 contour levels (color: white)
(3) Go to "HD163296_CO_2_1.fits" channel 0, setting Frame Rate = 15 and playing animator
(4) Record

MacOS

[2022-05-18 11:58] veggiesaurus commented on #849
same device pixel ratio?

[2022-05-18 12:00] kswang1029 commented on #849
yes

[2022-05-18 13:35] kswang1029 commented on #849
with an entry-level old intel Mac laptop without an external monitor, I cannot reproduce the issue.... So it seems this is specific to a certain hardware configuration.

<img width="316" alt="Screen Shot 2022-05-18 at 21 30 35" src="https://user-images.githubusercontent.com/20819712/169051281-534093ca-b4c6-445a-bdaa-0de4b69967aa.png">

[2022-05-18 13:35] #849 closed, assigned to markccchiang

[2022-05-19 13:19] kswang1029 commented on #1086
v3b3 is released. consider done.

[2022-05-19 13:19] #1086 closed, assigned to confluence

[2022-05-21 06:37] kswang1029 opened #1110 "[user feedback] support a channel range for pv slicing"
This is an enhancement of the current implementation of the pv image generator by allowing users to define a range of channels for pv image generation.

[2022-05-25 03:21] markccchiang commented on #1013
@kswang1029 In the contour rendering dialog, if we select `per-cube histogram` and then switch to another Stokes. The default is still `per-cube histogram` for another Stokes, not `per-channel histogram`, this behavior is not the same as that in the render configuration widget. Should it be changed? If so, I guess the contour rendering dialog in the frontend also needs to be fixed. The default his

[2022-05-25 03:23] kswang1029 commented on #1013
@markccchiang Good point. Could you check with @YuHsuan-Hwang on the details and file a companion frontend issue?

[2022-05-25 12:35] kswang1029 commented on #1368
lower priority for v3-final release.

[2022-05-26 10:45] confluence opened #1115 "More fine-grained HTTP error messages"
Currently if scripting is disabled scripting requests receive a generic authentication error as a response. This is the same error that is returned in the case of an actual authentication failure, which is confusing. A more specific error message should be added. Analogous messages should be added for other server features which may be disabled.

This can probably be handled at the same time as #1

[2022-05-27 09:34] confluence opened #1116 "Create a PR template"
We need a PR template similar to the one added to the frontend, so that we don't keep forgetting to update the changelog. The checklist should also include linking issues and companion PRs in the other components.

[2022-05-30 11:45] #1011 closed, assigned to confluence

[2022-05-30 11:45] #1115 closed, assigned to confluence

[2022-06-01 09:57] kswang1029 commented on #1013
fixed via #1868 and #1113.

[2022-06-01 09:57] #1013 closed, assigned to markccchiang

[2022-06-06 10:17] veggiesaurus commented on #871
closing as a "bad idea" due to (a) complexity and (b) security issues with generic HTTP proxying bypassing all firewalls

[2022-06-06 10:17] #871 closed, assigned to nobody

[2022-06-07 03:35] kswang1029 opened #1121 "support spatial profile with an image with uv coordinates"
This is reported by a user who works on images with uv coordinates. Spatial profiles along a line or a polyline cannot be generated due to the error

`[CARTA] [error] Line region 1 spatial profile  failed: Cannot approximate line with no direction coordinate.
`

I suggest we enhance the spatial profile extractor by adding a fallback treatment for non-directional coordinate and assume they are line

[2022-06-09 03:24] kswang1029 opened #1122 "[critical for v3-final release] incorrect spectral profiles of computed polarization quantities"
**Describe the bug**
This issue exists in the dev and v3b3 release. I missed this.... 😔

When the polarization dropdown in the spectral profiler is "current", the displayed profile can be updated according to the selection in the animator via the polarization slider. However, if we use the polarization dropdown in the spectral profiler to explicitly select a computed component such as Pangle, the

[2022-06-14 03:21] kswang1029 opened #1124 "[critical for v3-final release] backend crash when loading a FITS catalog file with specific steps"
**Describe the bug**
The issue is spotted while implementing catalog e2e tests. If we use the file filter to explicitly input the full file name of the target FITS catalog file and click on the only result in the file list then immediately click the "Load Catalog" button, the backend will crash. This might be a missing mutex issue 🤔. If we wait a bit before clicking the Load Catalog button, there

[2022-06-14 03:21] kswang1029 commented on #1124
@veggiesaurus do you have time to investigate this?

[2022-06-14 11:02] #994 closed, assigned to veggiesaurus

[2022-06-16 02:33] kswang1029 opened #1129 "unable to parse ds9 line region text file"
**Describe the bug**
From the ds9 manual (https://ds9.si.edu/doc/ref/region.html), a line region can be defined as
`line x1 y1 x2 y2 # line=[0|1] [0|1]`
where the `line=[0|1] [0|1]` part is to enable/disable arrow heads at the two ends

When we have such arrow head definition in the region text file, CARTA cannot parse the line region properly with an error message as "polygon syntax error, odd nu

[2022-06-16 02:35] kswang1029 commented on #1129
This is reported by a v3b3 tester. @pford @markccchiang do you have time to investigate this?

[2022-06-16 06:20] kswang1029 commented on #1129
Thank you @pford 🙂

[2022-06-16 12:59] kswang1029 opened #1130 "images as fits.gz from ALMA Science Archive not recognized by CARTA"
**Describe the bug**
Reported by a v3 beta tester. Images as fits.gz downloaded from the ALMA Science Archive are not recognized by CARTA. If we unzip it and re-zip it (in my case with the gzip in macOS "Apple gzip 353.100.22"), the new fits.gz file can be recognized.

test images are attached
[test_by_mac_gzip.fits.gz](https://github.com/CARTAvis/carta-backend/files/8918988/test_by_mac_gzip.fits.

[2022-06-16 12:59] kswang1029 commented on #1130
@markccchiang could you help on this one?

[2022-06-16 14:57] markccchiang commented on #1130
Ok.

[2022-06-16 19:19] pford commented on #1108
@kswang1029 I have been investigating this issue., and here is what I have found out so far.  It looks as if the 1000-pt polygon approximation is correct; if I save the points to a .crtf file and import the region it overlays the 11-pt polygon:
![image02 fits-image-2022-06-16-12-24-19](https://user-images.githubusercontent.com/856604/174143787-bd6620ee-ce17-417c-8164-b546790d21e7.png)
![image02 fi

[2022-06-16 22:35] kswang1029 commented on #1108
@pford thanks for exploring this. I will try a similar comparison from here too. 🤔️

Do you think it is world1->image1->image2->world2 coordinate conversion chain having numeric errors? In your last image with NaN inside the polygon, we see horizontal border at the bottom. The NaN strip seems to be perfectly horizontal too. 🤔️

[2022-06-17 01:57] kswang1029 commented on #1108
@pford Out of curiosity I modified https://github.com/CARTAvis/carta-backend/blob/eae12020211154f55130649a95669e18b6c9998b/src/Region/Region.h#L29 to 2000 and 100. With 2000, the issue remains. Surprisingly, with 100, the issue is gone (don't know why though. probably related to numeric error or rounding numbers).

In the following example, we can see the polygon and slightly rotated rectangle hav

[2022-06-17 02:03] kswang1029 commented on #1108
This might be more complicated as we _may_ need a dynamic VERTEX_COUNT depending on sky curvature (ie sky projection distortion), if the above two-set-DEFAULT_VERTEX_COUNT does not work in general. 🤔

[2022-06-19 02:19] kswang1029 opened #1132 "[redhat v3b3 appimage only] backend crash when generating moment images"
**Describe the bug**
With a normal image cube generated with casa-tclean (attached for testing), when requesting a moment image generation, the backend will crash. This happens only with the redhat appimage (haven't tried the rpm) on almalinux8. With macOS v3b3 electron app or ubuntu appimage on ubuntu 20.04, CARTA can generate the moment image successfully.

[carta_moment_crash.zip](https://githu

[2022-06-19 02:20] kswang1029 commented on #1132
@markccchiang do you have time on investigating this?

[2022-06-20 08:46] #1122 closed, assigned to markccchiang

[2022-06-20 15:28] markccchiang commented on #1132
I have tried to build the CARTA backend on the server, which is AlmaLinux 8.5, and tested it. Did not encounter the crash problem. Wondering are there any differences between appimage and building mode?

[2022-06-20 15:42] #1130 closed, assigned to markccchiang

[2022-06-21 11:58] kswang1029 opened #1133 "region export permission"
**Describe the bug**
This is reported by a user via email.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
If there is no permission to save a region file, the returned message should be a failure.

**Platform info (please complete the following information):**
the user did not provide platform info

 - OS [e.g. macOS Monterey]:
 - Browser [e.g. chrome, safari, electron a

[2022-06-22 10:05] confluence commented on #1014
Has this been fixed by #1119? Can we close it?

[2022-06-22 10:06] confluence commented on #1069
Has this been fixed by #1118?

[2022-06-22 10:06] kswang1029 commented on #1069
yes

[2022-06-22 10:06] #1069 closed, assigned to markccchiang

[2022-06-22 10:47] confluence commented on #999
Was this fixed by #1119?

[2022-06-22 10:48] kswang1029 commented on #999
yes

[2022-06-22 10:48] #999 closed, assigned to markccchiang

[2022-06-22 10:57] kswang1029 opened #1134 "[R&D] on-the-fly visualization of swapped axes"
This is an R&D project.

Use case:
A user loads a usual cube as ra-dec-channel. Then the user selects two of the axes for image visualization. For example, to visualize channel (as x) vs ra (as y) and animate through the dec axis.

Goal:
have a simple code with casacore for performance benchmarking.

[2022-06-22 13:28] Kechil commented on #1070
Hi @markccchiang, @jolopezl
Sorry for confusion about re-assigning. This is Jorge's task but we thought it would be good for Mark to help out.

[2022-06-22 13:29] Kechil commented on #1094
@markccchiang @jolopezl
This is Jorge's task but perhaps Mark can help too.

[2022-06-23 22:57] astrojysun opened #1136 "Cannot handle pixel values >~3e38 (v3.0.0-beta.2b)"
When opening an image with very larger values (>~1e38), all pixels with values larger than ~3e38 are displayed as `Inf`. The screenshot below demonstrates this issue: all the black pixels show up as `Inf` in the GUI, but they really aren't.

![test](https://user-images.githubusercontent.com/10154364/175428219-412762f6-37b3-4c20-adc3-1c25c6b13f0b.png)

**Platform info:**
 - Backend OS: CentOS 7
 -

[2022-06-23 23:55] kswang1029 commented on #1136
Is this an image with BITPIX=-64 ?

[2022-06-24 01:11] astrojysun commented on #1136
Yes, it is.

[2022-06-24 01:41] kswang1029 commented on #1136
@astrojysun thank you for reporting this. With some internal discussions, we think we know the reason. Will schedule a fix.

[2022-06-27 04:02] kswang1029 opened #1138 "one-pixel position offset in both x and y directions seen in ds9 image-coordinate region made in ds9"
**Describe the bug**
If we made ds9 regions in ds9 and exported them in image coordinates, the resulting region text file is in 1-based image coordinate. When we load the ds9 region text file in CARTA, it appears that CARTA does not apply an 1-pixel offset per direction in the image coordinates so that we see an one-pixel position offset when the regions are rendered as CARTA's image coordinate sy

[2022-06-27 04:03] kswang1029 commented on #1138
would be nice to fix this for v3-final if time allows.

[2022-06-27 17:33] jehibbard commented on #1014
Yes, I get the same error using v3-b3 and following steps 1-6 from my initial report.

[2022-06-28 07:21] #960 closed, assigned to markccchiang

[2022-06-28 07:23] #1129 closed, assigned to pford

[2022-06-28 21:37] jehibbard commented on #1014
I tried another fits cube, this one with FELO-LSR velocity units (an old AIPS cube). I made a copy of it which I gizipped. I then loaded the non-gzipped fits cube, then appended the fits.gz one. CARTA did not disconnect, and things seemed to be going well (the two cubes went through animation together, the zspec looked the same). I opened a cursor info widget and confirmed that the values are the

[2022-06-29 00:07] kswang1029 commented on #1014
I tried the latest dev (including #1119 merged about a month ago) and followed your description to reproduce the issues. It works fine now.

[2022-06-29 18:40] jehibbard commented on #1014
@kswang1029 made an electron version of CARTA with #1119 fixed, and I confirm that it fixes both of the above failure cases - I get the same values/statistics/spectra from both the normal fits and gzipped fits cubes. This ticket can be closed, and thanks!

[2022-06-29 23:03] #1014 closed, assigned to markccchiang

[2022-06-29 23:20] kswang1029 commented on #1014
Credit to @markccchiang and @ajm-asiaa 🙂

[2022-06-30 23:03] pford commented on #1108
@kswang1029 I dug into the casacore code to see how the mask is set for a polygon region.  The mask starts as completely false (no pixels included).  First it iterates through the control points and if two adjacent points have y-coordinates "near" each other, it flags the point as a horizontal line.  Then it iterates through each row of the bounding box (looping over y) and sets the mask to true w

[2022-07-01 00:09] kswang1029 commented on #1108
@pford Thank you for digging this out! So it is the mask generation algorithm.

Regarding the proposed solution, do you mean we still sample each polygon side with 1000 points first on the _reference_ image, then transfer the new lots-control-point polygon to the _matched_ image, then for nearly horizontal sides (reprojected), we remove unnecessary control points? Or we simply use few control poin

[2022-07-01 00:22] pford commented on #1108
I applied the horizontal line test for the approximated polygon in the **reference** image.  But I could do this after the points are applied to the matched image and remove points before creating the matched polygon.

[2022-07-01 00:27] kswang1029 commented on #1108
I see. I suggest we apply the horizontal line check in the matched image then, as a horizontal line in the reference image may not still be a horizontal line in the matched image (projection scheme dependency), and vice versa.

[2022-07-02 01:45] pford commented on #1108
I converted the polygon to the matched image then removed some of the horizontal points.  The number of pixels is close but not exact.  I only tested with the polygon attached in this issue.

[2022-07-02 01:53] kswang1029 commented on #1108
do you consider half-pixel when we remove control points in the horizontal line test? IIRC, if the pixel center is inside the polygon or on the polygon side, it counts. Maybe this is why we see slightly different pixel counts if the matched image has exactly the same image dimensions and pixel size. 🤔 I think the goal is to have matched pixel count when the reference and matched images are identic

[2022-07-05 06:36] markccchiang commented on #1094
I can reproduce it on the server with AlmaLinux OS. But so far I can not find the root cause of this problem. From the crash log, something is wrong in the destruction of `std::vector<float>`. It happens when calculating with a larger 2D plane, for example, `supermosaic.10.fits` has 4224 x 1824 pixels per channel.

[2022-07-05 06:39] jolopezl commented on #1094
I investigated this a lot. It seems to be a false positive. I would still
invest a bit of additional time.

[2022-07-06 13:15] confluence opened #1157 "Editing of preferences causes parsing error and prevents application of some preferences"
I have recently noticed that whenever I edit any preference through the frontend dialog, I get this error in the Firefox console:

[code]

Additionally, while some preferences are applied as normal (e.g. turning event logging on and off), some (e.g. overlay settings) have no effect. They _are_ saved correctly, and are applied the next time I open CARTA.

I have reproduced this on Ubuntu Focal usin

[2022-07-06 13:44] kswang1029 commented on #1157
Might be helpful if you can attached example json files (a working normally one and an edited problematic one).

[2022-07-06 13:46] confluence commented on #1157
@kswang1029 this _isn't_ being caused by a corrupted file -- it happens even when I remove the user directory and a new one is created.

[2022-07-06 16:04] pford commented on #1108
I modified the point selection so the number of pixels now matches.

A point is selected if near a pixel , e.g. y=5048.04 is near 5048.  The problem was that with so many points for the polygon, the next points 5048.02 and 5048.00 were also selected, so these additional points triggered the "horizontal line" mask and added 2-3 pixels (delta x between these points) to the x-range for row y=5048.  N

[2022-07-08 06:55] acdo2002 opened #1143 "incorrect NaN when load fz image"
**Describe the bug**
Loading "M17_SWex.fits.fz", the surrounding NaN values become negative float numbers instead of NaN.
Please compare "M17_SWex.fits.fz" and "M17_SWex.fits" in the carta.
If we use ds9 to read "M17_SWex.fits.fz", the surrounding NaN values are still NaN.
The images can be found in [here](https://drive.google.com/drive/folders/1Wi1WxXk6gg-aQQXhXTTEN8m8vM4bWMcX?usp=sharing)

**To

[2022-07-09 03:23] kswang1029 opened #1144 "loading images via LEL may fail or may be unexpectedly successful"
**Describe the bug**
The directory path in OPEN_FILE message does not update when directory changes. This results in
1) cannot load an image via LEL
2) can load an image via LEL, which does not exist in the current directory

Demo of 1)
Firstly, try to load an image which does not exist in the current directory. It will fail as expected. Then navigate to the directory which contains the image that

[2022-07-09 03:25] kswang1029 commented on #1144
@veggiesaurus This is an issue reported by a v3 beta tester (and sorry I did not pick it up at the time of implementation 🙈). Would you be able to squeeze some time to investigate this? Would be nice to fix this for v3-final if possible.

[2022-07-09 03:50] kswang1029 commented on #1144
Actually, I see identical OPEN_FILE message context in the two cases. So this is probably a backend issue instead. Transferring to backend repo.

[2022-07-09 03:51] kswang1029 commented on #1144
@markccchiang would you be able to investigate this?

[2022-07-12 09:19] #1124 closed, assigned to veggiesaurus

[2022-07-12 09:26] #1144 closed, assigned to markccchiang

[2022-07-12 19:41] jolopezl commented on #1094
At first glance, the crash looks like a false positive. It seems that the reason comes from carta-casacore mixing things up with the address sanitizer, but only of the carta-casacore debian package is used.
With carta-casacore built from scratch, the ICD test sequence passes. I tried the test sequence up to 50 times.  After building carta-casacore from scratch using the same flags as when the debi

[2022-07-12 19:44] jolopezl commented on #876
No evident leaks are pointing to problems with carta-backend at the moment, as far as I can tell. I ran Valgrind with memcheck and massif tools to check for potential issues. I ran the JS code snippet 500 times, 750 times, and 1000 times using an Ubuntu 20.04 docker container. These tools didn't show any evident problems. The program ended all times successfully. I ran the same loop with address s

[2022-07-14 07:26] Jordatious opened #1152 "Feature request: list frequency in file info for single channel image"
In the "File Information" tab of the File Header dialog, "Frequency Range" is listed for cubes. However, nothing is listed for single channel images, even when there's an entry for the frequency within the header. It would be useful to list this as the "Frequency" in the file info tab.

[2022-07-14 13:46] ajm-ska opened #1148 "PV generator getstat permission denied error"
**Describe the bug**
On the carta-controller implementation of CARTA v3.0.0-beta.3 at ASIAA, we can not generate a PV image.
Once the progress bar completes, no PV image appears. Looking at the log files, everything seems to be normal except for one error: `File::getstat error on .: Permission denied`.

**To Reproduce**
Unfortunately, I can not find a way to reproduce the error outside of our cart

[2022-07-14 13:48] kswang1029 commented on #1148
IIRC, the generated image is in RAM. Correct me if I am wrong @pford

[2022-07-14 14:04] veggiesaurus commented on #1148
@ajm-asiaa just wondering, is it connected to a _specific_ image cube?

[2022-07-14 14:10] ajm-ska commented on #1148
It is not. I have tried several image cubes and I get the same error for each one.

[2022-07-14 14:12] veggiesaurus commented on #1148
and those same image cubes work ok on other installations? (e.g. on desktop)

[2022-07-14 14:17] ajm-ska commented on #1148
Yes, they do.

[2022-07-14 14:44] pford commented on #1148
@kswang1029 is correct, the PV image exists as an ImageInterface object in memory.  After this new image is created, Frame::CloseCachedImage calls FileLoader::CloseImageIfUpdated on the source image, not the PV image.

In the backend, whenever access to the image is no longer needed (for example finished reading the data to compute stats), the calling routine calls CloseImageIfUpdated.  This funct

[2022-07-14 14:56] pford commented on #1148
The getstat call is in casacore::File::modifyTime()

[2022-07-14 14:58] kswang1029 commented on #1148
@ajm-asiaa you showed me some other time that the backend console log shows two different time stamps with different timezones differ by 8h (guessing one is UTC and the other is Taipei time). The log from casacore seems to be different from CARTA. Could it be the root cause? @pford does casacore have a “timezone” concept when logging?

[2022-07-14 14:59] pford commented on #1148
`File::getstat error on .: Permission denied.` is a casacore::AipsError so we could try/catch this.

[2022-07-14 15:11] pford commented on #1148
@kswang1029 I get UTC timestamps in casacore and carta-backend logging (in my dev build)

[2022-07-14 15:15] kswang1029 commented on #1148
This is a peculiar example 🤔️
[2022-07-13 13:42:42.896] [CARTA] [info] Session 747042624 [127.0.0.1] Deleted. Remaining sessions: 1
[2022-07-13 13:42:42.896] [CARTA] [info] Sessions in Session Map :
[2022-07-13 13:42:42.896] [CARTA] [info] 	Map id 747042624, session id 747042624, session ptr 0x288f3f0
[2022-07-13 13:42:42.896] [CARTA] [info] No remaining sessions.
[2022-07-13 13:43:05.873] [CARTA]

[2022-07-14 15:58] pford commented on #1148
Thinking some more about the `File::getstat` error, FileLoader calls this using the filename it was created with, which is usually an absolute path to an image.  But in this error it is simply `.`

The source image should have a filename and `getstat` would have been called successfully after other data (raster, histogram, spatial profile) was obtained prior to requesting the PV image.  PV generat

[2022-07-14 16:42] pford commented on #1148
It turns out the filename is blank for a generated image.  Perhaps casacore::File resolves a blank filename with path to the current directory?

The getstat call is bypassed for gz compressed images and LEL images; I will add generated images with no filename to this bypass.

[2022-07-14 19:17] veggiesaurus commented on #1148
nice catch @pford :+1: I think that's exactly what's happening. It's trying to check `getstat` the PWD.

[2022-07-15 04:52] ajm-ska opened #1151 "inconsistent timestamps in the log file"
**Describe the bug**
Myself and @kswang1029 have noticed that the timestamps in the log file are inconsistent. It is clear in the following example:
[code]
It appears carta-casacore is writing in UTC time, but carta-backend is writing in local time, in this case UTC+08:00.

**To Reproduce**
Steps to reproduce the behavior:
1. Change your computer timezone to one that is not UTC time.
2. Use CARTA

[2022-07-15 07:16] #1148 closed, assigned to pford

[2022-07-18 14:45] markccchiang commented on #1132
I have tried to build the CARTA backend on the server (AlmaLinux 8.5) with ASAN and tested it. But still can not reproduce the crash. Wondering it is the packaging problem? @kswang1029 have you tested with the CARTA rpm on almalinux8?

[2022-07-18 15:04] kswang1029 commented on #1132
@markccchiang hmm I cannot reproduce the issue with the rpm on AlmaLinux 8 VM. OK. let's put this on hold and wait until @ajm-asiaa creates the v3-final AppImage which I will test with again. Thanks for investigating this issue 👍

[2022-07-20 09:41] veggiesaurus commented on #1151
@pford do you know whether we can pass some parameter to casacore in order to adjust the logging format?

[2022-07-20 09:48] veggiesaurus commented on #1133
@pford can you handle this for the stable release? It should be relatively easy to fix, I imagine.

[2022-07-20 10:33] veggiesaurus commented on #1157
may be related to not setting content type to JSON

[2022-07-21 02:52] markccchiang commented on #1138
@kswang1029 Should we transfer to 1-based image coordinate when CARTA exports ds9 regions as pixel coordinates?

[2022-07-21 02:57] kswang1029 commented on #1138
@markccchiang yes! this would have best compatibilities.

[2022-07-22 06:55] #1108 closed, assigned to pford, kswang1029

[2022-07-25 06:46] #1133 closed, assigned to pford

[2022-07-25 06:47] #1152 closed, assigned to markccchiang

[2022-07-25 09:48] #1157 closed, assigned to veggiesaurus

[2022-07-25 16:25] #1138 closed, assigned to markccchiang

[2022-07-27 07:07] kswang1029 opened #1159 "[critical for v3-stable release] cannot navigate through file system when trying to load a region file"
**Describe the bug**
This is considered as a regression which I did not pick up from https://github.com/CARTAvis/carta-backend/pull/1142. Apologies...

With #1142, only region files are listed in the directory. However, if we need to navigate to other parent folders with the breadcrumbs, there is no way to access folders therein as they are filtered out.

**To Reproduce**
Steps to reproduce the be

[2022-07-27 07:08] kswang1029 commented on #1159
@pford could you have a look please? My bad not being able to pick it up in #1142.

[2022-07-27 07:11] veggiesaurus commented on #1159
@kswang1029 what is the backend sending to the frontend? Are we sure it's not sending directories and the frontend is filtering them out?

[2022-07-27 07:15] kswang1029 opened #1160 "[critical for v3-stable release] backend crash when loading a ds9 region file"
**Describe the bug**
The backend died when loading the attached ds9 region file. This is picked from ICD test.

[M17_SWex_regionSet2_pix.reg.zip](https://github.com/CARTAvis/carta-backend/files/9195954/M17_SWex_regionSet2_pix.reg.zip)

[M17_SWex_ch0.fits.zip](https://github.com/CARTAvis/carta-backend/files/9195969/M17_SWex_ch0.fits.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. load th

[2022-07-27 07:15] kswang1029 commented on #1160
@pford help wanted too. 🙈

[2022-07-27 07:17] kswang1029 commented on #1159
It seems so.

![Screen Shot 2022-07-27 at 15 16 41](https://user-images.githubusercontent.com/20819712/181185544-767e1b78-8fba-4231-abd4-ab08f6c51139.png)

[2022-07-27 09:55] kswang1029 opened #1161 "[critical for v3-stable release] backend crash when trying to load an unsupported image file"
**Describe the bug**
Usually this should not happen via the GUI as the default file list parser only include supported image formats in the resulting file list. However, in the preferences now we have an option to show _all_ files so the file list can have all other unsupported files such as pdf, png, etc. Then if we single click on one, the file info shows it is unsupported as expected. However,

[2022-07-27 09:56] kswang1029 commented on #1161
@markccchiang could you have a look?

[2022-07-27 15:27] pford commented on #1159
@kswang1029 what should happen when the filter is "All Files" (no content checking) and there is a CASA image?  Should it be (1) listed with other directories, (2) listed as CASA, or (3) determined that it is an image and not list it?

[2022-07-27 16:09] pford commented on #1159
I went with option 1 since the point of All Files is speed.

[2022-07-27 22:13] pford commented on #1151
casacore::LogMessage has a set format which includes the time string from GMT, and there is no way to use local time without a casacore change.  However, you **can** set spdlog to use UTC instead of local time.

On the casacore side, most of the casacore logging is info and warnings, and any SEVERE-priority messages "will often be followed by a thrown exception" according to the header (which can

[2022-07-27 22:14] kswang1029 commented on #1159
Yes 👍

[2022-07-28 00:08] kswang1029 commented on #1151
I wonder if we should set spdlog to UTC as well? It is possible that the CARTA server is not at the same time zone as the user is. So it is possible that the user needs to deal with three timezones, user timezone, CARTA backend timezone, and UTC from casacore.

[2022-07-28 03:54] ajm-ska commented on #1151
I vote for having spdlog report in UTC time. It sounds like the easiest solution.

I'm not sure about fewer casacore messages. On one hand, "WARN" messages from a single image could take up hundreds of log file lines, but I'm not sure if they could be important for debugging CARTA?

As for the format of the timestamps e.g.

Originally I was naively thinking that the casacore style log could be cha

[2022-07-28 07:26] #1159 closed, assigned to pford

[2022-07-28 07:32] #1161 closed, assigned to markccchiang

[2022-07-28 07:33] #1160 closed, assigned to pford

[2022-08-01 01:25] Jordatious opened #1166 "CARTA crashes when using beam tables with 64-bit floats"
An issue was discovered by @amirkazemim where certain FITS cubes he was producing with a custom script would not open on the IDIA CARTA server. CARTA would crash trying to read the FITS file in file browser, after which it would display a "Connection lost" error. Amir reduced the issue to the beam table being written as 64-bit floats (the astropy default), whereas when 32-bit beam tables were used

[2022-08-01 05:50] kswang1029 commented on #1017
close for now as the examples are less realistic. This serves as a note for the future if there is a user feedback on this.

[2022-08-01 05:50] #1017 closed, assigned to nobody

[2022-08-02 08:27] #1070 closed, assigned to markccchiang

[2022-08-03 03:20] kswang1029 commented on #1151
@pford @veggiesaurus @confluence if it is a one-linear to set spdlog in UTC, shall we get this in in v3-stable?

[2022-08-03 05:45] markccchiang commented on #1151
I think we can just change [this code line](https://github.com/CARTAvis/carta-backend/blob/dev/src/Logger/Logger.h#L51)  in `Logger.h` as
[code]

[2022-08-03 05:47] kswang1029 commented on #1151
thanks for checking, would you make a PR then?

[2022-08-03 06:07] ajm-ska commented on #1151
@kswang1029 What is your opinion about the different formats of the time stamps?

[2022-08-03 06:09] kswang1029 commented on #1151
if we need a casacore update to show the timestamp down to millisecond, I suggest we handle in later (v4). But if it is not possible, then I am fine with it in my pov and open to other opinions.

[2022-08-03 06:12] ajm-ska commented on #1151
Do we need carta-backend/spdlog to show millisecond timestamps?

[2022-08-03 06:33] kswang1029 commented on #1151
I am more inclined to have millisecond timestamps as such would be handy when we need to debug.

[2022-08-03 06:37] ajm-ska commented on #1151
@kswang1029 OK. One more question; What is your opinion on the square brackets?
spdlog shows square brackets, casacore has no brackets.

[2022-08-03 06:40] kswang1029 commented on #1151
better readability with [ ] in my pov. I don't have a preference on the consistency here as currently it is handy to tell which part is from casacore.

[2022-08-03 06:47] veggiesaurus commented on #1151
I think our goal should be to have all cassacore messages piped through our logging code, so that we have things like
`[2022-07-15 12:07:27.831] [casacore] INFO`.

[2022-08-03 07:56] kswang1029 opened #1169 "missing casacore log in carta.log"
**Describe the bug**
in the backend console we can see casacore log as well as carta log. Example is

However, it appears that casacore log is missing in the carta.log file.

In addition, it would be good to have consistent format to show casacore log (with brackets).

**Platform info (please complete the following information):**
 - OS [e.g. macOS Monterey]: macOS Monterey
 - Browser [e.g. chrome

[2022-08-03 10:10] #1116 closed, assigned to confluence

[2022-08-04 00:58] kswang1029 opened #1170 "update version string for v3-stable release before tagging"
as title

The version string in the CHANGELOG needs to be updated as well.

[2022-08-04 06:13] kswang1029 opened #1172 "configure the width and height of the sampling box along line and polyline regions (backend)"
user feedback from the v3 beta test

Currently when we generate a pv image or a spatial profile, the "height" (box size along the trajectory) is fixed to 3 unit steps to avoid sampling issues resulting NaN stripes or broken spatial profiles. This is an enhancement so that users can not only adjust "width" (already supported) but also the "height" of the sampling boxes. Effectively, this is to be a

[2022-08-04 06:23] kswang1029 opened #1173 "support spatial-spectral (aka PV) images where the spatial axis is RA/Dec/GLON/GLAT etc. (backend)"
user feedback from v3 beta test

A special kind of image cube slice along the RA/Dec/GLON/GLAT etc. axis can be made. This is equivalent to generation of a pv image with a horizontal or vertical pv cut. The difference is the OFFSET axis is now in world coordinates.

The companion frontend issue is https://github.com/CARTAvis/carta-frontend/issues/1945

[2022-08-04 06:57] kswang1029 opened #1174 "increase the upper limit of the averaging width for line and polyline regions (backend)"
user feedback from v3 beta test

With the v3 release, the upper limit of the averaging width for line and polyline analytics is 10. Users would like to have a greater upper limit (20) so that they can apply averaging more than one beam width (some users prefer oversampling a beam element).

The companion frontend issue is https://github.com/CARTAvis/carta-frontend/issues/1949

[2022-08-04 07:04] kswang1029 opened #1175 "PV generator: support spatial as x and spectral as y AND spatial as y and spectral as x (backend)"
user feedback from v3 beta test

This is an enhancement that users can configure the axes order of the resulting pv image from the pv generator. With v3 release, the offset axis is in x and the spectral axis is in y. We need to provide an option to generate a pv image with the offset axis in y and the spectral axis in x.

This requires protobuf message update.

The companion frontend issue is http

[2022-08-04 07:09] kswang1029 opened #1176 "Having an option to keep or replace generated pv images when a new request is made (backend)"
user feedback from v3 beta test

With v3 release, when a new request made in the pv generator or moment generator, generated images from the previous request will be removed. Users would like to have an option to keep or replace the pv or moment images.

The companion backend issue is https://github.com/CARTAvis/carta-frontend/issues/1951

[2022-08-04 07:14] kswang1029 opened #1177 "Set a range to the spectral axis to generate a pv image (backend)"
user feedback from v3 beta test

With v3 release, a PV image is generated using the entire spectral axis along the pv cut. The enhancement is to be able to set a spectral range to generate a pv image. This is helpful to focus on a certain line feature in the cube.

The companion frontend feature is https://github.com/CARTAvis/carta-frontend/issues/1952

[2022-08-04 07:20] kswang1029 opened #1178 "Support loading swapped-axes image cubes (eg RA-Channel-Dec) (backend)"
user feedback from v3 beta test

This is to support rotated cubes such as RA-Channel-Dec.

The backend needs to be able to recognize such cubes and generate proper file info.

The companion frontend issue is https://github.com/CARTAvis/carta-frontend/issues/1953

[2022-08-04 07:35] #1151 closed, assigned to pford, markccchiang

[2022-08-04 08:09] kswang1029 opened #1179 "Progressive update and cancellation of spatial profiler generation (backend)"
user feedback from v3 beta test

Similar to the progressive update and cancellation features in the spectral profiler widget, the spatial profiler widget should also have the same features as a visual indication of the progress for better UX.

The companion frontend issue is https://github.com/CARTAvis/carta-frontend/issues/1954

[2022-08-04 08:35] veggiesaurus commented on #1179
it's not really clear to me _why_ this is needed... shouldn't this be extremely quick?

[2022-08-04 08:38] kswang1029 commented on #1179
it is not. Sometimes it takes quite some time to get a spatial profile. The underlying reason is not clear. @pford do you know where the bottleneck is?

[2022-08-04 08:43] veggiesaurus commented on #1179
we normally have the data in memory, but I guess if we're using casacore it tries to load things again.

[2022-08-04 09:29] markccchiang opened #1180 "Refactor the timer for performance measurements"
The timer used to measure performance in the code caused me a lot of reading noise. It would be better to refactor this part of the code in a shorter syntax.

[2022-08-04 10:18] #1143 closed, assigned to pford

[2022-08-04 14:49] pford commented on #1179
I assume this is for region spatial profiles.  The default region is 'Active', so if the user creates a region the profile widget clears the cursor profile.  Region spatial profiles are only valid for point, line, and polyline, so if the active region is another type the profile is not generated and the widget remains blank. (I think the frontend should not clear and request a spatial profile for

[2022-08-06 09:38] confluence commented on #1078
This was completed a while ago (arm is enabled in both the test and production PPAs).

[2022-08-06 09:38] #1078 closed, assigned to confluence

[2022-08-06 14:31] #1180 closed, assigned to markccchiang

[2022-08-11 01:57] kswang1029 commented on #1110
refer to #1177

[2022-08-11 01:57] #1110 closed, assigned to nobody

[2022-08-11 02:42] kswang1029 commented on #1132
tested with the v3-rc releases and the issue is gone.

[2022-08-11 02:42] #1132 closed, assigned to markccchiang

[2022-08-14 07:12] ajm-ska commented on #1032
We can close this now. The Jenkinsfile-full has been modified with some improvements, including using curl to report the build status to Github, so the original issue has been eliminated.

[2022-08-14 07:12] #1032 closed, assigned to ajm-ska

[2022-08-17 09:25] ajm-ska commented on #1170
Done

[2022-08-17 09:25] #1170 closed, assigned to confluence

[2022-08-18 00:59] Jordatious opened #1182 "Error importing region files when extension missing"
As observed by @pjmac1105 and shown [here](https://www.dropbox.com/s/caueuymmnlv1ok8/2022-08-12_13-54-30.mp4?dl=0), CARTA v3.0.0-beta.3 claims "Region Type not supported" after exporting a region file without including the extension in the file name and then trying to import it again. When explicitly including the file extension in the name, the regions import just fine. I assume the CARTA develop

[2022-08-24 23:53] kswang1029 opened #1184 "migration preferences and layouts from v3-beta to v3-stable"
If the schema does not change, it seems okay to just copy ~/.carta-beta/config/preferences.json to ~/.carta/config/preferences.json. Same for layouts.

However, what would happen if the schema version does not match? (ie v3-stable with a newer schema but v3-beta with an older schema?).

Should we consider to have a better way for such migration process?

[2022-08-24 23:53] kswang1029 commented on #1184
@veggiesaurus @confluence @YuHsuan-Hwang help wanted.

[2022-08-25 02:22] kswang1029 opened #1185 "Initial support for saving/restoring of workspaces (backend)"
Associated frontend issue https://github.com/CARTAvis/carta-frontend/issues/1272

This a feature that CARTA can save a snapshot the the state in the GUI and restore it later. Snapshots will be termed "workspaces"

More details will be provided.

[2022-08-25 02:43] kswang1029 opened #1186 "channel map view (backend)"
associated with https://github.com/CARTAvis/carta-frontend/issues/1203

requirement doc is attached: https://docs.google.com/document/d/1bdjwuGSatu1ZhmW2YbxKvVGea1i20B6W0luzDZotdao/edit#heading=h.gjdxovqft8g1

[2022-08-26 07:34] veggiesaurus commented on #1184
the schema is supposed to be versioned, and we have an upgrade function on the frontend. So this _should_ be ok, although I'm not sure how carefully we've tested. In future I suggest we make an e2e test for it

[2022-08-26 07:36] kswang1029 commented on #1184
Wonder if we need to have an import preferences menu in the preferences dialog? Same for layouts, code snippets, etc.

[2022-08-26 07:37] veggiesaurus commented on #1184
it should just occur automatically when you copy/paste. Or do you mean if we add an import/export button in the preferences menu to export a tar.gz with snippets, layouts, preferences?

[2022-08-26 07:46] ajm-ska opened #1187 "BUNIT map header appears to be case sensitive"
**Describe the bug**
We have received a helpdesk ticket from a user who has an issue with a header in their image files.  `BUNIT = 'Jy/Beam'` results in the statistics widget showing NaN for FluxDensity. The user discovered that if they modify the header to `BUNIT = 'Jy/beam'`, then CARTA correctly displays the FluxDensity value. The user says the same problem occurs in both CARTA v2.0 and v3.0.

[2022-08-26 08:01] kswang1029 commented on #1184
yes and validate them.

[2022-08-26 18:18] jehibbard opened #1188 "Can't re-read in CRTF files that have regions with spaces in their names"
**Describe the bug**
CARTA v3.0 won't read in CRTF file when region names have spaces in them

**To Reproduce**
Steps to reproduce the behavior:
1. Open an image
2. Create a region
3. In the region manager, give it a name with spaces in it (e.g. Disk Red Edge, Disk Blue Edge)
4. Export the region as a CRTF file
5. Delete the regions
6. Read the CRTF file that you previously saved
7.  CARTA will po

[2022-08-29 03:01] markccchiang commented on #1134
I have created a test branch [mark/1134_test_swapped_axes_animation](https://github.com/CARTAvis/carta-backend/tree/mark/1134_test_swapped_axes_animation) and tested the performances of getting channel-RA or channel-DEC slice data. For example, running the test with `./carta_backend_tests --gtest_filter=SwappedAxesAnimationTest.\*` command and I got the following results:

<img width="896" alt="截圖

[2022-08-29 08:10] veggiesaurus commented on #1185
Google doc [here](https://docs.google.com/document/d/17OL0pu7WDV9RTLrUZIKFD3-XjjJjuFAcLx0h49eTgOg/edit?usp=sharing)

[2022-08-29 08:13] #1106 closed, assigned to confluence

[2022-08-29 08:41] confluence opened #1189 "Add TileCache tests with mock objects"
~This is part of #1109. Add tests for the `Frame` class which use mock objects for all the complex child objects that Frame depends on (the file loader, tile cache, etc.). This should also be a proof of concept of the kinds of modifications which need to be made to the source to allow mock objects to be substituted in the tests.~

Following the discussion at the F2F, instead of starting with the l

[2022-08-30 23:05] pford commented on #1182
This was fixed after v3b3 for release 3.0.0.  I just tested with my developer build and with a Linux AppImage downloaded from the website.

[2022-08-30 23:21] pjmac1105 commented on #1182
awesome, i'll download the new version. Thanks !

[2022-08-31 15:48] markccchiang commented on #1174
I think the backend does not stick to the upper limit of averaging width to 10. It could be solved by simply modifying the frontend and setting the max averaging width to 20. I have created a testing frontend branch [mark/1949_increase_the_width_upper_bound](https://github.com/CARTAvis/carta-frontend/tree/mark/1949_increase_the_width_upper_bound) and it works fine to me so far.

[2022-08-31 15:57] markccchiang commented on #1178
@kswang1029 Do we have the sample file of the rotating cube to do the test?

[2022-08-31 23:53] kswang1029 commented on #1174
I see. Me overthinking the problem! Would you file a frontend PR then?

[2022-09-01 00:01] pford commented on #1174
I did not think about checking the width since the value comes from the frontend which will not go over the limit.  But the check should be added to the backend if this will be supported by scripting, where the width could be any crazy number.

[2022-09-01 00:12] kswang1029 commented on #1174
good point. Shall we hardcode an upper limit of 20? @markccchiang

[2022-09-06 06:12] markccchiang commented on #1178
@kswang1029 Is it OK to load a swapped-axes cube and render it as `ra-dec` image for now? The backend needs to tell the frontend real axis numbers of ra, dec, spectral, and stokes axes. So the frontend can render a `ra-dec` image with the correct coordinate system (in AST setting). I have created a backend branch [mark/1178_support_swapped_axes_images](https://github.com/CARTAvis/carta-backend/tre

[2022-09-06 06:22] kswang1029 commented on #1178
The main goal is to let the backend load a cube with the axes in any order and let the frontend render the first two axes as x and y and being able to animate in z.

[2022-09-06 20:48] pford commented on #1177
Added `spectral_range` (channel min and max `IntBounds`) to `PvRequest` message, as in `MomentRequest` message.
carta-protobuf branch `pv_spectral_range`

[2022-09-07 00:52] kswang1029 commented on #1177
@pford regarding https://github.com/CARTAvis/carta-backend/issues/1175 do you think we can also modify the `PvRequest` message to include the axes definition too? Users would like to have the freedom to set x as spatial and y as spectral or x as spectral and y as spatial.

[2022-09-07 02:42] pford commented on #1177
Yes, if that would be easier for the frontend development and testing.

[2022-09-07 02:44] kswang1029 commented on #1177
@pford ok let's do this. @crocka needs it for https://github.com/CARTAvis/carta-frontend/issues/1950

[2022-09-07 02:54] pford commented on #1176
I think for simplicity this should be a boolean "overwrite" field in the PvRequest message.  What should the name of the second PV image be?

Update: field changed to boolean "keep" so that default (false) is current behavior.

[2022-09-07 02:55] kswang1029 commented on #1176
Shall we append a number?

[2022-09-07 02:56] pford commented on #1175
I think this could be a simple boolean `reverse` flag in PvRequest, with false being the current implementation.

[2022-09-07 03:07] pford commented on #1176
Starting with 1 (pv, pv1, pv2) or 2 (pv, pv2, pv3)?

[2022-09-07 03:12] crocka commented on #1177
We have three options for x and y axis (spectral, spatial, distance). Do we add two fields to the PvRequest message (string xAxis and string yAxis)?
<img width="657" alt="Screen Shot 2022-09-06 at 11 07 25 PM" src="https://user-images.githubusercontent.com/94193689/188780298-f32d34dd-77ee-4db5-934e-bfda1834ccb9.png">

[2022-09-07 03:18] kswang1029 commented on #1176
I prefer option 1 but either way is fine. 🙂

[2022-09-07 03:20] kswang1029 commented on #1177
@crocka we should just use spatial and spectral for users. As the spatial is offset or distance you will be able tell from the image header provided from the backend.

[2022-09-07 03:42] kswang1029 commented on #1176
As users may close one of the in-ram PV images at any time, we can just keep increasing the index and don’t re-use the index.

[2022-09-07 06:00] ajm-ska opened #1192 "Improvement: Use Github Actions for carta-backend CI"
Our current carta-backend CI is handled by Jenkins. The Jenkins instance runs locally on a server at ASIAA and sends the jobs out to local nodes at ASIAA. We can not guarantee that the Jenkins service and nodes are online and functional 24 hours a day, 365 days a year.

An improvement would be to let Github Actions handle the CI instead.

Although it would not be practical to use the free [Github-

[2022-09-08 22:51] pford commented on #1176
I just noticed the `moment` part! I think there should be separate branches and PRs (frontend, backend, and protobuf) for the Moment changes.

@crocka and I have been chatting about this issue, with `keep` = append new PV image with new name, `replace` = close PV image and append new PV image with same name.  But when multiple PV images exist and `replace` is used, which image or images are closed

[2022-09-08 23:50] kswang1029 commented on #1176
how about we close all generated images associated with the source image when “replace” mode is selected? The idea is similar to how we handle “load image” and “append image”. When it is load image we close all loaded images first then load the new image. When it is append image we do not close any loaded images and append the image.

[2022-09-09 15:07] pford commented on #1176
Ok, that makes sense.  In this case would the new PV image be simply "pv" (reset index to 0 and future images 1, 2, etc.), or continue incrementing the previous index?

[2022-09-09 23:31] kswang1029 commented on #1176
Maybe we can reset the index if that makes sense to you too. I don’t have preference though.

[2022-09-15 09:52] ajm-ska opened #1196 "carta-backend built with ASAN flags crashes on RedHat9 (GCC 11.2.1)"
**Describe the bug**

On RedHat9 and AlmaLinux9 (using GCC 11.2.1), if the carta-backend is built with the ASAN flags, then the `FileListTest.SetTopLevelFolder` and `FileListTest.AccessForbiddenFolder` Unit Tests crash with this error:
[code]

- The other two FileListTest Unit Tests (`SetStartingFolder` and `AccessFalseFolder`) pass, as do all the other Unit Tests.
- The ASAN flag built carta-back

[2022-09-16 13:18] ajm-ska opened #1197 "update the Dockerfiles"
The carta-backend Dockerfiles should be updated.

We should have a Dockerfile for Ubuntu 22.04.

AlmaLinux 9 is now available, so we need to split the old` Dockerfile-AlmaLinux` (which uses almalinux:latest) into two.

We are starting to switch over to the new [CARTAVis Copr RPM repository](https://copr.fedorainfracloud.org/coprs/cartavis/carta/) so should adjust the RedHat based Dockerfiles accor

[2022-09-28 10:20] confluence commented on #1196
This was fixed by #1199.

[2022-09-28 10:20] #1196 closed, assigned to ajm-ska

[2022-09-28 10:22] kswang1029 commented on #1174
this is done.

[2022-09-28 10:22] #1174 closed, assigned to markccchiang

[2022-09-28 10:29] confluence opened #1201 "Add annotations to the backend code"
The backend code is currently not adequately documented. We should add annotations to all classes and functions which describe their interfaces and their intended function. If we use a format compatible with an automatic documentation generator like Doxygen or Sphinx, we will be able to use it to produce developer-facing documentation for the codebase automatically.

This is an epic; we should mak

[2022-09-28 12:45] confluence commented on #1201
Here's a [possible direction](https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/) (which would allow us to use Sphinx and Read The Docs, which we already use for other components and should also be able to use for the frontend).

[2022-09-28 12:51] confluence commented on #1201
Here is a [similar project](https://exhale.readthedocs.io/en/latest/). We may be able to do something simpler; the preamble lists some alternatives.

[2022-09-28 15:02] pford opened #1202 "Option to keep or replace generated moment images when a new request is made (backend)"
Split from #1176 , now for PV images only.  This is for moment images only.

[2022-09-28 15:04] pford commented on #1176
@kswang1029 @crocka I created a separate backend issue #1202 for keeping moment images.

[2022-09-28 16:10] pford commented on #1202
Created protobuf branch `moment_keep_option`

[2022-09-28 16:35] pford commented on #1202
@kswang1029 each moment can be requested individually and has a unique name, i.e. "image.moment.average", "image.moment.integrated", etc.  We can append an index to these names, as in PV image, but are the frontend/backend required to keep track of which moments have been generated? Or is it indexed by generation?

For example, the user requests mom -1 keep=false ("image.average"), then mom 0 keep