[2019-12-10 11:59] veggiesaurus commented on #357
@kswang1029 yes. I think the simplest solution is to add a dropdown button in the file info / header panel that allows the user to select the hdu before loading

[2019-12-10 13:23] kswang1029 commented on #46
@pford Yes, confirmed and the performance is great! 👍 👍 👍

[2019-12-10 15:04] kswang1029 opened #396 "support VLT MUSE FITS cubes"
From user feedback:
--
Hello,

I was playing around with CARTA, which is quite good-looking, and I wanted to use it on my MUSE datacubes. But this does not work - I get:

Error loading file: File DATACUBEFINALexpcombine_20190505T042946_5234143d.fits does not exist.

The same cube loads nicely with ds9 and no problem loading it with astropy or IDL either:

In [1]: from astropy.io import fits

In [2

[2019-12-10 15:06] kswang1029 commented on #396
I have obtained a MUSE cube from ESO archive. Also replied Jarle to see if we could get a small sub cube of his data for further diagnostics. This feels like a header issue.

[2019-12-10 18:21] pford commented on #396
The "does not exist" message appears when CARTA tries to resolve the filename into an absolute path then stat/lstat fails on that path.

[2019-12-11 01:26] kswang1029 commented on #13
@pford Mostly looking good. 👍
Some minor suggestions:
1) in the file info, "Celestial frame = J2000" should be "Celestial frame = FK5, J2000" if "EQUINOX = 2000.0". We will need to display "RADESYS, EQUINOX" keyword. The two common cases would be "FK5, J2000" and "FK4, B1950". The exact number depends on "EQUINOX". If it is "RADESYS = ICRS", we simply display "Celestial frame = ICRS".
2) in the he

[2019-12-11 01:46] kswang1029 commented on #13
@jott3077 @arusstaylor @low-sky if you have time, could you check the new format of displayed header and file info are correct and consistent? You may use http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev
Thanks for your help.

[2019-12-11 01:50] kswang1029 commented on #172
Tested. If the backend has been time out and users click the resume button on the GUI, nothing will happen and users see a loading bar forever. Reported to https://github.com/CARTAvis/carta-frontend/pull/617

[2019-12-11 01:54] kswang1029 commented on #369
@pford Verified. 👍

[2019-12-11 01:54] #369 closed

[2019-12-11 01:56] kswang1029 commented on #372
@pford Verified. 👍

[2019-12-11 01:56] #372 closed

[2019-12-11 01:59] kswang1029 commented on #394
@pford Looks good to me (please see my other comments in https://github.com/CARTAvis/carta-backend/issues/13 point (4)).

@jott3077 Could you check too (http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev)?

[2019-12-11 02:54] markccchiang commented on #383
I am writing a VOTable parser, which utilizes the LibXML2. There would be an iterator that iterators through a whole VOTable file. The filtered data will be collected by a callback function or an object. I will refer to a mock-up example in @panchyo0's doc. Please remind me if there are more functionalities (or the detail cases) that we want to apply.

[2019-12-11 06:37] veggiesaurus commented on #172
@kswang1029 is the backend still running?

[2019-12-11 06:41] kswang1029 commented on #172
no. The case here would be that user did not click the resume button **before** the backend session is removed. The frontend should somehow provide a way to notify users that the session cannot be resumed.

[2019-12-11 06:42] veggiesaurus commented on #13
I've checked, and those headers only occur once in the actual HDF5 file, so I'm not sure where the additional header entries are coming from. Which file are you testing?

I think that's probably a frontend issue, if the header values are being sent there as floats

[2019-12-11 06:42] veggiesaurus commented on #172
The backend _session_ or the backend process itself?

[2019-12-11 06:43] veggiesaurus commented on #396
Does the MUSE cube load ok for you?

[2019-12-11 06:45] kswang1029 commented on #396
@veggiesaurus not even shown in the file list.... I doubt there might be different versions of MUSE cube structure/header.

[2019-12-11 06:46] kswang1029 commented on #13
@veggiesaurus set_QA/M17_SWex.hdf5

[2019-12-11 06:50] veggiesaurus commented on #383
Are you parsing and iterating _each time_ the user changes the filter, or are you building the parsed object once, and then applying the filter to it? I don't think we're looking at catalogues that are too large to fit in main memory after being added to our custom structure, so we should do the reading and parsing once (when the file is opened), and then apply the filter to our custom-constructed

[2019-12-11 07:08] markccchiang commented on #172
When backend time out, the session is closed. The frontend should be aware
of the backend does not exist (green light on the top right of the panel
becomes red)?

Angus Comrie <notifications@github.com> 於 2019年12月11日 週三 下午2:42寫道：

[2019-12-11 07:10] veggiesaurus commented on #172
@kswang1029 in this case, was the indicator light still green?

[2019-12-11 07:11] kswang1029 commented on #172
@veggiesaurus @markccchiang allow me to try again to reproduce it and observe more carefully.

[2019-12-11 07:14] markccchiang commented on #383
Ok, I will adopt the way that reading and parsing once and then apply the filter to our custom-constructed object.

[2019-12-11 07:18] kswang1029 commented on #172
ok, looks likely it was because the backend process was gone due to dev update. I just tried again with a long wait, session resume still works.

[2019-12-11 07:55] veggiesaurus commented on #396
I've done some digging into this. The reason it's not shown in the file list is because CARTA thinks there are no valid image HDUs. Digging deeper, I suspect what's happening is that it's failing to skip through HDUs, because it detects the number of HDUs correctly (3), but `fits_input.hdutype()` (line 38 of FitsHduList.h [which we should probably move into a source file]) returns `PrimaryArrayHDU

[2019-12-11 10:45] arusstaylor commented on #13
Looks ok to me.  I don't see any issues.  I would though like to have the creation date of the file listed in the file information window.

[2019-12-11 21:30] jott3077 commented on #13
would it be possible to show the velocity doppler definition (radio, optical) also in the 'file information'?

I am also looking at the M100_combine_CO_cube.imaging.mom0.pbcor
and
M100_combine_CO_cube.imaging.mom0.pbcor.fits
where I assume one is just the fits version of the other CASA image.

There are differences in the header. Spectral axis moves between 3 and 4 but also the CRVAL numbers are d

[2019-12-11 21:31] jott3077 commented on #13
it seems not to be possible to open the miriad file that is mentioned in the ticket description

[2019-12-12 02:10] kswang1029 commented on #13
your test images are at set_QA/images-velocity

please let me know if those are sensitive data, then I will remove it.

[2019-12-12 02:40] kswang1029 commented on #13
CTYPE3 = FREQ
CRVAL3 = 114732897321.199997
CDELT3 = -1922516.709869
CRPIX3 = -8.000000
CUNIT3 = Hz

CTYPE4 = FREQ
CRVAL4 = 114732897321.234528
CDELT4 = -1922516.709869
CRPIX4 = -8.000000
CUNIT4 = Hz

Looking at the values here I wonder if this is due to the fits converter. In this case, the error is tiny.

[2019-12-12 17:24] jott3077 commented on #13
Even if they are tiny we should understand where they come from. There should be no reason that they are different and there could be cases where it makes a big difference. Could indeed be the converter and not CARTA. @kswang1029 Can you check the miriad image that is unavailable right now, too?

[2019-12-12 18:05] pford commented on #13
With the current branch (pull request pending), both images will show CRVAL = "1.147329e+11", CDELT = "-1.922517e+06" in the header strings.  The numerical values are CRVAL = 114732897321.23453 (CASA), 114732897321.2 (FITS) and CDELT = -1922516.7098693848 (CASA), -1922516.709869 (FITS).

M100_12m_CO_central.image.miriad will show file info in the branch.  The issue is that the 3D image has no head

[2019-12-12 18:18] pford commented on #13
@arusstaylor I have named the header DATE -> HDF5_DATE since the FITS header converter replaces DATE with its own current date value, as noted.  CARTA reads the HDF5 headers in order to create the CartaHdf5Image, so it can retain this value.  There is no way I can find to capture the DATE for the other image types.

DATE is a bit confusing; from what I can tell, if an image with a DATE header is c

[2019-12-12 22:14] pford commented on #13
Changes in response to testing merged into dev.

[2019-12-13 00:09] pford commented on #396
I added the BYTE datatype to be treated the same as CHAR, with `<T>` = `<unsigned char>`.  Merged into dev and ready to test.

[2019-12-13 06:16] #385 closed, assigned to veggiesaurus

[2019-12-13 06:44] kswang1029 commented on #396
@pford I am retrieving more MUSE image cubes from ESO archive. It will take a while.

[2019-12-13 21:56] pford commented on #374
Noting here that miriad-mask outer values are 0 not masked (shown as 0 in casaviewer), so CARTA also shows them as 0 after this fix.  The masked values in miriad-mask.fits are shown as NaN in CARTA.

[2019-12-13 22:03] pford commented on #389
@kswang1029 should CARTA be consistent with imstat, or override the imageanalysis region import behavior so that the region pixel coordinates match the CRTF pixel coordinates?

[2019-12-16 10:48] kswang1029 commented on #396
With few more MUSE fits cubes from the ESO archive, I think this fix works well now. 👍

[2019-12-16 10:49] #396 closed, assigned to kswang1029

[2019-12-16 10:56] veggiesaurus commented on #396
I guess we won't know if the user's issue is fixed until 1.3?

[2019-12-16 11:07] kswang1029 commented on #389
@pford I would suggest we to be consistent with imstat. @jott3077 comments?

The ambiguity here I think is that all regions are defined in cartesian coordinate and when they are rendered, we don't consider projection effect at the moment. When we define a region with angular size (for example, a box centered at (100deg, -10deg) with width 10 arcmin and height 5 arcmin), the region looks the same a

[2019-12-16 11:10] kswang1029 commented on #396
No, unless we proactively provide a new package to the user. To do this or not, I think we need further insight from PM and the management team.

[2019-12-17 02:09] pford commented on #374
Ready to test in dev.  Working on patch for release/1.2 branch to backport this change.

[2019-12-17 02:56] kswang1029 commented on #374
@pford Thanks for the fix.
For casa image, yes, mask works (e.g., set_QA/M17_SWex.image vs set_QA/M17_SWex_masked.image)
![Screen Shot 2019-12-17 at 10 55 27 AM](https://user-images.githubusercontent.com/20819712/70961065-c1c35a80-20bb-11ea-9c05-0b58908d2665.png)

For miriad image, it seems not working. (e.g., set_QA/M17_SWex.miriad vs M17_SWex_masked.miriad)
Expected mask looks like this (from MI

[2019-12-17 05:10] kswang1029 opened #401 "cursor spectral profile not working"
frontend: origin/dev 1d32861 2019-12-13 14:08:48 CST
backend: origin/dev c01bbb8 5034 2019-12-17 10:09:24 CST

With c01bbb8, cursor spectral profile does not work. Region spectral profile still works.

Tracing back with mix n match page, it seems from pam/374_image_mask branch.

[2019-12-18 09:29] kswang1029 commented on #46
Now loading cube with per-plane-beam is much much faster than before. Close this issue.

[2019-12-18 09:29] #46 closed

[2019-12-18 10:54] ajm-ska commented on #314
I never encountered the need to install `protobuf-compiler` when building in ubuntu but we can add it to the README.md

[2019-12-18 11:00] ajm-ska commented on #314
Modification made

[2019-12-18 11:00] #314 closed

[2019-12-18 17:18] pford opened #402 "Multi-beam image: file info and beam table"
Followup work for #46 per-plane-beam images:

File info should show median beam instead of restoring beam.  When the user loads the image, the full beam table should be sent so that the beam for each image plane may be shown accurately.  I have proposed adding this to the OpenFileAck message in this [doc](https://docs.google.com/document/d/1nFa1OoMKz4a0i-VId6_1qXjkzxq1U7W6oPDen4JxjUk/edit).

[2019-12-18 17:21] pford commented on #402
Assigned 1 story point since this has been implemented in the backend, just need to test and revise as needed.

[2019-12-18 17:40] pford commented on #357
This has been implemented in a backend branch, according to the changes in this [doc](https://docs.google.com/document/d/1nFa1OoMKz4a0i-VId6_1qXjkzxq1U7W6oPDen4JxjUk/edit).  The file_info_extended field in FileInfoResponse has been changed to a map with key=hdu (string) and value=FileInfoExtended for that hdu, including a computed_entries header entry for the extension name.

This needs a frontend

[2019-12-18 20:48] veggiesaurus commented on #357
The estimate should keep track of the total amount of work required to solve an issue, so that we can get a better idea of how many story points go into a release.

[2019-12-18 21:10] pford commented on #374
MiriadImage returns isMasked = false.  Added casa label, will investigate further.

[2019-12-18 21:23] pford commented on #401
FIx merged into dev.

[2019-12-18 21:28] pford commented on #374
casacore::MIRIADImage doesn't even try to handle masks.

[2019-12-19 00:52] pford commented on #377
The differences are due to conversion/precision errors.  When the spectral axis CTYPE is FREQ then the CRVAL and CDELT values agree, so the frontend calculation results in the same velocity.

When CTYPE is VELO, the spectral axis values are converted to frequency for the casacore::SpectralCoordinate (causing the TabularCoordinate issue #373 ) so the FITS headers created from the image are FREQ.  T

[2019-12-19 01:22] kswang1029 commented on #377
I found a separate issue:
if there is a miriad image in NCP projection, its fits image after header unification in CARTA has the projection type as SIN. The same fits in ds9 is still in NCP projection. I wonder if there is any configurable parameter when we use casacore to generate the unified header?

[2019-12-19 01:30] kswang1029 commented on #377
@pford I wonder if this is because when the native CTYPE is VELO, the velocity spacing is uniform from first channel to last channel. However, if we convert it to FREQ, the frequency spacing is not uniform as the spacing is a function of frequency in the conversion. This is also the case vice versa.

[2019-12-19 01:41] kswang1029 commented on #377
@pford if CTYPE is FREQ in a miriad image, everything works fine in fits format both in CARTA and ds9. Test images: set_nativeMIRIAD

[2019-12-19 01:48] kswang1029 commented on #377
from miriad user manual:
         The spectral type to change to:
           FREQ: frequency,
           ENER: photon energy (linear with frequency),
           WAVN: wavenumber (linear with frequency),
           VRAD: radio velocity (linear with frequency),
           WAVE: wavelength,
           VOPT: optical velocity (linear with wavelength),
           ZOPT: redshift (linear with wavelength),

[2019-12-19 03:14] kswang1029 commented on #401
verified. 👍

[2019-12-19 03:14] #401 closed, assigned to kswang1029

[2019-12-19 16:57] pford opened #404 "MIRIAD image issues: velocities, masks, etc."
See notes in #374 and #377, which are being revised to refer to CASA only.  The casacore::MIRIADImage is incomplete, resulting in an incorrect FITS header sent to the frontend and no mask handling.

- [ ] incorrect frequency conversion for spectral axis results in incorrect velocity in render widget heading
- [ ] projection is incorrect
- [ ] masks are ignored

I recommend creating a CartaMiriadIm

[2019-12-19 16:59] pford commented on #377
Created issue #404 for casacore::MIRIADImage issues, revising this issue for CASA images only.  @kswang1029 , please review whether this issue can be closed for CASA.

[2019-12-19 17:00] pford commented on #374
Created issue #404 for casacore::MIRIADImage issues, revising this issue for CASA images only. @kswang1029 , please review whether this issue can be closed for CASA.

[2019-12-19 21:31] jott3077 commented on #377
MIRIAD also has a type FELO in addition to VELO. The difference is the Doppler definition: FELO is optical and VELO is radio.

[2019-12-19 22:04] pford commented on #377
@veggiesaurus this is actually a frontend issue, as neither dev nor release shows the correct velocity when calculated from frequency using the CRVAL and RESTFRQ header values.  The headers are sent as a numeric value and a string value, e.g. "3.63924e+10" (release) and "3.639235e+10" (dev) due to different formatting, but the header entry type is FLOAT and the numeric values are identical.  This

[2019-12-19 23:53] pford commented on #377
I created frontend issue #653.  Angus is away.

[2019-12-20 06:42] veggiesaurus commented on #377
[#653](https://github.com/CARTAvis/carta-frontend/issues/653) has a fix in the frontend, which solves the FITS / CASA discrepancy in @jott3077's test image set.

There is still a Miraid / FITS discrepancy, though. But in this case, this is actually due to the header value differences. The backend is converting both files from a `CTYPE3` of `VELO-LSR` to `FREQ` and modifying the headers accordingly

[2019-12-20 06:43] kswang1029 commented on #404
@pford
@veggiesaurus and I had some discussions about the unification of headers and we think we should not perform any conversion for the frequency axis. If a miriad image or a  fits image has CTYPE3 = VELO, we should keep it as VELO.

If you think we need a separate issue for this, please do.

[2019-12-25 01:18] kswang1029 opened #408 "missing raster tiles when loading an 80k x 80k image"
![hugeGaussian80k fits-image-2019-12-25-9-17-9](https://user-images.githubusercontent.com/20819712/71427826-7b8f7c00-26f7-11ea-8f17-41bf9f5bf688.png)

[2019-12-25 05:24] veggiesaurus commented on #408
Does the frontend still indicate it's waiting for tiles?

[2019-12-25 05:31] kswang1029 commented on #408
In my test, the frontend requested 9 tiles and the backend returned 9 RASTER_TILE_DATA successfully. Interestingly, the y profile is truncated too.
![hugeGaussian80k fits-Y-profile-2019-12-25-13-30-40](https://user-images.githubusercontent.com/20819712/71433555-d1295000-271a-11ea-9a2d-1444fa7d19a8.png)

[2019-12-25 05:32] kswang1029 commented on #408
I remembered that I reported something similar before and it was caused by the array index (overflow) issue? Hmm, maybe this belongs to the backend.

[2019-12-25 05:35] kswang1029 commented on #408
or, maybe this one?: https://github.com/CARTAvis/carta-backend/issues/258

[2019-12-25 06:13] veggiesaurus commented on #408
It looks to me like everything above a certain point is NaN. I think this points to a backend issue, since the data is being delivered, it's just wrong.

[2019-12-28 10:21] kswang1029 commented on #408
I made two test images: a) 65536x100 and b) 65537x100. With Mac desktop version, a) can be loaded and rendered properly. For b), the backend spends much longer time to load then crashes.

[2019-12-31 19:44] pford commented on #408
@kswang1029 commented in Slack that this issue can be fixed in 1.3 and not backported to the 1.2.2 patch.  PR #409 for dev branch.

[2019-12-31 21:11] pford commented on #404
@kswang1029:

Re: frequency/velocity conversion:
I opened PR #410 .  However, with the casacore SpectralCoordinate, a VELO axis will result in a "native type" of either VRAD or VOPT.  If this is unacceptable, we will have to go back to reading headers with third-party libraries for each image type (HDF5, mirlib, wcslib, casacore).

Re: MIRIAD projection in issue #377
There is code in casacore::MIR

[2020-01-02 17:42] pford commented on #13
Improvements merged into dev in PR #410 : use native type for spectral axis, use .12E format for float headers.

[2020-01-03 06:51] kswang1029 commented on #408
fixed! 👍

[2020-01-03 06:51] #408 closed, assigned to kswang1029

[2020-01-06 10:39] veggiesaurus commented on #146
@pford I think we should arrange a time to chat about this feature. It would be good to start development on this before the rest of the WCS stuff (my side of things) is finished

[2020-01-06 11:18] veggiesaurus opened #411 "Regression: Block smoothing creates mis-aligned contours when image width is not a multiple of the smoothing factor"
![image](https://user-images.githubusercontent.com/592504/71815001-c1006180-3086-11ea-928e-77d8cf727c19.png)

Should be a minor fix, it's a result of fixing the down-sampling algorithm to not cut off partial blocks

[2020-01-06 11:48] #411 closed, assigned to veggiesaurus

[2020-01-08 20:18] pford opened #415 "Backend grpc service for python client"
The grpc service has been added, with incoming grpc messages resulting in new uWS messages to the frontend.

The scripting client is described in this [doc](https://docs.google.com/document/d/1Rm88mscy6CCWLnNxJe3WaGvDVdW8pqyPm5AvXPosm6Y/edit#heading=h.stt8njwtcov8) and the proposed new protobuf messages are described in this [doc](https://docs.google.com/document/d/1UApq-MMgAXU2stQ8-RjmtRkQTmNC7Wx

[2020-01-08 20:21] pford opened #416 "Communicate python client requests to frontend"
Proposed new ICD messages are in section 4.1.4 of this [doc](https://docs.google.com/document/d/1UApq-MMgAXU2stQ8-RjmtRkQTmNC7WxzINgX4HFjcY4/edit#).

[2020-01-08 20:25] pford opened #417 "Backend scripting interface"
For a scripting interface, the backend needs to:

- [x] Create a gRPC service to which the [python client](https://open-bitbucket.nrao.edu/projects/CASA/repos/cartavis/browse) can connect and communicate.  The protobuf interface is defined in the python client repo.
- [x] Associate a python client session with an existing frontend session and communicate with that frontend.
- [ ] Communicate with

[2020-01-10 07:10] jott3077 opened #418 "spectral widget does not show velocities for CASA images"
Loading a CASA cube into CARTA. The spectral viewer shows channels, or when WCS is chosen, frequency. No velocity is displayed. This is likely due to the velocity as an additional axis label for spectral CASA cubes and frequency is native.
By default, the CASA wcs should be the velocity label if it exists.

The following could be split as a separate ticket, also some of it have been discussed in o

[2020-01-10 07:12] kswang1029 commented on #418
@jott3077 we are hoping we can enhance the spectral profiler widget to some extent in v1.3. Please refer to https://docs.google.com/document/d/10nG54sC8XoEKhlGNnTmY6ZOHstF3zeiJi22gBjEvE_k/edit#

[2020-01-10 07:18] veggiesaurus commented on #418
so should the `CTYPE3` be velocity by default for _CASA_ images?

[2020-01-10 07:23] kswang1029 commented on #418
I tried with a test CASA image and the axes are
`'axisnames': array(['Right Ascension', 'Declination', 'Frequency', 'Stokes']`

If we convert a CASA image to FITS with exportfits task in CASA, the default is frequency. There is an option to set CTYPE3 in velocity.

[2020-01-10 08:32] jott3077 commented on #418
yes, the default is frequency but with velocity=True in exportfits, the axis of the fits image will be velocity. Usually this is what the users want if a velocity label in the CASA image exists.

So yes, I would suggest to always use the velocity for CTYPE if it exists. (I guess for images with Stokes it will be CTYPE4 not CTYPE3, given the CASA convention to list Stokes before the spectral axis -

[2020-01-10 18:04] #404 closed, assigned to pford

[2020-01-14 02:21] kswang1029 opened #419 "backend crash when animating the same image with two browser tabs from one backend"
To reproduce the issue:
1) launch the backend in remote mode (i.e. ./carta --remote)
2) copy and paste the url to browser and load an image cube and start animation
3) copy and paste the url _again_ in a new tab of the browser, load the _same_ image and start animation
4) at some point, the backend will crash

Usually this use case should not happen, but for the archive usage, it is possible that

[2020-01-14 03:44] kswang1029 opened #420 "backend keeps streaming image data repeatedly after animation has stopped"
frontend: origin/angus/contour_dialog 2984c6b 2020-01-14 02:45:42 CST
backend: dev
This happens when contour layer is enabled.

[Jan-14-2020 11-42-05.mp4.zip](https://github.com/CARTAvis/carta-backend/files/4057241/Jan-14-2020.11-42-05.mp4.zip)

[2020-01-14 07:02] kswang1029 opened #421 "session resume when contours are enabled"
It appears that with the current dev backend once a session is resumed, contours are not sync'd with raster image anymore when changing channels. Could it be because contour messages are not included in the resuming messages yet? @markccchiang Could you have a look?

[2020-01-14 07:05] markccchiang commented on #421
Yes. Contour messages are not included in the resuming messages. I will add them.

[2020-01-14 08:01] kswang1029 opened #422 "exceptional case when asking contour levels with all as NaN"
If the current image is full of zero, some contour level generator may generate NaN as levels. If we request the backend to generate NaN contour levels, the progress icon (the green cloud at top-right corner) persists.
![Screen Shot 2020-01-14 at 15 56 53](https://user-images.githubusercontent.com/20819712/72324955-0b1cbf00-36e7-11ea-8c9b-06eeb7fa7f05.png)

[2020-01-15 07:31] kswang1029 opened #423 "peculiar histogram distribution"
We have a set of small FITS images (256x256) from VLBI imaging training page http://vlbiimaging.csail.mit.edu/train_01_staticCelestial_20

With the current dev branch, some images show perculiar histograms with periodic dips such as the following examples. However, it is not always the case with other images in the set.
![Screen Shot 2020-01-15 at 15 17 23](https://user-images.githubusercontent.co

[2020-01-15 08:53] kswang1029 opened #424 "flux density of a region spectral profile"
now with the frontend branch done by @TienHao
origin/thchang/add_flux_density_602 009dd6e 2020-01-15 16:22:39 CST
we can request the backend to provide statistic="flux density" of a region spectral profile. However, this works only when using statistics widget. With the spectral profile widget, it returns nothing.

[2020-01-15 10:05] veggiesaurus commented on #424
@kswang1029 have you looked at the protocol buffer messages being sent from the frontend? Is it requesting them correctly?

[2020-01-15 10:46] veggiesaurus commented on #423
what do the histograms look like in other programs? Are they definitely wrong, or just a matter of some sort of quantization?

[2020-01-16 01:39] kswang1029 commented on #424
I tried this branch origin/thchang/add_flux_density_602 5ef742f 2020-01-15 17:16:54 CST
and see flux density (enum=3) is requested via the protocol buffer message.
<img width="479" alt="Screen Shot 2020-01-16 at 13 24 16" src="https://user-images.githubusercontent.com/20819712/72496119-a89cfd80-3863-11ea-89bc-e69800539ba5.png">

[2020-01-16 02:03] kswang1029 commented on #423
@veggiesaurus Interesting! You are right. It seems to be quantization. I tried with python and see the same. I guess we can safely close this issue now?
![Figure_1](https://user-images.githubusercontent.com/20819712/72486912-4a622180-3847-11ea-9f97-43037509923e.png)
![Figure_2](https://user-images.githubusercontent.com/20819712/72486914-4a622180-3847-11ea-8d4d-48d00af17c4c.png)
![Figure_3](https:/

[2020-01-16 05:50] veggiesaurus commented on #424
@pford can you look into this? I think it's probably quite simple to implement, since it's working for statistics already. @confluence might have to alter the HDF5 codepath a little bit though.

[2020-01-16 19:51] pford commented on #424
I fixed the stats list (spectral profile stats types) in Region.h in branch **424_spectral_flux**.  Assigning to Adrianna for HDF5 support.

[2020-01-17 06:20] kswang1029 commented on #424
@pford Thanks for fixing this. I tried with a test image and it works consistently comparing to CASA viewer. 👍 Once HDF5 is also supported, I will perform more tests with different images.

[2020-01-20 12:10] #423 closed, assigned to nobody

[2020-01-21 03:40] zarda opened #425 "Measure running time for hot spot as Verbose"
Add few code before and after the heavy computing function to measure the exact running time, e.g.
[contour](https://github.com/CARTAvis/carta-backend/blob/165e82b7c194f66d4898079d1c4deb15b1c65e80/Contouring.cc#L220) and [smoothing](https://github.com/CARTAvis/carta-backend/blob/165e82b7c194f66d4898079d1c4deb15b1c65e80/Smoothing.cc#L154).
To-do:

- [x] Animator: Change frame
- [x] Open file: Load

[2020-01-22 07:48] jott3077 opened #426 "relative coordinates to a given point"
A user request: add an option for a drop pin to which all coordinates are referenced to, so the viewer panel show relative and absolute coordinates.

[2020-01-24 23:01] jott3077 opened #428 "contours: move the 'generate' button just above the 'levels' box"
it's a bit unusual to first specify the contours, then press 'generate', then press 'apply' ie 3 actions before the contours are there. I think that's ok overall, but we should make it a bit easier to the user. I suggest to

- move the 'generate' button right above the 'levels' box. this streamlines the actions from top to bottom (define level generation, presse 'generate', modify levels, press ap

[2020-01-24 23:04] jott3077 opened #429 "render config plots have no y axis"
might be nice to add y-axis label to the render config plots. Like the number of pixels for a given value.

[2020-01-27 13:56] confluence commented on #424
I think that the correct thing to do here is to try to reuse the flux density calculation from casacore with the sum and number of pixels read from the HDF5 file. I'm going to have a look at this. This is a good time to do some refactoring and simplification and try to integrate the HDF5 stats with the rest of the system a bit better.

[2020-01-30 16:38] jott3077 opened #431 "CARTA hangs in file info gathering step"
I have a directory with manny CASA images. When I browse through, look at some, then go back and load others, at some point while just checking the file info, CARTA 1.2.2 hangs. When I then go back to 'load' The 'loading file' message also keeps on spinning.

[2020-01-31 08:55] kswang1029 opened #432 "missing spectral profile with flux density as stat"
<img width="550" alt="Screen Shot 2020-01-31 at 9 54 56 AM" src="https://user-images.githubusercontent.com/20819712/73525613-d8c1d000-440f-11ea-93ea-8eeb3cb07c66.png">

[2020-01-31 12:04] veggiesaurus commented on #144
@kswang1029 raster transparency isn't scheduled for 1.3 anymore is it?

[2020-01-31 12:05] kswang1029 commented on #144
no. no raster transparency for v1.3.

[2020-02-04 21:39] jott3077 commented on #418
fyi I see the same problem for miriad images

[2020-02-05 09:51] kswang1029 opened #433 "Support PI (polarized intensity) and PA (polarized angle) request from the frontend"
Currently the backend can supply profiles and images of any Stokes parameter. We need to extend this to PI (polarized intensity) and PA (polarized angle) so the backend will use Q and U profiles to derived PI and PA profiles. Fractional quantities should be supported too.

This includes:
- [x] profiles
- [x] contours
- [x] raster image

ref: https://github.com/CARTAvis/carta-frontend/issues/713

[2020-02-05 09:52] kswang1029 opened #434 "support PI (polarized intensity) and PA (polarized angle) in the Stokes dropdown"
In addition to the standard Stokes parameters I, Q, U, and V, we should provide additional quantities such as PI (polarized intensity) and PA (polarized angle) in the same list for better UX.

ref: https://github.com/CARTAvis/carta-backend/issues/433

[2020-02-05 10:11] kswang1029 opened #435 "region analytics with multiple image overlay"
in v1.3 multiple images can be matched spatially and spectrally. Spatially this is achieved by translating, rotating, and scaling of raster tiles. As a consequence, region of interest needs to be enhanced to support multiple images involving the above approach of spatial matching.

Analytics including:
- [ ] spectral profile
- [ ] statistics
- [ ] histogram

[2020-02-05 13:26] #144 closed

[2020-02-05 13:28] #364 closed

[2020-02-05 13:56] Kechil commented on #366
@veggiesaurus to investigate

[2020-02-05 14:48] Kechil commented on #389
Needs checking with Juergen

[2020-02-05 21:17] jott3077 commented on #389
I think that if a region is in units of pixels this should be independent of any projection whatsoever, and reflect the actual pixels of the image.
I had also opened a ticket for CASA:
 https://open-jira.nrao.edu/browse/CAS-12824

in the hope that maybe a fix there would propagate also into CARTA. Looks like CASA (which I am no longer a part of) has decided to just tell people to use odd numbered

[2020-02-07 04:03] zarda commented on #388
The concatenated image in example fold can be opened in the [branch](https://github.com/CARTAvis/carta-backend/tree/hj/388_imageConcat). The next [branch](https://github.com/CARTAvis/carta-backend/tree/hj/388_imageExpr) is not able to test because of no example file for LEL image.

[2020-02-07 06:47] veggiesaurus opened #436 "Regression: Opening certain files results in invalid WCS"
There's a regression since CARTA 1.2.2, where opening some HST images (e.g. this 1.6 GB file [here](https://archive.stsci.edu/missions/hlsp/candels/goods-n/gn-tot/v1.0/60mas-all/hlsp_candels_hst_acs_gn-tot-60mas_f606w_v1.0_drz.fits)) results in cassacore giving up the parsing of WCS information and instead just using dummy WCS.

The output from the backend is shown below. The file loads fine with

[2020-02-07 23:42] pford commented on #416
Closing this issue since implementation is in issue #415 branch.

[2020-02-07 23:42] #416 closed, assigned to pford

[2020-02-12 15:14] Kechil commented on #334
Document for now.

[2020-02-12 15:19] veggiesaurus commented on #382
@ajm-asiaa what's the status of this issue?

[2020-02-12 15:23] Kechil commented on #366
Might be same bug as #? (Angus to write description)

[2020-02-13 00:49] ajm-ska commented on #382
I investigated and tried to fix it, but unfortunately I feel it can not be done.

The whole "remote" mode idea was just patched in to the desktop version through the Electron startup script. It doesn't go as far as opening the Electron window on screen, however, it is still effectively starting Electron, and that is why it requires X11. So it still requires an X11 connection despite not showing/op

[2020-02-13 02:14] zarda commented on #425
Quick example:

Load demo image file: LMCq.fit

Load 10482x10448 image to cache in 3203.46 ms at 34.1867 MPix/s
Caculate min/max value in 149.117 ms at 734.379 MPix/s
Fill image histogram in 571.355 ms at 191.664 MPix/s
Mean filter 141x256 raster data in 61.36 ms at 0.588266 MPix/s
Compress 256x141 tile data in 1.745 ms at 20.6854 MPix/s
Mean filter 256x144 raster data in 125.237 ms at 0.294354 MP

[2020-02-13 10:47] veggiesaurus commented on #382
what about running a script before calling the electron startup script? If `--remote` is passed to the starter script, it doesn't run the electron startup script, but starts the backend directly?

[2020-02-13 12:07] ajm-ska commented on #382
Thank you @veggiesaurus That might work for AppImages, which is all we need. I just tried it. I renamed the original AppRun executable as CARTA, and created a new bash script called AppRun to act as direct replacement containing the following:
[code]
For now I just copied over the entire remote version into the directory, just to check if it works.

But now the problem is finding the correct path

[2020-02-13 12:24] ajm-ska commented on #382
@veggiesaurus I did it! It was easy in the end. I can simply use the same way that I figured out before for defining the correct path of the ephemerides and geodetic data directory for the carta-backend:
[code]

Now it works!

[2020-02-14 12:53] ajm-ska commented on #382
I believe I have it working now. If the "--remote" flag exists, it will start the remote mode script and conveniently pass all other flags to it, otherwise it will start the normal Electron version and pass all other flags to it. We also need another case if no arguments are passed at all. I think this is the simplest way to do it.

[code]

I also modified the "help" readouts so that the help text

[2020-02-17 15:49] arusstaylor opened #438 "add "extrema" to stats drop down options"
In the case that I am looking at  z-profile in a Stokes cube values of Q, U and V can be negative.  So if I want to look at a profile of maximum Q, U or V polarised intensity in a region I cannot do that by selecting "max".  We need another option "extrema" which will plot the value of the extrema in a region whether it is positive or negative.

[2020-02-17 16:13] veggiesaurus commented on #438
transferred to backend as it is primarily a backend/cassacore issue.

[2020-02-17 16:15] veggiesaurus commented on #366
This could also be due to the backend sending far too many frames ahead (the control flow window is much too large at the moment: 10x the frame rate).

[2020-02-18 12:50] confluence opened #439 "Dynamically detect location of casacore / casacode in cmake"
At the moment the `casacode` include location in  `CMakeLists.txt` is incompatible with the install locations of the Ubuntu package, which should now be the preferred way of installing the casa dependencies in Ubuntu. So to install the backend while using the package, we have to either pass an additional flag to cmake or edit the file. This should not be necessary. We haven't edited the file perma

[2020-02-19 00:26] ajm-ska commented on #439
@confluence Thank you. That is a good idea. It was a lot easier back in the day when we just needed to do `cmake ..`

Even on MacOS, I still need to manually set the casacode/casacore include locations in the cmake command (plus the lib location, but that also necessary for at least libuv).

For reference, here is the cmake command I currently use on MacOS:
`cmake .. -DCMAKE_CXX_FLAGS="-I/usr/loca

[2020-02-19 01:01] confluence commented on #439
The preferred way to install casacore / casacode on Ubuntu should be the `carta-casacore` PPA package. It installs into `/usr/`, not `/usr/local/`, which is as it should be -- that is the standard install location for system packages.

On Ubuntu we can use `cmake ..` with no additional flags (apart from flags that actually set compilation options) -- except for this current issue with casacode. It

[2020-02-19 11:11] arusstaylor opened #440 "animator should skip nan channels"
I would be good if the animator did not bother displaying NaN channels, but just skipped onto the next channel. Or at the least dont bother uploading from the back end, if the channel is NaN just show a NaN frame quickly and move on.   In the current mode where nan channels are displayed, for the MeerKAT MIGTHEE cubes which has a large missing piece in the middle a long time is spent looking at na

[2020-02-19 12:38] veggiesaurus commented on #440
For HDF5 files, where the channel histogram is loaded in advance, it could be fairly easy to skip channels that are entirely NaN during animations, but for other images, we'd need to load each channel, calculate its histogram, and then decide whether or not to skip it. If there are _many_ skipped channels, this might mean that the backend effectively stops sending anything for quite some time unti

[2020-02-19 14:16] arusstaylor opened #441 "back end disconnects on file load error"
I am having issues where a problem with a file load is leading to a disconnection of the backend.    It would be better if there as a more graceful handling when there is a problem with loading a file.  Better for an error message to be sent to the front end user "File Error", and the backend to stay connected.

[2020-02-19 14:17] arusstaylor commented on #440
Ok. So perhaps a feature for hdf5 files only.  Although is loading a histogram the only way to tell if the frame is all NaNs?

[2020-02-19 14:18] kswang1029 commented on #441
this feels like a backend crash. Which image is it?

[2020-02-19 14:19] veggiesaurus commented on #440
the other way is to go through the entire image and check if it's all NaNs. Which would be just as slow

[2020-02-19 14:20] arusstaylor commented on #441
It is a badly formed hdf5 file on the ILIFU systems.  We discovered after the fact that the file is incorrectly formatted.

Russ

[2020-02-19 14:32] ajm-ska commented on #439
OK. I suppose the easiest way is just to make it look in both places; `/usr` first, then `/usr/local`. I guess eventually it would be unlikely that someone would have it in both places, but if they do (say they are actively testing different casacore versions or fixes) then they should know to manually define the location with the -I and -L flags.

[2020-02-21 18:08] confluence commented on #424
For now I have added a minimal implementation of the flux density calculation to the HDF5 stats code.

[2020-02-21 18:18] pford opened #445 "WCS regions: remove Region code from Frame"
Currently, a Region belongs to a Frame so all region-handling code is in the Frame.  With WCS ROI, a region may be applied to any Frame in a WCS group, so it needs to be independent of a particular Frame until a data stream is needed. This means the file loaders and statistics calculators must be available to both.

The plan (in progress and subject to change) is documented [here](https://docs.goo

[2020-02-21 18:25] pford commented on #435
Duplicate of #146 ?

[2020-02-22 11:55] #424 closed, assigned to confluence

[2020-02-23 06:46] veggiesaurus opened #446 "Huge performance regression when loading tiled HDF5 images"
There is a troubling performance regression when loading HDF5 files that are tiled (i.e. a 2D chunk size), rather than contiguous. The regression is so severe that it effectively makes CARTA unusable for these files, which has implications for all of @confluence's work on #347.

I've used two files for testing: `ultravista-dr3-k-band.hdf5` is a 48K x 48K contiguous image, and `ultravista-dr3-k-ban

[2020-02-23 06:49] veggiesaurus commented on #446
labelling this as a _bug_ for now, rather than a _critical bug_, since there is a workaround for most images: don't use a tiled image. However, this also severely limits the size of the images you can convert, and means #347 can't be closed properly, since it effectively grinds spatial profile generation to a halt

[2020-02-23 12:11] #446 closed, assigned to veggiesaurus

[2020-02-26 13:44] #145 closed

[2020-02-28 11:58] kswang1029 opened #450 "crash when loading a MIRIAD image"
Possibly due to that we switch to casacore for header processing.
[a.tar.gz](https://github.com/CARTAvis/carta-backend/files/4266942/a.tar.gz)

[2020-02-28 12:03] veggiesaurus commented on #450
_all_ MIRIAD images?

[2020-02-28 12:20] kswang1029 commented on #450
No, this specific one. It works with 1.2.2

[2020-02-28 13:39] veggiesaurus commented on #450
Possibly related to #436 ?

[2020-02-28 14:03] kswang1029 commented on #450
Maybe. Was this a crash too?

[2020-03-02 17:03] pford commented on #432
@kswang1029 is this still an issue?  A PR for HDF5 flux density was merged after this.  Please give more info.

[2020-03-02 17:25] pford commented on #436
I believe this is a FITS-specific issue.  There is a setup error in wcslib with the headers in this file.  When it tries to set the wcsprm structure, the wcsprm.lin (linprm struct for linear transformation parameters) fails. I don't know yet if this is a wcslib bug or a missing header issue.  Juergen downloaded another test HST FITS image for me which opens with no issues.

The wcsprm setup does m

[2020-03-02 23:47] pford commented on #436
Update: wcslib is attempting to set the disprm struct (parameters for prior distortion functions) in the linprm struct, using the CPDISja, DPja, and CPERRja headers.  For this image, these headers are:
CPDIS1  = 'Lookup  '
CPDIS2  = 'Lookup  '
DP1     = 'AXIS.2: 2'
DP2     = 'AXIS.2: 2'
CPERR1  =   6.090749055147E-02
CPERR2  =   7.344448566437E-02.

The problem is the 'Lookup' value; wcslib accept

[2020-03-02 23:48] kswang1029 commented on #432
Fixed 🙂

[2020-03-02 23:48] #432 closed, assigned to nobody

[2020-03-03 23:16] pford commented on #436
I am sending the original headers from casacore::FitsInput as header_entries, then using them to create computed_entries, but the frontend still displays generic X Coordinate and Y Coordinate axes.  What am I missing?
![fileinfo](https://user-images.githubusercontent.com/856604/75828939-36786d80-5d6a-11ea-90e0-70cb87b2932b.png)
![render](https://user-images.githubusercontent.com/856604/75828950-3d

[2020-03-04 07:40] kswang1029 opened #452 "crash when loading HDF5 image NOT in IDIA schema"
This is reported by a 1.3 beta tester while loading an HDF5 image from simulation.
Test image is attached.

![carta3](https://user-images.githubusercontent.com/20819712/75856010-65f0ae00-5e2e-11ea-80a6-830363d66082.JPG)
[M0030.h5.zip](https://github.com/CARTAvis/carta-backend/files/4285841/M0030.h5.zip)

[2020-03-04 07:46] veggiesaurus commented on #436
@pford with your branch `pam/436_invalid_csys` I can confirm that the issue moves to the _frontend_ once the original headers are sent.

The issue seems to be that we're adding `'` quotes around string values _and_ their comments, rather than just around the string values. This can bring an entry length up to 82 characters, if the header was originally already at the maximum length of 80 character

[2020-03-04 07:50] veggiesaurus commented on #452
duplicate of #441?

[2020-03-04 07:54] veggiesaurus commented on #452
@confluence or @pford could you look at this?

[2020-03-04 07:55] kswang1029 commented on #452
maybe similar. This case is an HDF5 image in a whatever schema. #441 "might" be due to something odd when converting to HDF5 format?

[2020-03-04 07:57] veggiesaurus commented on #452
no, #441 was also a non-IDIA HDF5 (I checked with @arusstaylor). Perhaps we can close that in favour of this issue, since it's more clearly described.

[2020-03-04 07:58] kswang1029 commented on #452
ok  👍

[2020-03-04 07:59] #441 closed, assigned to nobody

[2020-03-04 07:59] veggiesaurus commented on #441
duplicate of #452

[2020-03-04 10:47] veggiesaurus commented on #382
@ajm-asiaa can we close this?

[2020-03-04 10:51] veggiesaurus commented on #394
can we close this issue?

[2020-03-04 11:00] veggiesaurus commented on #431
@arusstaylor does this seem similar to what you experienced on carta-testing?

[2020-03-04 11:04] veggiesaurus commented on #420
This is a flow-control issue with animations.

[2020-03-04 11:07] ajm-ska commented on #382
Yes. I believe we can. The issue has been solved.

[2020-03-04 11:07] #382 closed, assigned to ajm-ska

[2020-03-04 11:27] arusstaylor commented on #431
The load file message and spinning is the same, but it happened to me directly on startup when the file load tool comes up automatically.   So not related to any specific action with the file load tool.

[2020-03-04 11:41] veggiesaurus commented on #431
Your backend log file seemed to indicate that there were other sessions still running, so perhaps one of those other sessions was causing an issue :thinking:

[2020-03-04 12:18] kswang1029 commented on #421
@markccchiang could you help to fix this? I think this one needs to be backported to v1.3

[2020-03-04 14:04] confluence commented on #452
I have assigned this to myself; it should be simple to fix.

[2020-03-04 23:19] pford commented on #436
For now (close to 1.3 release) I just shortened the HeaderEntry value string to 67 characters so it works with the current frontend.  We can discuss reformatting these strings for 1.4.

[2020-03-04 23:47] confluence commented on #452
Turns out it's not that simple. In our HDF5 image constructor, attempting to create a lattice with a non-existent dataset triggers an exception inside casacore, which should be displayed as an error in the file browser. However, any exception thrown in that constructor before or during the construction of the lattice causes a segfault in the destructor of the lattice member, because the destructor

[2020-03-05 13:17] #450 closed, assigned to pford

[2020-03-05 13:18] #452 closed, assigned to confluence

[2020-03-06 02:11] kswang1029 opened #460 "casacore processed headers when exceptions happen"
I tested with a set of images with some missing headers (set_spectral_conversion). In general it works fine. A peculiar thing I noticed is that depending on cases, casacore may "smartly" fill up missing headers if those can be computed from other relevant headers (e.g., an image with missing OBSGEO but having TELESCOP: casacore will return headers with OBSGEO recovered). Other thing is with a cube

[2020-03-06 06:52] kswang1029 opened #461 "crazy contours when switching between no smooth and box smooth"
Seen in the mac v1.3beta and dev on mix n match

To reproduce:
1) load an image
2) create contours with "no smooth" mode
3) switch to "box" smooth and regenerate contours

![M100_combine_CO_cube image mom0 pbcor-image-2020-3-6-14-48-18](https://user-images.githubusercontent.com/20819712/76059392-ae88a280-5fb9-11ea-84e9-9d9511493073.png)

test image attached
[M100_12m_CO_central.image.mom0.fits.zip

[2020-03-06 07:02] kswang1029 commented on #461
I suspect this is due to those NaN pixels. If we request higher levels, it won't happen. But once we request contours around those NaN pixels, we see the issue.

[2020-03-06 07:14] kswang1029 commented on #461
with few more tests with other images, what i can conclude now is we need 1) NaN pixel, and 2) request contour once with no_smooth mode, then request with another smooth mode.

Feels like a backend issue(?)

[2020-03-06 07:25] kswang1029 commented on #461
With the suggests from @veggiesaurus I tried an image with just single NaN pixel.

just no smooth
<img width="1572" alt="Screen Shot 2020-03-06 at 3 21 20 PM" src="https://user-images.githubusercontent.com/20819712/76061528-ae3ed600-5fbe-11ea-84f2-70315a6e62a2.png">

gaussian before no_smooth
<img width="1571" alt="Screen Shot 2020-03-06 at 3 20 47 PM" src="https://user-images.githubusercontent.co

[2020-03-06 07:30] veggiesaurus commented on #461
@kswang1029 can you see what happens if you set the levels so that it _only_ contours around that NaN pixel? And then log the contour stream sent from the backend

[2020-03-06 17:06] veggiesaurus opened #463 "Handling of NaN values during Gaussian smoothing"
When smoothing, there are a few options for how to handle `NaN` values:
1. Propagate them, so that every pixel that has a `NaN` within its smoothing kernel becomes a `NaN`. This is the route DS9 takes, and it's not a good idea, because you lose a lot of real data around NaNs
2. Suppress them, so that `NaN` pixels are skipped during the smoothing. Only pixels that have _no_ non-`NaN` pixels within

[2020-03-06 17:10] low-sky commented on #463
I think this is a good compromise position; I'm happy with Option 3.  Users who want Option 2 should probably process the images themselves to interpolate across the NaN data.

[2020-03-09 15:21] pford commented on #460
The backend currently uses casacore::ImageFITSConverter::ImageHeaderToFITS, which was used in carta 0.9 for a standard FITS header in the file info as mentioned in issue #13.

Currently, the backend makes a casacore::Image for the file info.  To do this, casacore uses the image-specific libraries (cfitsio, mirlib, hdf5, casacore) to read the headers, filling in missing information as it is able, a

[2020-03-09 16:03] kswang1029 commented on #460
No. Unified headers do make things simpler in general. We probably need to revisit this when we work on https://github.com/CARTAvis/carta-frontend/issues/787

But for the second case I mentioned, cannot we keep VRAD as the spectral convention instead of FREQ?

[2020-03-10 09:31] #461 closed, assigned to veggiesaurus

[2020-03-11 02:21] kswang1029 commented on #436
@pford I tried origin/pam/436_for_1.3 e4d1707 and tried pacs160_js.fits. The file info gives proper image WCS properties as

Shape = [3624, 3753]
Coordinate type = Right Ascension, Declination
Projection = TAN
Image reference pixels = [1812, 1876.5]
Image reference coordinates = [07:09:44.3610, -010.41.11.2097]
Image reference coords (deg) = [107.435, -10.6864]
Celestial frame = FK5, J2000
Pixel i

[2020-03-11 13:43] kswang1029 opened #466 "regression: missing per-frame histogram with 51200x51200 image"
@zarda found this issue

with set_QA_performance/cube_A/cube_A_51200_z00001.fits, histogram is missing
<img width="425" alt="Screen Shot 2020-03-11 at 9 37 02 PM" src="https://user-images.githubusercontent.com/20819712/76422943-ff94fe00-63e0-11ea-96a3-116d3a3b1fe4.png">

with set_QA_performance/cube_A/cube_A_38400_z00001.fits, it works fine
<img width="427" alt="Screen Shot 2020-03-11 at 9 38 36 P

[2020-03-11 14:22] kswang1029 commented on #466
With 80000x80000, it was loading then crashed.

[2020-03-11 14:44] pford commented on #436
Fixed that issue, but still get a frontend parsing error:
`astRead(FitsChan): FITS keyword 'CTYPE1' refers to an unknown projection type 'EAR"'.`
From the headers:
`CTYPE1 = RA---TAN / WCS: Projection type axis 1, default="LINEAR"`

Should we abandon this for 1.3?  @veggiesaurus suggested we put the comment in a separate field or enclose the string value in single quotes to simplify the parsing.

[2020-03-12 02:16] zarda commented on #466
Thank KSW for this report.
The reason why the image in 80000x80000 makes backend crash may be due to the limitation of container size in casacore::Array. The maximum size for vector in 64bit system is 4611686018427387903. So suppose the limitation of std::vector in CARTA is not a reason.
While the carta::BasicStatsCalculator failing, the carta::BasicStatsCalculator::_num_pixels is zero. Will fix t

[2020-03-17 08:32] zarda commented on #388
For PV image loader, there is an issue while setting region on PV image, the backend will crash as #327 happening. In one case for a PV image file (M17_SWex_pv.fits) with one spatial dimension and another spectral dimension, the backend will crash if starting any region functionality. In another case for a PV image (pVimage.image) with only one spatial dimension on canvas, there will be no issue.

[2020-03-17 15:44] pford commented on #388
Where is the crash?  A PV image is not a 1D image, it has a casacore::LinearCoordinate and a casacore::SpectralCoordinate.  According to the CASA viewer, the shape of pVimage.image is [160, 1, 52].  You cannot assume that the axes are in any particular order; CASA often puts the spectral axis last.  casacore::CoordinateSystem (casacore/coordinates/Coordinates/CoordinateSystem.h) has various functi

[2020-03-17 15:49] pford commented on #388
@jott3077 can you point us to some documentation on LEL images?  Do they reside on disk or are they created dynamically with a lattice expression applied to an image?  How would this be done in CARTA?

[2020-03-18 11:25] kswang1029 opened #472 "JCMT sdf image resulting a crash"
sdf image should not appear on the file list and it is true with the following example (zipped)
[s20160910_00078_450_reduced.sdf.zip](https://github.com/CARTAvis/carta-backend/files/4348661/s20160910_00078_450_reduced.sdf.zip)

however, a beta tester's sdf image (attached) shows up in the file list and if we click it, the backend will crash.
CARTA thinks it is an HDF5 image.
<img width="960" alt="

[2020-03-18 11:26] veggiesaurus commented on #472
SDF files _are_ HDF5 underneath, so isn't this a duplicate of #452?

[2020-03-18 11:29] kswang1029 commented on #472
Hmm, don't know SDF is HDF5 underneath. Then yes, it is a duplicate of #452. Not sure why in the first example, it was not detected as an HDF5 image.

I am closing this issue now.

[2020-03-18 11:30] #472 closed, assigned to nobody

[2020-03-18 11:30] kswang1029 commented on #452
related to https://github.com/CARTAvis/carta-backend/issues/472

[2020-03-18 11:32] kswang1029 commented on #452
and in the dev, it won't crash the backend.

[2020-03-18 11:33] veggiesaurus commented on #472
is it possible that SDF can have multiple container formats? Can you verify that it doesn't break when using `dev`, since #452 is fixed there

[2020-03-18 11:36] kswang1029 commented on #472
with dev, I do still see the sdf image on the file list but it cannot be loaded. The backend does not crash so we are good.

[2020-03-19 04:51] ajm-ska opened #474 "Session resume toggle"
Our 'dev' branch on the Mix 'n Match page was behaving strange. I triggered it to rebuild. The first log output was:
[code]
I'm surprised to see Session 249!

I guess the 'dev' branch URL is still opened in people's browsers so the backend is immediately reconnecting to it.

Would it be a good idea to allow the resume session function to be disabled? Either through a build flag in the backend, or

[2020-03-19 04:59] ajm-ska commented on #474
Now, after only a few minutes, the log file is showing many more sessions. For example:
[code]

[2020-03-20 07:55] veggiesaurus commented on #474
@ajm-asiaa was this just @pford using it for testing?

[2020-03-20 10:23] ajm-ska commented on #474
@veggiesaurus No. The strange behaviour persists. I'm still investigating as to what could be causing it.

[2020-03-23 11:12] kswang1029 opened #475 "[question] logging ICD message history in verbose mode"
Currently when verbose mode is enabled, the log seems not providing sufficient information when the backend crashed (well, it is seg fault but it is not trivial to see which step caused the crash). I am wondering if it is possible to log all ICD messages in the log as well? @veggiesaurus @pford @ajm-asiaa

[2020-03-25 11:03] #466 closed, assigned to zarda

[2020-03-25 11:03] veggiesaurus commented on #466
@kswang1029 does this need to be backported?

[2020-03-25 11:28] kswang1029 commented on #466
Yes, otherwise very large images cannot be loaded.

[2020-03-25 13:30] veggiesaurus commented on #466
ok, @zarda please also make a PR targeting the release branch

[2020-03-25 13:36] veggiesaurus opened #476 "Some FITS files with multiple HDUs can't be opened in CARTA"
An IDIA user (@marcinglowacki) has sent us a FITS file (uploaded [here](https://drive.google.com/file/d/1AT4m4_j4fBGLgXqlM9Z-eIYalxJf0Wv0/view?usp=sharing)) that can be opened in DS9 and astropy, but can't be opened in CARTA. The backend displays the following:

[code]
And the error sent to the frontend is the usual `Failed to open image: TabularCoordinate - start and end values in table must diff

[2020-03-25 13:40] kswang1029 commented on #476
https://github.com/CARTAvis/carta-backend/issues/373 This too?

[2020-03-25 13:46] veggiesaurus commented on #476
Oops, sorry. You're right, it's a duplicate. Closing this issue. @marcinglowacki, you can keep track of the issue at #373

[2020-03-26 01:57] zarda opened #478 "Improve performance: load image to cache"
From #95, to improve the performance of loading image file to the cache. There we have the testing results, which might give us some hints. The elapsed time was measured by https://github.com/CARTAvis/carta-backend/blob/084bbf2bbb0094599220808ce730a2518ee08bb0/Frame.cc#L703-L716

Configuration:
4 tbb threads and 32 OMP threads on server with 32 physical cores
We disabled the hyper threading and se

[2020-03-26 02:10] zarda opened #479 "Improve performance: calculate min/max value"
From #95, to improve the performance of calculate min/max value. Here are some testing results, which might give us some hints. The elapsed time was measured by https://github.com/CARTAvis/carta-backend/blob/084bbf2bbb0094599220808ce730a2518ee08bb0/Region/RegionStats.cc#L75-L88
Configuration:
4 tbb threads and 32 OMP threads on server with 32 physical cores
We disabled the hyper threading and set

[2020-03-26 02:13] zarda opened #480 "Improve performance: fill image histogram"
From #95, to improve the performance of filling the image histogram. Here is the testing result, which might give us some hints. The elapsed time was measured by
https://github.com/CARTAvis/carta-backend/blob/084bbf2bbb0094599220808ce730a2518ee08bb0/Frame.cc#L1075-L1116

Configuration:
4 tbb threads and 32 OMP threads on server with 32 physical cores
We disabled the hyper threading and set the num

[2020-03-26 02:23] zarda opened #481 "Improve performance: get tile data group"
From #95, to improve the performance of getting tile data group. Here are some testing results, which might give us some hints. The elapsed time was measured by
https://github.com/CARTAvis/carta-backend/blob/084bbf2bbb0094599220808ce730a2518ee08bb0/Frame.cc#L781-L812
Configuration:
4 tbb threads and 32 OMP threads on server with 32 physical cores
We disabled the hyper threading and set the number

[2020-03-26 02:33] kswang1029 commented on #481
it is MPix per second per core or else?

[2020-03-26 05:30] kswang1029 commented on #478
@zarda few questions:
1) how many times did you repeat the test?
2) did you clear system cache for each image before repeating this test?
3) what kinds of images do you use for this test? Just one channel or multiple channel? I think we need both
4) could you also include HDF5 format as well?
5) loading image is single thread or multi-thread?
6) what are the ram usages in the test?

[2020-03-27 01:58] zarda commented on #478
1. at least ten times per result (fixed)
2. will clear cache. (done)
3. single channel (fixed)
4. tested HDF5 (done)
5. most part of this process is single thread (more description)
6. will do

[2020-03-27 03:04] zarda commented on #425
PR merged.

[2020-03-27 03:04] #425 closed, assigned to zarda

[2020-04-01 13:00] ajm-ska commented on #474
The strange behaviour seems to have stopped. I guess we can just close this now.

[2020-04-01 13:00] #474 closed, assigned to nobody

[2020-04-01 15:17] pford commented on #154
Requirements doc: https://docs.google.com/document/d/1RciBmqsa_bZw1vgC4J0-YSOxnlIMDQyP-MINL81MYOs/edit#heading=h.pd8c2kw8bdfy

[2020-04-01 15:25] pford opened #485 "Export generated moment images in FITS image format"
imageanalysis supports exporting moment images in CASA PagedImage format.  For 1.4, this should also support FITS using the casacore ImageFITSConverter.

Requirements doc: https://docs.google.com/document/d/1RciBmqsa_bZw1vgC4J0-YSOxnlIMDQyP-MINL81MYOs/edit#heading=h.pd8c2kw8bdfy

[2020-04-01 15:46] pford commented on #146
Requirements doc: https://docs.google.com/document/d/1wVidLdGQOflxGPl4wb7X7v0FEJJx63IenXlkxkbbB40/edit#heading=h.7zehartallcq

[2020-04-03 07:54] kswang1029 opened #486 "backend hangs when requesting statistics"
v1.3 bug report from https://github.com/CARTAvis/carta/issues/14

To reproduce with the attached example images:
1) load testb.mom0.fits
2) launch statistics widget and we should see statistics but we don't.
3) append testa.mom0.fits, and we will see the tile streaming indicator blinks forever

[Archive.zip](https://github.com/CARTAvis/carta-backend/files/4425703/Archive.zip)

[2020-04-03 15:15] kswang1029 opened #487 "backend crashes when creating a region on a single channel image while the spectral profiler is launched"
v1.3 bug report from https://github.com/CARTAvis/carta/issues/13

to reproduce,
1) load a single channel image
2) enable spectral profiler widget
3) create a region and the backend will crash

Update: if before 3) we select "cursor" in the region dropdown, the backend will survive for cursor but if we switch to "active", the backend will crash. Not sure if this is a frontend issue instead.

Update

[2020-04-03 15:17] kswang1029 commented on #487
I suggest we have a patch (v1.3.1) for this once fixed.

[2020-04-03 15:37] veggiesaurus commented on #487
This occurs when the frontend requests a spectral profile from a region of a 2D image (but does _not_ occur when requesting a spectral profile from a `W x H x 1` image.

The crash seems to occur in `casacore::LCExtension::region()` (line 162). Here's the stack fromt he crash in the `dev` branch:

[code]
@pford can you look into this? We could work around this by not adding spectral profiles to the

[2020-04-03 15:40] veggiesaurus commented on #487
My guess  is it's failing to create an extended region because the image is 2D.

[2020-04-03 16:01] pford commented on #487
I assume it's acceptable to simply reject (not set) the spectral requirements in the backend?

[2020-04-03 16:18] veggiesaurus commented on #487
Yes, I think that should be fine.

[2020-04-07 09:50] kswang1029 commented on #479
@zarda for casa image 51200x51200, how much time does it take? <1s?
51200**2/1E6 = 2621Mpix. In the chart, the speed is ~3200Mpix/s. So it takes ~0.8s to get min and max?

[2020-04-07 12:01] zarda commented on #479
Yes, the process  spent about 0.8 seconds for the image in size of 51200x51200. [casa](https://docs.google.com/document/d/12r1nIGocxt-mjPAXtJhg_t8oBq7CCwnrA_o7t54rlgQ/edit?usp=sharing)

[2020-04-08 14:05] pford commented on #417
I need requirements for the frontend/backend ICD if I am to complete the backend development.  My suggestions were in this [ICD doc](https://drive.google.com/open?id=1UApq-MMgAXU2stQ8-RjmtRkQTmNC7WxzINgX4HFjcY4).

[2020-04-08 14:13] confluence opened #489 "Implement basic end-to-end generic scripting functionality (backend component)"
Add support for using the backend as a proxy for a scripting wrapper to call actions on the frontend generically and receive data and other responses.

A basic test case: open an image and receive and save image data.

This issue covers these components:

- [ ] a generic protocol buffer interface between wrapper and backend
- [ ] a generic gRPC service in the backend
- [ ] a generic protocol buffe

[2020-04-08 14:17] pford commented on #417
The frontend epic has been closed.  I fail to see how this will be completed without frontend development.

[2020-04-09 04:04] zarda opened #490 "Improve performance: contour & smooth"
From #95, to improve the performance of contouring & smoothing. There we have the testing results, which might give us some hints. The elapsed time of contouring was measured by
https://github.com/CARTAvis/carta-backend/blob/e2d2f355ee93a4125df0f57661230b2de2b7b2ce/Contouring.cc#L215-L245

Configuration:
4 tbb threads and 32 OMP threads on server with 32 physical cores
We disabled the hyper thread

[2020-04-09 06:01] veggiesaurus commented on #490
Contouring is split per level, which explains the limit to 5 cores. If we were to take a tiled approach to contouring, it would allow for better CPU usage. But both contouring and smoothing will tend to be heavily memory bandwidth limited.

[2020-04-09 07:36] veggiesaurus commented on #417
As discussed before, we should keep the backend/frontend interface generic, so that we don't have to adjust the ICD every time a scripting command is added. So the backend needs to translate the existing scripting calls to generic messages to send to the frontend. You can see the proposed protocol buffer messages [here](https://github.com/CARTAvis/carta-protobuf/blob/angus/generic_scripting/reques

[2020-04-09 13:03] kswang1029 commented on #478
Would the results be the same if cubes are used in this test? ie image with multiple channels.

[2020-04-09 13:17] veggiesaurus commented on #478
if you're not clearing the cache between each run of the test, you're severely biasing the results.

[2020-04-09 13:33] zarda commented on #478
supposed that the efficiency of disk cache from Lustre doesn't depend on this codes so that I only measure the elapsed time from the disk cache to carta cache.
will disable the functionality of disk cache and re-test this item.

[2020-04-13 01:57] zarda commented on #478
tested the condition with/without pagecache.
![Load w cache](https://user-images.githubusercontent.com/10767557/79085986-1f676b00-7d6d-11ea-9457-197f455061e4.png)
Applied the [tool](https://github.com/svn2github/pagecache-management) to forbid the functionality of pagecache.
![load wo cache](https://user-images.githubusercontent.com/10767557/79085990-20989800-7d6d-11ea-9154-0d956e6bca9e.png)
the p

[2020-04-14 04:11] kswang1029 opened #544 "fail to resume a session if no image is loaded"
A session cannot be resumed when no image is loaded, for example, when file browser is just  launched just like a new session is initialized. The resume progress dialogue persists.

[2020-04-14 11:03] confluence opened #491 "Add mip and range to spectral and spatial profile requests (backend)"
I am currently integrating support for several new HDF5 schema features (mipmaps and chunked datasets) into the backend. These features allow us to use much less memory when loading large files. However, a drop in the performance of spatial profiles has become the major outstanding sticking point.

For HDF5 files which have these schema features, we no longer cache an entire full-resolution channe

[2020-04-14 11:23] kswang1029 commented on #491
Just a quick thought: if we show approximate profiles first then show exact profiles when cursor stops moving for a certain amount of time (200ms?), we could use the screen resolution of the profile chart to decide which layer of tiles is needed to extract approximate profiles. Note that currently, before rendering profiles, the frontend applies decimation to the full profiles based on the screen

[2020-04-14 11:28] kswang1029 commented on #491
Another (crazy) thought, is it possible to predict/extrapolate the movement of cursor to preload tiles for approximate profiles?

[2020-04-14 11:32] confluence commented on #491
I think @veggiesaurus has a similar suggestion, which I will leave up to him to describe. I was looking at this as additional optional information driven by the backend, but perhaps it makes more sense for the frontend to request certain things depending on the user behaviour.

[2020-04-14 11:36] veggiesaurus commented on #491
This was the suggestion I was about to write up. It similar to what we've discussed before, in order to reduce network usage with large files, so it wouldn't be specific to HDF5.

This gets a _little_ tricky because different widgets might have different sizes, but I guess that might be an appropriate solution. If there are multiple widgets, we'd use the highest resolution one. We could also use t

[2020-04-15 06:53] zarda opened #493 "Usage monitor: CPU & RAM"
From #95, report carta backend CPU & RAM usage.
Option:

1. repeating update single or series data over time  as verbose is on.
2. report until event as verbose is on, e.g. heavy compute or memory allocate.
3. report single or series data until requested from frontend.

[2020-04-15 07:31] veggiesaurus commented on #493
Why not just use a tool specially designed for this?

[2020-04-15 07:45] zarda commented on #493
Yes, Valgrind, for example, is a powerful checker for memory issue offline.
Besides, I suppose to have an easy monitor for user,
![Screen Shot 2020-04-15 at 15 39 15](https://user-images.githubusercontent.com/10767557/79310934-47063100-7f2f-11ea-864b-2d60722e26a2.png)

or to get a report coupled with an event or function for programmer.

[2020-04-15 08:18] veggiesaurus commented on #493
`perf` is also handy for determining what's actually taking up that CPU time, and is integrated very nicely into a number of IDEs (e.g. CLion)

[2020-04-15 13:17] kswang1029 opened #494 "truncated header values in the hdf5 images"
we see values are truncated in the FILE_INFO_RESPONSE.fileInfoExtended.headerEntries of an HDF5 image.
![Screen Shot 2020-04-15 at 9 13 36 PM](https://user-images.githubusercontent.com/20819712/79341392-4e90fe80-7f5e-11ea-8abc-4fb6ade7d399.png)
and in fits format it should be
![Screen Shot 2020-04-15 at 9 14 04 PM](https://user-images.githubusercontent.com/20819712/79341420-581a6680-7f5e-11ea-9ecc

[2020-04-15 14:00] kswang1029 opened #495 "swapped major/minor axes of ellipse when exporting as region file"
Not sure if this is frontend of backend.

reported by user

https://github.com/CARTAvis/carta/issues/18

[2020-04-15 14:03] veggiesaurus commented on #487
@pford can you do a PR for `dev` as well?

[2020-04-15 14:34] kswang1029 commented on #495
If we create an "oblate" ellipse (using the anchor for rotation as a reference) like the one in cyan
<img width="858" alt="Screen Shot 2020-04-15 at 10 28 33 PM" src="https://user-images.githubusercontent.com/20819712/79349315-aaf91b80-7f68-11ea-96c6-015361f87625.png">
and export it we see

ellipse [[05:34:42.47061, -005.35.12.3079], [2621.5359arcsec, 442.1343arcsec], 30.00000000deg]

When importi

[2020-04-15 15:00] kswang1029 commented on #495
if we manually swap the two values like

ellipse [[05:34:42.47061, -005.35.12.3079], [442.1343arcsec, 2621.5359arcsec], 30.00000000deg]

we see the imported region is in right orientation, except the location of the rotation anchor.
<img width="854" alt="Screen Shot 2020-04-15 at 10 57 17 PM" src="https://user-images.githubusercontent.com/20819712/79352647-b4848280-7f6c-11ea-88bc-ba03e2493d4b.png"

[2020-04-15 15:13] kswang1029 commented on #491
In v1.0 we use downsampled image data for profile preview (no additional data transfer from the backend) when cursor is moving and full resolution profile comes in from the backend after a stop of 200ms. Now we have tile data, is it possible to do the same like v1.0?

[2020-04-15 15:22] confluence commented on #494
This should be fixed in #496. The default precision used by `std::ostringstream` to format floats is too low. I have set it to 13, which appears to match the precision used in FITS headers.

[2020-04-15 15:25] kswang1029 commented on #494
Confirmed!

[2020-04-15 16:38] #494 closed, assigned to confluence

[2020-04-15 23:22] pford commented on #486
The brightness unit BUNIT for testb.mom0.fits is "JY/B*KM/S".  casacore::ImageStatistics determines whether the flux density can be computed by checking if the units are in Kelvin (contains "K" = true but the K is in KM/S) or if the image has one or more beams and units are per beam (contains "/beam" = false).  ImageStatistics tries to compute flux density but hangs somewhere, likely because it is

[2020-04-16 10:10] veggiesaurus commented on #486
what if we add a manual check ourselves and remove the flux density stats requirement if the unit isn't correct?

[2020-04-16 10:24] veggiesaurus commented on #491
It would require a lot of work, but possible. Although it would be difficult to de-couple the cursor updates for spatial profiles from those of the spectral profiles.

[2020-04-16 10:54] confluence commented on #491
I think that the solution which is conceptually simplest to implement is the frontend making requests for profiles with a particular resolution / sample size. At least on the backend side; this would require the frontend to add logic for determining what resolution is needed. But perhaps that is the most sensible place for that logic.

The backend would then either downsample data from the channel

[2020-04-16 11:41] veggiesaurus commented on #491
yes, a power-of-two downsampling factor and a start-end range would be sufficient I guess.

[2020-04-17 06:09] kswang1029 opened #500 "support sorting of catalog table"
When users click the column head in the catalog table, sorting should be applied to the catalog.
If no filter is applied, sorting should be applied to _all_ data and backend delivers partial data of the sorted ones.
If there is filter applied, sorting should be applied to the _filtered_ data and backed delivers partial data of the filtered and sorted ones.

related to frontend issue https://github

[2020-04-17 06:22] kswang1029 opened #501 "tile streaming blocks catalog streaming"
When we change the zoom level of a raster image, tiles are streamed to the frontend. If we request updates of the catalog table (for example, reset a filtered table) while tiles are streaming, the table update request is queued up.

[2020-04-17 06:36] markccchiang commented on #500
The backend logic is to sort `all` data once the sorting column name is set by users. So I think whether the filter is applied or not, it won't change the results.

[2020-04-17 06:39] ajm-ska opened #502 "C++17 build issue for MacOS"
Just a reminder that somehow the C++ compiler on MacOS needs this set to 17 in order to accept the new C++17 functions used in this and the other hdf5-mipmaps branch.

So changing it to `set(CMAKE_CXX_STANDARD 17)` appears to fix the issue.

https://github.com/CARTAvis/carta-backend/blob/816f6ab6116d684f30eba638abdb3c41f57a3c29/CMakeLists.txt#L4

[2020-04-17 06:43] kswang1029 commented on #500
Then we will need to support that. That is, for example, if there are 200 data out of 2000 survived after a filter is applied, when users click the column head, the backend should sort those "200" data then deliver partial results.

[2020-04-17 07:13] veggiesaurus commented on #501
What is the expected behaviour?

[2020-04-17 07:17] kswang1029 commented on #501
is it possible not to queue up? It happens to me once that I wait a while to get the final tile streamed and before that I requested catalog table update but I saw nothing updated until the last tile came in. Maybe this is an edge case. Not sure how often this will happen in general.

[2020-04-17 07:27] markccchiang commented on #501
@kswang1029 have you tried with more TBB threads like setting `./carta_backend -threads 4` or 8?

[2020-04-17 07:30] kswang1029 commented on #501
Hmm I was using the mix page for testing. Not sure how many TBB threads there are. @ajm-asiaa ?

[2020-04-17 07:38] veggiesaurus commented on #501
I think the issue here is that the backend probably finishes processing the tiles fairly quickly, but there is only a single connection to the frontend, so the order in which things get delivered to your browser is the order in which the backend sends them. By the time you request the filter, the backend has probably already finished its side of tile delivery, and the tiles are already on their wa

[2020-04-17 07:40] kswang1029 commented on #501
OK. maybe we icebox this for now?

[2020-04-17 07:40] ajm-ska commented on #501
@kswang1029 All the ones in main section (starting with origin/) are using the default values. So that would be threads=2 and omp_threads=4.

The 'dev' one is a bit different. I was running it locally with theads=4 and omp_threaads=8, but I have noticed it crashed again, and then the recent commit built it automatically in Jenkins where I had previously experimenting and had set threads=3 to and o

[2020-04-17 07:46] veggiesaurus commented on #501
If you can confirm that this occurs even with more threads, sure. We have a more general issue here: https://github.com/CARTAvis/carta-frontend/issues/604

[2020-04-17 07:49] veggiesaurus commented on #502
@ajm-asiaa do you want to make a PR for this? I see no reason why we shouldn't switch to C++17 if the compilers you're using to make the desktop versions support it.

[2020-04-17 07:50] ajm-ska commented on #501
Just for the record, I have put the automatically built Mix 'n Match 'dev' branch back to the default threads=2 and omp_threads=4 now.

[2020-04-17 08:42] ajm-ska commented on #502
@veggiesaurus I did and then discovered it now fails on ubuntu... But works on CentOS7 (and MacOS)

https://carta.asiaa.sinica.edu.tw/blue/organizations/jenkins/carta-backend/detail/ajm%2Fc%2B%2B17/1/pipeline/10

[2020-04-17 09:31] ajm-ska commented on #502
Our Ubuntu version is 16.04. At first I thought the problem was the gcc version (gcc 7.4.0)
But it wasn't.
Luckily I found the solution [here](https://github.com/everitoken/evt/issues/33) where they said C++17 support starts in cmake 3.8
Our Ubuntu 16.04 was using cmake `3.5.1`!
So I installed the latest cmake from source and now it works!

(I just need to update the ubuntu CircleCI Docker contain

[2020-04-17 10:51] veggiesaurus commented on #502
Good catch! I ddin't realise C++17 required a newer `cmake`. Shall we adjust our `cmake_minimum_required` value to 3.8 as well?

[2020-04-17 11:01] ajm-ska commented on #502
Good idea! I'll just do that now!

[2020-04-17 11:05] #502 closed, assigned to nobody

[2020-04-17 17:23] veggiesaurus opened #505 "very high memory usage and poor performance when loading DS9 regions"
Note: there will be a (far more critical) frontend issue created related to this, but I thought I'd separate the issues.

When loading a 2.3 MB DS9 region file with 15 000 regions,  the backend requires upwards of 2.5 GB to load the region file. The loading process takes about 30 seconds on my machine, and after loading, about 1 GB of memory is required.

I ran some profiling with `perf` and it se

[2020-04-17 18:39] pford commented on #476
Duplicate issue.

[2020-04-17 18:39] #476 closed, assigned to pford

[2020-04-18 00:57] panchyo0 opened #508 "catalog file list response should be same as file list response."
1. When user request `./root`, expected `root` returned rather than './root'.
 2. Remove all hidden folder from subdirectories.

<img width="558" alt="Screen Shot 2020-04-17 at 6 51 13 PM" src="https://user-images.githubusercontent.com/22226157/79624070-9473d100-80dc-11ea-8950-9e4951e17ca4.png">
<img width="558" alt="Screen Shot 2020-04-17 at 6 50 48 PM" src="https://user-images.githubusercontent.

[2020-04-20 05:31] kswang1029 commented on #501
Hmm, I cannot find a way to reproduce the issue. I will keep an eye on this and maybe we can icebox this issue now(?).

[2020-04-20 05:51] ajm-ska commented on #501
Could it be because I had it using an odd number of threads?  `threads=3` ?

[2020-04-20 05:52] kswang1029 commented on #501
not sure. it might be due to unstable internet too.

[2020-04-20 06:37] kswang1029 opened #509 "performance optimization of loading catalog file"
With the current dev backend, loading a 100k source catalog (~240MB) took ~38 seconds from pressing the load button to seeing the catalog widget showing up. When loading a 20k source catalog (~48MB), it took ~8 seconds.

Comparing to the desktop application TOPCAT, it appears there is room for performance optimization of catalog loading. "psrecord" charts are attached when loading 20k-source and 1

[2020-04-20 10:56] veggiesaurus commented on #373
@pford can we try to work around this? Preventing users from opening certain FITS files entirely is quite an issue.

Here's a simple example of the type of header that is causing this issue:

[code]

[2020-04-21 04:55] markccchiang commented on #509
The plots showing here are for TOPCAT performances. Are the same plots for CARTA performances available?

[2020-04-21 04:57] kswang1029 commented on #509
I don't have because I don't have a Mac desktop version for testing, unless @ajm-asiaa can help to make an alpha?

[2020-04-21 05:03] ajm-ska commented on #509
@kswang1029  You mean a MacOS version of the current 'dev' branch of the carta-frontend and carta-backend?

[2020-04-21 05:05] kswang1029 commented on #509
@ajm-asiaa yes, it would be a plus for this issue. Not super urgent I guess. @markccchiang you can use perf or other tools I guess?

[2020-04-21 05:55] markccchiang commented on #509
`perf` seems not available for Mac. But @ajm-asiaa has installed it on the server that allows me to test. It is not urgent since I can also use `psrecord` to test them on my Mac.

[2020-04-21 07:56] veggiesaurus commented on #509
`gperf` is included with the Xcode dev tools. `psrecord` only tells us what the CPU usage is, it doesn't really help us determine what part of the code is using the CPU. For optimisation, unless you have an accurate idea of what section of the code is using CPU time, you're likely to waste time prematurely optimising the wrong functions.

[2020-04-22 08:54] #495 closed, assigned to pford

[2020-04-22 10:43] veggiesaurus commented on #340
Since we currently only support region colours, line thicknesses and dash length on the frontend, I'd suggest we start with just those three properties. The colour could be sent as it is defined in the file, as a `string`, and then interpreted in the frontend (either hex, an RGB string or a standard color). The thickness should be in pixels. The only hitch is that the frontend UI currently support

[2020-04-22 14:07] #172 closed

[2020-04-22 14:10] #394 closed, assigned to kswang1029

[2020-04-22 14:11] kswang1029 commented on #358
@kswang1029 Double check again!

[2020-04-22 14:11] #13 closed

[2020-04-22 14:13] #374 closed

[2020-04-22 14:18] #486 closed, assigned to pford

[2020-04-22 14:19] #487 closed, assigned to pford

[2020-04-22 14:20] kswang1029 commented on #377
@kswang1029 double check!

[2020-04-23 15:34] veggiesaurus commented on #509
I've stress-tested the catalog loading with a 1.6 GB VOTable file, which consists of 920K rows, and 62 columns (mostly `double` or `float`).

TopCat managed to load the table considerably faster than CARTA, but used a lot more memory. Still, it shows there's definite room for improvement on our side. I think we're not exploiting the fact that the `TABLEDATA` element has only `TR` and `TD` children

[2020-04-24 02:01] kswang1029 opened #511 "support catalog files in FITS format"
The backend needs to support catalogue files in FITS format. Example FITS table is accessible [here](https://drive.google.com/open?id=1v4Hv5Ve7HsW3YtNRNmyb8CxEdXhu3UkT).

[2020-04-24 02:02] kswang1029 opened #512 "support catalog file in votable-binary2 format"
The backend needs to support catalog files in votable-binary2 format. Example table is accessible [here](https://drive.google.com/open?id=1v4Hv5Ve7HsW3YtNRNmyb8CxEdXhu3UkT).

[2020-04-24 06:58] zarda commented on #478
Updated for the question from @kswang1029 : will the result be different for the image with multiple channels?
This result shows that a few performance reduce for small images. There is no significant difference between the cube image and single-plane image in a large size.

[2020-04-24 07:58] ajm-ska commented on #439
@confluence How is [this](https://github.com/CARTAvis/carta-backend/commit/2a86b509a78272d8df4eec65d20aaab7f1697fa8) change?

[code]

I think this means it will look in `/usr/include` first. If it doesn't find what it is looking for it will look in `/usr/local/include`. So on ubuntu it should pick up the PPA installation of casacore and casacode in `/usr/include`. On RedHat and MacOS, it won't fin

[2020-04-24 07:59] Kechil commented on #475
Multiple verbosity levels?

[2020-04-24 08:04] kswang1029 commented on #475
possibly one level for logging messages and another level for performance timers.

[2020-04-24 08:38] confluence commented on #439
Can we test the change in docker containers?

Are there no generic symlinks to those version-specific Homebrew paths, as suggested [here](https://cmake.org/pipermail/cmake/2016-November/064613.html)?

[2020-04-24 09:14] kswang1029 opened #513 "including catalog in session resume"
Session resume needs to include catalog feature.

[2020-04-24 09:33] veggiesaurus commented on #340
@pford can we implement the three important parameters (colour, line width and dash) for 1.4?

[2020-04-25 04:35] ajm-ska commented on #439
OK. I'll try to test in docker soon.

Thanks for finding that information about Homebrew paths. On MacOS, I see sym-links to the Homebrew installed packages are indeed in `/usr/local/opt` and sim-links to their include directories are in `/usr/local/include` e.g.
[code]
Our CMakeLists.txt didn't have a `INCLUDE_DIRECTORIES(/usr/local/include)` line. By adding that line, now a basic `cmake ..` gets

[2020-04-28 07:44] zarda commented on #493
@veggiesaurus
I tried to use perf to get CPU usage, like the 'top' gives us. Is there any trick to get the CPU usage of one function inside CARTA while the backend is running? I ran 'perf record -g' and 'perf report -g --show-cpu-utilization -n' to get CPU usages, which doesn't like the common usage I know. Or maybe I use wrong way.
My purpose is to get the usage to make a benchmark for a bottlene

[2020-04-28 07:50] veggiesaurus commented on #493
I've never used perf like that. I've always used it in sampling mode. The sampling process itself increases CPU usage, but it allows you to see the relative CPU usage between functions when you view the results. This is best done with a GUI-based tool. Either an IDE or one of the standalone perf frontends

[2020-04-29 09:55] kswang1029 opened #514 "improve UX of loading catalog by two-step approach"
referring to https://github.com/CARTAvis/carta-frontend/issues/903

Currently the performance of loading a catalog scales roughly linearly with file size. This results in scalability issue, especially when loading very large catalog.

As an improvement of this, we can perform "two-step" loading. The first step is to load full column head info and the first 50 rows. Once this is done, the backend r

[2020-04-30 05:10] kswang1029 commented on #478
Should have some differences. Could you visualize the differences? By how much % are they?

[2020-04-30 08:36] zarda commented on #478
Single channel image to multiple channel image, the difference in percent is labeled on plot.
![Load casa](https://user-images.githubusercontent.com/10767557/81165453-971f6300-8fc4-11ea-985a-a8e500f3134e.png)
![Load fits](https://user-images.githubusercontent.com/10767557/81165802-304e7980-8fc5-11ea-9ff5-17d056d5045f.png)
![Load hdf5](https://user-images.githubusercontent.com/10767557/81165465-9b4

[2020-04-30 16:32] pford commented on #436
Updated protobuf to add comment field to HeaderEntry, and updated this branch to use it in header_entries.  Need frontend support to merge PR #454 .

[2020-05-05 06:59] veggiesaurus opened #519 "Explore alternative XML libraries to improve catalog performance"
The current catalog loading implementation is significantly slower than TopCAT. Alternative approaches to the libXML-based approach should be explored in order to speed up catalog loading speeds.

[2020-05-05 07:15] Kechil commented on #363
Not sure how to proceed with this one.

[2020-05-05 11:10] robsimmonds commented on #363
It turns out that there are very few events which are truly independent in the backend. There is a need to do some more work on which events can be started and which should be queued waiting for some condition; generally for a previous event to complete. In some cases events can be deleted before they are executed based on a condition; usually the arrival of a new event that makes the processing o

[2020-05-06 15:23] pford opened #520 "Support complex image types"
Currently, all images are opened with float data type.  Carta should support:

- [ ] Complex image
- [ ] Integer image
- [ ] Boolean Image

See #868

This issue separated to prioritise complex image types.

Issue separated from #388 , see also #77

For a complex-valued image, we need to support the following _raster data_ requested from the frontend:
- [ ] real part of the complex value
- [ ] imag

[2020-05-06 17:14] pford commented on #520
Copying comment from #388:
We should probably investigate alternative data delivery mechanisms for integer and boolean images. For integers, the byte-shuffling and Zstd compression approach taken with contours would probably work nicely. For booleans, sending them as bit arrays rather than byte arrays, and using Zstd (or even just the gzip compression built into WebSocket transmission) should be s

[2020-05-07 14:49] confluence commented on #460
I've noticed some weirdness in the casacore header output while parsing it in the generic scripting wrapper. The returned entries are different to the original header (which is not necessarily a problem), but are also inexplicably different between a FITS file and the HDF5 file converted from that FITS file (when the converted headers should be the same). Almost every HDF5 file I've checked also h

[2020-05-08 20:48] jott3077 commented on #388
Hi Pam,
LEL images are created dynamically. We would have to get an interface similar to the CASA viewer where one can enter the mathematical expression.

[2020-05-08 20:54] jott3077 commented on #520
Sanjay would like to see the complex images as a high priority as it is essential for ARDG. Is there a chance that can be addressed first?

[2020-05-08 21:04] sanbw commented on #520
Yes please.  Support for complex-valued images with options to display them as real, imaginary, amplitude or phase is what we (ARDG) needs. Basically the kind of support that exists in the current casa viewer.

[2020-05-08 21:28] sanbw commented on #520
An example complex image can be picked up from /home/dhruva2/disk4/sanjay/CFCaches/CFS_0_0_CF_5_30_1.im.  The header of this image looks like the following:

INFO		Image data type  : Complex
INFO	+	Image name       : CFS_0_0_CF_5_30_1.im
INFO	+	Object name      :
INFO	+	Image type       : PagedImage
INFO	+	Image quantity   : Intensity
INFO	+	Pixel mask(s)    : None
INFO	+	Region(s)        : None
I

[2020-05-11 05:59] kswang1029 opened #524 "regression: unable to load image"
Test image: set_QA/spire500_ext.fits

<img width="1642" alt="Screen Shot 2020-05-11 at 1 58 05 PM" src="https://user-images.githubusercontent.com/20819712/81528507-74f45f00-938f-11ea-8f63-305e3e9bd52a.png">

[2020-05-11 07:45] veggiesaurus commented on #524
@kswang1029 is it definitely a frontend bug, rather than a backend bug? That looks like a casacore error message

[2020-05-11 07:46] kswang1029 commented on #524
honestly I don't know. 🙈

[2020-05-11 07:49] kswang1029 commented on #524
Looks like frontend? The hdu field is compromised.

![Screen Shot 2020-05-11 at 3 48 46 PM](https://user-images.githubusercontent.com/20819712/81536915-ed165100-939e-11ea-99a5-d984023ebfc7.png)

[2020-05-11 07:49] veggiesaurus commented on #524
![image](https://user-images.githubusercontent.com/592504/81536912-a1e34a80-936c-11ea-8f1c-9829017eb824.png)

The ACK comes back as a failure from the backend.  Looks like the HDU might be wrong though

[2020-05-11 07:50] veggiesaurus commented on #524
Snap 😄

[2020-05-11 07:54] veggiesaurus commented on #524
![image](https://user-images.githubusercontent.com/592504/81537201-203fec80-936d-11ea-8893-51cab04fe375.png)

The issue is that the backend is sending the HDU names as above, so the frontend is sending the "correct" HDU value, based on what it receives from the backend. @pford do you think this crept in when we adjusted something to do with how we display the HDU names?

[2020-05-11 07:56] veggiesaurus commented on #524
The easiest way to fix this would be for the frontend to strip out the `Extname: ..` part, but that would be a bit hacky, and it might make more sense to switch to a `map<int, string>` in the protobuf messages, so we can store both the ID _and_ the HDU name.

[2020-05-11 07:56] kswang1029 commented on #524
origin/dev 829a042 5016 2020-05-04 15:09:31 UTC
this backend dev (May 4) works fine.

[2020-05-11 08:20] veggiesaurus commented on #524
@confluence it seems to break after your cache changes. Not sure _how_ that could happen though. Could you give it a check?

[2020-05-11 08:35] veggiesaurus commented on #520
@jott3077 Could we effectively treat the different representations of these complex numbers (real, imag, amplitude, phase) in a similar manner to the different Stokes parameters? The real and imaginary parts would be directly stored in the data, right? And the amplitude and phase would b calculated from the stored values. I know @arusstaylor has requested something similar for Stokes cubes (#433),

[2020-05-11 14:39] pford commented on #524
OnOpenFile doesn't strip the ExtName part of the HDU string before requesting the file info, which OnFileInfoRequest does.  This bug was in the backend code but never happened since the cached file info was used.  I will fix it.

[2020-05-11 14:58] pford commented on #524
We will change the HDU to a map when we move the HDUs out of the main file list into the file info (#357 )

[2020-05-11 15:37] #524 closed, assigned to pford

[2020-05-12 00:21] jott3077 commented on #520
yes, that sounds similar. In fact I just got a request to calculate pol intensity and angle from Stokes cubes, which I think is implemented in the Stokes analysis widget but not yet for single images. SO the calculation back and forth seems to be similar. I will confirm with Sanjay if the formats can be either Re/Im and Amp/Ph or if Re/Im is the only one. In the first case the calcuations would ne

[2020-05-12 00:22] jott3077 commented on #520
Sanjay,
are the image formats always Re-Im values, or are there also formats with Amp-Ph? In other words, do the calculations need to go both ways or just from Re-Im -> Amp->ph?
Juergen

[2020-05-13 16:27] pford commented on #485
Reassigning to Mark.  Or you can close this issue and include it in #154.

[2020-05-17 02:49] sanbw commented on #520
I suppose you are talking of storage format?  If so, then Re/Im is the only
one.  Each pixel is complex-valued, which basically means that with each
pixel, there two floating point numbers associated (in single or double
precision).  I am assuming that CARTA is using the CASACore's
ImageInterface.  If so, that's templated and all you need to do is open the
image as ImageInterface<Complex> or Image

[2020-05-20 05:59] #439 closed, assigned to ajm-ska

[2020-05-20 11:59] veggiesaurus opened #528 "Cannot import ICRS regions to FK5 image"
Importing ICRS regions into an FK5 image results in a backend error message:  `The error message when using CRTF or DS9 region files is Unsupported coordinate frame for regions ICRS`

Steps to reproduce:
1. Open an ICRS image
2. Create some regions
3. Export regions in either CRTF or DS9 format, with world coordinates. These will get exported in ICRS
4. Open an FK5 image
5. Import created regions

[2020-05-21 03:25] kswang1029 commented on #528
Hmm this indeed causes bad UX. The only possible solution is to manually modify the region text file with correct world coordinates at a specific reference system. Not very critical though. I suppose when wcs region is in place, this should be solved. For example, a region file in galactic coordinates could be applied to few matched images with different coordinate systems such as FK5, Ecliptic, e

[2020-05-21 07:28] veggiesaurus commented on #528
I'm not sure that will fix the issue. This occurs when loading a single set of regions onto a single open image.

Am I misunderstanding the issue? It seems like quite a fundamental limitation (not being able to load ICRS regions onto anything other than ICRS images)

[2020-05-21 09:46] ajm-ska opened #529 "Multiple backends can use the same grpc_port"
On ubuntu, it looks like we can start two carta_backends (on different ‘ports’) but the same gRPC port simultaneously:
[code]
[code]
In contrast, if we were to start two carta_backends on the same 'port', the 2nd backend would quit with an error message `Error listening on port 3002` It should have the same behavior for the grpc_port.

It is a bit different on MacOS (maybe due to clang?). If we ru

[2020-05-28 16:59] #500 closed, assigned to veggiesaurus

[2020-05-28 16:59] #509 closed, assigned to veggiesaurus

[2020-05-28 16:59] #511 closed, assigned to markccchiang

[2020-05-28 16:59] #519 closed, assigned to veggiesaurus

[2020-05-29 21:59] pford opened #531 "Remove deprecated TBB features"
https://www.threadingbuildingblocks.org/docs/help/index.htm#reference/appendices/deprecated_features/cpp_obsolete/atomic_cls.html

Warnings when building backend for:
- tbb/atomic.h
- tbb/mutex.h
- tbb/task_scheduler_init.h
- tbb/tbb.h (contains deprecated functionality)

For example:
/usr/include/tbb/mutex.h:21:140: note: #pragma message: TBB Warning: tbb/mutex.h is deprecated. For details, pleas

[2020-05-31 14:33] #514 closed, assigned to veggiesaurus

[2020-06-01 17:13] veggiesaurus commented on #357
@pford I assume you mean the file type, right? Returning the HDU types (image vs table) would require deeper inspection of the file, whereas just checking if it's a FITS file would require reading only the first 8 bytes of the image.

[2020-06-01 17:19] veggiesaurus opened #532 "catalog file list handling of symlinks"
There's a bit of an issue with symbolic links in the catalog file list generator, because it currently allows users to access folders outside of the "root" folder by following a symbolic link:

![image](https://user-images.githubusercontent.com/592504/83435475-9b606400-a43c-11ea-93b3-649831c0e039.png)

![image](https://user-images.githubusercontent.com/592504/83435539-be8b1380-a43c-11ea-929a-82d99

[2020-06-02 02:13] kswang1029 opened #533 "backend not launched in the electron app"
Over the past weeks (probably starting from v1.3) I noticed that _sometimes_ the backend is not launched successfully when we launch the electron app. The backend log is empty so we don't know what went wrong. It is hard to find a robust way to reproduce this...

<img width="1392" alt="Screen Shot 2020-06-02 at 10 09 06 AM" src="https://user-images.githubusercontent.com/20819712/83472319-8bd33080-

[2020-06-02 14:05] Jordatious commented on #357
I have a related problem, that might actually be the same. When browsing directories with many of files (e.g. FITS images and catalogues, CASA / miriad / HDF5 files), CARTA browses through those directories very slowly. I thought that might be because it's reading those images so it can display the information about them in the "File Information" and "Header" tabs. It would be useful for the user

[2020-06-04 23:59] low-sky opened #535 "Support Different dimensionalities of Stokes data"
Current, CARTA's polarization widget targets visualization of 4D Stokes data cube with axes Lat, Lon, Freq, Stokes.  There are other dimensionalities of Stokes data used in the community:

1. 3D Stokes image (Lat, Lon, Stokes)
2. 4D Stokes image (Lat, Lon, Freq, Stokes) **Implemented**
3. 2D Stokes Image set (Lat, Lon) x (I, Q, U, V)
4. 3D Stokes Image set (Lat, Lon, Freq) x (I, Q, U, V)

Now that

[2020-06-05 03:01] zarda opened #537 "HDF5 load error as use URL command"
Reproduce:
http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev&folder=set_QA_performance/cube_A&file=cube_A_01600_z00100.hdf5

http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev&folder=set_HDF5&file=cluster_04096.hdf5

Issue:
There is no issue while loading image using UI operation to load HDF5 files. Bu

[2020-06-05 21:15] pford commented on #528
This is thrown by imageanalysis code (Annotations/AnnotationBase.cc).  When the region coordinates must be converted because the file frame (_directionRefFrame) does not match the image coordinate system (_csys) frame, only the following types are supported:

	if (_directionRefFrame != _csys.directionCoordinate().directionType(false)
		&& _directionRefFrame != MDirection::B1950
		&& _directionRefF

[2020-06-06 17:52] veggiesaurus commented on #528
what is `MDirection::DEFAULT`? Isn't ICRS _the_ standard when it comes to coordinate systems? Seems odd that it's missing :thinking:

[2020-06-08 03:59] pford commented on #528
Default is J2000.  Dave said ICRS is not on the list because it wasn't in the requirements at the time.  I will add it and recompile casacore and see what happens.

[2020-06-08 11:57] veggiesaurus commented on #537
@confluence can you look into this? It might be related to the fact that when loading from URL directly, we don't first fetch file info

[2020-06-08 12:03] confluence commented on #537
Will do.

[2020-06-08 13:57] confluence commented on #537
These are two different errors. The second "file does not exist" error is not a bug; there isn't a `cube_A` subdirectory in `set_HDF5`.

I will look into the other error.

[2020-06-08 14:25] confluence commented on #537
This is caused by incorrect handling of the default empty HDU value in the backend. I recently encountered a related issue in the scripting wrapper.

[2020-06-08 15:24] pford commented on #528
My simple test (add ICRS to the list of accepted frames) worked, will submit a CASA pull request.

[2020-06-08 17:24] #537 closed, assigned to confluence

[2020-06-08 17:25] confluence commented on #537
This should be fixed now.

[2020-06-17 09:02] #334 closed

[2020-06-17 09:02] #445 closed, assigned to pford

[2020-06-17 09:58] #529 closed, assigned to confluence

[2020-06-18 02:13] kswang1029 opened #541 "position offset seen in exported region"
sorry I did not catch this in the PR #539

When we create a rectangle region in CARTA, we see
<img width="1177" alt="Screen Shot 2020-06-18 at 10 06 03 AM" src="https://user-images.githubusercontent.com/20819712/84969650-b248cb00-b14b-11ea-8e2e-a891c391152f.png">

Then we export this region as a casa region text file and import it back. We see
<img width="1175" alt="Screen Shot 2020-06-18 at 10 06

[2020-06-18 15:55] pford commented on #541
I noticed this while testing, and tracked it down to the world->pixel conversion of the center coordinates using casacore::DirectionCoordinate::toPixel which ultimately calls wcslib wcss2p.  Although the pixel coordinates returned are double values, they are not fractional pixels.

[2020-06-19 10:53] kswang1029 commented on #541
Is this a casacore/wcslib bug or “feature”?

[2020-06-22 06:39] kswang1029 opened #542 "crash when the frontend requests an invalid tile id"
Related to raster tile ICD tests: https://github.com/CARTAvis/carta-backend-ICD-test/pull/109 from @acdo2002

This is probably not able to be triggered by users. When the frontend requests an invalid tile id (eg. ICD test), the backend will crash. An an enhancement of the robustness of the backend, a guard should be added to check the validity of tile ids.

[2020-06-22 14:33] teuben opened #648 "feature request: handle fits.gz files"
Some archives deliver their data in fits.gz format, in the case I was using, they were able to get the sizes down to 50%.
Both fv and ds9 handle this transparently, and we're going to miss the boat of community acceptance if carta doesn't handle this transparently.
Yes, this means I had a case where I think carta does a better job than ds9, but I resorted to ds9 because I had too many files and di

[2020-06-22 14:54] kswang1029 commented on #648
You can make the default layout to “cube view” which has x, y and z scan. Or you can design your own layout and save it and make it as default via the preferences dialogue.

[2020-06-22 15:02] kswang1029 commented on #648
In addition, we have a plan to implement an option called “smart” layout which loads user-defined layouts based on image dimension/type.

[2020-06-23 07:58] kswang1029 opened #553 "pixel value does not update if the initial layout does not contain spatial profile widgets"
to reproduce the issue:
1) create a layout without any spatial profile widgets, save and set as default layout
2) reload CARTA and load an image
3) move cursor around and observe the pixel value in the cursor info bar, which does not update while cursor is moving.

[2020-06-23 10:05] kswang1029 opened #543 "delayed update of spatial profiles after animation has stopped"
Spatial profiles keep updating after animation has stopped.

![Jun-23-2020 18-13-27](https://user-images.githubusercontent.com/20819712/85391880-56cc7200-b57d-11ea-96c2-827eeff47882.gif)

This issue is easier to be re-produced under poor network condition.

[2020-06-23 10:28] veggiesaurus commented on #543
The underlying issue here is that the flow control messages are sent to the backend, but not handled correctly. As such, the backend simply sends new frames as fast as it can, rather than at a rate that the frontend can handle. When the animation is stopped, a large number of frames are still being received by the frontend, so all incoming traffic is blocked until these frames are received and dis

[2020-06-23 10:33] kswang1029 commented on #543
At 1 fps, I see spatial profile updates slightly faster than the image.

[2020-06-23 10:33] veggiesaurus commented on #543
are the spatial profiles just delivered first?

[2020-06-23 10:41] kswang1029 commented on #543
YES we see the following sequence:
<== SPATIAL_PROFILE_DATA [Stream]
<== REGION_HISTOGRAM_DATA [Stream]
<== RASTER_TILE_SYNC [Stream]
<== RASTER_TILE_DATA [Stream]
....

<img width="424" alt="Screen Shot 2020-06-23 at 6 42 22 PM" src="https://user-images.githubusercontent.com/20819712/85394651-71a0e580-b581-11ea-8094-3378cc9c543c.png">
...
<img width="424" alt="Screen Shot 2020-06-23 at 6 43 10 PM

[2020-06-23 10:43] veggiesaurus commented on #543
But they're still all delivered at 1 fps, right? So it's just a matter of how they are ordered

[2020-06-24 11:56] #544 closed, assigned to veggiesaurus

[2020-06-24 12:03] #383 closed, assigned to markccchiang

[2020-06-24 12:12] Kechil commented on #543
Same as #366

[2020-06-24 12:21] Kechil commented on #501
The only way to fix this is to multiplex to server - tricky. Already an issue to deal with this.

[2020-06-24 15:05] veggiesaurus commented on #553
@kswang1029 is this a regression? For me, the pixel value stops updating as soon as I remove spatial profile widgets, regardless of what the default layout is

[2020-06-24 15:15] kswang1029 commented on #553
Hmm I did not notice that. Do you think we should have a dedicated message for cursor values, considering wcs cursor over a set of matched images? We need a cursor widget (was part of v1.3, or more precisely full wcs support) for v1.4. Right now we use spatial_profile_data to deliver cursor value for the image in the view. This implies  we need multiple to deliver cursor values for different match

[2020-06-24 15:57] veggiesaurus commented on #553
This seems to be a regression. In 1.3.1 (ubuntu appimage), closing all spatial profiles still results in the cursor value being delivered. I wonder if it is related to @pford's refactoring?

[2020-06-24 16:08] veggiesaurus commented on #648
I agree that we should support this. Unless I'm mistaken, compressed FITS files are handled correctly by cfitsio. So we might just need to investigate what's stopping casacore from supporting this. @teuben can you send us an example file? I remember trying _some_ fits.gz files that worked properly in CARTA, and others that didn't.

[2020-06-24 16:22] teuben commented on #648
ok, here's a good challenge.   I have two files in my https://www.astro.umd.edu/~teuben/data/
The cube is hidden as an image in the first extension, the m0 file is a true classic fits file.
Salient detail:    ds9 will not correctly overlay (match WCS) these two, I will need to contact the ds9 author about this.
These data are from Hershel, they have a pretty complex hierarchy of fits.gz files, whe

[2020-06-26 09:27] veggiesaurus commented on #531
`task_scheduler_init`  is the tricky one to replace, I think :thinking:  The other ones can be replaced trivially by `std::atomic` and `std::mutex`

[2020-06-27 15:09] keflavich commented on #431
I'm seeing the same issue on CARTA 1.3.1.  Is there any way to load a file _without_ using the file browser?

[2020-06-27 17:39] jott3077 commented on #431
try carta <imagename>

On June 27, 2020 09:09:30 Adam Ginsburg <notifications@github.com> wrote:

Sent with AquaMail for Android
https://www.mobisystems.com/aqua-mail

[2020-06-27 19:43] keflavich commented on #431
That had no effect - I still see "No file loaded".

However, running carta & specifying the file name does work if I start from a directory that contains no .image files.

I suggest *not* loading the file browser at startup.  In folders containing large numbers of .images - which as you can see from both @jott3077 and my use cases, is common if not the default - CARTA simply fails to load.

[2020-06-29 05:25] kswang1029 commented on #431
I tried
`carta carta_lots_files`
to launch CARTA with a custom folder "carta_lots_files" which contains 1000 fits images, 1000 miriad images (folder image), 1000 casa images (folder image), 1000 CRTF files, and 1000 plain text files. It works although it takes some time to load (with MBP SSD).

@keflavich in your case, what does your folder look like?

[2020-06-29 07:57] veggiesaurus commented on #431
This is configurable in the preferences dialog: Preferences -> Global -> Auto-launch file browser. We are also working on improving parse speed for single-file images (FITS, Miriad, etc). Not sure if this will also translate to improved speeds for CASA images, though.

SSDs have _much_ higher (100x) random read speeds, which is what is governing the speed at which these files are parsed.

[2020-06-29 08:07] veggiesaurus commented on #531
Assigning this to @robsimmonds because his `tbb-be-gone` branch should solve this.

[2020-06-29 08:14] kswang1029 commented on #431
@veggiesaurus i will try again with much more files!

[2020-06-29 08:29] veggiesaurus commented on #431
Could you try with files on an external hard drive or something? A HDD-based Lustre would also be a good option for testing

[2020-06-29 08:32] kswang1029 commented on #431
ok. I will try again with an external 5400rpm 2.5” HDD. For lustre, our demo server has such kind of folder and it is very slow...

[2020-06-29 11:39] keflavich commented on #431
In my case, I have 455 images cube images (x9 for weight, psf, residual, sumwt, model, pb, mask, image.pbcor) and 827 continuum images (x22 for the associated stuff).  So, 22,289 files, summing to probably 10-50 TB (it'll take a while to sum that up).  Obviously this is some sort of network drive, almost certainly with spinning disks, so access times are pretty abysmal.

I'll try disabling the aut

[2020-06-29 23:36] keflavich opened #549 "Monocolored image display despite slices showing structure"
I've loaded an image cube, and it displays semi-successfully, but the main image panel is blank - but the data are clearly fine, since the profile tools show signal.

![image](https://user-images.githubusercontent.com/143715/86066020-03579980-ba3f-11ea-9a40-02de5502c074.png)

[2020-06-29 23:45] veggiesaurus commented on #549
This looks like a GPU rendering error. Are you using CARTA over VNC or X11-forwarding? If not, what sort of system are you running it on? Could you visit webglreport.com in Chrome from the same machine and paste the output here?

[2020-06-29 23:48] keflavich commented on #549
I'm running on xpra, so, yeah, that makes some sense.  I don't think I can even start a browser on this computer.

The ideal solution on this machine is to start a server and access it through ssh tunneling, but it's rh7...

[2020-06-29 23:53] veggiesaurus commented on #549
That should be possible on RH7 if you start up the app with the remote flag.

[2020-06-29 23:58] keflavich commented on #549
Nice, that's exactly what I needed to know!  However, adding the `--remote` flag seems to have disabled the command-line load function - can I load a file from the cmdline with this approach?  Now I have an active CARTA window on my machine (awesome!), but no filebrowser _or_ file:

![image](https://user-images.githubusercontent.com/143715/86067442-e1f8ac80-ba42-11ea-9e63-0ca905139641.png)

[2020-06-30 00:02] keflavich commented on #549
Oh, I see that's not supported:
`Error: Can not open a CASA or MIRIAD image directly if you are also requesting "--remote" mode`

[2020-06-30 00:03] keflavich commented on #549
I was able to start a file browser using the shortcut keys `ctrl-O`, but it just hangs:
![image](https://user-images.githubusercontent.com/143715/86067737-8ed32980-ba43-11ea-9942-1e2de2ee30ea.png)

(also, I switched to the dark view mode - thanks for providing that!)

[2020-06-30 00:06] veggiesaurus commented on #549
That looks like it's not connecting to the backend correctly.

When running in remote mode you can specify the file by editing the URL. See here for details: https://carta.readthedocs.io/en/latest/installation_and_configuration.html#command-line-startup

[2020-06-30 00:10] keflavich commented on #549
:+1: that's excellent.  Of course, it still doesn't quite work.  I tried to append:
`&file=W51-IRS2_B3_spw0_12M_n2hp.image&folder=/orange/adamginsburg/ALMA_IMF/2017.1.01355.L/imaging_results/`
and two variants, just in case:
`&file=/orange/adamginsburg/ALMA_IMF/2017.1.01355.L/imaging_results/W51-IRS2_B3_spw0_12M_n2hp.image` and `&folder=/orange/adamginsburg/ALMA_IMF/2017.1.01355.L/imaging_results/

[2020-06-30 00:13] veggiesaurus commented on #549
How are you connecting? Using an SSH tunnel? If so, are you forwarding both of the required ports? We currently need two ports to be forwarded: the backend runs on one port and the light http server runs on another.

[2020-06-30 00:16] keflavich commented on #549
Yep, you nailed it, I didn't realize two ports were required.  Awesome, I now have a cube!

Thanks for walking me through this.  I realize a lot of what you told me is documented [here](https://carta.readthedocs.io/en/latest/installation_and_configuration.html#command-line-startup), but I'm not sure I could've penetrated all of that in finite time without your help.

[2020-06-30 00:18] keflavich commented on #549
Uh, another question, along these lines... can I open a *second* file using the web interface?

[2020-06-30 00:22] veggiesaurus commented on #549
I guess you could open it in a new tab, but that's probably not ideal. Is this in order to avoid the slow file browser issue?

For 1.4, we will actually be including some basic scripting support, so you'd be able to load images either via a python script, or via a new built-in debug scripting dialog.

[2020-06-30 00:25] keflavich commented on #549
Yes.  And because I want to start loading up 3 images at a time: image, model, and residual to do some cube inspection.

Scripted loading would be great.  This process has been... successful, where my attempts with other viewers broadly haven't been, but it is no easy feat.

[2020-06-30 03:52] kswang1029 commented on #431
I tried a folder living in the external HDD (2.5" 5400rpm, USB type-C), which contains
1) 5000 casa images
2) 5000 fits images
3) 5000 miriad images
4) 5000 CRTF files
5) 5000 plain text files

Firstly I cd to the external directory "/Volumes/WD_2TB_backup/carta_lots_files" and launch CARTA via command line without any arguments. It loads successfully (slow....).

Will try with a network storage t

[2020-06-30 06:53] veggiesaurus commented on #431
How slow is "slow"?

@keflavich I'm wondering if something is actually causing the CARTA backend to crash or get into a deadlock. Could you attach your most recent log file? (usually found in `~/CARTA/log`)

[2020-06-30 06:57] veggiesaurus commented on #549
@keflavich I'm closing this issue, but will create a new issue in the frontend repo for improving the reporting of these sorts of errors. For example, it would have been helpful if the frontend had reported that it had an issue running WebGL, with a list of suggested fixes

[2020-06-30 06:57] #549 closed, assigned to nobody

[2020-06-30 06:58] kswang1029 commented on #431
in my case, 1 min 29 sec......

[2020-06-30 11:48] keflavich commented on #431
I have also had successful loads in ~1-2 minutes in directories with a few hundred images.  I suspect the network drive is making this much slower.  Does file size matter?

One thing that's frustrating is, if I accidentally navigate to one of these big directories, CARTA is "dead" either for minutes (for a medium-size directory) or forever (for a huge one).  Is there any way to enable a user to pa

[2020-07-07 07:44] veggiesaurus opened #551 "Adjust sorting columns in catalog widget"
The file browser has a more conventional approach to choosing sorting columns than the catalog widget. Could we update the catalog widget to mirror this approach? The only difference would be that each column in the catalog widget would need to toggle between ascending, descending and unsorted (can just use 1, -1 and 0), while the file browser just switches between ascending and descending.

@panc

[2020-07-07 16:36] pford commented on #528
CASA ticket CAS-13074 is waiting for validation.

[2020-07-07 19:17] pford commented on #415
grpc service added in PR #523 for the generic scripting client.

[2020-07-07 19:17] #415 closed, assigned to pford

[2020-07-08 09:35] veggiesaurus opened #552 "Problem getting statistics for region when image files have differing coordinate systems"
PR #539 made it possible to request analysis for a region that is defined in a different image, which is exactly what we need for the WCS region feature. However, it seems to struggle when the reference image's coordinate system doesn't match the secondary image's coordinate system.

To reproduce in my test branch `angus/shared_regions` (this branch supports _displaying_ of point and polygon regio

[2020-07-08 10:25] #421 closed, assigned to markccchiang

[2020-07-08 11:13] veggiesaurus commented on #505
@veggiesaurus to re-test with same file

[2020-07-08 11:20] veggiesaurus commented on #340
@pford for 1.4 we just need the above three (colour, line width and dash). For the rest, we can wait until 1.5 or later

[2020-07-08 11:25] veggiesaurus commented on #543
@robsimmonds to fix flow control issue, which should solve this issue as well as #366

[2020-07-08 11:26] #513 closed, assigned to markccchiang

[2020-07-08 18:14] #436 closed, assigned to pford

[2020-07-08 18:48] #553 closed, assigned to veggiesaurus, pford

[2020-07-08 23:13] arusstaylor commented on #535
Perhaps we could go a step further re the Stokes widget.  It would be nice to be able to register the image that is used for determing the RA,DEC of the Stokes profile.  This would allow for example to load a 2D "continuum" Stokes I image as the reference for the x,y of the profile, I, Q, U profiles.

[2020-07-14 01:10] pford commented on #552
Branch pam/522_region_diff_csys ready to test.

[2020-07-15 15:23] kswang1029 commented on #475
@markccchiang could you help on getting this implemented for v1.4?

[2020-07-15 15:24] kswang1029 commented on #475
@veggiesaurus other requirements from server point of view are needed. Please help to address those.

[2020-07-15 15:45] pford commented on #340
@veggiesaurus SET_REGION has the region parameters as separate fields, and I could just add the style parameters.  But IMPORT_REGION_ACK and RESUME_SESSION.ImageProperties contain RegionProperties submessage arrays consisting of region_id and RegionInfo, so I would need to add the style parameters to RegionInfo.  What do you think about changing SET_REGION to use RegionInfo as a single field?  I t

[2020-07-15 16:51] veggiesaurus commented on #340
@pford are you saying we have something like this?

[code]
(and then updating `RegionInfo` with the new parameters)

I'd also like to change from using `RegionProperties` to just using a map of region_id to properties:
[code]

To me, that makes more logical sense. I suppose we could apply the same approach to the `images` field in `ResumeSession` as well 🤔

[2020-07-15 17:02] pford commented on #340
Yes, just to avoid having to change region parameters in two places.  But I can also set the backend struct from the SetRegion parameters as before.  I am fine with removing RegionProperties in favor of a map.

[2020-07-15 17:22] veggiesaurus commented on #340
Ok, let's go with the map approach for both region properties and image properties, and make use of region info in the setregion function as you suggested. If you sort out the protobuf branch and backend branch I'll put together a frontend branch. Shouldn't be much trouble

[2020-07-15 17:59] pford commented on #340
I think we should keep the file_id field in SetRegion, not needed in ImportRegionAck and needs to be in ImageProperties (not RegionInfo) for ResumeSession.

[2020-07-15 18:30] veggiesaurus commented on #340
Ok, that sounds sensible

[2020-07-15 20:35] veggiesaurus commented on #475
I think the main thing we need from logging is a number of verbosity levels and support for tags. [Boost.log](https://www.boost.org/doc/libs/1_73_0/libs/log/doc/html/log/tutorial/formatters.html) provides that, as well as a fair amount of other nice things (automatically rotating log files, etc). We could also use it to eventually have optional integration with something like syslog.

I’m not sure

[2020-07-15 23:36] pford commented on #340
I have pushed protobuf branch **pam/region_style** and backend branch **pam/340_region_style**.  These changes will break the ICD tests and the scripting client if there is a way to set a region.  If my protobuf changes look okay to you, I will put a comment in the interface channel.

I cannot set a region (and therefore cannot export it) in this branch until the frontend is done.  I'll try testin

[2020-07-16 02:12] zarda commented on #388
May I commit the current changes only? At least close part of list.

[2020-07-16 09:08] markccchiang commented on #475
So we have a log file with a fixed maximum size. In a log file, we have a tag for ICD messages, a tag for performance (like elapsed time for some expensive calculations), and the other tags if we are interested. Is that the way?

[2020-07-16 10:20] veggiesaurus commented on #340
@pford I've created a frontend branch `angus/region_icd_changes`. I can create and edit regions, and can export them without issue. Resume seems to work fine. However, when I import regions, it looks like it's always receiving an empty region list. The protobuf object's `regions` field is just `{}`

I also managed to crash the backend somehow, when deleting regions. But can't reproduce this issue

[2020-07-16 13:15] #552 closed, assigned to pford

[2020-07-16 15:12] pford commented on #340
Hmm I made the RegionInfo line_width field an int, but it could be a float in the frontend. The casaviewer and the SAOImageDS9 viewer only allow integral line widths in their GUIs (drop-down or spinner).  The imageanalysis code returns line width from a CRTF import as an unsigned int.  What should we do?

[2020-07-16 15:35] veggiesaurus commented on #340
Probably fine to keep it an int then. I don't mind making the line width integral in the frontend too

[2020-07-16 16:08] pford commented on #340
Apparently CRTF and DS9 only accept color names and RGB as color strings.  Should I convert the hex to rgb, or just send the rgb from the frontend?

edit: I wrote a converter function
edit again: I just needed to strip off the leading '#'!

[2020-07-17 20:48] pford commented on #340
The backend branch is ready to test when the frontend supports it.  The message contents in the console look correct.
- The frontend does not send SET_REGION when style parameters are changed; you have to move the region to force this but then all fields are included and correct.
- Only the name is picked up from IMPORT_REGION_ACK, other style params are ignored.
- RESUME_SESSION includes all fiel

[2020-07-17 20:52] veggiesaurus commented on #340
Sorry, I completely missed this. The front-end can deal with hex, RGB or colour names. I can easily convert to RGB if you'd prefer? Am already using a battle tested front-end library that handles it

[2020-07-17 21:10] pford commented on #388
@zarda which image types are supported in your hj/388_imageExpr branch (@kswang1029 available in mix 'n' match)?  You checked off componentlist in the issue description, but the switch in FileLoader does not return a loader for this type.

[2020-07-17 21:21] pford commented on #340
All three formats work in the backend as well.  For CRTF export, I just had to strip the leading '#'  and convert to lowercase, then do the reverse for import. The DS9 code just passes the hex strings frontend->file and file->frontend.  The casaviewer and DS9 viewer can import CARTA-produced region files with the hex codes.

[2020-07-18 07:11] veggiesaurus commented on #340
Ok, the frontend is now using the imported region styling. I noticed that regions without a dash are turning into dashed regions when exported to CRTF. Seem to be fine with DS9 regions though.

I'm wondering what the solution is in terms of sending styling information to the backend. It's not really relevant _until_ the backend wants to export it, and I'm a little worried about sending a `SET_REGI

[2020-07-20 13:19] #489 closed, assigned to confluence

[2020-07-20 16:37] pford commented on #340
The backend has to route the code through the Region class for export conversions (pixel to world, apply region to different image), so resending the type, control points, and rotation with ExportRegion adds complexity as the backend will effectively SetRegion (and check for changes for updating data streams) then export.  What if we revert RegionInfo to type/points/rotation and create a separate

[2020-07-20 16:47] veggiesaurus commented on #340
This sounds good

Ok, I'll have a look tomorrow morning

[2020-07-20 17:50] veggiesaurus commented on #475
Yes. Messages can have multiple tags, so they can be ICD, performance, etc and also tagged with the class they're emitted from

[2020-07-21 02:25] kswang1029 commented on #388
@pford I have put Juergen's test images to "set_CASAImage_flavors" on our test server.

[2020-07-21 17:29] pford commented on #340
I updated the protobuf and backend branches with RegionStyle (note that region name was moved from RegionInfo to RegionStyle).

[2020-07-21 18:49] veggiesaurus commented on #340
Commit `7d3432cb` of `angus/region_icd_change` should work with your branches now

[2020-07-22 00:53] pford commented on #340
Found and fixed an existing bug, resuming a session with region id 0 sets the cursor not a region.  Also fixed importing color by name.

Since CRTF has no dash_list (just SOLID or DASHED), backend sets dashlist={2, 2} on import when linestyle=--.  This DASH_LENGTH constant is set in InterfaceConstants.h if it should be another value.  So the imported dash_list may not return the original dash_list

[2020-07-22 03:58] markccchiang commented on #475
Besides Boost.log, another popular tool is [spdlog](https://github.com/gabime/spdlog). It seems this library also fits our requirements. Will choose one of them for implementation.

[2020-07-22 08:47] veggiesaurus commented on #340
That's sensible. Do you think we're ready for a PR of frontend and backend?

[2020-07-22 13:21] veggiesaurus commented on #475
Spdlog looks good. Does it support multiple tags?

[2020-07-22 17:48] pford opened #560 "Region import does not support exclusion"
CRTF and DS9 can indicate that a region is excluded from the image rather than included.  This is currently not supported by region import (all regions are included separately), and it is unclear how this would be applied in CARTA.

@kswang1029 known issue?

[2020-07-22 17:53] #508 closed, assigned to veggiesaurus

[2020-07-22 20:03] #463 closed, assigned to veggiesaurus

[2020-07-23 02:20] kswang1029 commented on #560
@pford "Known feature" that we don't support at the moment. We need some thoughts on how we render it in the frontend. @veggiesaurus

[2020-07-23 02:21] kswang1029 commented on #560
Just checked the user manual and I did not add this info as known limitation 👎 . Will add it for the v1.4 user manual.

[2020-07-23 05:35] markccchiang commented on #475
I think yes. Users can define a custom format via [this way](https://github.com/gabime/spdlog/wiki/3.-Custom-formatting). Spdlog is a lightweight package and easy to use, compared to Boost.log. But Boost.log has many functionalities. I may try Spdlog first and see if it works fine. BTW, where are we going to save the log file? CASA viewer's log file is saved in a user's home directory. Or just sav

[2020-07-23 07:22] veggiesaurus commented on #475
We currently log to the CARTA/logs folder, but we may need to allow this to be changed by a command line parameter

[2020-07-23 07:23] veggiesaurus commented on #475
Spdlog uses fmt underneath, so it would be easy to change our code to use that

[2020-07-23 07:25] kswang1029 commented on #475
if someone installed the desktop version on a server and made an alias for all other users, how are the log files managed? All log files go to the same place?

[2020-07-23 07:40] markccchiang commented on #475
Yes. They will go to the same log file. But I guess this is not the condition we would expect.

[2020-07-23 07:40] veggiesaurus commented on #475
It should go to the users home directory (i.e. $HOME/CARTA/log)

For the server version we will use /var/log/carta. But this would need to be a command line argument

[2020-07-23 07:50] veggiesaurus commented on #475
No, the default location should be based on the home directory of the user running the application

[2020-07-28 07:17] kswang1029 opened #563 "save image: backend crash when saving as the casa format if there is no permission to write"
To reproduce the issue:

1) make sure the user who executes the backend does not have write permission to a certain folder.
2) load an image (small one) and try to save the image in casa format to that non-writable folder.
3) the backend should crash with the message:
Error: Directory: /scratch/images/set_HD163296/test20200728.image does not exist and cannot be created
4) it works fine if we are t

[2020-07-28 16:10] veggiesaurus opened #564 "Check folder read permissions before checking whether folder is a CASA image"
Currently, our CARTA backend logs are filled with errors such as

`WARN	File::exists	lstat failed for /users/angus/table.dat: errno=13'Permission denied'`

These crop up when a user navigates to the `/users` folder, and then only has access to one subfolder. However, we're attempting to check _every_ subfolder to see if it's a CASA image folder. We should first check to see if that folder is acces

[2020-07-28 19:59] drtobybrown opened #635 "Support for 64-bit integer FITS files"
CARTA is having trouble finding and loading a 3D cube in fits format that python (and DS9) handles fine. The error message is less than helpful.

[code]
<img width="407" alt="Screenshot 2020-07-28 at 12 44 16" src="https://user-images.githubusercontent.com/6336385/88714740-11e2b080-d0d2-11ea-8a86-bf6aa4e4cac0.png">

Happy to provide the fits file privately on request.

[2020-07-28 20:05] drtobybrown commented on #635
Followed up via email with the file to kswang@asiaa.sinica.edu.tw

[2020-07-28 20:28] #564 closed, assigned to pford

[2020-07-28 20:31] veggiesaurus opened #566 "Attempting to open a folder or file with invalid permissions from catalog browser results in hard crash"
The catalog file list and file info code is not checking permissions correctly, and a hard crash occurs if the user does not have permission to open the requested folder or file.

[2020-07-29 01:29] kswang1029 commented on #635
2020-07-29 01:24:35	WARN		FITS card 2: BITPIX  =                   64 / array data type
2020-07-29 01:24:35	WARN		Illegal value for keyword BITPIX.
2020-07-29 01:24:35	WARN		Missing required BITPIX keyword
2020-07-29 01:24:35	WARN		File /Users/kswang/Downloads/testfile.fits Physical record 1 logical record 1 --
2020-07-29 01:24:35	WARN	+		[FitsInput::init()] Unrecognizable record at the beginning

[2020-07-29 01:33] veggiesaurus commented on #635
This looks like it's just the first hdu that is a table hdu. What does the `fitsheader` util say?

[2020-07-29 01:42] kswang1029 commented on #635
There is only one HDU in this fits file.

KARMA-kvis cannot load it either.

Unknown unit: "deg" for: "CUNIT2", dropping
Non-standard "CUNIT3" has no effect: dropping
Illegal value for BITPIX: 64
foreign_guess_and_read: error reading FITS file
Filepopup::filesel_cbk: error reading file: "Downloads/testfile.fits"

JS9 cannot load it.

[2020-07-29 03:53] markccchiang commented on #563
I think it has been solved in the latest commit of #557. @kswang1029 please check that. Thank you!

[2020-07-29 04:47] kswang1029 commented on #563
Checked. 👍

Shall we mention "no write permission" in the message? "Can not access the path!" sounds like it cannot "read".

[2020-07-29 04:55] markccchiang commented on #563
Ok. Done.

[2020-07-29 16:49] veggiesaurus commented on #635
Ah ok, I see. We've tried BITPIX=-64 files with success before (i.e 64-bit floating point) but not 64-bit integers.

[2020-07-29 17:00] veggiesaurus commented on #635
I'm not 100% sure this is just a `BITPIX` issue. Our underlying CASA FITS parser spits out an error status `BADBEGIN`. However, I suspect it will also have trouble because the casacore source code suggests it supports float, double, int32, int16 and boolean, but not int64. Is there a particular need for int64 support?

[2020-07-30 03:08] kswang1029 commented on #543
@robsimmonds @veggiesaurus this issue is much improved in
origin/rwjs/update_ani_perams 045bd2e 5034 2020-07-28 16:24:19 UTC

We still see few spatial profile updates after pressing the stop button of the animator, but I think the usability is much improved.

[2020-07-30 03:15] kswang1029 commented on #420
@robsimmonds @veggiesaurus this issue is much improved by
origin/rwjs/update_ani_perams 045bd2e 5034 2020-07-28 16:24:19 UTC

After pressing the stop button of the animator, we still see ~2-channel updates of the contour layer, then it jumps back to the channel we intended to stop at (should be no impact to usability). With the current dev, we will see lots of channel updates of the contour layer.

[2020-07-30 03:29] kswang1029 commented on #366
@robsimmonds @veggiesaurus with the described test method and with
origin/rwjs/update_ani_perams 045bd2e 5034 2020-07-28 16:24:19 UTC
the backend is less busy and can restore the idle state much quickly than the dev backend. 👍

[2020-07-30 08:33] #566 closed, assigned to veggiesaurus

[2020-07-30 16:11] drtobybrown commented on #635
I'm not sure I'm following this discussion 100% so let me know if you need me to do anything. I'm surprised about the issue with the file, it's just a casa image converted to .fits using exportfits and, as I mentioned above, python and DS9 handle it ok.
I think a more illuminating error message would also be helpful in helping the user diagnose the problem.

[2020-07-30 16:52] veggiesaurus commented on #635
Agreed :see_no_evil: We should definitely provide more useful error messages when loading images via URL parameters or commandline arguments (I presume you're using one of those methods?)

@pford Do you know if there's any particular reason why casacore doesn't support 64-bit integer FITS images?

[2020-07-30 16:54] drtobybrown commented on #635
Yep, I was loading via command line. However, my reason for doing that is that I couldn't see the file in the file browser...

[2020-07-30 16:55] veggiesaurus commented on #635
Right, because currently we attempt to parse FITS files when we list them, an approach which has also lead to the very slow loading times. For 1.5 this behaviour will be adjusted. Is your CASA image 64-bit integer as well? Would you mind emailing me that as well?

[2020-07-30 17:06] drtobybrown commented on #635
It came as a FITS from a collaborator, so I don't have it. Thinking about it about, I'm now not certain it's a converted casa image, rather a mask of a casa image. I'll try to find out more and get back to you

[2020-07-30 18:59] veggiesaurus opened #569 "segfault when requesting spectral profile of point region with some files"
Our users are getting a hard crash when CARTA calculates the spectral profile for a point region for some files (but not others). Stack trace is:

[code]

I can see why that would cause a problem though, because the code in LCExtension::region is
[code]
and I'm guessing `regions()` is returning a `nullptr`, since the error is a segfault.

So far it seems like this issue is specific to HDF5 files.

[2020-07-30 19:01] veggiesaurus commented on #569
@Jordatious I managed to reproduce the bug with a test file. Looks like the offending files are all  HDF5

[2020-08-03 08:16] kswang1029 opened #571 "inconsistent 'max' stat in hdf5 spectral profile generation"
In the screenshot, we see different profiles from the same region of different image formats. They are expected to have identical profiles. This happens only in the stat type "max". @zarda and @acdo2002 found this issue from the ICD test ("REGION_SPECTRAL_PROFILE_RECTANGLE" in https://docs.google.com/document/d/15cy03dK0p1OGD5vQtduxNX8gEO-t9rmy5yKPy5z-Ovc/edit#heading=h.57qhgcamorp4).

<img width=

[2020-08-03 08:17] veggiesaurus commented on #571
:thinking: the HDF5 file seems to have its max clamped at zero. That's odd

[2020-08-03 08:18] kswang1029 commented on #571
@zarda could you print out the two profiles here (channel index vs value) ?

[2020-08-03 08:20] zarda commented on #571
ok.
The Max profile in CASA:
Float64Array [
      0.006729725748300552,
      0.00971152912825346,
      0.010001501068472862,
      0.010551692917943,
      0.01945009082555771,
      0.010369728319346905,
      0.0073013692162930965,
      0.016142845153808594,
      0.011929483152925968,
      0.0011555807432159781,
      -0.0023696054704487324,
      0.018626390025019646,
      0.0236524175852

[2020-08-03 08:22] veggiesaurus commented on #571
@confluence it's because your starting `max` value is initialised to `FLT_MIN`. It should be `-FLT_MAX`, or to be more C++-ish, `std::numeric_limits<float>::lowest()`. Should be a two or three line change

[2020-08-03 08:24] kswang1029 commented on #571
confirmed with other images: when stat=max, values < 0 is set to 0.

[2020-08-03 08:38] confluence commented on #571
Oh, no. I can't believe it's been like this forever. I will fix it.

[2020-08-03 08:48] confluence commented on #571
PR #572 should fix this.

[2020-08-03 08:48] #571 closed, assigned to confluence

[2020-08-03 09:12] zarda commented on #388
The componentlist could be opened well so I check off this item. Do I need to create a new class loader for this type?
Thanks.

[2020-08-04 06:27] kswang1029 opened #574 "Unify logging"
- [ ] provide info to the frontend if backend crashed
- [ ] provide backend log to the frontend

more detail follows later.

[2020-08-06 06:53] kswang1029 opened #575 "spectral line query: transferred a partial file"
As the screenshot indicates, if we make a query from 345 GHz to 355 GHz, no result will return with an error message. is it because it times out?

![Screen Shot 2020-08-06 at 2 49 53 PM](https://user-images.githubusercontent.com/20819712/89500509-6e418080-d7f4-11ea-8133-532a41e0a78e.png)

[2020-08-06 07:20] kswang1029 opened #576 "spectral line query: weird line count at different frequency ranges"
[code]
issues:
1. when frequency range increases, we should have more lines.
2. line count is not consistent with the direct query using the Splatalogue website

is this something to do with the magic number "65535" or "65534"?

[2020-08-06 07:24] veggiesaurus commented on #576
are we consistent with other queries? For example, ones with a much smaller number of lines

[2020-08-06 07:26] kswang1029 commented on #576
@veggiesaurus yes for example, 345-346 GHz, both gave us 9710 lines.

[2020-08-06 07:34] kswang1029 commented on #576
@veggiesaurus @duidae I added more test results. Please refer to my initial post.

[2020-08-07 06:53] duidae commented on #576
did some experiments:

[code]
seems that splatalogue becomes inconsistent & unstable when the query range is too wide(even simply export data from the website, and spectral line widget is depending on the exported data); the curl error also indicates that splatalogue server returns unmatched data size during transferring, downsize to 5GHz usually matches, probably we need to reconsider the range l

[2020-08-07 10:29] veggiesaurus commented on #366
@kswang1029 please confirm that this is fixed when mix 'n match is back

[2020-08-07 10:32] kswang1029 commented on #366
@veggiesaurus will do. I haven’t seen this issue recently but I will try again on Monday

[2020-08-08 10:35] lh-astro opened #579 "Re-open image probably uses cache"
**System:** Linux, Firefox 79.0-1 via carta.idia.ac.za

**Issue description:** Re-opening CASA image files after re-creation shows the first image not the updated one.

**To reproduce:**
1. Opening a CASA image file in CARTA.
2. Delete the file on the disk.
3. Re-create the CARA image with different image parameters (only tested with same file size).
4. In CARTA: File --> open image will not show

[2020-08-08 11:04] lh-astro opened #578 "CARTA freezes when file browser is opened during file change"
**System:** Linux, Firefox 79.0-1 via carta.idia.ac.za

**Issue description:** Opening the file browser in a directory where a file is being written freezes CARTA the moment the file is trying to be opened.

**To reproduce:**
 1. Opening a CASA image file in CARTA.
 2. Delete the file on the disk.
 3. Re-create the CARA image with different image parameters (only tested with same file size).
 4. W

[2020-08-08 14:55] veggiesaurus commented on #579
Sounds like a backend issue. Will move it to that repo and assign to @pford.

[2020-08-08 14:58] veggiesaurus commented on #579
@pford is it possible that we're automatically reusing the file because it has the name?

[2020-08-11 01:20] kswang1029 opened #581 "hanging tile stream"
to reproduce the issue with the dev backend + dev frontend
1) load set_HD163296/HD163296_CO_2_1.fits
2) load set_HD163296/HD163296_13CO_2_1.fits
3) load set_HD163296/HD163296_C18O_2_1.fits
4) match them all in xy and z
5) switch to HD163296_CO_2_1.fits (image 0)
6) close it so all matched image becomes unmatched
7) match all image again in xy and z
8) use animator to switch to other channels. The

[2020-08-11 07:53] #569 closed, assigned to pford

[2020-08-11 10:29] veggiesaurus commented on #581
@kswang1029 here's a frontend script to reproduce the issue reliably:

[code]

What's weird is that it seems the backend is not responding to the `SET_IMAGE_CHANNELS` messages from the frontend:

[code]

(normally there would be a `RASTER_TILE_SYNC` message and `RASTER_TILE_DATA` messages

[2020-08-11 10:39] kswang1029 commented on #581
and weirdly, at that state, animator works......

[2020-08-11 12:34] veggiesaurus commented on #581
@pford it seems to happen after PR #539. Could you look into it please? I suspect it's related to a file being closed.

You can grab the files [here](https://drive.google.com/file/d/111uqgqlDFPVTmMjdHjNBSrq0SLvPogqL/view?usp=sharing).

[2020-08-12 15:08] veggiesaurus commented on #579
wondering if adding something like a "reload image" entry to the context menu would be a more appropriate way of solving this issue. Changing the raw data of an image while it's open in CARTA seems to be asking for trouble

[2020-08-13 05:59] pford commented on #581
@veggiesaurus your instincts were correct, Session was trying to send tiles for the closed file id.  This was one of the few Session message handlers that doesn't check for a valid file id before proceeding.  Fixed in pam/581_hanging_tile.

[2020-08-13 06:19] #581 closed, assigned to pford

[2020-08-13 08:33] markccchiang opened #586 "Change the architecture of moments generation code"
Things to do:

- [x] Remove the MomentController and move the MomentGenerator under the Frame
- [x] Move the FileConverter under the Frame
- [x] Keep the file name as a private parameter in the Frame and FileLoader
- [x] Keep the function `ApplyRegionToFile()` as a private function in the RegionHandler
- [x] Apply an `_image_mutex` in the Frame while calculating image moments

Also, the `ImageMome

[2020-08-13 08:35] veggiesaurus commented on #586
@markccchiang since the PR has been approved, I assume this will be a separate PR, not necessarily for the code freeze?

[2020-08-13 08:36] markccchiang commented on #586
Yes. I will do it in another PR.

[2020-08-14 07:40] veggiesaurus opened #592 "Improve permission check for image writing"
Currently, we check whether the directory owner has permission to write a file. We should instead check whether the user has permission to do so. One possible way is to attempt to create an empty file with a random name, and then delete it afterwards. There's probably a more elegant method, though.

[2020-08-14 07:42] veggiesaurus commented on #563
linked to #592

[2020-08-14 07:51] veggiesaurus commented on #377
@kswang1029 can we close this?

[2020-08-14 08:05] kswang1029 commented on #377
yes we can. doing so now

[2020-08-14 08:05] #377 closed, assigned to kswang1029

[2020-08-14 08:07] kswang1029 opened #593 "moment generator: no progress update or crash"
in some cases of long calculations, we don't have progress report after the first 5s. And if we cancel the request and request a new one, the backend may crash.

Backport for v1.4 final

[2020-08-14 09:23] kswang1029 opened #595 "backend crash when requesting region spectral profile from an HDF5 image"
to reproduce:
1) load an HDF5 cube
2) launch a spectral profiler widget, cursor profile works fine
3) make a region to see region spectral profile
4) backend should crash

[2020-08-14 10:24] veggiesaurus commented on #595
Stack trace of crash:

[code]

[2020-08-14 11:06] lh-astro opened #596 "Fits file doesn't load when header doesn't adhere to fits standard"
Copy from @veggiesaurus:

There are a couple of problems with the FITS header.
(for ref: table 7 of the FITS standard: https://fits.gsfc.nasa.gov/standard40/fits_standard40aa-le.pdf)
1. Images need to have headers in the right order (NAXIS, then NAXIS1, ...NAXIS). This has (a) a gap between NAXIS values and (b) additional NAXIS headers (it has up to 4)
2. Then there also appears to be a CASA bug,

[2020-08-14 11:17] veggiesaurus commented on #596
@Jordatious had a similar issue a while back, I think. Is there a specific pipeline producing these images by any chance?

I do think we should try to fix the behaviour when there are extra _CRVAL_ or _CRPIX_ headers. As far as I know, this isn't forbidden by the FITS standard

[2020-08-14 15:31] kswang1029 opened #598 "separate performance related log when verbose=true"
performance related log should go to a dedicated file when verbose=true. This would give us a more concise log for analyzing issues/crash.

[2020-08-14 15:35] #592 closed, assigned to markccchiang

[2020-08-14 15:40] #563 closed, assigned to markccchiang

[2020-08-14 16:00] veggiesaurus commented on #598
I think it'd be better to still keep it with stdout (easier for handling log files and buffers), but have a separate command line argument to enable performance logging. Perhaps `perflog=true`?

[2020-08-17 04:56] markccchiang commented on #593
@kswang1029 Is there an example case that can be reproduced? I am trying to fix it.

[2020-08-17 04:59] kswang1029 commented on #593
try set_S255/S255_IR_sci.spw29.cube.I.pbcor.fits
1. enable moment calculations by pressing the generate button directly (using entire cube)
2. when you see the first progress update, press cancel
3. enable a new moment calculations by pressing the generate button directly
4. backend will crash

[2020-08-17 05:01] kswang1029 commented on #593
about the issue of no progress update
try set_HDF5/S255_IR_sci.spw29.cube.I.pbcor.hdf5
1. enable moment calculations by pressing the generate button directly (using entire cube)
2. there is no progress update
3. cancel the calculation and make a new one
4. backend may crash (the root cause might be the same as the one above) threading?

[2020-08-17 16:56] veggiesaurus opened #599 "Update build instructions"
Build instructions don't currently mention pugi-xml or grpc. This needs to be included. Ubuntu 20.04 includes all the required packages, but other versions might need a PPA

[2020-08-17 22:31] pford commented on #579
There is an underlying casacore table manager which will open the image once and share the same Image object with any threads in the process.  But CLOSE_FILE, sent by the frontend before OPEN_FILE, deletes this object.  It should not be necessary for the user to close the image.

I tried to reproduce this by copying a different CASA image in step 3 to the same name, but the file browser showed the

[2020-08-18 05:35] kswang1029 commented on #593
Found a more robust way to reproduce the crash event. It appears that the backend accidentally was working on streaming spectral profile and moment generation at the same time.
1. load a large cube with lots of channels (need profile streaming)
2. lock cursor
3. enable moment calculations and cancel
4. unlock cursor and click the generate button quickly before new cursor profile is streaming.
5. t

[2020-08-20 07:50] duidae commented on #593
about the progress, can turn on the progress message:

![image](https://user-images.githubusercontent.com/25971696/90731443-4aa22e00-e2fc-11ea-84f3-295cf78eb7b7.png)
![image](https://user-images.githubusercontent.com/25971696/90732197-53473400-e2fd-11ea-9574-1a1400e62706.png)

tried set_HDF5/S255_IR_sci.spw29.cube.I.pbcor.hdf5 with my desktop(ubuntu) yesterday, seems no message was sent yet & resu

[2020-08-20 08:20] markccchiang commented on #593
The progress bar for `set_HDF5/S255_IR_sci.spw29.cube.I.pbcor.hdf5` is OK if you test it on the server. However, @duidae tested it on the desktop and not work. It is possible that if the calculation time for a chunk is more than 5 secs, then you will not see the progress report in the first 5 secs.

[2020-08-20 08:48] #595 closed, assigned to veggiesaurus, pford

[2020-08-20 08:54] #485 closed, assigned to markccchiang

[2020-08-20 08:55] #146 closed

[2020-08-20 08:58] #154 closed

[2020-08-20 08:58] #143 closed

[2020-08-20 09:00] #95 closed

[2020-08-20 09:22] #420 closed, assigned to robsimmonds

[2020-08-20 09:27] #543 closed, assigned to robsimmonds

[2020-08-20 09:36] veggiesaurus commented on #528
@pford what's the state of this?

[2020-08-20 16:33] pford commented on #528
Still in testing.  I sent an email to Ryan and pinged the validation lead in the ticket.

[2020-08-21 09:02] veggiesaurus commented on #598
I think instead of separating log files (high risk for a backport), we should just add another command line argument "perflog". When set to true, we display performance logging in std out. When set to false, we don't (even if verbose=true).

I'm not even sure we need to include this as an argument for the electron app, since it's purely for debugging purposes

[2020-08-21 11:42] kswang1029 opened #602 "improving HDF5 moment generation with ZYX cube"
as a performance enhancement of the moment generator, when the input image is in the HDF5 format, ZXY cube should be used instead of the XYZ cube.

[2020-08-21 12:57] kswang1029 opened #603 "splatalogue changes its url so that spectral line query cannot be made"
was: http://www.cv.nrao.edu/php/splat/
now: https://splatalogue.online

This issue should not be labeled as a bug....... and this issue has to be addressed for v1.4 final release.

[2020-08-22 01:20] kswang1029 opened #607 "apply region distortion check before applying polygon approximation"
If we have two matched identical images, slightly different analytics might be derived from an ellipse region due to polygon approximation on the secondary image. We should examine region distortion (by two reference vectors to see if dot product is zero (or smaller than epsilon) and length ratio is the same) and only apply polygon approximation when distortion is not negligible.

[2020-08-22 07:20] veggiesaurus commented on #607
@kswang1029 can you determine the exact vectors to test, and then @pford will implement on the backend.

My initial guess would be to take the vectors _(0, L)_ and _(L, 0)_, where _L_ is the the maximum distance from the center (i.e. the max length or radius).

[2020-08-22 07:40] kswang1029 commented on #607
I suggest we take three points, center, middle-top, and middle-right, to form two vectors in the _image_ coordinate. In the reference image, the dot product of the two vectors (blue and red) should be zero. Their length ratio (blue/red) is a constant r0.

Now we transform the two vectors to the secondary image in its own image coordinate. Then we compute the dot product and length ratio again. If

[2020-08-22 07:43] veggiesaurus commented on #607
That sounds good :+1:

[2020-08-23 02:13] zarda commented on #598
I will apply the simple solution, to create a new command line argument "perflog". The performance message in std out will display. If we need to report these information on a specific log file, I could implement it then.

[2020-08-23 12:48] kswang1029 opened #608 "moment generator: hdf5 is slower than fits by at least a factor of three"
When generating moment images with hdf5 format, its performance is generally poor than the fits format by at least a factor of three. In addition, the CPU pattern is quite different from the one of the fits format.

fits:
![fits_output](https://user-images.githubusercontent.com/20819712/90978649-f3ad8a80-e581-11ea-9475-c6e126b99e64.png)
hdf5:
![hdf5_output](https://user-images.githubusercontent.co

[2020-08-23 16:39] veggiesaurus commented on #608
Those two seem to have roughly the same runtime though?

[2020-08-24 00:07] kswang1029 commented on #608
I cancelled the calculations. Here just demonstrating their cpu patterns are different.

[2020-08-24 08:10] kswang1029 commented on #603
fixed

[2020-08-24 08:10] #603 closed, assigned to nobody

[2020-08-24 08:25] confluence commented on #608
What are the steps to reproduce this from the frontend?

[2020-08-24 08:50] Kechil commented on #388
This is a backend issue as well as frontend.

[2020-08-24 09:12] kswang1029 commented on #608
1. go to preference and fix the cursor
2. load an image (same image in two different formats)
3. launch the spectral profile widget
4. click the "M" button at the top-right corner
5. click the "Generate" button and the moment calculations should start.

[2020-08-24 09:16] kswang1029 opened #610 "backend support region type: line segment"
the line segment region can be used for
- spatial profiler
- pv generator

related to https://github.com/CARTAvis/carta-frontend/issues/1149

Requirements doc: https://docs.google.com/document/d/1mE-JeZjczT_GEPfllm-aNWWUZ903wTJy4JurxBq537c/edit#heading=h.pfjlp9m9fqp4

[2020-08-24 09:42] kswang1029 opened #611 "backend support loading individual Stokes images for visualization with the Stokes analysis widget"
With the current implementation, the Stokes analysis widget is functional only if the loaded image is 4D with Stokes IQU or IQUV.

However, it is common that Stokes images are stored as separate files. We will need to enhance the Stokes analysis widget so that it can still display polarization info properly from separate Stokes image files.

related to https://github.com/CARTAvis/carta-frontend/is

[2020-08-24 09:51] veggiesaurus commented on #608
I wonder if it's trying to process things in small 512x512 chunks. It would be useful to see if the performance changes with unchunked HDF5 files

[2020-08-24 10:04] kswang1029 opened #612 "support CASA-immath"
The backend adopts CASA-immath to perform image arithmetic operations and return image data for the frontend to render.

related to https://github.com/CARTAvis/carta-frontend/issues/1156

[2020-08-24 10:09] confluence commented on #608
I'm going to add a flag to the converter to force contiguous layout; this may come in useful later for performance tests when we merge the tile and mipmap PR.

(Just in a branch; this may not make sense as a long-term feature.)

[2020-08-24 10:49] confluence commented on #608
The converter branch is [here](https://github.com/idia-astro/cpp_hdf5converter/tree/confluence/chunks-optional). Use the `-c` flag to force contiguous layout. To verify that the layout is what you expect it to be, use `h5dump -H -p -d 0/DATA your_file_here.hdf5` and check the `STORAGE_LAYOUT` property.

[2020-08-25 08:48] kswang1029 commented on #608
@confluence thanks for the new convertor. I generate a new set of test images accordingly (1000x1000x584, 2.3 GB as FITS).

The estimated time:
FITS: 27s
HDF5 chunk: ~110s
HDF5 nochunk: 39s

Looks like it has something to do the chunks.

UPDATE with another measurement:
FITS: 22s
HDF5 chunk: 99s
HDF5 nochunk: 35s

[2020-08-25 08:55] confluence commented on #608
Right. So it may be possible to change the way that the casacore code iterates over the chunked data, so that it doesn't use an inefficient slice shape.

[2020-08-25 09:09] Kechil commented on #512
one beta tester asked for ascii table.
underlying issue is that it will be sent to fe as strings and need to assign RA and DEC.
some tables have their RA and DEC as text strings.

[2020-08-25 09:49] Kechil commented on #392
@Kechil needs to move to front end

[2020-08-25 09:57] Kechil commented on #379
Assigned to @ajm-asiaa to explore.

[2020-08-25 13:48] veggiesaurus commented on #608
This makes sense: I'd expect the FITS file to be faster than the unchunked HDF5 file, since it's likely that the FITS file will be at least partially cached due to spectral profile requests.

[2020-08-25 13:59] kswang1029 commented on #608
About cache, in my test I made my cursor frozen initially. Then launched the spectral profiler to show a profile at the cursor position. Then requested moment calculations. So yes I guess these test images are cached differently.

[2020-08-25 14:00] veggiesaurus commented on #608
You'd need to clear the disk cache just before requesting the moment calculation. Even then, casacore might be doing some odd caching

[2020-08-25 14:02] veggiesaurus commented on #608
I've just tested with supermosaic.10 (FITS, unchunked HDF5 and chunked HDF5, image size 4224 x 1824 x 222). All three are using a chunk shape of 4224 x 4 (which is a 66 kB contiguous read on a contiguous file). This explains why the chunked files are behaving so poorly: their "nice" cursor shape is not being taken into account properly

[2020-08-25 14:05] confluence commented on #608
We fixed a similar problem a while back by implementing the appropriate nice cursor in our casacore-compatible HDF5 image class. Is this another case of missing functionality? What determines the cursor that is used?

[2020-08-25 14:14] veggiesaurus commented on #608
@kswang1029 do you know how to check the tile size in a CASA image? Have you tested CASA files as well?

[2020-08-25 14:28] kswang1029 commented on #608
@veggiesaurus just did the test with casa format. It took 17s.
Regarding the tile size of a CASA image, try (in casa ipython shell)

ia.summary()['tileshape']

the returned value is like

[2020-08-25 14:45] veggiesaurus commented on #608
Should also mention that an entire _image_ moment is a worst-case scenario for a 2D tiled image. If we get this right, the chunked images should generate moments for smaller regions faster than the unchunked files

[2020-08-25 15:16] veggiesaurus commented on #608
I've tested supermosaic.10 in FITS, HDF5 (contiguous), HDF5 (512x512 chunks) and CASA, with the `dev` branch and the `angus/moment_cursor_shape` branch. Disk cache cleared between each run, but could not clear the internal CASA cache, so that might account for the speedup there.

## `dev`:

FITS: 46s
CASA: 22 s
HDF5 (contig): 29s
HDF5 (chunked): ~ 6 mins

## `angus/moment_cursor_shape`:

FITS: 49

[2020-08-25 15:20] veggiesaurus commented on #608
`angus/moment_cursor_shape` can be used as a starting point for one of the assignees (@pford @markccchiang ), but I think we should probably only apply this fix to chunked HDF5 files :thinking: and will need careful testing from @kswang1029 to make sure moments still come out correctly, for full-image and regions.

[2020-08-26 01:10] kswang1029 opened #615 "backend crash when closing all images after moment generation and loading a new image"
To reproduce:
1) load an image cube
2) generate a moment 0 image
3) use the image list widget and right click and click "close all image"
4) load the image cube in step 1) again and the backend will crash.

Nothing seems related in the backend log.

update:
this is fixed as part of https://github.com/CARTAvis/carta-backend/pull/606

[2020-08-26 02:35] markccchiang commented on #615
I think it has been fixed in the #606. I forgot to erase an image id in the map of moment generators. @kswang1029 please test this branch and see if it is ok.

[2020-08-26 02:44] kswang1029 commented on #615
this issue is fixed with https://github.com/CARTAvis/carta-backend/pull/606

[2020-08-26 08:51] #186 closed

[2020-08-26 08:51] Kechil commented on #186
Closed for now - may arise again in consideration of performance

[2020-08-26 14:03] Kechil opened #616 "fz"

[2020-08-26 14:03] #616 closed, assigned to nobody

[2020-08-26 14:05] Kechil opened #617 "Compressed FITS file support"

[2020-08-26 14:07] Kechil opened #682 "create example images for compressed FITS files"

[2020-08-28 07:21] #435 closed, assigned to nobody

[2020-08-28 08:37] confluence commented on #491
I have converted this into the companion backend issue to [this frontend issue](https://github.com/CARTAvis/carta-frontend/issues/955).

[2020-08-31 01:18] kswang1029 opened #618 "support exporting a subimage (backend)"
The feature is to be able to export a subimage from the original cube by specifying a rectangle region and a range of channels.

relavent frontend issue: https://github.com/CARTAvis/carta-frontend/issues/1175

Requirement [doc](https://docs.google.com/document/d/1Jpju5UUzyFD98-iTgXomtmmHlfbWSHHokEVPCiA2t3I/edit#)

[2020-08-31 06:06] kswang1029 commented on #608
any chance to fix this for v1.4? (apply the fix suggested by Angus only to HDF5)

[2020-08-31 06:09] veggiesaurus commented on #608
I think this is an essential issue to fix

[2020-08-31 14:34] confluence opened #619 "The build information in the README and the dockerfiles is out of date; the protobuf submodule needs an update"
* The protobuf submodule needs an update; it's behind the `dev` branch
* The README includes an instruction to check out the `master` branch of the protobuf submodule, which is incorrect for the default `dev` version of the backend
* Some of the dockerfiles are out of date -- for example, the 20.04 dockerfile still has instructions for a source build of `carta-casacore` although a PPA package exis

[2020-08-31 14:40] veggiesaurus opened #620 "Dockerhub entry for runable backend"
Now that the server version has stabilised somewhat, it would be good to create docker files for _running_ the carta-backend directly (not building it). This would allow server maintainers to simply pull the appropriately tagged docker image from Dockerhub (e.g. `docker run carta:v1.4.0 <additional startup arguments>`) in order to deploy the server.

[2020-08-31 14:43] veggiesaurus commented on #620
@Jordatious this should help the Pawsey deployment as well (they're wanting to run the backend processes in containers)

[2020-08-31 14:48] #532 closed, assigned to veggiesaurus

[2020-08-31 15:01] #599 closed, assigned to confluence

[2020-09-01 08:39] ajm-ska commented on #620
@veggiesaurus @rwjsimmonds I have created a preliminary Docker container for testing.

The Dockerfile contains the following:
[code]
I'm not sure if it is necessary or not, but for added security, it does not run as root. I decided to make it run as an internal user called 'carta'.

The "carta-backend" folder is just a pre-packaged ubuntu 20.04 carta-backend. This way the container can build almos

[2020-09-01 09:56] confluence commented on #608
I am going to look at this today -- just making sure we don't all start working on it at once. :)

[2020-09-01 12:13] ajm-ska commented on #619
I have updated all the Dockerfiles in the [cleanup branch](https://github.com/CARTAvis/carta-backend/commit/9e3d1556f12e9cdc4bf4ac48c4385c2c48acc726).

They are basically the same as the previously updated ones in [mark/log_messages ](https://github.com/CARTAvis/carta-backend/tree/mark/log_messages) but I have removed `spdlog` installations and changed the carta-casacore installations to our CARTA

[2020-09-01 16:56] #619 closed, assigned to confluence, ajm-ska

[2020-09-02 02:30] acdo2002 opened #624 "Problem with read RA and Dec of FITS(ascii) catalog"
There are different data formats that can be chosen when the astronomer downloads the archive data.
<img width="1198" alt="Screenshot 2020-08-31 at 15 38 41" src="https://user-images.githubusercontent.com/34430648/91924953-972b3780-ed06-11ea-9f31-6f3a19fabbb5.png">

I found a problem when I read the FITS(ascii) data which was downloaded from Vizier (https://vizier.u-strasbg.fr/index.gml). FITS(bin

[2020-09-02 14:03] #598 closed, assigned to zarda

[2020-09-04 08:32] veggiesaurus commented on #593
@kswang1029 please confirm this is fixed in the latest `release/1.4` branch

[2020-09-04 10:32] kswang1029 commented on #593
release/1.4 looks fine mostly.

I found a robust way to reproduce the no progress update issue. The backend supplies progress but the frontend does not show it as a progress bar. It can be triggered by loading a large fits thus cursor spectral profiles take time to update. Then move the cursor from the image to the generate button _quickly_ so that before profile starts updating, the generate butt

[2020-09-04 10:40] Jordatious commented on #360
@arusstaylor and I found out from ThunderKAT that they plan to use this compression for their images too. Apparently they get a 5-6x reduction in volume by doing so! So seems like a good use case to support.

[2020-09-04 10:46] kswang1029 commented on #593
btw, as we plan to refactor backend code for 1.5, we can revisit this issue again to see if it is still there.

[2020-09-07 07:46] markccchiang commented on #593
I am refactoring the moment generator code. @kswang1029 maybe you can test with the branch `mark/refactor_moment_generator` if you have time. So far I can not reproduce the progress problem. But I found it is better for the frontend to disable *all* `generate` buttons if you open multiple moment generator widgets (which are with respect to different regions or cursor) and making a spectral profile

[2020-09-07 07:52] markccchiang commented on #593
![截圖 2020-09-07 下午3 50 20](https://user-images.githubusercontent.com/5379602/92362125-1d3de880-f122-11ea-8765-f290a3d6f6f8.png)

[2020-09-07 07:58] kswang1029 commented on #593
@markccchiang could you file an issue in the frontend repo with detailed instructions on how to reproduce it? We will need to fix this in 1.5.

[2020-09-07 09:49] confluence commented on #602
We may need a complete reimplementation, similar to the Z profiles and the flux density stat -- it's difficult to reuse casa's functions with custom data. But I have a general idea for creating an HDF5 image object which reads from the rotated dataset and using it with casacore (somehow) by specifying custom axes, slicers, etc.. If this is possible, we may be able to do the same for the Z profiles

[2020-09-08 15:18] confluence commented on #40
After some discussion over email, the current plan is to use a copyright statement followed by a one-line [SPDX licence identifier](https://spdx.dev/ids/) (a new, compact and machine-readable standard which has been adopted by the Linux kernel). We will possibly also add a line at the start identifying the file as part of this project.

Proposed format:

    // This file is part of the CARTA Image

[2020-09-09 02:56] #593 closed, assigned to markccchiang

[2020-09-09 03:00] #615 closed, assigned to markccchiang

[2020-09-09 03:03] kswang1029 commented on #608
addressed with https://github.com/CARTAvis/carta-backend/pull/625

[2020-09-09 03:03] #608 closed, assigned to confluence, pford, markccchiang

[2020-09-09 05:46] kswang1029 opened #628 "support stokes for the statistics and histogram widgets"
related to the frontend issue: https://github.com/CARTAvis/carta-frontend/issues/1171

This requires ICD changes and backend implementation.

[2020-09-11 07:16] kswang1029 opened #629 "hidden axis support"
as one of NRAO priorities, carta needs to support images with hidden axis. @jott3077 please provide more info here with example images.

[2020-09-11 07:17] kswang1029 opened #630 "support non-evenly spaced (tabular) axis"
as one of the NRAO priorities, carta should support images with non-evenly spaced (tabular) axis. @jott3077 please provide more info here with example images.

[2020-09-11 07:23] veggiesaurus commented on #630
this applies for FITS and CASA files, right?

[2020-09-11 07:25] kswang1029 commented on #630
yes, and related to the hdf5 convertor I guess.

[2020-09-11 07:33] kswang1029 opened #631 "source finder support"
as one for the NRAO priorities.
@jott3077 please help to add descriptions here.

[2020-09-11 07:38] kswang1029 opened #632 "visualizing rotated cube"
as one for the NRAO priorities.
@jott3077 please help to add descriptions here.

[2020-09-11 07:39] kswang1029 commented on #632
this is quite challenging from scalability point of view.

[2020-09-11 08:08] kswang1029 opened #633 "image smoothing support"
as one of the NRAO priorities, carta needs to support image smoothing. @jott3077 please help to add more descriptions.

[2020-09-11 08:09] kswang1029 commented on #633
if it is a cube or the image is large, the computation (2D convolution) is quite intensive.

[2020-09-11 08:10] veggiesaurus commented on #633
We handle it very efficiently for contours. Could do it on a slice-by-slice basis

[2020-09-11 10:12] #419 closed, assigned to nobody

[2020-09-14 18:53] jott3077 commented on #629
That might already be supported. But let me explain. E.g. a cube with RA/DEC/FREQ/Stokes has two hidden axes when looking at an image (usually FREQ and Stokes). They need to be settable for the image to view though, e.g. channel 29 and Stokes U. For movies, three axes are used and one is hidden. If we have animators for all of these then we are good. This would allow to set a hidden axis to a spec

[2020-09-14 18:55] jott3077 commented on #630
This is for axes that have no constant pixel spacing. Like optical velocity when derived from frequency.

[2020-09-14 19:01] jott3077 commented on #631
The CASA viewer uses ia.findsources at the moment. It is a simple way to find sources in an image plane, and mark the sources and their extent via (elliptical) regions. The second step then usually is to fit the found sources with 2d Gaussians and obtain fluxes, deconvolved sizes etc. There should be options to add, remove, and modify the regions that the algorithm finds.

Overall, this is likely

[2020-09-14 19:07] jott3077 commented on #632
This implies to e.g. show RA and velocity and the animation movie goes along the DEC axis. So pick any two axes for the display and any third axis for the movie. Note that the hidden axis feature #629 is related in that it pins down the non-displayed axes. E.g. Show a RA vs Stokes cube at a given velocity.

[2020-09-14 19:16] jott3077 commented on #633
The smoothing could be done via FFT, that is much faster than a direct convolution for large kernels. (CASA's task imsmooth). And yes, slice by slice would be fine. Spectral smoothing is already in place anyways.

[2020-09-15 11:00] veggiesaurus commented on #633
Our current approach is pretty fast for sensible kernel sizes. Uses AVX and multiple threads. With a 104 MPix image (12200 x 8600):

[code]

this approach is roughly _O(N)_ in terms of kernel size (rather than _O(N^2)_) and is also only requires enough memory for the source (unsmoothed) and destination (smoothed) images, plus a small (100 MB) buffer.

[2020-09-16 03:15] kswang1029 commented on #576
fixed at the Splatalogue service

[2020-09-16 03:15] #576 closed, assigned to duidae

[2020-09-16 03:16] kswang1029 commented on #575
fixed at Splatalogue

[2020-09-16 03:16] #575 closed, assigned to duidae

[2020-09-17 15:36] Jordatious commented on #620
Are [these](https://github.com/CARTAvis/carta-backend/tree/dev/Dockerfiles) related to building the backend and not running it then?

[2020-09-17 15:40] veggiesaurus commented on #620
They're for creating an appropriate development environment for building and running the backend.

[2020-09-18 07:46] ajm-ska commented on #620
I have created a new Dockerhub entry with a runable backend, exactly as this issue requests. This time it is using the v1.4 release carta_backend: [ajmasiaa/carta_backend_v140](https://hub.docker.com/r/ajmasiaa/carta_backend_v140/tags)

As I mentioned previously, one way to run it is like this:
`docker run -ti -p 3002:3002 -v $PWD:/zzz ajmasiaa/carta_backend_v140 -port 3002 -base /zzz -root /zzz`

[2020-09-18 08:08] veggiesaurus commented on #620
I think eventually we should aim to have a `carta-backend` package in the PPA (which installs its non-dev dependencies correctly), and then just install that (and the kernsuite `casacore-data` package in an empty ubuntu

[2020-09-18 08:35] ajm-ska commented on #620
@veggiesaurus OK, but before that, is the second option that I have shown more acceptable?
[ajmasiaa/carta_backend_v140_full](https://hub.docker.com/r/ajmasiaa/carta_backend_v140_full/tags)
All lib files were installed correctly from the main repository with apt-get. zfp, uws, casa-data, and carta-casacore were installed with our PPAs. Finally, the carta-backend was built in the same container. Su

[2020-09-18 08:36] veggiesaurus commented on #620
Yes, I think it's a better approach. I'm not sure how important the container size itself is. I presume only the libraries that are actually utilised will reside in memory

[2020-09-21 08:09] #417 closed, assigned to pford

[2020-09-21 08:58] #629 closed, assigned to nobody

[2020-09-22 00:13] kswang1029 commented on #358
@pford @veggiesaurus I re-tested and this is still an issue in v1.4.

[2020-09-23 03:03] kswang1029 opened #636 "incorrect date shown in the file browser"
(assuming this is a backend issue related to the file system)

To demonstrate the issue, the following screenshot shows a file "spire500_ext.fits" created on Sep 22 08:10 and the date and time _now_ is Sep 23 10:54:46 CST 2020.
![Screen Shot 2020-09-23 at 10 55 21 AM](https://user-images.githubusercontent.com/20819712/93961621-3aaebb80-fd8c-11ea-9f95-522a081f7e3b.png)

In CARTA we see the date of

[2020-09-23 14:46] dentalfloss1 opened #637 "Improperly reading ds9 region files"
Attached is a ds9 region file that I am trying to load in. Before the 1.4 release, it worked fine. After the 1.4 release it loads in with the wrong coordinates. See attached region file and screenshot.
![image](https://user-images.githubusercontent.com/24629883/94028438-dee33300-fd89-11ea-860e-afffa0c9b29c.png)

[GRB200219A_reg.txt](https://github.com/CARTAvis/carta/files/5268910/GRB200219A_reg.tx

[2020-09-23 14:56] kswang1029 commented on #637
Could you provide the image that you loaded for diagnostics? A small sub image will be sufficient. Thank you.

[2020-09-23 19:46] dentalfloss1 commented on #637
1582287955_sdp_l0.GRB200219A_nouvcut_briggs-0.3...
<https://drive.google.com/file/d/15W_DsAnQQkGixKfsZF-GInDaH8adED5U/view?usp=drive_web>
See attached

On Wed, Sep 23, 2020 at 10:57 AM Kuo-Song Wang <notifications@github.com>
wrote:

--
Sarah Chastain
They/them
Physics PhD Student
George Washington University

[2020-09-24 00:48] kswang1029 commented on #637
Thanks for the files.

The issue is the format of the ds9 region file is "dos". If you use `vi` and `:set ff=unix` to convert the format to unix and save it, then it should work. I guess this is due to some hidden control characters belonging to the "dos" format, which somehow fool the region parser.

After conversion, I see
![Screen Shot 2020-09-24 at 8 44 44 AM](https://user-images.githubusercon

[2020-09-24 01:36] kswang1029 commented on #637
@veggiesaurus @pford are we able to check the format (unix or dos) of a region file at the backend and do proper conversions or to have a smarter region parser which takes dos format into account?

[2020-09-24 03:14] ajm-ska commented on #620
@veggiesaurus OK. I deleted the previous "ajmasiaa/carta_backend_v140" and "ajmasiaa/carta_backend_v140_full" test repositories from Dockerhub and have uploaded a new full version renamed to: [ajmasiaa/carta-backend:1.4.0](https://hub.docker.com/repository/docker/ajmasiaa/carta-backend/general)
The tag (1.4.0) indicates the version name.
(It looks like we could probably automate the process for it

[2020-09-24 06:20] kswang1029 commented on #637
with standard linux command, the following also works for the conversion:

`tr -d '\r' < region_dos.reg > region_unix.reg`

[2020-09-24 06:23] kswang1029 commented on #637
To summarize the issue, we need a fix for:
- [ ] region name parsing
- [ ] support region file in dos format

[2020-09-24 16:08] dentalfloss1 commented on #637
The above image does indeed look correct

[2020-09-25 07:46] veggiesaurus commented on #620
@ajm-asiaa I think that should be ok. Should we start a CARTA dockerhub organisational profile?

[2020-09-25 09:25] veggiesaurus commented on #637
@dentalfloss1 we'll fix this and deploy the fix to carta-testing.idia.ac.za once ready. In the meantime, please use the workaround provided

[2020-09-29 06:32] kswang1029 opened #638 "create an offline line catalog with common species in FITS format"
Currently the spectral line query function relies on making queries to the remote Splatalogue via internet. The science team suggested to have an offline small set of species at the backend to enhance the usability.

Once the offline catalog is ready, the backend probably can reuse the FITS catalog parser to handle it.

[2020-09-30 00:10] jott3077 opened #639 "contour widget has no pin button to integrate in canvas"
The contour widget lacks a pin button in the top window to pin it onto the canvas. It should have the same docking options as any other widget.

[2020-10-05 09:36] kswang1029 opened #640 "reduce the progress update cadence of cube histogram calculations"
Probably due to the previous refactoring of parallelization from TBB to OMP, the progress update cadence of cube histogram calculations now is very high. Updating every 1s should be sufficient.
![Oct-05-2020 17-33-22](https://user-images.githubusercontent.com/20819712/95063655-3346c500-0731-11eb-997a-0d84a124ee08.gif)

[2020-10-05 09:37] kswang1029 commented on #640
@markccchiang could you help on this issue?

[2020-10-05 13:16] markccchiang commented on #640
OK.

[2020-10-14 12:58] ajm-ska opened #642 "OMP threads and Cube Histogram"
Edit from @veggiesaurus: This seems to occur on all platforms, for channel or cube histograms!

We have discovered an issue with the Cube Histogram calculation on MacOS where it can produce a slightly different result than on Linux (RedHat7 and Ubuntu).

A workaround is to define the environment variable `OMP_NUM_THREADS` in the shell on MacOS before starting the carta_backend. However, it only wo

[2020-10-15 10:51] veggiesaurus commented on #642
@Jordatious saw a similar issue, where the FITS histogram was under-counting. Wonder if it's related.

[2020-10-15 12:16] Jordatious commented on #642
Here's an example
![image](https://user-images.githubusercontent.com/10542136/96121756-c8e01280-0ef0-11eb-8828-d10840738b1d.png)
![image](https://user-images.githubusercontent.com/10542136/96121775-cf6e8a00-0ef0-11eb-9378-55e3b729f48b.png)
The peak of the histogram for the HDF5 version always seems to be higher.

[2020-10-15 17:46] confluence opened #643 "Report the gRPC port to the frontend"
The backend should report its gRPC port to the frontend, so that the frontend can log it, the scripting wrapper can parse it automatically, and the wrapper user doesn't have to provide it. This is part of [frontend issue #1228](https://github.com/CARTAvis/carta-frontend/issues/1228).

[2020-10-15 18:48] jott3077 opened #644 "global rendering"
Add an option to use the same clip min/max rendering, scaling and colormap for all (or a subset of) loaded images.
This is to allow a user to compare two or more images that have only small differences on a common color scale.

[2020-10-15 19:25] veggiesaurus commented on #644
@jott3077 is this covered by https://github.com/CARTAvis/carta-frontend/issues/1089 ?

[2020-10-15 19:27] jott3077 commented on #644
ok, great! feel free to close this ticket then.

[2020-10-15 19:29] #644 closed, assigned to nobody

[2020-10-16 01:44] #640 closed, assigned to markccchiang

[2020-10-21 02:50] zarda opened #647 "Failure to resume with some moment images"
Reproduce:
Open a cube image and request some moment images. Disconnect the back-end and reconnect it. The front-end will ask user whether to resume, but it will be failed on both server or desktop carta.

Testing:
The resume functionality is good while we have several images which is load from file.

[2020-10-21 16:36] pford commented on #360
This requires casacore to support the 64-bit integer type in binary tables.  (Internal note: updating casacore requires updating casa6 then updating carta-casacore.)  We could use cfitsio directly for the file browser but then the casacore::FITSImage will also require this change.

[2020-10-21 18:58] pford commented on #528
This should be complete when carta-casacore is updated to include the ICRS fix.  A quick test on my branch was successful.

[2020-10-22 18:57] pford commented on #648
Moved issue from carta to carta-backend

[2020-10-22 19:23] pford commented on #384
Test files in #648

[2020-10-23 22:15] pford opened #649 "Regex causes seg fault with 6000-point polygon"
A std::regex issue when importing a CRTF polygon region with as many as 6000 points causes a seg fault in the backend.  This needs to be fixed in the casa6 imageanalysis RegionTextParser, then update the casa6 commit in carta-casacore.

[2020-10-23 22:50] pford commented on #360
Possibly the same int64 issue as #635, but astropy shows this hdu as a CompImageHDU (not a FITS standard type) with type float32.  Needs more investigation.

[2020-10-23 22:56] pford commented on #648
Giving an estimate of 0 story points since it is a duplicate of #384, but keeping this ticket for test images.

[2020-10-23 23:05] pford commented on #649
Increased story points to 5 since the CRTF change will likely involve validation testing with the casa viewer, adding another layer of repo management.  Like casaplotms, the casaviewer is in its own repo with casa6 as a submodule.

[2020-10-24 09:25] veggiesaurus commented on #648
@pford I'm not too clued up on all the FITS conventions, but as far as I know, there are actually two conventions here: one is literally a FITS file that has been gzipped, and another is a fits.gz file, which is slightly different, based on the examples that we have been provided by users.

[2020-10-24 15:15] teuben commented on #648
@veggiesaurus they really better be exactly the same.  I cannot imagine there being two types of those.

[2020-10-26 06:04] markccchiang commented on #611
I think the backend can apply `casacore::ExtendImage` and `casacore::ImageConcat` to concatenate individual stokes images as one without copying the data. That way could much simplify the code changes. Just the backend needs to know which images with respect to their stokes types to combine. The frontend has to change as well. @kswang1029 maybe you can provide the idea of how the UI panel looks li

[2020-10-26 08:03] veggiesaurus commented on #611
I guess one of the things we need to decide on is whether this combination happens when _loading_ an image, or after images have been loaded

[2020-10-26 15:26] kswang1029 opened #650 "create an offline spectral line db for line query"
related frontend issue https://github.com/CARTAvis/carta-frontend/issues/1490

As requested from users, the spectral line query widget should support an offline database which includes common species only.

[2020-10-27 07:18] zarda opened #651 "Long response time for moment generation"
_Reproduce_:
Open image "SDC335.579-0.292.spw0.line.image" and lunch a new moment with the parameter:

axis: SPECTRAL
mask: Include
moments: [0]
pixelRange: {min: 0.1, max: 1}
spectralRange: {min: 2100, max: 2200}

The response was not returned longer than 30 seconds. This functionality works well and sent a correct message.

_Testing_:
The branch `/mark/refactor_moment_generator de94736 5038` on

[2020-10-27 07:26] kswang1029 commented on #651
with S255 do you see the same issue? SDC335 is a cube with per-plane-beam and there will be an extra step of doing beam convolution before making moment images. That may be why it needs extra time (thus not an issue/bug)

[2020-10-27 07:39] kswang1029 opened #652 "backend crash when cancelling moment calculations with per-plane-beam cube"
Before generating moment images, the backend will perform beam convolutions first if the cube has per-plane-beam. When it is convolving and if we hit the cancel button, the backend will crash.

[2020-10-27 07:43] zarda commented on #651
For image `S255_IR_sci.spw25.cube.I.pbcor.fits`, testing on the backend `/mark/refactor_moment_generator` the functionality can be done but responding time is longer than 10 seconds.

[2020-10-27 07:45] kswang1029 commented on #651
did you see S255 needs extra time to report progress? Crashing is a separate issue.

[2020-10-27 07:50] markccchiang commented on #652
There is no cancellation mechanism for the beam convolution. To solve it we may need to modify the casa object `casa::Image2DConvolver`.

[2020-10-27 07:57] zarda commented on #651
After several times of testing on image `S255_IR_sci.spw25.cube.I.pbcor.fits`, the reporting time become about 5 seconds. The extra time for progress may be induced by disk reading.

[2020-10-27 08:05] kswang1029 commented on #651
S255 does not have per-plane-beam. SDC335 does. We should see some casa log reporting the beam convolution.

[2020-10-27 09:41] veggiesaurus commented on #651
@kswang1029 can you compare this to just running the casa task?

[2020-10-28 01:32] zarda commented on #651
The image `SDC335.579-0.292.spw0.line.image` is CASA format.

[2020-10-28 02:29] kswang1029 commented on #651
@veggiesaurus I tried with two images in the FITS format:
S255: 1920x1920x1917 (uni-beam)
SDC335: 336x350x3840 (per-plane-beam)
and use CASA and CARTA to generate a moment0 image from channel 1000 to 1100.
The test results are (each obtained with a fresh OS start):
SDC335-CASA: 21s
SDC335-CARTA: 21s
S255-CASA: 16s
S255-CARTA: 11s

Note that with CARTA, we will have to request a spectral profile be

[2020-10-28 07:29] #643 closed, assigned to confluence

[2020-10-29 06:52] zarda commented on #637
I got a similar bug for ds9 region importing. Please try it by import the region on demo server: /set_QA/set_QA_regionTest/set_QA/M17_SWex_testRegions_pix.reg
We will got a wrong PA for the last ellipse region: it should be 45 but it returns 315.

[2020-11-02 16:28] pford commented on #648
@veggiesaurus @teuben the CASA image opener recognizes .fz files created with fpack as FITS, but .gz is UNKNOWN type so CARTA will have to handle these file types differently. I do not see anything in the casacore code which recognizes and supports gzipped files.  Boost supports this but is not currently a required library.  I will investigate C++ STL next, perhaps std::filesystem.

[2020-11-02 21:51] pford commented on #579
@kswang1029 I cannot reproduce this issue.  Will you try?

[2020-11-03 06:49] kswang1029 commented on #579
@pford I did some experiments with our dev server with two CASA images with different pixel scales so that they have identical file size. However, following the instructions (for step3 I copy a template image to the test file name.) by @lh-astro I cannot reproduce the issue.

However, if we use append mode, then we see the issue. I think that is explained by @pford

I also tried the FITS format an

[2020-11-03 06:54] kswang1029 commented on #579
@lh-astro If we use "load" to load an image, all loaded images will be closed first (with the CLOSE_FILE message). This should delete the image object(s) before creating a new one. Could you confirm again with v1.4 the procedure to reproduce the issue? Thanks.

[2020-11-03 16:09] #358 closed

[2020-11-03 19:50] pford commented on #596
@veggiesaurus do you have a test FITS image for this issue?

[2020-11-09 05:45] markccchiang commented on #611
I have created branches `mark/concatenate_images` for the [backend](https://github.com/CARTAvis/carta-backend/tree/mark/611_concatenate_images) and [protobuf](https://github.com/CARTAvis/carta-protobuf/tree/mark/concatenate_images). A new command `CONCAT_STOKES_FILES` with a new message `ConcatStokesFiles` tells the backend to concatenate stokes files as one. And the backend responses to the comma

[2020-11-09 20:24] jott3077 opened #655 "Full support of CASA CRTF format"
The CRTF region format in CASA has a number of definitions that are not supported in CARTA yet, but should be in an upcoming release.
This includes specify regions as annotation files, plotting of symbols, annulus region, text etc.

See
https://casa.nrao.edu/casadocs/casa-6.1.0/imaging/image-analysis/region-file-format

[2020-11-09 20:25] jott3077 commented on #655
related to https://app.zenhub.com/workspaces/carta-5c7fc74483f19a07c7bcacaf/issues/cartavis/carta-backend/655

[2020-11-09 20:38] pford commented on #655
related to #340

[2020-11-11 07:40] Jordatious commented on #596
Not that I know. I've seen basically identical headers from Ian Heywood after mosaicking pointings together. I could ask him?

[2020-11-11 07:49] veggiesaurus commented on #596
Please do. @arusstaylor also complained about an image not loading, which turned out to have the exact same type of invalid header entries.

[2020-11-11 09:33] veggiesaurus commented on #596
@pford have sent you an image on slack

[2020-11-11 14:28] Jordatious commented on #596
I've asked. I spent way too long trying to fix the same kind of FITS header for a particular image last week…

[2020-11-11 14:38] Jordatious commented on #596
[Montage](http://montage.ipac.caltech.edu/)

[2020-11-13 10:42] veggiesaurus commented on #505
this is now fixed in the backend, and now requires the frontend to be sorted out (frontend doesn't seem to handle large region files nicely at all!)

[2020-11-13 10:42] #505 closed, assigned to veggiesaurus, pford

[2020-11-13 17:10] #586 closed, assigned to markccchiang

[2020-11-17 09:43] lh-astro opened #659 "websocket connection dies when accessing certain directory"
I can not access the files in: `/carta_share/groups/mightee/lennart/XMMLSS-target-cubes/`
Using: https://carta.idia.ac.za/ which is version 1.4.0

To me it looks like as if the websocket connection dies when trying to enter this specific directory with the file browser (see screenshot). After accessing that directory and reopening the file browser, no directories are show any more, not even the on

[2020-11-17 16:27] pford commented on #438
Ready to test when frontend supports new type or ICD test added.

[2020-11-18 07:29] kswang1029 commented on #438
@arusstaylor Thanks to @pford and @TienHao, now the stat type "extrema" is implemented. Could you have a look with http://carta.asiaa.sinica.edu.tw/frontend/84ad950/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socket5028 with images in set_StokesCube?

Thanks.

[2020-11-18 11:46] veggiesaurus opened #660 "handle idle connections"
Currently, a user can keep a CARTA tab open indefinitely, which would keep the backend session alive. This becomes a problem when they leave it in this idle fashion for a long time with a number of files open, because the process is just sitting there taking up memory.

We should add configurable options to either kill the process after it is idle for a long time, or just kill the idle session. We

[2020-11-18 16:26] #637 closed, assigned to pford

[2020-11-18 22:22] jott3077 opened #661 "Saving/restoring states of CARTA"
As an extension to layouts, states are a full CARTA session, including the images loaded, render settings, animator status etc.
It should be possible to save such states and reload them.

[2020-11-19 03:17] kswang1029 commented on #418
@jott3077 @veggiesaurus we do have spectral conversion via AST. For this issue, maybe we could add a toggle in the preferences such as "display velocity when possible" so that we will show velocity as the default axis in the spectral profiler widget.

[2020-11-19 03:20] kswang1029 commented on #392
This sounds more like a frontend "presentation" issue. If so we should transfer this to the frontend repo.

[2020-11-19 03:21] kswang1029 commented on #388
adding "requiring_frontend" tag as
- Images with UV coordinates
- pV images

need the frontend (AST) to display the axes properly.

[2020-11-19 03:29] kswang1029 commented on #388
Note that this issue (esp. pv images) is critical for the coming release and v3.0.

[2020-11-20 20:42] jott3077 commented on #388
The title of the ticket is now misleading. UV and pV images are not only exclusively CASA formats but also fits, miriad, hdf5 etc.

[2020-11-20 20:53] pford opened #663 "Support UV and pV images"
These image types occur in all supported CARTA image types (CASA, FITS, HDF5, Miriad).

Adding "requiring_frontend" tag as

    Images with UV coordinates
    pV images

Frontend issue [#1150](https://github.com/CARTAvis/carta-frontend/issues/1150)

[2020-11-20 21:03] pford commented on #388
I moved UV and pV images to new issue #663 .

@kswang1029 @jott3077 it sounds like this still needs the frontend tag.

[2020-11-20 21:07] pford commented on #388
@kswang1029 please determine if this issue is still included in release 2.0.

[2020-11-21 05:20] kswang1029 commented on #388
@pford @jott3077 the relevant frontend issue is created as https://github.com/CARTAvis/carta-frontend/issues/1264

I suppose this requires changes in protobuf message too?

[2020-11-24 07:14] kswang1029 opened #711 "image archive use case: limiting functionalities"
NOTE: please move this issue to a proper repo if this repo is not the right place

For an image archive such the ALMA science archive, the main use case is to view images quickly instead of performing analysis directly using CARTA as a platform. Thus in this case, the archive would like to limit the CPU usage of some intensive calculations while keeping the performance of image "viewing" functiona

[2020-11-24 07:18] veggiesaurus commented on #711
Animation playback is single-threaded.

It wasn't entirely clear to me whether you just wanted to limit the number of threads (this is already possible if you use the `OMP_NUM_THREADS` environmental variable) or actually disable this functionality entirely (that would be more of a frontend and backend issue)

[2020-11-24 07:22] kswang1029 commented on #711
When animation playback is on, I see my CPU cores are fully occupied. Due to tile generation?

[2020-11-24 07:24] kswang1029 commented on #711
The idea here is to limit only those not-that-essential tools for the ALMA archive. If we use OMP_NUM_THREADS to globally limit the CPU usage, viewing images will be slowing down too.

[2020-11-24 08:29] veggiesaurus commented on #711
yes. So this is true for image viewing in general as well. I guess we could limit the FPS or something?

[2020-11-24 17:18] pford commented on #388
@jott3077 your sample componentlist.image type is returned as a PagedImage (CASA) type, already supported in CARTA.

The casacore::ImageOpener looks at the table.info file and if it contains "Type = Image" it is image type ImageOpener::AIPSPP (PagedImage), but if "Type = Component List" and the table description keywords include "coords" then it is image type ImageOpener::COMPLISTIMAGE.  Your samp

[2020-11-24 18:23] pford commented on #388
@kswang1029 the CARTA backend supports displaying two types of images, those existing on disk and those created dynamically in CARTA (moments, pV, and LEL), with an option to save the in-memory image to disk.

Creating a moments image loader was done by Mark as part of the moments generator feature, but pV image support has been split into separate issues for the loader (#663 ) and the generator e