[2018-11-30 03:46] kswang1029 opened #1 "[file browser] symbolic-linked images do not show show up in the file list"
Please refer to set_QA folder. There should be many other images.

[2018-11-30 03:49] kswang1029 opened #2 "[file browser] image size of CASA/MIRIAD images (folder) is not calculated correctly."
in the default image path on the demo server, images stored as folders do not have file size calculated correctly.

[2018-11-30 03:57] kswang1029 opened #3 "[cursor-xy-profiler] incorrect backend cursor xy profiles at sub-pixel scale"
test image: set_QA/qa_xyProfiler.fits

![screen shot 2018-11-30 at 11 52 45 am](https://user-images.githubusercontent.com/20819712/49267790-0bcca480-f497-11e8-92c2-a30cb61f0f2d.png)

Similar issue may happen to cursor-z-profiler too. Please check. It is likely due to rounding up pixel coordinates.

[2018-11-30 04:01] kswang1029 opened #4 "[image open] cannot open fits images with multiple HDU"
e.g., spire500_ext.fits: HDU 0

[2018-11-30 04:07] kswang1029 opened #5 "[file browser] beam information in file info"
beam information is missing in file information of file browser. Please also support the cases where per-plane-beam table exist (CASAMBM = True). We could report median value if there is no significant performance degradation.

test image: under default path, "SDC335.579-0.292.spw0.line.image"

[2018-11-30 04:25] kswang1029 opened #6 "[imageViewer; crash] backend crashes when zooming large images"
test image: set_Gaussian2D/hugeGaussian40k.fits or hugeGaussian80k.fits
![screen shot 2018-11-30 at 12 40 33 pm](https://user-images.githubusercontent.com/20819712/49268908-33bf0680-f49d-11e8-8c3d-729cddbecc34.png)

[2018-11-30 04:31] kswang1029 opened #7 "[imageViewer] black image"
test image: set_OMC/orionkl_240894_line.pbcor.image

this image can be opened. xyz profilers seem to work fine, but the image is black.
![screen shot 2018-11-30 at 12 29 36 pm](https://user-images.githubusercontent.com/20819712/49268692-e2fade00-f49b-11e8-93e8-e9b52c188a5f.png)

[2018-12-04 02:13] #2 closed

[2018-12-04 02:13] #4 closed

[2018-12-04 18:35] pford commented on #1
Checked set_QA folder, list is still missing many items.  Reopening issue.

[2018-12-04 20:12] pford commented on #7
Backend now ignores nan and inf values for histogram.

[2018-12-04 20:12] #7 closed

[2018-12-04 20:15] pford opened #9 "Mishandling of open/close file messages"
When processed concurrently, CLOSE_FILE can close newly-opened OPEN_FILE with same file_id and no image is displayed.

[2018-12-04 20:18] pford commented on #1
In my local build I can see symbol-linked files (e.g. fits image) and folders (e.g. CASA image).  Asked Anthony for a detailed os file listing.

[2018-12-05 01:33] kswang1029 opened #10 "[file info] spectral frame is not displayed correctly"
With the test images in "set_referenceFrames" on the demo server, the entry "Spectral frame" is not displayed correctly based on the header (SPECSYS in the header is not correct, either).

[2018-12-05 01:36] kswang1029 opened #11 "[file info] pixel increment"
The entry "Pixel increment" in the file info now adopts the unit defined in the header. To have a better UX, please transform it to user friendly units, like milliarcsec, arcsec, arcmin, or degree, depending on the value itself. If it is velocity, please use km/s.

[2018-12-05 01:41] kswang1029 commented on #1
[root@acdc0 set_QA]# ls -lh
total 114M
lrwxrwxrwx 1 root root   64 Oct 18 10:11 G14.114-0.574.continuum.image.pbcor.fits -> /scratch/Images/set_G14/G14.114-0.574.continuum.image.pbcor.fits
lrwxrwxrwx 1 root root   37 Oct 15 14:00 G34mm1.miriad -> /scratch/Images/set_G34/G34mm1.miriad
lrwxrwxrwx 1 root root   62 Dec  4 11:23 G34mm1_lsb_all.uv.part1.line.natwt.sml -> /scratch/Images/set_G34/G34mm1_l

[2018-12-05 03:33] kswang1029 opened #12 "[xyz cursor profiler] better not showing xyz profiles before moving the cursor inside the raster image during the image open process"
When opening a large image, xy (and perhaps z) profiles shows up before the raster image showing up. It is better to start to show the profiles when cursor starts its journey inside the image. This could save some computation energies when opening a large image and most importantly, later we will have some pre-defined GUI layouts which may not have xy or z profilers as default. So there is no poin

[2018-12-05 20:40] pford commented on #1
Discussed with Anthony.  NRAO backend is run in a Docker container, which does not follow symlinks unless you also bind mount the linked-to directory.  It is possible this could be fixed with Docker settings on startup for the nrao backend, but I do not think it is a backend issue.  When running my developer build pointing to the same directory as my docker container, I see the symbolic-linked ima

[2018-12-07 03:25] kswang1029 opened #13 "[file header info] standard FITS header"
It is good to have the displayed header in the file browser to be consistent with FITS header structure. For different image formats, a unified FITS header display is preferential. (c.f. asiaa backend, or ds9)

update: we require a unified standard FITS header for all types of images so that the frontend can process the header in a simple/unified way. For example, while plotting a beam, we found i

[2018-12-10 02:51] kswang1029 opened #14 "[file info] adding HDU name in file info"
If a FITS image has multiple HDUs, please add HDU type and name in the file info so that users can see which HDU is which.

test image: set_QA/spire500_ext.fits
There are 8 HDUs in the above case (using gaia from statlink).
<img width="732" alt="screen shot 2018-12-10 at 11 07 30" src="https://user-images.githubusercontent.com/20819712/49708764-f102e880-fc6b-11e8-8fa8-36cb3a9d3d78.png">

[2018-12-11 19:02] #1 closed

[2018-12-11 19:03] #6 closed

[2018-12-11 19:03] #9 closed

[2018-12-11 19:03] #12 closed

[2018-12-11 19:05] pford commented on #12
The backend no longer sends spatial profiles until requirements are set and SET_CURSOR is sent.  However, the frontend seems to keep the last image's profile plot but updates the range for the new image.  Will discuss in weekly meeting.

[2018-12-11 20:08] pford opened #17 "[image viewer] backend crashes when multiple sessions access same dataset"
Image locking for disk access is within Session, not across Sessions

[2018-12-11 20:10] pford opened #18 "[file list] no file list returned when directory contains file not readable (permissions)"

[2018-12-11 20:23] pford opened #19 "[threading] add ability to cancel threads"
Threads need to be canceled when:
- image or region is closed - stop processing
- region is changed (control points or rotation) - process new region only
- requirements change - process new requirements only

[2018-12-11 23:34] kswang1029 commented on #19
Is this the case that with the demo server https://acdc0.asiaa.sinica.edu.tw:47568 , crash happens when doing
1) open h_m51_b_s05_drz_sci.fits
2) then open supermosaic.10.fits (not append)
3) should crash

[2018-12-12 00:09] pford commented on #19
No, it happens even with 2 threads (1 "working", other polling for new messages).  Looking into the crash you describe, which seems to happen only in Docker (OSX build was OK).

[2018-12-12 13:00] kswang1029 opened #20 "[image viewer] missing image"
Tested with desktop version v1.0-beta2 mac: http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta2.dmg

To reproduce:
1) open cluster_08192.fits (https://drive.google.com/file/d/1kZxZmOq8VaPo7dRT9_Af6nYwIl8WoACn/view?usp=sharing)
2) then open cluster_00128.fits (not append)(https://drive.google.com/file/d/10_B3hDhfQdxD_XCsrUSdaGZqSuPd6Fs9/view?usp=sharing)
3) cluster_00128.fits should be open

[2018-12-12 16:54] pford commented on #20
This works for me on my OSX dev build and on Docker ubuntu build.  It may be related to other issues, please try again after latest commit builds.

[2018-12-12 16:54] pford commented on #18
This has been fixed, please test when build is stable.

[2018-12-13 00:34] kswang1029 commented on #20
Yes, the symptom is gone. Thanks a lot!

[2018-12-13 01:10] kswang1029 opened #21 "[file browser] ignore hidden folders"
Currently all folders, including hidden folders, are shown in the file list. We may consider to ignore hidden folders since mostly they are not for storing images. This would improve the UX if we use <home> as the default image path (usually there are many hidden folders created by various applications).

[2018-12-13 06:47] #11 closed

[2018-12-13 06:48] duidae commented on #11
fixed in https://github.com/CARTAvis/nrao-carta-backend/pull/15

[2018-12-13 06:49] duidae commented on #5
fixed in https://github.com/CARTAvis/nrao-carta-backend/pull/15, add restoring beam in file info

[2018-12-13 06:49] #5 closed

[2018-12-13 06:51] #20 closed

[2018-12-13 06:53] kswang1029 commented on #3
issue fixed.

[2018-12-13 06:53] #3 closed

[2018-12-13 15:40] pford commented on #21
Just committed a fix for this (for a simple change, I don't make a branch and PR).  Backend ignores filenames (a directory is casacore::File) which start with '.'

[2018-12-14 07:44] duidae opened #23 "Invalid unit of beam in CASA image"
the unit of beam (BMAJ, BMIN) is deg, however cunit1/cunit2 is rad, so the inconsistency results in wrong scale of beam icon in frontend

[2018-12-14 07:44] duidae commented on #23
solved in https://github.com/CARTAvis/nrao-carta-backend/pull/22

[2018-12-14 07:44] #23 closed

[2018-12-14 14:55] pford commented on #18
Tested by ajm, fix worked.

[2018-12-14 14:55] #18 closed

[2018-12-14 17:29] ChristyReynolds opened #24 ".."

[2018-12-14 17:54] ChristyReynolds commented on #14
Hi! I will work on this issue. Thanks! Christy

[2018-12-17 17:42] #24 closed

[2018-12-18 08:56] zarda opened #26 "[Session ID]The backend not check session ID"
In case user access the backend with an unknown ID, the backend creates a new session for it, so it always returns REGISTER_VIEWER_ACK.success = "true" and with no error message.

[2018-12-18 09:03] zarda opened #27 "[Session API key]Backend not return error message"
In case an user access backend with an unknown API key, it should return REGISTER_VIEWER_ACK.success == "False" and corresponding error message. But the latest backend returns no error message.

[2018-12-18 09:09] zarda opened #28 "[File info]Get file info from a non-existent file"
In case an user try to get file info from  “no_such_file.image” which does not exist. The FILE_INFO_RESPONSE can not return.

[2018-12-18 10:54] veggiesaurus commented on #27
The API key is optional (reserved for future use when handling permissions), so the backend should not return `sucess == false` if it is missing or unknown.

[2018-12-18 10:57] veggiesaurus commented on #26
this is a good thing to check :+1:

The expected behaviour (once resume support is built in) would be:
- If there is no session ID, then a new session is created
- If the session ID exists, and matches an existing session, that session is resumed
- If the session ID exists, but does not match an existing session, the session cannot be resumed, and the backend should return false.

(Note that the f

[2018-12-18 15:58] pford commented on #27
The backend must be started with permissions=true and a permissions.txt file.  If there is no permissions.txt file, the backend logs this error and continues without permissions.  This has not really been tested and debugged.

[2018-12-18 17:16] pford opened #29 "[histogram] per-cube histogram calculations with progress updates"

[2018-12-19 06:11] duidae commented on #28
fixed in https://github.com/CARTAvis/nrao-carta-backend/pull/31

[2018-12-19 06:55] kswang1029 opened #32 "[file browser] wrong file size at root image path"
test version: http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta3.dmg (electron app on mac)

The file sizes of h_m51_xxx are not correct.

<img width="1198" alt="screen shot 2018-12-19 at 14 54 02" src="https://user-images.githubusercontent.com/20819712/50203957-23b08d80-039e-11e9-9db8-891e3aa09f7a.png">

When dive further in the file structure, file sizes are okay.

[2018-12-19 07:48] kswang1029 opened #33 "[spectral profiler] performance degradation"
with the demo server: https://acdc0.asiaa.sinica.edu.tw:47568/
or the redhat server version: alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta3-redhat6.tar.gz

The performance of spectral profiler varies with different image formats.
Test images:
SgrB2-N.spw0.line.image
SgrB2-N.spw0.line.fits

With casa format, performance is excellent, but with FITS format, it takes longer to generate a spectra

[2018-12-19 08:03] veggiesaurus commented on #33
FITS files are stored in a flat array, so reading a spectral profile requires reading a single pixel for each channel independently. CASA files use a tiling storage approach, so fewer reads are required (although reading the entire image might be slower). This would explain the performance difference between the two.

Maybe the files are getting more aggressively cached in memory on your Mac, whic

[2018-12-19 10:52] kswang1029 commented on #33
Could be. The test image is about 7GB and my laptop has 8GB ram. The demo server is using SSD, same as my laptop (I believe my laptop's SSD is faster due to PCIe). Maybe @pford can comment on how casacore accesses spectral profile in different image types?

[2018-12-19 14:17] kswang1029 commented on #21
Tested.

[2018-12-19 14:17] #21 closed

[2018-12-19 16:44] pford commented on #14
Kuo Song, I assume for the sample FITS file described above you want the displayed type to be "binary" or "image" and the name to be "image", "History", "error", "coverage", etc. as shown in your table, is that correct?

In casacore the HDUs are 0-based but this could also be easily changed if preferred.

Should the file browser skip the "binary" tables which cannot be displayed by CARTA?  In this

[2018-12-19 17:50] pford commented on #32
For symlinked files, returned size of link not file.  This has been fixed in master.

[2018-12-19 17:50] #32 closed

[2018-12-19 17:51] pford commented on #29
Added in PR #34.

[2018-12-19 17:51] #29 closed

[2018-12-19 23:59] pford commented on #10
Fixed by pull request #35

[2018-12-19 23:59] #10 closed

[2018-12-20 00:01] kswang1029 commented on #14
@pford I suggest
1) we skip type="binary" in the file list to be consistent with the idea that the file list only contains supported image types (casa, hdf5, fits, and miriad).
2) we use 1-based index for HDU
3) appending hdu index and name/type to the file name is a good idea.

[2018-12-20 14:48] veggiesaurus opened #36 "cube histogram is corrupt if a channel histogram is requested first"
Thanks to @kswang1029 for spotting this.
Per-cube histograms are incorrect if a per-cube histogram has been requested first. To reproduce:
- Load an image
- Change to another channel
- Select a cube histogram from the render config widget

![image](https://user-images.githubusercontent.com/592504/50291248-b7ee2380-0476-11e9-91bb-acf236885c2f.png)

@kswang1029 has verified that the region histogram

[2018-12-20 15:09] veggiesaurus opened #37 "partial update of cube histogram should show current histogram"
Currently, the cube histogram is blank until `progress == 1`. The partial updates should include the current state of the histogram (once the max/min have been determined). That way, the user can get a rough estimate of the cube histogram as it is calculated.

[2018-12-20 15:21] veggiesaurus opened #38 "cube histograms should not have fewer bins than channel histograms"
The number of bins for a channel histogram is calculated as _sqrt(width * height) = sqrt(N)_, where _N_ is the number of data points. This is a common approach to estimating the number of bins without any prior knowledge of the data's distribution.

For the cube histogram, the number of bins is calculated as _cbrt(N)_, where _N_ is the number of data points. This leads to situations where there ar

[2018-12-20 21:20] pford commented on #38
Juergen agreed with (1) so that is what I implemented.  With the short timeframe for version 1.0 packages, unless we extend the deadline any further modification should be for 1.1.

[2018-12-20 23:48] pford commented on #37
Added this in branch pam/cubeHistogramUpdate.  Shall I proceed with pull request for version 1.0, or wait until after release?  It is really a minor change, added the Histogram submessage in each progress message.

[2018-12-20 23:52] pford opened #40 "Add copyright heading to source code"
Once the text is agreed upon

[2018-12-21 04:43] kswang1029 commented on #36
I was not able to reproduce this issue this morning. I guess the new commits fix the issue. Will keep an eye on it. So far so good now! Thanks!

[2018-12-21 07:17] veggiesaurus commented on #38
closing this, as the fix has been merged in

[2018-12-21 07:17] #38 closed

[2018-12-21 08:21] veggiesaurus commented on #40
in the meantime, I've added a COPYING.md file to both repositories, with the GPL license.

[2018-12-21 09:28] veggiesaurus opened #41 "memory leak when stepping through channels"
Stepping through channels or playing an animation results in a memory leak. Tested with the latest ubuntu appimage.

To reproduce:
- Open appimage. `carta_backend` starts with roughly 6 MB of memory utilised
- Load `supermosaic.10.fits`. `carta_backend` memory usage increases to around 66 MB
- Step through the channels using the _Next_ button. Memory usage increases in increments of about 60 MB wh

[2018-12-21 09:36] veggiesaurus commented on #41
for comparison, when using the old IDIA hdf5_image_viewer backend, memory usage peaks at 43 MB when loading `supermosaic.10.hdf5`.

Two observations:
- The reason loading a slice of supermosiac.10 adds 60 MB to memory usage in the current backend (rather than 30 MB, which is the size of the slice on disk) is probably due to loading the slice in casacore before copying it to a raw array. Not sure h

[2018-12-21 09:42] veggiesaurus opened #42 "memory leak when calculating cube histogram"
(possibly related to #41)

Requesting a cube histogram results in a memory leak. Tested with the latest ubuntu appimage.

To reproduce:
- Open appimage. `carta_backend` starts with roughly 6 MB of memory utilised
- Load `supermosaic.10.fits`. `carta_backend` memory usage increases to around 66 MB
- Switch to a cube histogram. During the calculation, memory usage increases to around 2.9 GB

[2018-12-21 13:18] veggiesaurus commented on #37
@pford Partial updates work nicely, thanks. You can merge it in for V1.0

[2018-12-21 13:56] ajm-asiaa commented on #41
Just in case you don't know, the Linux v1.0 release versions are running carta_backend with twice the number of default threads. That is because, when we did some testing, the performance appeared to be greater when set to use more than the default number of threads.

In the run.sh script we have the following lines:
`X=2`
`NPROCS=$(getconf _NPROCESSORS_CONF)`
`NTHREADS=$((NPROCS*X))`

Then:
`$dir

[2018-12-21 14:17] veggiesaurus commented on #41
@ajm-asiaa thanks, I'll see if that reduces the rate at which the memory leak increases. We may need to tune this thread count in future, since most of the threads get blocked by I/O, and generally, we don't want more threads than the number of logical cores when executing CPU-intensive code.

[2018-12-21 18:38] pford commented on #41
The channel histograms were being cached, fixing it to keep the latest one only.

[2018-12-21 18:39] pford commented on #42
Yes, same as issue #41.  SET_IMAGE_CHANNELS generates a channel histogram.

[2018-12-21 22:10] pford commented on #37
Fixed in PR #43

[2018-12-21 22:10] #37 closed

[2018-12-21 22:10] #36 closed

[2018-12-22 04:07] ajm-asiaa commented on #41
I have replaced the carta-backend with Pam's fixed version in the following ubuntu AppImage for testing:
http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta5-ubuntu-x86_64.AppImage

As with the previous version, it is set to use double the amount of default threads for now.

I have not updated the Mac or RedHat versions with the fix yet.

[2018-12-22 05:18] veggiesaurus commented on #41
thanks @ajm-asiaa , testing the build now. It still seems to slowing increase in memory. This time, it leveled off at about 1.5 GB (down from 1.9 GB). However, loading a different file didn't result in the memory increasing any further (whereas before it would increase again), so could this be related to casacore caching things? (in which case, it's a _good_ thing)

@pam After giving it some thoug

[2018-12-22 05:33] veggiesaurus commented on #42
@pford testing the new build Anthony made. Calculating a cube histogram now no longer causes  a massive memory leak. However, repeatedly loading a file and calculating the cube histogram seems to leak memory.

To reproduce:

- Open appimage. `carta_backend` starts with roughly 6 MB of memory utilised
- Load `supermosaic.10.fits`. `carta_backend` memory usage increases to around 66 MB
- Switch to c

[2018-12-22 06:07] kswang1029 commented on #41
I second Angus’ suggestions. Indeed, having per channel histogram cached in memory while an image is loaded helps a lot in animation. What remains is how we have a good guess of n_bins to adopt. Using geometric mean of xy pixels (even if it is a cube) is a good start. We probably can have an minimum and maximum n_bins to handle small images and very large images well.

[2018-12-24 03:03] kswang1029 opened #45 "HDF5-IDIA format support"
As for v1.0, the support of the HDF5-IDIA image format is limited. Need to refine this and utilize its extra dataset to speed up some calculations (histogram, z-profile, etc).

[2018-12-24 03:07] kswang1029 opened #46 "performance degradation of images with per-plane-beam"
test image (on the demo server): SDC335.579-0.292.spw0.line.image

This test image has a per-plane-beam table. (one beam per channel) Generating its file info via the file browser takes much longer time compared to image cubes with similar sizes. Loading the image also takes much longer time, too.

[2018-12-25 07:41] zarda commented on #28
Another testing non-existent file makes backend to crash.

### Fatal Error [(NOT SET)]:  Bad number of dimensions for ~/CARTA/Images/set_QA/broken_header.miriad in XYOPEN
Assertion failed: (err == 0), function uv_loop_delete, file src/uv-common.c, line 691.
Abort trap: 6

[2018-12-25 08:57] kswang1029 opened #47 "[file info] error handle of broken image header"
Fatal Error [(NOT SET)]: Bad number of dimensions for ~/CARTA/Images/set_QA/broken_header.miriad in XYOPEN

Assertion failed: (err == 0), function uv_loop_delete, file src/uv-common.c, line 691.
Abort trap: 6

[2018-12-25 08:58] kswang1029 commented on #28
this issue does not match issue #28. A new one is created and this is should be closed.

[2018-12-25 08:58] #28 closed

[2018-12-26 22:32] pford commented on #47
There was no way to catch the casacore::MIRIADImage exception, had to directly call functions in casacore casa_mirlib library.  Fix is included in pull request #44 for release 1.0.

[2018-12-26 23:06] pford commented on #41
Per-channel histograms are cached.  According to the OSX Activity Monitor, the memory used for the supermosaic image animation varied between 42 MB (same as image loaded), 71 MB, and 100 MB, most likely depending on how many threads were caching a channel at once.  The memory never exceeded 100 MB, unlike the original report of 1.9 GB.

[2018-12-26 23:06] #41 closed

[2018-12-26 23:06] pford commented on #41
Pull request #44

[2018-12-26 23:11] pford commented on #42
After the changes in pull request #44, on macOSX Activity Monitor the backend memory usage for supermosaic cube histogram remained at 71.4 MB while loading, then returned to 42.1 MB when done.

[2018-12-26 23:11] #42 closed

[2018-12-26 23:16] #47 closed

[2018-12-27 19:01] veggiesaurus opened #48 "improved file navigation support"
Currently, CARTA's top level directory is $HOME, which means files not stored in this subdirectory are inaccessible, unless a symbolic link is created.

- [ ] The top level directory the root directory, in order to ensure that users can access any files in their filesystem
- [ ] The _default_ directory should be either $HOME or $PWD. Support for default directories will have to be added to the fro

[2018-12-27 19:56] pford opened #49 "Memory leak with channel cache and/or histograms"
Improved for version 1.0 but needs more investigation and a fix for 1.1.

[2019-01-02 06:43] kswang1029 opened #50 "[user feedback] wrong coordinate grid with casa simobserve/simanalyze generated images"
This issue is reported by a user who wanted to display a casa image generated by using CASA's simobserve/simanalyze tasks. The displayed coordinate grid is incorrect (left: CARTA v1.0, incorrect. right: casaViewer, correct)

<img width="958" alt="carta_image" src="https://user-images.githubusercontent.com/20819712/50582226-be7b9280-0e9b-11e9-91ce-4dc12cbf791a.png">

By using CASA's exportfits to g

[2019-01-07 07:07] kswang1029 opened #51 "[spatial profiler] incorrect backend xy profiles"
Open set_Gaussian2D/hugeGaussian80k.fits. When the image is successfully displayed, move cursor to get the full-resolution spatial profiles.

Is it memory leakage?
![screen shot 2019-01-07 at 3 01 44 pm](https://user-images.githubusercontent.com/20819712/50753715-daad7400-128d-11e9-9a3d-e7ba9f51d87d.png)

![screen shot 2019-01-07 at 3 45 12 pm](https://user-images.githubusercontent.com/20819712/50

[2019-01-07 11:36] veggiesaurus commented on #51
the fact that the issue occurs with an 80k x 80k image, and not a 40k x 40k image suggests that it's related to indexing the image aray (_N_ = 2^32.6 for 80k x 80k) with a 32-bit integer, rather than a 64-bit integer.

[2019-01-07 16:20] pford commented on #14
If we do not list the "binary" HDUs then we do not need to indicate that the others are "image" type, just add the ExtName to the HDU number.

[2019-01-07 19:03] pford opened #52 "[file list] backend crashes for multiple FILE_LIST_REQUEST for same directory"
casacore::ImageOpener::imageType tries to open each filename in various formats; it should return the ImageType enum which includes UNKNOWN type.  For some files, when it tries HDF5, libhdf5 causes a double free or corruption error.

[2019-01-07 22:11] pford commented on #52
After further testing, this happens when two file list requests are sent for the same directory.  This can happen when the user double-clicks or when the file list is taking too long so the user clicks again.

[2019-01-08 16:23] pford commented on #52
Also fixed issue where user thought image should appear in file list but did not.  Turned out the image was a CASA concatenated image (type casacore::ImageOpener::IMAGECONCAT).  Added a log message letting user know image types not supported when encountered.

[2019-01-08 19:19] #52 closed

[2019-01-11 00:03] pford commented on #19
This should be looked at along with concurrency issues.

[2019-01-11 03:55] kswang1029 opened #55 "[file browser] HDU tsunami"
with the test server https://acdc0.asiaa.sinica.edu.tw:47568/, when accessing set_rotation folder, it takes long long time to see the file list and there are way too many HDUs listed as shown below. The entire GUI becomes almost frozen and may crash.

![screen shot 2019-01-11 at 11 52 01 am](https://user-images.githubusercontent.com/20819712/51012355-b4dae480-1597-11e9-982e-a166e1426f08.png)

As a

[2019-01-11 09:01] veggiesaurus commented on #55
Here's the file info object received from the backend for the offending file. How many HDUs does the file actually have?

![image](https://user-images.githubusercontent.com/592504/51023601-f5cefb00-158f-11e9-8b54-6bfd9ba8e480.png)

[2019-01-11 09:13] kswang1029 commented on #55
Should be just one HDU.

[2019-01-11 16:16] pford commented on #55
This file is getting cfitsio error 222 (NO_BITPIX), "Second keyword not BITPIX".  I am putting in a fix to catch the casacore::FitsInput error, which will skip this image in the file list.

Error codes: https://heasarc.gsfc.nasa.gov/docs/software/fitsio/quick/node26.html

[2019-01-14 02:59] kswang1029 commented on #50
@pford Tested with the images provided from the user feedback. Now the coordinate grid is correctly generated. However, the beam size of casa image is not displayed correctly. FITS one is correct.

![screen shot 2019-01-14 at 10 52 19 am](https://user-images.githubusercontent.com/20819712/51094798-fe6f3d80-17ea-11e9-876e-b5a579d3fd64.png)
![screen shot 2019-01-14 at 10 52 31 am](https://user-image

[2019-01-14 03:10] kswang1029 commented on #55
@pford Tested and the tsunami is over. Thanks for fixing this. Closing this issue.

[2019-01-14 03:10] #55 closed

[2019-01-17 05:12] kswang1029 commented on #50
@pford Thanks for the fix. Now the unit of BMAJ and BMIN is consistent among casa image, FITS image and MIRIAD image. The beams of the three image format are plotted correctly 👍

There is another side-effect of changing the unit to degree:
The `Restoring beam` entry, which is derived from Header directly, is not calculated correctly.

Test image set: set_M100
casa image: M100_12m_CO_central.image

[2019-01-17 05:18] kswang1029 commented on #51
@pford Thanks for fixing this issue. Verified 👍 and close this issue.

[2019-01-17 05:18] #51 closed

[2019-02-01 14:43] pford commented on #19
Not only for closing an image, would improve message handling for multiple SET_CURSOR and SET_IMAGE_VIEW messages where only the latest one needs to be processed and earlier ones canceled.

[2019-02-01 14:58] pford opened #62 "Backend memory usage when loading image"
When loading the image channel cache, the data is loaded into a casacore::Array, copied to a std::vector of the same size, then the Array is destroyed.  Instead, the data should be loaded incrementally and added to the std::vector so that it is not in memory twice.

[2019-02-01 14:59] pford opened #63 "Backend logging too verbose"
Backend logging should include debug-level messages only when verbose flag is on

[2019-02-01 15:00] pford commented on #63
Backend logging should include debug-level messages only when verbose flag is on

[2019-02-01 15:02] pford opened #64 "Backend should reuse file info for OPEN_FILE_ACK"
Currently recreates file info and extended file info

[2019-02-01 15:05] pford opened #65 "Backend should save cube min/max and histograms"
Cube region and image region hold histograms separately.  Cube histogram should reuse or create channel histograms in image region, and save cube histogram in cube region.

[2019-02-01 15:29] pford opened #66 "Backend should not block other threads during animation"
There is a mutex lock in AnimationQueue which blocks all other threads until the requested channel is complete, which kills performance during animation. The other threads should be used for downsampling, compression, histogram calculation, and spatial profiles.  There is an ICD message START_ANIMATION that the frontend does not currently send but might be useful for the backend to know whether th

[2019-02-01 15:37] pford commented on #66
Also noting here that cacheMutex should be reviewed (not needed if threads which might change channelCache are blocked anyway).

[2019-02-01 17:33] #63 closed

[2019-02-12 00:09] #64 closed

[2019-02-18 05:19] kswang1029 commented on #50
@pford Apologies for being late testing this fix. Yes, it works well now. Close this issue.

[2019-02-18 05:19] #50 closed

[2019-02-20 10:21] veggiesaurus opened #71 "loading a file without specifying an HDU fails"
The frontend has a secondary method of loading files, via URL parameters. In this case, the HDU field will be left blank. However, this results in the file not loading, because the `casacore::string::fromString` call has the `chk` flag set to `true`, resulting in an exception being thrown.

The other instance of `fromString` being used (in `getFITShdu`) explicitly guards against empty strings. Thi

[2019-02-21 06:10] veggiesaurus commented on #66
@pford Just saw this now, should have provided feedback weeks ago, sorry!

Our initial approach was to use the START_ANIMATION messages to control animations, rather than spamming the backend with SET_CHANNEL messages. However, I believe there were concerns about how the ASIAA backend would handle this, and large restructuring would be required, so we opted for the easier route.

I agree that movi

[2019-02-21 15:56] pford commented on #66
Redoing the message handling w.r.t threading is a major rewrite of the backend that needs to be done, but as an item on the release planning.  In the meantime, my thought was that during animation we don't need to cache the image data since the next message will change the channel anyway. Then each thread could handle its own data individually  (as long as the memory is sufficient), and just lock

[2019-02-21 21:15] pford opened #72 "Fix failing backend ICD tests"
A set of ICD tests will be run on Travis with backend commits.  These should be fixed.

ACCESS_CARTA_DEFAULT.test.ts - PASS
ACCESS_CARTA_UNKNOWN_APIKEY.test.ts - **FAIL**
ACCESS_CARTA_WRONG_SID.test.ts - **FAIL**
ANIMATOR_NAVIGATION.test.ts - PASS
ANIMATOR_PLAYBACK.test.ts - PASS
CHECK_RASTER_IMAGE_DATA_noCompression.test.ts - PASS
CURSOR_XY_PROFILE.test.ts - **FAIL**
CURSOR_Z_PROFILE.test.ts - PA

[2019-02-21 21:19] pford commented on #27
Opened issue #72 to handle all test failures, to be fixed in one branch/pull request.  Closing this as duplicate.

[2019-02-21 21:19] #27 closed

[2019-02-21 21:20] pford commented on #26
Opened issue #72 to handle all test failures, to be fixed in one branch/pull request. Closing this as duplicate.

[2019-02-21 21:20] #26 closed

[2019-02-21 21:24] pford commented on #72
Noting here that GET_FILELIST.test.ts should pass when the fix for #48 (1.0.1 file browser patch) is merged.  Expected to fail until then.

[2019-02-22 16:23] pford commented on #48
Testing with carta-backend-ICD-tests FILEINFO.test.ts and GET_FILELIST.test.ts.

[2019-02-22 18:01] pford commented on #48
Requirements document:
https://docs.google.com/document/d/10RKx6jtxrsf6tqhovGYRoH3r2K7p7S_3o7OIyORku10

[2019-02-25 18:46] #72 closed

[2019-02-27 06:35] veggiesaurus commented on #71
@ajm-asiaa can you report your findings here?

[2019-02-27 06:45] ajm-asiaa commented on #71
I'm not sure this is working. When we open an image using the file browser, we see the following in the browser console log:
![screenshot 2019-02-27 at 09 32 33](https://user-images.githubusercontent.com/20802551/53470702-57461d00-3a9d-11e9-9c66-1c1d4e307d45.png)

When we try to open the same image using the URL, we get the following:
![screenshot 2019-02-27 at 14 07 55](https://user-images.github

[2019-02-27 13:30] confluence opened #76 "HDF5 file stays open if reading main dataset in file info loader fails"
If the file info loader fails to load the main dataset into a `casacore::HDF5Lattice` near line 173 of `FileInfoLoader.cc` (for example, because the data is not the expected type), the file remains open, which prevents it from being read by other tools (e.g. `h5ls`) until the backend is shut down.

This seems to be a casacore issue with the lattice object, which needs to be cleaned up somehow.

I

[2019-02-27 13:37] confluence opened #77 "HDF5 files with a non-float main dataset are not supported"
The backend attempts to load the main dataset into a `casacore::HDF5Lattice<float>`. This fails if the dataset has an incompatible datatype (I can reproduce the issue with a file with integer data). The same file can be loaded as a FITS file. If it's not too complicated to fix this, it would be good to have feature parity in the types of files that the FITS and HDF5 loaders can support.

[2019-02-27 17:44] pford commented on #71
This worked with the HDF5 file I tested, but didn't try FITS.  I modified one of the ICD tests to open each image type with hdu="" and all worked with the new fix in pam/no_hdu branch.

[2019-02-27 19:23] veggiesaurus commented on #77
I know the HDF5 library can read integer data into a float array, converting on the fly. I wonder if casacore is able to make use of that functionality.

[2019-03-01 17:58] pford commented on #65
Changed description, since per-channel histograms use per-channel min/max but cube histograms use cube min/max.  This changes the bin sizes and therefore the histograms.  Will save cube min/max and histogram for each channel/stokes for reuse.

[2019-03-01 22:34] pford commented on #71
Branches merged, ready to re-test in master branch.

[2019-03-01 22:45] pford opened #80 "Implement basic regions for single image"
- basic ROI for single image including point, rectangle, ellipse, and polygon
- import and export ROI file
- ROI statistics
- ROI spectral profile
- ROI histogram

https://docs.google.com/document/d/1IdEh2x7lrsul4kSJ3lzGCiEUyI9gGTX7yVp8BtCKUyw

[2019-03-01 22:46] pford commented on #45
https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8

[2019-03-03 03:08] ajm-asiaa commented on #71
I confirm that images can now be opened directly using the URL method, but the "hdu" value still does not appear in the web browser's console log.

This is the first part of the web browser console log when opening the image through the file browser:

This is the first part of the console log when opening the image with the URL method:

[2019-03-03 14:04] veggiesaurus commented on #71
no HDU is passed in, so this is the expected behaviour from the backend

[2019-03-04 03:07] zarda opened #81 "[CMakeLists]MacOSX needs a LINK of "uv""
While building backend on MacOSX, the CMakeLists file need to add "uv" following the line "set(LINK_LIBS ${LINK_LIBS} carta-protobuf ${PROTOBUF_LIBRARY} " or the "make" will fail.

[2019-03-04 06:41] ajm-asiaa commented on #81
I have modified CMakelists.txt with the following:
[code]

[2019-03-04 06:49] ajm-asiaa commented on #71
That is good. If that is the case, I guess the issue has now been resolved.

[2019-03-04 10:49] veggiesaurus opened #82 "SET_REGION rejects messages with min or max channels < 0"
As per the [ICD](https://docs.google.com/document/d/1V4KzJaV3zQYJoA_ims28iBTit_aixo_xYcAfPiq8hic/edit?ts=5c6124cc#heading=h.h8gjsouxzb4y), `SET_REGION` should accept regions where the min and max channels are < 0. In this case, it implies that the region spans the entire channel range, and the min/max channels can be calculated automatically. Will add a PR shortly to resolve this.

[2019-03-04 13:44] veggiesaurus opened #84 "Spatial profile vectors should be pre-allocated"
We're currently filling spatial profile data by creating a vector and using `push_back` to fill it with data from the `channelCache`. Since the vector length is entirely predictable, we should reserve the correct amount of memory beforehand.

While this won't make much difference for most files, trying to get two spatial profiles on a 32K x 32K image at 10 FPS will benefit from this optimization.

[2019-03-04 14:55] pford commented on #71
The ICD says the hdu should show which hdu is loaded (if applicable).  I thought this was fixed, will look at it again.

[2019-03-04 16:53] pford commented on #71
The latest messages Anthony posted from the console log are **OPEN_FILE** sent from the frontend to the backend.  Here we expect hdu="" when the file is in the URL.  The response from the backend **OPEN_FILE_ACK** should have first hdu listed in the fileInfo HDUList.  I see HDUList=["0"] in the ACK message when testing on the demo server: https://carta.asiaa.sinica.edu.tw/?folder=scratch/images&fi

[2019-03-05 11:33] confluence commented on #45
I will create separate issues for the individual features and bug fixes.

[2019-03-05 11:37] confluence opened #86 "Null-terminated string attributes are not read correctly"
Part of #45. As described in https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8/edit#heading=h.2fonicmwctib -- this has been verified to be triggered by null-terminated string attributes. We don't require a specific string format, and one of our converters produces null-terminated strings. The issue is possibly in line 60 of `HDF5Attributes.cc`.

[2019-03-05 11:39] confluence opened #87 "HDF5 files should be opened in read mode, not write mode"
This is apparently a casacore limitation in the parameters passed to the lattice constructor. We may be able to fix it by first creating a file object first and then using it to create the lattice. We need to check that this is also done in the info loader.

[2019-03-05 11:40] confluence opened #88 "Enable reading of unchunked HDF5 files"
This requires a patch to casacore; we are now waiting for feedback from the casacore team. Part of #45.

[2019-03-05 11:42] confluence opened #89 "Enable reading of cached 2D and 3D statistics from HDF5 dataset"
Major component of #45. Described in https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8/edit#heading=h.2fonicmwctib

[2019-03-05 11:44] confluence opened #90 "Use ZYXW dataset for point region z-profile if it is available in HDF5 file"
Part of #45. Described in https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8/edit#heading=h.2fonicmwctib

[2019-03-05 11:45] confluence opened #91 "Increase frequency of spectral profile updates if HDF5 file has a ZYXW dataset available"
Part of #45. Described in https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8/edit#heading=h.2fonicmwctib

[2019-03-05 11:46] veggiesaurus commented on #91
This is likely more a frontend issue (we can just call `SET_CURSOR` at a higher frequency), but we may need a way of reporting to the frontend that the ZYXW dataset is available

[2019-03-05 15:25] #82 closed

[2019-03-06 00:48] pford commented on #81
This works on the Mac, I can compile without manually changing CMakeLists.txt.  Has anyone tried it on Linux (@markccchiang , @confluence , @veggiesaurus ) ?

[2019-03-06 06:44] ajm-asiaa commented on #81
I can confirm that it works on Linux (Tested through ubuntu and CentOS6 Docker containers). I guess we can close the issue now.

[2019-03-06 06:44] #81 closed

[2019-03-06 06:55] ajm-asiaa commented on #71
You are correct. I'm sorry, I was looking in the wrong place previously. It does indeed show HDUList: ["0"]. Let's close this issue now.
![screenshot 2019-03-06 at 14 52 04](https://user-images.githubusercontent.com/20802551/53861541-6e49b980-401f-11e9-93ac-18673d4630ca.png)

[2019-03-06 06:55] #71 closed

[2019-03-06 13:16] Kechil commented on #45
Turn this into an epic with separate issues.

[2019-03-06 13:22] Kechil commented on #88
Has external dependency (Casacore)

[2019-03-06 13:32] #84 closed

[2019-03-06 20:12] veggiesaurus opened #94 "HDF5-IDIA support"
The HDF5-IDIA schema is designed to accelerate common I/O workloads in visualisation. CARTA needs to support this schema in full in order to extract maximal performance for large files.

Initial support in 1.0 was very limited, and did not use any of the additional data products to accelerate workloads. The goals for support in 1.1 are described [here](https://docs.google.com/document/d/1T1T85zvGH

[2019-03-06 20:17] #45 closed

[2019-03-06 20:23] veggiesaurus opened #95 "Performance Improvements"
Intentionally vague epic for performance improvements. Performance in this case is related to five major areas of concern:
- I/O performance of the backend
- Memory use of the backend
- CPU use and core utilisation of the backend
- Network efficiency
- CPU use of the frontend

In the short term, these include some fixes to how files are read and how analysis tasks are calculated.

In the medium te

[2019-03-07 08:48] confluence commented on #40
To the best of my knowledge (and I am not a lawyer, so we should find a reputable source) there is no legal reason to put copyright headers in individual files. It's purely a matter of taste. I know that some projects have done this historically, but it is sufficient to have a single licensing statement (and probably a copy of the licence) in the repo.

I'm -1 to cluttering up individual files wit

[2019-03-07 10:57] Kechil opened #96 "HDF5 Support"

[2019-03-07 13:41] #96 closed

[2019-03-07 13:44] veggiesaurus commented on #88
fixed it in this PR to casacore: https://github.com/casacore/casacore/pull/880

[2019-03-07 13:44] #88 closed

[2019-03-07 17:21] pford commented on #40
I checked with NRAO management, and the official NRAO policy is to have the license in every file.

The last section of COPYING.md, "How to Apply These Terms to Your New Programs", shows the notice to attach to the file and a short notice in include in "About" in a GUI.  NRAO specifies this line in the notice:
Copyright (C) <year> Associated Universities, Inc. Washington DC, USA.
and we would need

[2019-03-07 17:24] veggiesaurus commented on #40
It's also specified on the GPL website that you need a header. I don't think it's _legally_ required, but if it's a GPL directive and an NRAO policy, I guess we'd better put it in.

[2019-03-07 18:22] #86 closed

[2019-03-07 18:33] confluence commented on #40
Fair enough. In that case, please let me know when the text has been
finalised.

On Thu, Mar 7, 2019 at 7:24 PM Angus Comrie <notifications@github.com>
wrote:

--
Adrianna Pińska

[2019-03-08 02:19] zarda commented on #95
For the backend, the intel VTune amplifier is a powerful tool to monitor almost everything.

[2019-03-08 02:42] #48 closed

[2019-03-08 02:42] kswang1029 commented on #48
Verified with the v1.0.1 packages.

[2019-03-08 05:36] #65 closed

[2019-03-08 23:37] veggiesaurus commented on #49
@pford I've just attempted to reproduce this issue before and after the recent PR (#99). Did the same thing for both tests: load a file, play animation through once, create a cube histogram. Previous behaviour was that memory increased steadily while playing the animation, and the maximum memory increased with the number of threads being used (to the point where images with a 30 MB channel size we

[2019-03-09 11:38] ajm-asiaa commented on #49
OK. I built the new backend for Mac, ubuntu, and RedHat.

For these quick tests I just replaced the v1.0.1 backend with the new backend, so it is using the new backend paired with the v1.0.1 frontend.

The test procedure I followed was loading supermosaic.10.fits, playing one round of animation, stopping animation, playing another round of animation, stopping animation and calculating the cube his

[2019-03-09 11:57] veggiesaurus commented on #49
thanks so much for testing that on all platforms, @ajm-asiaa. Very encouraging results, that was an embarssaing bug, glad it's sorted out. My working theory is that it's related to how `casasore::Array::tovector()` gets compiled on MacOs compared to linux. Perhaps a clang versus gcc thing? In any case, it seems like calling `tovector` from multiple threads leads to memory hanging around.

The cube

[2019-03-11 03:56] pford commented on #49
There was a bug where the progress messages during min/max did not add blank histograms so the frontend could not process them.  I thought that had been fixed.  Progress messages should be sent every 2 seconds during min/max, send a 50% progress, then update every 2 seconds during histogram calculation.  What backend commit did you use?

[2019-03-11 04:02] ajm-asiaa commented on #49
I used backend commit: bff7bc0
https://github.com/CARTAvis/carta-backend/commit/bff7bc0d723492726069d4532aa60d60a2c89cb2

[2019-03-11 12:57] veggiesaurus commented on #49
@pford can we close this and open a separate issue for histograms if it still exists? I still see blank histograms during the first 50% of the cube calculation, which looks fine. If all the min/max calculations are cached, it jumps straight to 50%, which is also fine, I reckon. We _could_ refine the ETA a bit, I guess, but that's probably not essential.

[2019-03-11 18:18] pford commented on #77
HDF5Lattice, HDF5Image, and PagedImage (CASA image) are templated classes. FITSImage and MIRIADImage inherit ImageInterface<casacore::Float>.

HDF5Image.h global function **hdf5imagePixelType** uses casacore::HDF5DataSet::getDataType to determine the data type.  Then use switch (casacore::DataType) to create the proper lattice/image.

PagedImages should use **imagePixelType** in PagedImage.h.    S

[2019-03-11 18:25] #62 closed

[2019-03-11 19:19] confluence commented on #77
I think let's generalize this one.

[2019-03-11 19:55] veggiesaurus commented on #77
does that imply generalizing _all_ of the data products as well? For example, a lot of our down-sampling and compression code is based on float arrays.

[2019-03-13 08:34] zarda opened #102 "[Concurrence] Frontend sending many events concurrently sometimes get no response from backend."
For a performance test, it will let backend response error whenever the front sends too many request concurrently. But it is stable that backend gets requests one after another in order between a short period, likely 20ms.

[2019-03-13 08:41] veggiesaurus commented on #102
are there particular events that this happens for?

[2019-03-13 08:52] kswang1029 commented on #102
Could you elaborate in detail what kind of performance test you are trying to do in such high cadence? 20ms is 50 fps using the animator for example.

[2019-03-13 08:59] veggiesaurus commented on #102
I think typical event rates should be below 30 per second (per session). But events should not be missed, so this is a very useful test. We don't want two events that arrive within 20 ms of each other to have unpredictable behaviour

[2019-03-13 09:09] kswang1029 commented on #102
In real world, messages from different users can arrive very close to each other’s, can’t they? If so this is an important issue.

[2019-03-13 09:37] veggiesaurus commented on #102
I think we're most likely to use a system where one backend process is shared by a minimum number of users, but even for one user, messages can arrive within a 20 ms window quite easily (imagine playing back an animation and moving your cursor)

[2019-03-13 20:36] veggiesaurus commented on #66
@rwjsimmonds this seems to be fixed in your branch. Eventually we should still move to the animation approach specced in the ICD

[2019-03-13 20:37] veggiesaurus commented on #17
@kswang1029 can you remember how to reproduce this?

[2019-03-13 20:37] veggiesaurus commented on #49
@pford can we close this?

[2019-03-13 20:55] pford commented on #49
Yes, Anthony's tests show it is fixed.  I can refine the histogram progress in another issue.

[2019-03-13 20:55] #49 closed

[2019-03-14 02:20] kswang1029 commented on #17
@veggiesaurus with the help from @ajm-asiaa for setting up the demo server, I did the following tests with one backend and two sessions from two different computers:
1) requesting a file list from the same folder ==> crash
2) requesting file info of the same file ==> appears fine
3) opening same big image ==> appears fine
4) playing animation at low and high fps ==> appears fine.

[2019-03-14 07:10] zarda commented on #102
After decrease the period of sending `SetImageChannels` on the test "ANIMATOR_PLAYBACK" to 1ms, the test result is the increase of fps. In this case, there is only one user with one session, which send event in order but rapidly. For the current release, the fps is up to 30 Hz. 👍🏻

[2019-03-14 07:12] zarda commented on #102
current test is about "image open". The test about other event will be implemented soon.

[2019-03-18 07:15] kswang1029 opened #105 "[backend crash] SET_CURSOR and SPECTRAL_PROFILE_DATA"
With the demo server: CARTA v1.1-alpha | frontend 48fd377 | backend 47854d0

To reproduce:
1) open set_QA/OrionKL_sci.spw19.cube.I.pbcor.fits (84.9 GB)
2) move cursor on the image at few random positions for few seconds (with >200ms stop for each movement; so that SET_CURSOR will be sent to the backend). Don't wait and proceed with the next step.
3) then open another image such as set_QA/S255_IR_s

[2019-03-18 07:20] kswang1029 commented on #33
with the current demo server: CARTA v1.1-alpha | frontend 48fd377 | backend 47854d0

With the image set_QA_performance/cube_A_01600_z04000.fits, it takes long time to see the spectral profile from each SET_CURSOR message. With the image set_QA_performance/cube_A_01600_z04000.image (casa format), spectral profiler is much responsive.

[2019-03-18 09:11] veggiesaurus commented on #33
Not sure if there's a way around this in terms of speeding things up, since reading a spectral profile from a FITS file requires a random read for each channel, so it will always be far slower than CASA files (which in turn will be slower than HDF5 files with a rotated dataset).

The only thing we can really do is to make sure that subsequent `SET_CURSOR` messages on the same file ID cancel calcul

[2019-03-19 23:12] pford commented on #105
Possibly same issue as #19 .  When you opened the image in step 3 it closed the image in step 1, which destroys the Frame and underlying classes.  Most likely while something was being calculated in a thread and there is currently no way to cancel.

[2019-03-20 05:25] kswang1029 commented on #105
Just a thought, can we generate the SPECTRAL_PROFILE_DATA piece by piece? For example, we have a 4000 channel cube. The profile is then generated every 100 channel or so (maybe matching the tile z-depth or multiple of z-depth). If we adopt this way, can it be cancellable, just like the per-cube histogram?

[2019-03-20 05:32] veggiesaurus commented on #105
The ICD already specifies a progress field for spectral profiles specifically for delivering updates before the profile is complete. For files that have a large number of channels and no rotated dataset, this will probably be essential.

[2019-03-22 21:42] pford commented on #80
Opened PR 107 to merge regions into master, failed on package upload because no space left on device (prior to running tests).

[2019-03-26 19:11] pford commented on #80
This will be ready to test after branch _pam/region_updates_ completes build/test and PR.

[2019-03-26 19:30] pford opened #110 "Handle regions outside image"
As specified in Regions 1.1 document
https://docs.google.com/document/d/1IdEh2x7lrsul4kSJ3lzGCiEUyI9gGTX7yVp8BtCKUyw/edit#

when regions are outside the image (no data) the data streams for profiles and stats should return arrays of 0 (for histograms) or NaN (profiles and stats).

[2019-03-26 21:01] pford opened #113 "Cache region statistics"
casacore LatticeStatistics calculates all stats types, then the requested values are retrieved into an array to add to the spectral profile.  If all were cached, stats changes/additions could be retrieved from the cache rather than recalculated.

[2019-03-26 22:05] pford commented on #113
If the region/channel/stokes doesn't change, do not need to send previous stats, only new ones.

[2019-03-27 07:26] confluence commented on #89
This should be fixed by PR #112, which has been merged.

[2019-03-27 07:26] #89 closed

[2019-03-27 08:26] veggiesaurus commented on #110
Possibly related: Currently, the backend returns a sum and mean of zero for regions containing only NaN pixels. In the example below, the channel around 1.42 GHz is bad, therefore full of NaNs. I think these values should be NaN instead of zero. @kswang1029 thoughts?

![image](https://user-images.githubusercontent.com/592504/55060626-8fc81f00-507a-11e9-807c-1f3e5a10dc3f.png)

[2019-03-27 08:43] kswang1029 commented on #110
Yes, if a region covers pixels all in NaN, we should return NaN.

[2019-03-27 09:34] confluence opened #114 "3D histogram loaded from HDF5 file is not actually used"
The cube histogram is requested in a completely different way to per-channel histograms, so the code which would access the data loaded from a HDF5 file is not currently triggered. This needs refactoring in Frame and Session.

[2019-03-27 20:41] pford commented on #66
@kswang1029 , PR #115 should improve the animation performance in this issue.  If we have benchmarks you can re-run the tests, else just close this ticket.

[2019-03-27 21:48] pford commented on #114
Ideally this would have been moved to Frame along with the other refactoring (PR #103) but I needed to get on with region development.  Session asks Frame (asks Region asks RegionStats) for a stored histogram using Frame::getRegionHistogram; you could modify this to check the loader as well as the Region before returning false.  If you do move the code, note the cancel method Rob added (Session::c

[2019-03-28 01:53] pford commented on #80
Pull request merged, commit  2d44acc on master building now.  Also fixed rectangle pixels and SET_REGION for cursor region id in this PR.

[2019-03-28 03:11] kswang1029 commented on #66
@pford @rwjsimmonds Thanks!
The result from a quick and brief test of the PR#115 (Rob) is POSITIVE.
I tried a 12800x12800x100 image before and after PR#115 (I am using two different copies so should not have cache acceleration). Given 10 seconds, before the channel index goes to 5, and after the channel index goes to 10! So it is about a factor of 2 improvement. Note that I carefully did not trigg

[2019-03-28 03:11] #66 closed

[2019-03-28 03:17] kswang1029 opened #117 "[backend crash] zoom/pan during animation"
with the master branch `2d44acc `

When animating set_QA_performance/cube_A/cube_A_06400_z01000.fits or set_QA_performance/cube_A/cube_A_06400_z01000.image with desired fps=15, quick zoom and pan actions may result in backend crash (seg fault).

[2019-03-28 03:55] kswang1029 commented on #80
A quick test suggests that the major and minor axes of ellipse are swapped. Not sure if it is from  frontend or from backend. Below is the case: the bright pixel is 100 and the backend is all 1.
<img width="856" alt="Screen Shot 2019-03-28 at 11 52 34" src="https://user-images.githubusercontent.com/20819712/55128956-53ff8900-5150-11e9-8d9e-251224cc4973.png">
<img width="855" alt="Screen Shot 2019-

[2019-03-28 04:53] kswang1029 opened #119 "[region statistics] stats update when region is at subpixel scale"
NOT SURE THIS IS FROM THE FRONTEND OR THE BACKEND.
forgive me if this is issue is misplaced.

See the demo, there are three movements of region after its creation. The second and third movement results in zero pixel inside the region but the stats values do not reflect this fact.

![roi_stat](https://user-images.githubusercontent.com/20819712/55131144-61b90c80-5158-11e9-8e80-8760a7ee55dd.gif)

[2019-03-28 05:16] kswang1029 opened #118 "[ROI statistics] backend crash if requesting stats from a region created totally outside the image"
to reproduce the issue:
1) open the image set_noise/noise_10000px_10000px.fits
2) create a rectangle which is totally outside the image
3) bring up the stats widget and default we see the full image stats
4) switch to region 1 and the backend should crash as indicated by the red circle at the top-right corner.
the backend log is "Segmentation fault      (core dumped)"

UPDATE: if the region is cre

[2019-03-28 06:16] veggiesaurus commented on #119
@kswang1029 have transferred issue to backend

[2019-03-28 07:25] veggiesaurus commented on #119
printing out the casacore exception message that gets thrown:
`LCBox::LCBox - blc [73, 30] must be <= trc [72, 30]`

[2019-03-28 07:27] kswang1029 commented on #119
rounding number!

[2019-03-28 07:51] veggiesaurus commented on #80
For a rotation of zero, the major axis is north-south, correct? @kswang1029 does this look right?
![image](https://user-images.githubusercontent.com/592504/55139311-1eea3b00-513e-11e9-9e87-e551485d09ab.png)

Can confirm that the backend is receiving and correctly parsing `bmaj=1` and `bmin=0.5` and passing them into `LCEllipsoid` constructor as major and minor axes. I think `LCEllipsoid` assumes a

[2019-03-28 07:53] kswang1029 commented on #80
@veggiesaurus yes, major axis should be north-south in astronomy world...

[2019-03-28 14:48] pford commented on #118
Sorry, forgot to mention that outside regions are not supported in initial implementation to start region testing; followup ticket is #110 .  Closing this issue as duplicate.

[2019-03-28 14:48] #118 closed

[2019-03-28 17:15] pford opened #121 "Implement rectangle region with rotation"
Merged in PR #120.

[2019-03-28 18:08] pford commented on #119
Issues #110, #118 (closed as duplicate), and #119 are the same issue: there is no SubLattice on which to calculate profiles/statistics.  This is either because the XYRegion does not exist (outside image or no pixels selected for very small region), or the Lattice mask applied to the SubLattice to remove NaN values leaves no pixels selected.  These issues will be fixed in the same branch to update

[2019-03-28 23:03] pford commented on #80
Ellipse angle PR merged in commit d3f992f, ready to test after builds complete.

[2019-03-29 01:35] kswang1029 commented on #80
Yes, fixed nicely! Case closed.

[2019-03-29 01:35] #80 closed

[2019-03-29 01:36] kswang1029 commented on #121
Yes, it works nicely. Case closed.

[2019-03-29 01:36] #121 closed

[2019-03-29 03:56] kswang1029 opened #123 "[region] pixel index in region definition"
Thanks @zarda to highlight this issue in the ICD test spec doc.

With CASA, if blc=[850, 1200, 0, 0] and trc=[1150, 1400, 0, 0], the npts = 60501 which means the width is 301 px and the height is 201.

With CARTA, if we define a region centered at (1000px, 1300px) and a width of 300 px and a height of 200 px (so blc=[850,1200], trc=[1150,1400]), statistics gives npts = 60000.
If I set (width, heig

[2019-03-29 05:29] veggiesaurus commented on #123
![image](https://user-images.githubusercontent.com/592504/55210752-a1800280-51f1-11e9-834f-67665a0a8fbc.png)
for the record, DS9 says 4 pixels. However, when making an ellipse with the same dimensions, it shows 5 pixels (where a consistent rounding behaviour between shapes would be 3 pixels)

![image](https://user-images.githubusercontent.com/592504/55210932-73e78900-51f2-11e9-97ab-2667eaf93af8.pn

[2019-03-29 05:33] kswang1029 commented on #123
Totally agreed "But at the very least we need to be consistent between the various shapes."

[2019-03-29 14:57] pford commented on #117
@rwjsimmonds can you look at this one?  We had this problem before and it was a concurrency issue with multiple SET_IMAGE_VIEW messages which downsamples the image cache, and in this case they are mixed with multiple SET_IMAGE_CHANNELS which changes the image cache.

[2019-03-29 14:58] pford commented on #123
If the blc, trc are identical, npts should be the same.  I will investigate.

[2019-03-29 15:00] rwjsimmonds commented on #117
I can look but not today. I will try to look tomorrow if the issue is still there.

Rob

From: pford <notifications@github.com>
Reply-To: CARTAvis/carta-backend <reply@reply.github.com>
Date: Friday, 29 March 2019 at 16:58
To: CARTAvis/carta-backend <carta-backend@noreply.github.com>
Cc: Robert Simmonds <robert.simmonds@uct.ac.za>, Mention <mention@noreply.github.com>
Subject: Re: [CARTAvis/carta-

[2019-04-01 05:34] kswang1029 commented on #123
Nice! The issue is gone and we are now consistent with CASA-imstat. Close issue.

[2019-04-01 14:44] veggiesaurus opened #129 "histogram data returned is always image histogram"
(Not sure if this is currently being worked on, apologies if it is actively being fixed)

Currently, histograms returned from the backend seem to always be histograms for the full image. To reproduce bug:
1. Load file
2. Create region
3. Open histogram widget
4. Change widget region to the new region

The same data is sent again, even though the requirements have been updated via `SET_HISTOGRAM_RE

[2019-04-01 18:53] veggiesaurus commented on #110
this seems to be fixed :+1:

[2019-04-01 20:20] pford opened #131 "Create NaN mask for HDF5Lattice"
else statistics will result in NaN rather than ignoring them

[2019-04-02 08:42] veggiesaurus opened #134 "Histogram min and max are fixed once region is created"
Region histograms seem to be keeping the same min and max until the region channel is changed or the region is re-created.

To reproduce issue:
1) load a file with a bright point source in it
2) create a region around the point source
3) add a histogram widget and set it to the region
4) move the region off the point source

Two possible, but both erroneous, outcomes:
(a) A histogram with the same

[2019-04-02 13:57] pford commented on #134
This should be fixed in my current branch, along with several other issues.  When the region changes, all stored calculations are invalidated.

[2019-04-02 19:27] pford opened #135 "Implement partial data for messages with progress field"
Region histogram data and spectral profile data.

[2019-04-02 19:34] pford commented on #135
The implementation should also enable automatic cancellation if region changes.

[2019-04-02 20:27] pford opened #137 "Incorrect HDF5 data streams"
Regions which include NaN values as well as finite values return stats NaN values and spectral profile NaN values.  Region histograms are always identical to image histogram (as reported in issue #129) even though a new message is sent when the region changes.

[2019-04-02 20:31] pford commented on #129
This issue can be tested along with the other issues for PR #136 for the general region case.

Issue #137 opened specifically for hdf5 region data.  Any new hdf-region-specific issues not already covered by #137 should be added there.

[2019-04-02 20:54] pford commented on #137
Frame::fillRegionHistogramData is used for *all* regions.  The loader is asked for image stats for the current chan/stokes regardless of the region id, and if the stats are valid, the loaded histogram is used.  But this is for the image region so none is calculated for the specified region and the image histogram is always returned.

[2019-04-02 23:04] pford commented on #137
This should be fixed in PR #138 and PR #139 , then will be ready to test.

[2019-04-03 02:49] #129 closed

[2019-04-03 04:56] pford commented on #131
Will be tested in issue #137

[2019-04-03 04:56] #131 closed

[2019-04-03 05:52] kswang1029 opened #140 "crash when loading single channel image and move cursor on"
tried with backend master commit 023ce6c and frontend master.
try: set_G14/G14.114-0.574.continuum.image.pbcor.fits

Crash happens when loading single channel image and move cursor on the image.  It appears that it is the surrounding masked pixels trigger the crash. Tested with other images without surrounding masked pixels, it works fine.

UPDATE: not necessary due to those surrounding masked pix

[2019-04-03 05:57] markccchiang commented on #140
I guess this is the problem in `Frame::getSpectralData()`. Will check and fix it.

[2019-04-03 06:04] veggiesaurus commented on #134
works great now :+1:

[2019-04-03 06:04] #134 closed

[2019-04-03 06:06] veggiesaurus commented on #140
@kswang1029 does the crash happen if you close the spectral profile widget before loading the file?

[2019-04-03 06:11] veggiesaurus commented on #137
struggling to test due to the other HDF5 issue, which still seems to occur when loading an un-tiled HDF5  image

[2019-04-03 06:12] kswang1029 commented on #140
nope. I use the default layout.

[2019-04-03 06:17] veggiesaurus opened #141 "`SIGFPE` crash when running region tasks on contiguous HDF5 files"
Seems to only occur with contiguous HDF5 files:
- Load a file
- Open stats widget (defaults to image stats)
- backend will sometimes crash with `SIGFPE`

Accompanying trace:

[code]

[2019-04-03 06:52] veggiesaurus commented on #140
I mean does it still occur if you remove the spectral profile first?

[2019-04-03 06:54] kswang1029 opened #142 "[performance improvement] multiple identical SPECTRAL_PROFILE_DATA sent to frontend"
To reproduce the case:
1) open set_HDF5/OrionKL_sci.spw19.cube.I.pbcor.hdf5
2) make a region and check region spectral profile
3) as this is a big image cube, it takes time to generate profile. Now change the stats type three times (different for each).
4) The backend should only work on the latest request and it appears so 👍
5) Then once the backend is done, it sends three identical copies of SPE

[2019-04-03 06:56] markccchiang commented on #140
This is the problem in `Frame::getSpectralData()` that a single channel image will pass a non-meaningful upper bound while getting the raw data. I will fix it and merge it into the master branch directly.

[2019-04-03 06:56] kswang1029 commented on #140
Hmm, if I remove spectral profiler first, then it works fine without crash

[2019-04-03 07:46] markccchiang commented on #140
I have pushed the fixed code in the master branch. Please check it after the build is done. Thank you!

[2019-04-03 07:50] kswang1029 commented on #140
awesome, issue gone. close.

[2019-04-03 07:50] #140 closed

[2019-04-03 13:53] veggiesaurus commented on #141
This PR to casacore should fix it: https://github.com/casacore/casacore/pull/892

Related to contiguous HDF5 files not having a chunk size, and therefore having an empty `IPosition` as a tile shape.

[2019-04-03 14:51] pford commented on #142
Related to issue #19 .  Similar to multiple SET_CURSOR and SET_IMAGE_VIEW messages, only need to process the last one.

[2019-04-04 03:29] kswang1029 commented on #119
Yes, it think it works beautifully! 👍

[2019-04-04 03:29] #119 closed

[2019-04-04 03:30] kswang1029 commented on #110
Yes, it works well! 👍

[2019-04-04 03:30] #110 closed

[2019-04-04 04:17] kswang1029 commented on #137
Tried some ALMA images converted to HDF5, region stats/spectral profile/histogram works well with different sizes (including/excluding nan pixels). 🥇

[2019-04-04 12:11] Kechil opened #143 "WCS Group"
With WCS group, multiple images (multiple raster, multiple contour) can be displayed in the same reference wcs coordinate.

[2019-04-04 12:13] Kechil opened #144 "WCS single group (image overlay)"

[2019-04-04 12:17] Kechil opened #145 "WCS viewing raster and contour images with image overlay capability"

[2019-04-04 12:17] Kechil opened #146 "WCS Group Region of Interest Analysis"
Regions of interest need to be defined for a single WCS group, and analysis products from a region of interest (profile, stats, histogram) need to be determined for each required frame in the WCS group.

- [ ] Modify ICD to support WCS groups region of interest
- [ ] Convert region definitions between frames
- [ ] Determine analysis products based on updated region requirements
- [ ] Send analysis

[2019-04-04 12:18] Kechil opened #147 "WCS - multi-panel view with image viewer"

[2019-04-04 12:19] Kechil opened #148 "WCS - 2d image fitting"

[2019-04-04 12:26] #148 closed

[2019-04-04 12:27] Kechil opened #149 "Fitting Capability"

[2019-04-04 12:28] Kechil opened #150 "2d image fitting"
related frontend issue https://github.com/CARTAvis/carta-frontend/issues/1397

This is to provide users the ability to select a region and fit a 2D function such as 2D Gaussian to get feature properties. Note that full resolution image data need to be used as fitting input, instead of downsampled data.

Requirement document:
https://docs.google.com/document/d/1E9kL7FOhVtkDDit8VIYle61tU5PzSYXjnLpxZ

[2019-04-04 12:29] Kechil opened #151 "Spatial Fitting Capability"

[2019-04-04 12:29] Kechil opened #152 "histogram fitting capability"

[2019-04-04 12:30] Kechil opened #153 "spectral fitting capability"

[2019-04-04 12:30] Kechil opened #154 "Moments generator"
To define a rectangle region, a range of channels, and a clip level to create moment images.
moments include (c.f. casa "immoments"):
moments=-1  - mean value of the spectrum
moments=0   - integrated value of the spectrum
moments=1   - intensity weighted coordinate;traditionally used to get ’velocity fields’
moments=2   - intensity weighted dispersion of the coordinate; traditionally used to get "

[2019-04-04 12:31] Kechil opened #155 "pv generator"

[2019-04-04 12:31] Kechil opened #156 "scripting interface"

[2019-04-04 12:31] #156 closed

[2019-04-04 12:39] Kechil opened #157 "Proper HDF5 support for regions using rotated dataset"

[2019-04-04 12:59] Kechil opened #158 "Tiled rendering backend"
For tiled rendering support, the following features need to be implemented:
- [x] Handle incoming `ADD_REQUIRED_TILES` messages
- [x] Deliver tiles in uncompressed format
- [x] Deliver tiles in ZFP compressed format (#225)
- [x] Deliver edge and corner tiles correctly (these tiles have reduced width or height)
- [ ] Handle incoming `REMOVE_REQUIRED_TILES` messages and use queueing mechanism to pro

[2019-04-04 13:01] Kechil opened #159 "Solution to threading issues"

[2019-04-04 13:01] Kechil opened #160 "Proper cancellation of analysis tasks"
Currently, analysis tasks are queued up: When a region definition or requirement changes, a new analysis task is queued up, and does not interrupt currently executing tasks or cancel pending tasks.

This results in a significant slowdown when regions are moved or if the cursor region is updated often.

Tasks should check for cancellation often, and early exit if they have been cancelled. Some mana

[2019-04-04 14:33] pford opened #161 "Support stats type NanCount"
For CyberSKA requirement, no corresponding stat in casacore.

[2019-04-04 21:36] pford commented on #137
Just pushed branch pam/improve_pixel_mask to use LatticeIterator for the pixel mask rather than reading the entire region data at once.  Also only gets the sublattice mask for statistics (non-point-region spectral profile and region stats data), mask not needed for histogram calculations.

[2019-04-05 06:41] veggiesaurus commented on #161
@arusstaylor can you comment on whether this is essential? Haven't seen a NaN count statistic in viewers other than CyberSKA before.

[2019-04-05 07:19] arusstaylor commented on #161
I don’t think this is essential as long as the pixel count does not include Nans.

Russ

Sent from my iPad

[2019-04-05 07:55] veggiesaurus commented on #161
@pford I believe the cassacore pixel count excludes NaNs at this point. Should we close this issue then?

[2019-04-05 08:06] arusstaylor commented on #161
Fine with me to close.

Russ

[2019-04-05 14:57] pford commented on #161
Yes, NumPixels excludes NaNs.  Will close.  This CARTA::StatType should be removed from the ICD.

[2019-04-07 07:07] veggiesaurus commented on #141
casacore PR merged in, closing issue

[2019-04-07 07:07] #141 closed

[2019-04-08 02:53] kswang1029 opened #168 "animator hangs if using api-key permission file"
if the backend is started with
`./carta_backend verbose=true port=6002 base=/scratch/images/set_apikey root=/scratch/images/set_apikey permissions=true`
animator hangs.

if the backend is started with
`./carta_backend verbose=true port=6002 base=/scratch/images/set_apikey root=/scratch/images/set_apikey permissions=false`
animator works normally.

*********This is a showstopper of the v1.1-beta0 t

[2019-04-08 07:33] #114 closed

[2019-04-08 08:58] zarda opened #170 "[Test] CURSOR_Z_PROFILE.test.ts failed since commit 023ce6c"
Cannot get response after sending set cursor.
Currently this test is not included in CI test.

[2019-04-08 12:39] #168 closed

[2019-04-08 13:14] Kechil commented on #151
Assuming other fitting capabilities have been done

[2019-04-08 13:18] Kechil commented on #157
This is a performance related issue.

[2019-04-08 17:09] veggiesaurus commented on #137
HDF5 regions now work similarly to FITS, closing

[2019-04-08 17:09] #137 closed

[2019-04-08 17:21] veggiesaurus opened #171 "Importing and exporting of region definitions"
User needs to be able to:
- [ ] Import region definitions from CRTF
- [ ] Import region definitions from DS9 Region files
- [ ] Export region definitions to CRTF
- [ ] Export region definitions to DS9 Region files

Regions should be exportable in pixel or WCS coordinates

[2019-04-08 18:13] veggiesaurus opened #172 "Resume support for dropped connections"
Currently, when the server connection is dropped, the CARTA frontend and backend are in inconsistent states, as the previous session is not resumed, but rather replaced by a new session.

The following features need to be added to support resumed sessions:
- [ ] Persisting sessions for a small duration (customisable by command line argument) after a "dirty" disconnect
- [x] Correctly detecting res

[2019-04-09 01:41] zarda commented on #123
FAIL  src/test/REGION_STATISTICS_DEV.test.ts
  REGION_STATISTICS_DEV: Temporary test case of region statistics to assist backend development
    ✓ Test to set region. (3ms)
    ✕ Assert region stastics. (30ms)

Expected value to be close to (with 6-digit precision):
      0.03049256
    Received:
      NaN

[2019-04-09 02:02] #123 closed

[2019-04-09 02:20] kswang1029 commented on #123
@zarda flux density is not currently supported in v1.1. This is a to-do item for v1.2.

[2019-04-09 02:26] kswang1029 commented on #170
it is timeout (how many seconds?) or never get returned even with a longer timeout?

[2019-04-09 04:32] markccchiang commented on #170
@zarda please provide the detail description. Is the image file `S255_IR_sci.spw25.cube.I.pbcor.fits` you are testing? From my test, the spectral profile layout works smoothly.

[2019-04-09 07:58] veggiesaurus commented on #135
Note: cancellation checks should happen more often than partial data messages, since it's more important to early exit unnecessary tasks than sending updates (these can happen at a regular interval, similar to the cube histogram)

[2019-04-09 09:01] zarda commented on #170
After sending set cursor, never get returned even with a very long timeout. After several A-B tests to find out this issue is start from commit [023ce6c](https://github.com/CARTAvis/carta-backend/commit/023ce6cb7944a28d86f0ab6b14fd9ecd918b59db).

[2019-04-10 16:13] pford opened #173 "Verbose logging"
Need debug logging added to backend so that when tests fail there is an indication of what code was being executed or where the failure/crash/hang happened.  Enabled when backend parameter verbose=True.

[2019-04-10 16:20] kswang1029 commented on #173
For ICD tests specifically it might be good to log what messages are being sent (c.f. js console).

[2019-04-10 16:29] pford commented on #173
Just log basic message types such as "Received SET_STATS_REQUIREMENTS" then "Sending REGION_STATS_DATA", or print message fields as well?

[2019-04-10 16:30] pford opened #174 "Support stats type FluxDensity"
Requires image info (beam) not in Lattices. First step is to convert Lattice-based objects to Image-based objects (#201 ) then use the ImageStatsCalculator in casacode imageanalysis (I think) since LatticeStatistics cannot compute this stat.

[2019-04-10 16:37] pford opened #175 "Implement HDF5Image (casacore ImageInterface)"
As first step to supporting FluxDensity (#174 ) and CASA imageanalysis (region import/export, fitting, moments, pv generation, etc.).

Current casacore::HDF5Image assumes a casacore::Record interface with coordinate system info, image info, and optional misc. info.  This information will have to be assembled from the HDF5 header attributes.

[2019-04-10 16:39] kswang1029 commented on #173
sometimes the message fields can be long (spectral profile for example, or raster image data), so if this won’t make debugging even harder I would say it is good to have. Just message name is certainly useful too at some level.

[2019-04-10 21:21] veggiesaurus commented on #90
@confluence should we rename this issue to make it clear it refers to _only_ the single-pixel spectral profiles? And create a second one for closed regions

[2019-04-10 21:22] confluence commented on #90
Sounds like a good idea.

[2019-04-10 23:13] pford commented on #170
New data is sent only when a region changes (control points, rotation), or stokes/channel changes depending on the message type and requirements.  This test sets the same cursor repeatedly so the spectral profile is sent the first time only.  The test should set different cursor or expect not to receive a profile.

[2019-04-11 04:17] #17 closed

[2019-04-11 04:18] #105 closed

[2019-04-11 06:19] zarda commented on #170
Correct the CURSOR_Z_PROFILE.test and tested well.

[2019-04-11 06:19] #170 closed

[2019-04-11 13:57] #90 closed

[2019-04-12 05:22] kswang1029 opened #179 "session with unfinished jobs is not killed when reload CARTA"
To reproduce the issue:
1) open set_QA/orion_12co_hera.fits and enable spectral profiler
2) move cursor around to see profiles, should update quickly as the image is small
3) reload CARTA, then the backend console will show Num sessions: 1
4) open set_QA/OrionKL_sci.spw19.cube.I.pbcor.fits and move cursor around to see spectral profiles
5) don't wait the profile update and reload CARTA, now the ba

[2019-04-12 05:56] kswang1029 opened #180 "[backend crash] zooming large image (30k)"
tested with v1.1-beta on mac

test image is cluster_32768.fits (single channel, 32768x32768 px)
zooming can trigger backend crash.

update: cluster_16384.fits too, cluster_08192.fits appears fine.
update2: cluster_32768.fits works fine with v1.0.1

[2019-04-12 06:20] markccchiang commented on #179
Currently, the backend cannot kill the spectral profile instantly. It only set the checkpoint per 100 channels and stop it early if the cursor's position changed. It is possible that the closed file's cursor position does not change anymore and leads to its spectral profile process continuous. I will check it. Does this case crash the backend?

[2019-04-12 06:22] kswang1029 commented on #179
if the first image is large enough, likely yes.

[2019-04-12 09:41] veggiesaurus commented on #179
@markccchiang we need to wait until the task is finished before destroying the objects. @robsimmonds any ideas? Maybe in the destructor for `Region` or `Frame`, wait for the task to exit?

[2019-04-12 09:42] veggiesaurus commented on #180
@kswang1029 I presume this needs to be fixed for 1.1?

[2019-04-12 10:45] kswang1029 commented on #180
Yes I think so. It is regression

[2019-04-12 14:37] pford commented on #180
Possibly related to #117

[2019-04-12 14:43] kswang1029 commented on #180
Yes maybe related. This case is simply zooming a large single channel image. So it is isolated to SET_IMAGE_VIEW.

[2019-04-12 14:46] pford commented on #180
Panning is also SET_IMAGE_VIEW, changes the image bounds

[2019-04-14 21:41] pford commented on #180
Ready to test, merged into 1.1 branch and dev branch.

[2019-04-14 21:46] pford commented on #117
Hopefully fixed along with zoom issue #180 with PR #181 (release branch) / #182 (dev branch).

[2019-04-15 00:50] kswang1029 commented on #180
yes, crash is gone. 👍

[2019-04-15 00:50] #180 closed

[2019-04-15 00:51] kswang1029 commented on #117
yes, crash is gone. 👍

[2019-04-15 00:51] #117 closed

[2019-04-15 10:34] arusstaylor opened #184 "spectral profiles displays zero for nan channel"
The spectral profiler is showing  channels that are nan’s as zero.  Should instead not display values for nan channels.

![Screen Shot 2019-04-15 at 12 31 51 PM](https://user-images.githubusercontent.com/9055533/56126143-cc50b180-5f7a-11e9-97ee-ac1d1e71b38f.png)

[2019-04-15 10:37] veggiesaurus commented on #184
@arusstaylor moved this to the carta-backend repo, as it's sending incorrect data (rather than the frontend displaying incorrect data)

[2019-04-15 10:43] veggiesaurus commented on #184
@kswang1029 this seems pretty essential to get into 1.1, what do you think?

[2019-04-15 11:02] arusstaylor commented on #184
Agreed.  The current behaviour is incorrect. I have labelled the issue “invalid”.

Russ

[2019-04-15 12:03] kswang1029 commented on #184
Yes, let’s fix this for v1.1

[2019-04-16 02:05] kswang1029 commented on #171
Regions should also be importable in pixel or wcs coordinates with sanity check.

If the wcs coordinates defined in the imported text file (e.g., fk5) are different from the coordinate system of the current view (e.g., galactic), transformation needs to be considered.

If the text definition of a region in wcs coordinate has missing info (e.g., coordinate system), we will need to apply the coordin

[2019-04-16 02:14] kswang1029 commented on #150
Requirements:
- provide 2d gaussian function as a start.
- capability to define initial guess of fitting parameters
- capability to fix part of fitting parameters
- provide fitting results in convenient units (e.g., gaussian center in pixel and wcs coordinates)
- provide fitting errors
- capability to fit multiple gaussians (could consider to have an upper limit, say 3 or 5) in a single shot
- exp

[2019-04-16 02:17] kswang1029 commented on #151
Need science team input on what fitting functions should be provided. Gaussian is a must.

[2019-04-16 02:19] kswang1029 commented on #152
Requirements:
- provide gaussian as a start. Need science team input on what other functions should be provided (Poisson?).
- capability to set initial gauss of fitting parameters
- capability to fix some of the fitting parameters
- capability to fit multiple functions in a single shot
- export fitting results in a text file

[2019-04-16 02:23] kswang1029 commented on #153
Requirements:
- provide gaussian function as a start. Need science team input for other possible profiles (Lorentz? Voigt?).
- capability to set initial guess of fitting parameters
- capability to fix part of fitting parameters
- capability to fit multiple profiles in a single shot
- export fitting results in a text file

[2019-04-16 02:32] kswang1029 commented on #33
is it possible to parallelize region spectral profile calculations?

[2019-04-16 02:34] kswang1029 commented on #46
Suggest to fix this in v1.2. This might be a casacore issue.

[2019-04-16 02:50] kswang1029 commented on #144
Complexity:
- strategy of overlaying images with different projections, coordinate reference, pixel size, etc
- strategy of aligning different channel widths

[2019-04-16 03:38] kswang1029 commented on #184
does the issue remain? I see it works.
![Screen Shot 2019-04-16 at 11 37 40 AM](https://user-images.githubusercontent.com/20819712/56180508-2ebdb680-603c-11e9-913c-01ecbf512311.png)

[2019-04-16 04:09] veggiesaurus commented on #33
The bottleneck is all I/O, so it's unlikely to help much. Also have those threading issues with casacore, so not sure it's possible.

[2019-04-16 04:14] veggiesaurus commented on #184
Cursor region behaves correctly, other regions don't

[2019-04-16 04:20] kswang1029 commented on #155
requiring region type: line segment
target performance: modifying line segment and see results without hitting a "generate" button (c.f. KARMA/kpvslice)

advanced feature: generate a pv image with an arbitrary "curve" region

[2019-04-16 04:24] kswang1029 commented on #143
need separate tickets for frontend contour and backend contour

[2019-04-16 04:27] kswang1029 commented on #184
Right, region spectral profiler treats nan as zero.

![Screen Shot 2019-04-16 at 12 26 18 PM](https://user-images.githubusercontent.com/20819712/56182059-ddfd8c00-6042-11e9-8147-8dfad756f0a3.png)

[2019-04-16 04:31] kswang1029 opened #185 "Calculate contours from image"
Contours for an image need to be calculated efficiently. The following features need to be implemented:

- [x] Image smoothing using a two-pass Gaussian blur (SIMD and multi-threaded)
- [x] Image contouring for a list of contour levels (multi-threaded using `parallel_for` across levels)
- [x] Poly-lines need to be quantized to aid compression
- [x] Delta-encoding and shuffling
- [x] Zstd compressi

[2019-04-16 04:33] kswang1029 opened #186 "disk cache of image stats data"
The main idea of this issue is to use disk cache for image stats of non-hdf5 images (casa, fits, miriad) to speed up image loading process. The persistent cache should store per-frame histogram, per-frame statistics, and per-cube histogram once they are calculated for the first time. If the same image is loaded again, the backend should check if cached data are available and applicable to the imag

[2019-04-16 05:49] markccchiang commented on #184
According to @kswang1029's test, the spectral profile for the cursor can send NaN to the frontend. But the spectral profile for the `region` sends zero instead of NaN to the frontend. For example, open the image file `GALFACTS_N4_cube_Q_DQA3.3.1.fits` and present the spectral profile at the pixel coordinate (4182, 567).

[2019-04-16 14:29] #113 closed

[2019-04-16 23:30] pford commented on #184
PR #187 merged into release/1.1 branch, PR #188 merged into dev branch.  Ready to test.

[2019-04-17 01:12] kswang1029 commented on #184
Yes, confirmed the fix! 👍
![Screen Shot 2019-04-17 at 9.11.19 AM.png](https://images.zenhubusercontent.com/590bdf9f51aa2c30577d5260/737de56f-1eff-4f82-8ba0-ebfb0e82636c)

[2019-04-17 16:05] pford commented on #184
We can close this issue?

[2019-04-18 01:38] kswang1029 commented on #184
yes. closing.

[2019-04-18 01:38] #184 closed

[2019-04-18 02:24] kswang1029 opened #189 "hdf5 cube histogram hangs"
from a general test I found that requesting a cube histogram from a hdf5 image hangs. In my test case, I have enabled statistics widget, spectral profiler widget, and histogram widget. A region is created and all the three widgets are set to that region. Then when I request the cube histogram, the dialog hangs. It is supposed to be instantly since the cube histogram should have been calculated and

[2019-04-18 06:02] veggiesaurus commented on #189
@kswang1029 I can't seem to reproduce this with the 1.1 branch. What file did you test this on?

[2019-04-18 06:04] kswang1029 commented on #189
please try http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev (frontend:dev, backend: dev)

try set_M17/M17_SWex.hdf5
I also tried with images in set_HDF5. issue remains.

[2019-04-18 06:41] veggiesaurus commented on #189
Ok, can reproduce the bug. Strangely enough, it only occurs when you've requested a different region beforehand.

And it's actually sending the correct data, but the `progress` and `regionId` fields haven't been set, which is why the frontend hangs.

@confluence can you look into this? For cube histograms from HDF5 files' stats cache, `progress` should always be 1 (no partial updates) and the regi

[2019-04-18 06:43] veggiesaurus commented on #189
(from @kswang1029)
Steps to reproduce bug:

please try
1) load image
2) open histogram widget
3) make a region
4) change histogram widget to "region"
5) request cube histogram in render config

[2019-04-19 06:43] #189 closed

[2019-04-21 07:16] veggiesaurus opened #193 "Utilise ICD animation messages for animations instead of individual channel messages"
The ICD defines messages for handling animation [here](https://docs.google.com/document/d/1V4KzJaV3zQYJoA_ims28iBTit_aixo_xYcAfPiq8hic/edit#heading=h.35zrt1gr6yxj). These messages will improve animation performance by reducing jitter, and will allow the backend to handle individual channel changes differently to animations. Animation tasks can be queued up appropriately, while individual channel c

[2019-04-23 07:14] ajm-asiaa opened #194 "--root flag bug"
Beta tester had trouble starting CARTA with the --root flag.
Reason was that the chosen --root happened to be inside the default file browser starting path ($pwd or --folder).
I have added a check to main.js to catch such cases.

[2019-04-23 12:08] ajm-asiaa opened #195 "Speed up CircleCI"
Previously emsdk was downloaded and installed each time as a build stage in CircleCI.
I have now installed emsdk directly into the Docker Images and removed that build stage in CircleCI.
The CircleCI build process should now be faster.

[2019-04-23 12:10] #195 closed

[2019-04-25 18:39] pford commented on #161
Needed for release 1.2 based on testing feedback.

[2019-04-25 21:51] pford commented on #175
Tested images in set_HDF5 using CARTA mix 'n match with pam/hdf5_image backend branch.  All opened without crashing.

[2019-04-25 21:57] pford commented on #175
Closing this issue although more may be needed with Lattice->Image conversion and WCS region import/export.  Works with current Lattice implementation.

[2019-04-25 21:58] #175 closed

[2019-04-25 22:02] pford opened #201 "Convert Lattice-based objects to Image-based objects."
Making this a separate issue since #171  and #174 depend on it.  This issue depends on #175 which is done.

[2019-04-26 04:54] ajm-asiaa commented on #1
test

[2019-04-26 07:10] markccchiang commented on #179
For region spectral profile data, backend sends four messages `Session::sendSpatialProfileData()`, `Session::sendSpectralProfileData()`, `Session::sendRegionHistogramData()` and `Session::sendRegionStatsData()` a time when we update a region status. That means Session will call the same Frame four times for calculations. Destroy the Frame during this process (for example one a new image file) will

[2019-05-06 04:28] #194 closed

[2019-05-07 13:26] Kechil commented on #158
Note numbering clash with #158 ROI

[2019-05-08 18:38] pford commented on #174
Noting here that FluxDensity is computed only if the image's CoordinateSystem has a DirectionCoordinate and either the unit is "K" or the image has a beam and the unit is per beam (unit contains "/beam")

[2019-05-09 15:19] #174 closed

[2019-05-09 15:20] #201 closed

[2019-05-09 15:28] pford opened #211 "Support polygon control points in wcs coordinates"
Currently, ellipse center points are converted pixel->world coordinates to create the WCEllipsoid, but the radii are still defined in pixel coordinates.  This should work with world coordinates to support region import/export.  Region pixel->world coordinate conversion of control points in #201 should also be done for the Polygon, which will be supported in version 1.2.

[2019-05-09 21:35] veggiesaurus commented on #193
@robsimmonds ICD support now integrated into protocol buffer messages, along with flow control support

[2019-05-10 03:22] kswang1029 opened #212 "backend crash when opening set_QA/supermosaic.10.hdf5"
this happens with the dev backend.

h5dump -H log is attached.

[https://app.zenhub.com/files/160788905/f66a726b-2c5d-4e43-a475-1547c79fcb62/download](https://app.zenhub.com/files/160788905/f66a726b-2c5d-4e43-a475-1547c79fcb62/download)

update with testing with images in set_HDF5
h_m51_b_s05_drz_sci.hdf5 --> crash
orion_12co_hera.hdf5          --> crash

Noticed that when opening the hdf5 images

[2019-05-10 14:27] pford commented on #212
It works with the hdf5 images I have.  I cannot scp this image from asiaa (permission denied), sent message to Anthony.

The backend is reading the header attributes, creating a casacore::Record, then feeding that to a utility to create a casacore::CoordinateSystem.  Will see how I can reuse the headers in FileInfoExtended for hdf5.

[2019-05-13 19:32] pford commented on #212
The issue was that it was using OBSFREQ for RESTFRQ, but I neglected to convert the OBSFREQ string value to a float.  Also converted FileInfoExtended into casacore::Record for coordinate system rather than reading headers from file again.

[2019-05-14 02:25] kswang1029 opened #216 "incorrect statistics of ellipse regions"
with the dev branch and using set_QA/M17_SWex.image as an example:

if an ellipse region is defined as: center_x = 114 px, center_y = 545 px, major = 4 px, minor = 2 px, at channel 0, the statistics are
![Screen Shot 2019-05-14 at 10 22 38 AM](https://user-images.githubusercontent.com/20819712/57666352-3ae46600-7632-11e9-8c5d-fbb8ef8b92f4.png)

But, with v1.1 release, the statistics are
![Screen S

[2019-05-15 01:09] kswang1029 commented on #212
@pford Thanks. supermosaic.10.hdf5 works now. However, the issue remains for
set_HDF5/h_m51_b_s05_drz_sci.hdf5
set_HDF5/orion_12co_hera.hdf5

Guessing again it is header issue.

[2019-05-15 12:46] robsimmonds opened #217 "Explore use of Apache HTTP server for AuthN and AuthZ"

[2019-05-15 15:43] pford commented on #212
The orion dataset works in my developer build on the dev branch.  The m51 dataset seg faults in wcslib.

[2019-05-15 19:59] pford commented on #212
The problem is that the hdf5 converter (incorrectly) makes all header items in the hdf5 image a string value.  CARTA has to figure out which ones to convert from string to bool, int, or float so that the keyword/value pairs can be used to make a coordinate system.  I am fixing this for the test datasets but it may trip up on other hdf5 header keywords in the future.

[2019-05-15 21:23] veggiesaurus commented on #212
This is done to maintain round trip compatibility with FITS, where the header entries are all strings.

[2019-05-15 22:23] pford commented on #212
Not according to the papers cited by wcslib http://www.atnf.csiro.au/people/mcalabre/WCS/
e.g. table 8 on page 14 of "Representations of world coordinates in FITS"
http://www.atnf.csiro.au/people/mcalabre/WCS/wcs.pdf

[2019-05-16 03:22] veggiesaurus commented on #212
The FITS header itself is text based, so the entities are still stored as strings in the actual file.

[2019-05-16 08:30] veggiesaurus opened #219 "channel histogram sent twice"
Currently, the channel histogram is bundled with the `RASTER_IMAGE_DATA` message, but is also being sent separately as a `REGION_HISTOGRAM_DATA` message.

This is not a major issue, but we should probably fix it once the tiled rendering and improved animation data flows are implemented to avoid wasting network bandwidth.

Once implemented, we'd want the following behaviour:
* during animation we s

[2019-05-17 14:52] pford commented on #212
From what I can tell, FITS parses the entire header as a string, but there is still a difference between string and numeric values.
ERROR: string hdf5 attribute:
`"BITPIX   = '-32'" // Keyword Error: name = BITPIX of type STRING and value '-32'`
CORRECT: int hdf5 attribute:
`"BITPIX   = -32"`
so the backend has to figure out from which entries to remove the single quotes indicating a string value.

[2019-05-17 15:45] veggiesaurus commented on #212
I would suggest we therefore fix the HDF5 converter to keep the `'` when parsing the FITS header.

[2019-05-17 19:55] pford commented on #212
All set_HDF5/ and set_QA/ HDF5 images seem to work now.  I occasionally crashed the backend while testing with CARTA mix 'n match but if I restart the backend and reopen the image it is okay.  Possibly a result of issue #19 (was: [image close] backend crash when close file but threads are still running.)?

[2019-05-17 20:08] pford commented on #171
https://docs.google.com/document/d/1gE2kCblsUzAisY8gqL_s3flSkEtupWqkQeRVLm6ikHc/edit

Import: need ICD change to proceed so that frontend can send filename (region file on server) or file contents (region file on client) to backend to parse, and response to frontend to render region.  Also specify whether region files will be added to existing file browser (done in branch pam/region_browser) or if

[2019-05-20 09:49] veggiesaurus commented on #212
supermosaic is still crashing for me on `dev` branch. Output is
[code]

[2019-05-20 15:13] pford commented on #212
It works for me, I can get stats (image, rectangle region) and z-profile (rectangle region) with macos 10.13 and docker ubuntu:```2019-05-20 15:11:00	INFO	FITSCoordinateUtil::fromFITSHeader	Header
2019-05-20 15:11:00	INFO	FITSCoordinateUtil::fromFITSHeader+	OBSFREQ =   1.420406000000E+09
2019-05-20 15:11:00	INFO	FITSCoordinateUtil::fromFITSHeader+	was interpreted as
2019-05-20 15:11:00	INFO	FITSCo

[2019-05-20 16:51] veggiesaurus commented on #212
Have tested again with `dev`, still getting the same crash. It's crashing in line 233 of `Region.cc`, because `_coord_sys.nPixelAxes()` is returning `0`.
Very odd. Tried installing the latest commit to `master` of casacore, but same thing happens

[2019-05-20 17:31] pford commented on #212
I am also using the latest version of master and carta-backend dev, works for me.

Are you testing your own build?  Are you using version 5.x of wcslib?  casacore does not seem to work with 6.2.
[code]

[2019-05-20 17:51] veggiesaurus commented on #212
also using 5.x of wcslib. Will try track down the problem tomorrow. It's rather odd.

[2019-05-20 18:28] pford commented on #212
// Copying constructor (copy semantics)
CoordinateSystem(const CoordinateSystem &other);

You should not be getting `Zero or no rest frequency provided` if RESTFRQ or OBSFREQ are defined.

[2019-05-20 20:22] ChristyReynolds commented on #216
I think I have this fixed today. I made changes to Region.cc so that statistics for the same ellipse calculated using imstat and CARTA match up. I want to see if I can get ellipses radii defined using world coordinates for another issue before issuing a pull request for this issue, but I have committed and pushed the changes I made to my feature branch.

[2019-05-21 23:43] pford commented on #14
Got into this ticket while researching FITS keywords for CartaHdf5Image.  Have fix in pam/fits_hdu_name.

[2019-05-22 01:21] kswang1029 commented on #212
@pford I tried all HDF5 images we have on the server and all work now. (will automize this image scan test)
@veggiesaurus do you still encounter problems with supermosaic?

[2019-05-22 01:25] kswang1029 opened #223 "performance degradation of opening HDF5 images"
With the dev branch as of May 22, 2019, there is performance degradation when opening HDF5 images.
As an example,
set_IRAS_17150-3224/IRAS_17150-3224_sci.spw27.cube.I.manual.image.pbcor.fits (60GB) takes ~ 1.5 seconds, while its HDF5 format set_HDF5/IRAS_17150-3224_sci.spw27.cube.I.manual.image.pbcor.hdf5 (120GB) takes ~ 16 seconds (a factor of ~10 difference).

[2019-05-22 06:15] veggiesaurus commented on #223
I initially thought it was due to reading histograms for all channels, but for the image you've tested, the histogram size is roughly 21 MB and can be read from disk in 12 sequential reads, so it really shouldn't account for the time difference.

[2019-05-22 07:10] veggiesaurus commented on #223
Flame chart of `OnOpenFile` when loading FITS file (`OnOpenFile` takes 21 samples):
![image](https://user-images.githubusercontent.com/592504/58153870-7e615480-7c70-11e9-95da-5de9ae3ba67c.png)

Flame chart of `OnOpenFile` when loading equivalent HDF5 file (`OnOpenFile` takes **276 samples**):
![image](https://user-images.githubusercontent.com/592504/58153964-bec0d280-7c70-11e9-989a-78f275fcf466.pn

[2019-05-22 07:33] veggiesaurus commented on #223
@pford it's the construction of the giant `casacore::ArrayLattice<bool>` in the `CartaHdf5Image` constructor that causes this issue. The array is created with the same dimensions as the entire cube, so in the case of the file @kswang1029 was trying, this is a 15 GB array. This makes HDF5 files (a) very slow to load and (b) unusable on limited memory machines.

I understand that a mask is required

[2019-05-22 10:08] veggiesaurus opened #224 "Migrate to latest stable release of uWebSockets"
The latest version of uWebSockets has some performance improvements and removes the use of deprecated OpenSSL functions. We should migrate to this version (0.15.6 as of time of writing)

The API has changed quite a bit, but our use of the API itself is quite limited, so this shouldn't be too much of an issue.

[2019-05-22 11:38] #193 closed

[2019-05-22 12:20] veggiesaurus opened #225 "Tiled rendering: Deliver tiles in ZFP format"
Currently, the backend implementation of tile delivery only supports uncompressed tiles. This needs to be extended to ZFP compression. Individual tiles should be compressed within the existing `parallel_for`, but the tiles themselves are small enough to be compressed by a single thread. i.e. we should rather compress multiple tiles at a time than use multiple threads to compress a single tile.

[2019-05-22 12:34] veggiesaurus opened #226 "Tiled rendering: Tile queue"
In order to deliver tiles to the frontend efficiently, three features are required from the backend:
- [ ] An appropriate queueing mechanism should be used to process tiles. This means that multiple threads can remove tiles from the queue and and crop, downsample and compress them before sending to the frontend.
- [ ] `REMOVE_REQUIRED_TILES` messages need to be handled (on the main thread) to remo

[2019-05-22 13:17] veggiesaurus opened #227 "Tiled rendering: Integrate with animation images"
For version 1.2, we will use two strategies for delivering images:
- When animating, images will be delivered in the same manner as 1.1, using `RASTER_IMAGE_DATA` messages, which consist of either uncompressed data or compressed data in a number of subsets. `SET_IMAGE_VIEW` messages will be used to handle panning and zooming during animation. Rather than sending a new frame when `SET_IMAGE_VIEW` m

[2019-05-22 13:24] veggiesaurus commented on #158
removing story point estimates on this issue as they have now been assigned to the dependencies.

[2019-05-22 13:42] veggiesaurus opened #228 "Animation and `SET_IMAGE_CHANNELS` adjustments"
(Related to #227)

When playing an animation, each frame must be delivered in order. As such, a queue is needed to make sure that frames are delivered in order. However, `SET_IMAGE_CHANNELS` messages are now exclusively used when the frontend switches from one channel to another, rather than animating. As such, any pending or currently executing `SET_IMAGE_CHANNELS` messages for a given `fileId` a

[2019-05-22 19:41] #225 closed

[2019-05-22 22:28] pford commented on #14
Waiting for feedback from @kswang1029 before issuing pull request for pam/fits_hdu_name branch.

[2019-05-23 01:52] kswang1029 commented on #14
@pford Thanks for taking care of this enhancement.
It is good to just show "image" HDUs on the file list. We will also need to check if NAXIS >=2. There are cases that I found it is image but NAXIS = 0.

Examples:
set_OIR/pacs160_js.fits (from Herschel Observatory)
![Screen Shot 2019-05-23 at 9 36 39 AM](https://user-images.githubusercontent.com/20819712/58219967-7ae8ce80-7d3f-11e9-983e-17f561e590

[2019-05-23 14:33] pford commented on #223
@kswang1029 fix has been merged into dev and is ready for your review.  See graphs in pull request #229.

[2019-05-24 02:02] kswang1029 opened #230 "corrupted cursor z profile of hdf5 image"
with the dev backend as of May 24 2019, cursor z profile may be corrupted with the following steps (and the backend may crash):
1) open set_HDF5/IRAS_17150-3224_sci.spw27.cube.I.manual.image.pbcor.hdf5
2) launch spectral profiler
3) move cursor around and see cursor spectral profiles (working normally at this stage)
4) make a region
5) switch to "region 1" in spectral profiler but don't wait until

[2019-05-24 02:06] #223 closed

[2019-05-24 02:06] kswang1029 commented on #223
After checking with all available hdf5 images in the image pool, I think the issue is gone. Now opening an hdf5 image is as fast as other formats. 👍 Close this issue now.

[2019-05-24 17:51] pford commented on #14
Fixed now, ready for a UI review before pull request.

[2019-05-27 01:03] kswang1029 commented on #14
@pford Yes, looking good!

[2019-05-28 10:06] zarda commented on #224
The last master branch 0.15.6 is not lib.so any more. The branch 0.15.6 is header only api which rely on uSocket. This means we need lot of modification about building. At least the dependency of libuv or epoll need to be addressed.

[2019-05-28 10:47] veggiesaurus commented on #224
this shouldn't be too hard to change. uSocket is a pretty minor dependency

[2019-05-30 02:56] kswang1029 opened #234 "per cube histogram is not functional"
using the dev branch as of May 30, 2019, the per cube histogram is not functional.

When the progress bar reaches 50%, the calculation ends immediately with a partial histogram shown in the render config widget.

[2019-05-30 03:51] kswang1029 opened #235 "[question] pre-calculated histogram of hdf5 image vs histogram of other image format"
By comparing the clip values of an hdf5 image and its counterpart formats (e.g. fits), it appears that the histograms of the two are slightly different. Are they calculated in different ways (hdf5 converter vs carta backend)?

example:
supermosaic.10.hdf5 with clip 99.9% (pre-calculated histogram at 0th channel)
clip min = -26.95503284264798
clip max = 26.57820493466349

supermosaic.10.fits with c

[2019-05-30 06:02] kswang1029 opened #236 "animator hangs in playback mode if moving cursor inside the image viewer"
using the dev branch as of May 30, 2019, the animation may hang if we move cursor inside the image viewer (no further cursor movement). The backend seems still alive. After clicking stop then, play, animation continues.

please try supermosaic.10.fits at 15 fps

[2019-05-30 06:05] kswang1029 opened #237 "backend crash when playing animation"
using the dev branch as of May 30, playing animation with cursor moving in the image viewer may trigger the backend crash (not always reproducible). Zooming while playing animation may trigger the backend crash too.

tried with supermosaic.10.fits at 15 fps

[2019-05-30 06:27] kswang1029 commented on #236
after clean up browser cache, the symptom is gone. close this issue for now.

[2019-05-30 06:27] kswang1029 commented on #237
after clean up browser cache, the symptom is gone. close this issue for now.

[2019-05-30 06:33] veggiesaurus commented on #234
@robsimmonds think this is due to your context cancellation

[2019-05-30 06:45] veggiesaurus commented on #236
can reproduce this with it running on a local machine. @robsimmonds possibly flow control related? Are we handling flow control messages as a task or on the main thread?

[2019-05-30 07:14] veggiesaurus commented on #235
possibly a rounding issue when calculating the histograms. Do we know which is "right"?

[2019-05-30 07:21] kswang1029 commented on #235
first thing to check, if clip=100%, is clip min equal to data min? Because it is histogram, do we set clip min to the center of the first bin or the left boundary of the first bin? Same question to clip max. I feel the issue is here based on the little difference in the above example, maybe. Rounding issue could be too.

[2019-05-30 07:25] veggiesaurus commented on #235
the actual clip values are calculated by the frontend, _from_ the histogram, so that should be the same.
Are there any differences when clip=100%? I suspect the issue might be how we're binning things that lie very close to the edge of a bin boundary.

[2019-05-30 07:28] kswang1029 commented on #235
supermosaic.10.fits, 100% clip
clip min = -96.74206926673651
clip max = 92.02825746685266

supermosaic.10.hdf5, 100 clip
clip min = -96.74207305908203
clip max = 92.0282249301672

it seems there is difference.

[2019-05-30 07:31] kswang1029 commented on #235
hdf5
histograms: Array(1)
0: e
binWidth: 0.06797634065151215
bins: (2776) [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, …]
firstBinCenter: -96.70

[2019-05-30 09:47] #234 closed

[2019-05-31 01:34] kswang1029 commented on #235
The numBins are different by 1 and I guess it comes from rounding sqrt(npix_x * npix_y).
I think this difference won't affect users much since the intention of this histogram is for clipping.

@arusstaylor @veggiesaurus do you think we need to make them consistent? (either fix hdf5 converter or fix the carta backend)

[2019-05-31 06:35] robsimmonds commented on #236
@veggiesaurus it is handled in the main thread. Annoyingly I have not reproduced this yet, but maybe that is because I have compiled with the Debug environment.

[2019-05-31 06:37] kswang1029 commented on #236
@robsimmonds you may try with zoom/pan actions then move cursor around. sometimes this can trigger animator hanging.

[2019-05-31 06:40] robsimmonds commented on #236
@kswang1029 ok. I can see some strange behaviour. The animation can slow down after moving the mouse around, but I have not seen it stop. I can disable flow control and see if that behaviour changes just as a tests. There is quite a bit of logic in there se we were expecting a few problems once it was tested more.

[2019-05-31 06:43] robsimmonds commented on #236
well that didn't change it, but I have still not got it to actually stop. Again could be due to running with Debug build. Are you using Production build? Also how many threads are you using?

[2019-05-31 06:46] robsimmonds commented on #237
As with the other issue from yesterday I am not managing to reproduce yet. I assume due to some differences in our environment. With a crash it would be very useful of we could get a stacktrace after the crash, just in case it is hard to reproduce.

[2019-05-31 06:48] kswang1029 commented on #236
try to move your cursor *slowly* in the image. I can reproduce hanging with this way.

[2019-05-31 06:52] robsimmonds commented on #236
@kswang1029 ok, I do get the animation stop, but as soon as I move the mouse out of the viewer it starts again. You had reported that you went to the stop and play again for it to start. Are you sure that is the case?

[2019-05-31 06:52] kswang1029 commented on #236
I believe it is debug build and we use 16 threads on the demo server.

[2019-05-31 06:55] kswang1029 commented on #236
while I am trying to reproduce it again, now the backend can crash with slowly moving cursor.

[2019-05-31 06:56] robsimmonds commented on #236
Also the X and Y profile don't appear to stop for me. Do they for you? i think that implies that the animator is running but the images are not being updated.

[2019-05-31 06:57] kswang1029 commented on #236
Tested, even if I move the cursor out of the image, the animator does not resume.

[2019-05-31 07:00] kswang1029 commented on #236
what I see is when the animation freezes, xy profiles freezes too (but moving cursor around we can still see profiles from local raster image data I believe).

[2019-05-31 07:03] kswang1029 commented on #236
ok, when animation freezes, the backend does supply full resolution xy profiles.

[2019-05-31 07:37] robsimmonds commented on #236
Still have not managed to crash it but the VM that I am using only has 8 vcpus. Later I can restart it with 32 vcpus. When I went to the production build of the backend, I was still seeing exactly the same behaviour as I reported before. With the production build of the frontend I don't get the animation to restart without going to going stop/start. I do keep since the X/Y profile information whic

[2019-06-03 07:19] #157 closed

[2019-06-03 07:32] veggiesaurus commented on #235
@kswang1029 nice find. I used `ceil(sqrt(nx * ny))` to avoid having zero bins. Probably easier to change CARTA, rather than changing the converter and re-converting all HDF5 files.

[2019-06-03 07:55] arusstaylor commented on #235
so problem solved?

[2019-06-04 06:46] veggiesaurus commented on #235
I think the solution is quite simple (adjust the rounding in CARTA). But that might require the tests to be adjusted, @kswang1029

[2019-06-04 06:51] kswang1029 commented on #235
Yes, if we decided to modify carta backend, I can adjust the relevant tests accordingly. We just need a decision on if we want to make them consistent and when to do that. :)

[2019-06-04 15:46] pford commented on #14
Merged into dev, ready to test and close this issue.

[2019-06-14 01:29] zarda opened #247 "Spectral profile test with various stokes fails: Hdf5Loader returns same stats"
https://github.com/CARTAvis/carta-backend/blob/3253c1b94fc4e7c0e6252ee220420b838d78cb58/Session.cc#L788
About updating the profile data, the backend will check if the frontend has already set a cursor. In case of region operation, is this a must to check? At current ICD backend test, the tester needs to set both region and cursor so that the profile data updates.

[2019-06-19 20:58] pford commented on #247
The backend sets up a default cursor region at (0,0) after opening the image, so that it can set requirements for the cursor region before SET_CURSOR has been called.  But it should not send spatial or spectral profiles for the cursor until the frontend has sent SET_CURSOR or SET_REGION with region_id=0 (CURSOR_REGION_ID).  That is the reason for the check, which should not affect any other region

[2019-06-25 08:57] zarda commented on #247
The testing will fail if the tester does not send SET_CURSOR before changing channel or stokes because no SPECTRAL_PROFILE will response. Is this outcome our expectation? @kswang1029

[2019-06-25 16:38] veggiesaurus commented on #216
@ChristyReynolds is this fixed and merged into `dev`? Can we close the issue?

[2019-06-25 19:59] pford commented on #247
I increased the timeouts in config.json, then the REGION_SPECTRAL_PROFILE_STOKES test completed.  All tests passed except the set_QA/HH211_IQU.hdf5 mean value for stokes 1 and 2.

I confirmed with my developer build that the spectral profile values are from the Hdf5Loader, not calculated in RegionStats.  In the Chrome dev console, new messages are sent for each stokes but the values are all the sa

[2019-06-25 22:11] confluence commented on #247
I think the loader doesn't take stokes into account when deciding whether to recalculate the stats -- it only checks whether the region has changed shape or position. Should be an easy fix; I just need to see how best to incorporate this.

[2019-06-26 02:27] kswang1029 commented on #247
with GUI, we cannot define a region without triggering SET_CURSOR since we have to move cursor on the image. However, from the message point of view, we can define a region directly with SET_REGION, and send SET_SPECTRAL_REQUIREMENTS with that region id. Then we should receive the corresponding SPECTRAL_PROFILE_DATA without SET_CURSOR.

With the GUI and js console, SET_IMAGE_CHANNEL triggers strea

[2019-06-26 14:03] pford commented on #14
Closing this issue since it has been merged for a month.

[2019-06-26 14:03] #14 closed

[2019-06-27 07:44] kswang1029 commented on #33
some info provided from Felix Stoehr about the possible solution to improve the performance of extracting spectra from FITS image @veggiesaurus @pford @markccchiang :

spectra from ALMA FITS cubes is not fast enough for your liking, maybe
for that functionality you could use code from JVO's WebQL? I know that
they have written their own FITS reader for that very purpose which is
extremely fast. Ch

[2019-06-27 08:14] veggiesaurus commented on #33
I've looked at their FITS reading code. My understanding of rust is not wonderful, but the approach seems to be simply reading from a 16-bit float cache of the entire image:

https://github.com/jvo203/fits_web_ql/blob/a97e7564f3f34f9e97f2b713e0217aa61da11fb5/src/fits.rs#L6270
(in this case, it looks like `data_f16` has a a size of W x H x D, so it's the entire cube. But not 100% sure if that's cor

[2019-06-27 12:45] #247 closed

[2019-06-28 08:35] veggiesaurus commented on #235
@confluence assigning you this minor issue for when you have time.

[2019-06-28 08:36] #237 closed

[2019-06-28 09:32] confluence commented on #235
It looks like the Python converter uses the same method as CARTA (I have to check to make 100% sure that the result is the same), so it's possible that the two converters have already been producing different files.

We're about to be regenerating files anyway because we're changing the schema to store `SUM` and `SUM_SQ` statistics instead of `MEAN`. So, practical considerations aside, which solut

[2019-06-28 10:20] kswang1029 commented on #235
@confluence if there is a new hdf5 convertor, please let me know. We will need to regenerate the hdf5 images in our CARTA image pool as well.

[2019-06-28 10:26] confluence commented on #235
@kswang1029 We'll definitely let you know -- before we can start using that version we will need to make a change to the backend to use the new stat types, so it isn't going to happen immediately.

[2019-06-28 13:13] veggiesaurus commented on #33
After compiling the latest version of FITSWebQL, running it and monitoring the memory usage, and going through the code, it looks like this is what's happening:
- Entire cube read into a _compressed_ array in memory (ZFP, using a fixed compression ratio of 4 bits per value, or to be more accurate, 64 bits per 4x4 block of pixels)
- Compressed cube written to disk, next time the file is loaded, the

[2019-07-02 19:01] veggiesaurus commented on #236
@kswang1029 can you reproduce this bug after animation integration with tiled rendering?

[2019-07-02 19:01] #227 closed

[2019-07-02 19:07] veggiesaurus commented on #228
@pford could you look into this? Now that animation is handled correctly through `START_ANIMATION` and `STOP_ANIMATION` messages, we now just need to execute the _latest_ `SET_IMAGE_CHANNELS` message for a given `fileId`, which should simplify things a bit.

[2019-07-02 19:08] veggiesaurus commented on #226
@robsimmonds @confluence This is the extent of the documentation for the tiled rendering backend tasks. Let me know if more detail is required.

[2019-07-03 01:51] kswang1029 commented on #236
@veggiesaurus after trying a while, I cannot reproduce the issue now. When the cursor is moving, the fps drops a little bit (supermosaic at intended 15 fps) but not completely drops to 0. Once cursor stops moving, the fps increases back. 👍

[2019-07-03 18:52] veggiesaurus commented on #236
@kswang1029 might be related to additional overhead of sending spatial profiles. Shall I close this for now?

[2019-07-03 23:15] kswang1029 commented on #236
Yes. Let’s close it.

[2019-07-03 23:15] #236 closed

[2019-07-08 10:19] veggiesaurus opened #252 ""Current" Stokes profiles aren't updated when changing channels if there are also fixed requirements"
See GIF below. When the only spectral requirements is the current Stokes profile, the profile is updated every time the channel is sent. However, if another spectral profile widget exists with a _fixed_ requirement, then no new profiles are sent by the backend. I've confirmed that the requirements are being sent correctly by the frontend (`z` for the current profile, and `Iz` for the fixed Stokes

[2019-07-08 10:23] veggiesaurus commented on #252
@pford could you look into this?

[2019-07-08 13:54] confluence commented on #235
This is fixed in the c++ converter in the development branch, which we will be merging soon. I will later also update the Python converter.

[2019-07-08 14:03] confluence opened #253 "HDF5 schema update: use cached SUM and SUM_SQ stats instead of MEAN"
We have changed the HDF5 schema to store the sum and sum of squares instead of the mean, as these are more useful intermediate components which can be used to calculate other statistics (https://github.com/idia-astro/cpp_hdf5converter/issues/3). We should switch to using these.

Because the change should be simple, I intend only to deprecate reading the mean for now, so that we don't have to worry

[2019-07-09 15:05] pford commented on #216
For now, we will keep the maj/min axes in pixel coordinates, since that is what the frontend sends.  This may need further work when implementing region imports and WCS groups.

I tested the region @kswang1029 described and got the statistics returned by version 1.1 and imstat.  Kuo-Song, does this ticket need further testing or shall we close it?

[2019-07-09 18:41] veggiesaurus commented on #212
I think we can close this. There were issues with the older convertor producing inconsistent headers, this should be sorted out. Since IDIA-HDF5 is just used internally at the moment (and we can choose to limit which version of the schema is supported by CARTA), this is not a problem.

[2019-07-09 18:41] #212 closed

[2019-07-09 19:13] veggiesaurus opened #255 "slow memory leak when animating"
There is a slow memory leak when animating. It's not nearly as severe as the one we had before, but it should still be fixed. Tested on Ubuntu 18.04, `dev` branch, but @kswang1029 has also tested on Mac with release 1.1. Consistent results with FITS, HDF5 and CASA files.

Animating supermosaic.10.fits for 25 mins:
![image](https://user-images.githubusercontent.com/592504/60915248-a726c300-a28b-11e

[2019-07-09 19:24] veggiesaurus commented on #255
it was the histograms... fixed in #256

[2019-07-09 20:02] #255 closed

[2019-07-09 20:07] veggiesaurus commented on #219
After integration of tiled rendering, this is still an issue when in animation mode. @pford can you have a look?

[2019-07-10 01:08] kswang1029 commented on #216
@pford @ChristyReynolds I verified with few images with different ellipse regions. Yes, now it is consistent with v1.1 and correct. Thanks. Close the issue.

However, I found another one related to statistics. Will file a new issue.

[2019-07-10 01:08] #216 closed

[2019-07-10 01:32] kswang1029 opened #257 "inconsistent full-frame statistics"
with the current dev+dev branches as of July 10

While testing region statistics, I spotted a weird issue in statistics widget. In some cases, the full image statistics are not consistent with the region statistics if the region (ellipse or rectangle) covers the entire image. Examples are shown below:

consistent:
![Screen Shot 2019-07-10 at 9 19 35 AM](https://user-images.githubusercontent.com/20

[2019-07-10 13:48] confluence commented on #253
I am also integrating these cached stats into the region stats code so that they can be used when we load stats for an entire channel or cube.

[2019-07-10 15:02] confluence commented on #257
It looks like the number of pixels is incorrect in one of the calculations. I think all the values that differ depend on this value (number of pixels, mean, rms, std dev).

[2019-07-10 18:32] confluence commented on #257
I have encountered the same discrepancy in my branch, where I am adding the use of cached HDF5 stats for full channels. The HDF5 stats disagree with the calculated image stats, but agree with the region stats (except for the standard deviation, which may be a precision issue). If you look at `miniCube_5px_5px_IQU_4ch.fits`, it's clear that the image calculation results in the incorrect number of p

[2019-07-11 07:14] kswang1029 opened #258 "overwrite of protocol buffer message leads to decoding errors, resulting in missing tiles"
with dev+dev branches (asiaa carta server)

**NOT SURE IT IS FRONTEND OR BACKEND**

it is possible to see missing tile through the following steps:
open public/set_noise/noise_11px_11px.fits
then open (not append) public/set_noise/noise_10px_10px.fits
We might see missing tile (in this case there is only one tile requested). If not, reload carta and repeat the above steps.

When I see the missing

[2019-07-11 09:32] veggiesaurus commented on #258
@kswang1029 I've sort of figured out why this is occurring, and will update the issue name and add a comment shortly.

[2019-07-11 09:36] veggiesaurus commented on #258
(edited from KS's original title to better indicate the underlying issue)

Protocol buffer messages that are being put into a `MultiMessageTask` sometimes have their `_event_buffer` partially or totally overwritten, resulting in errors when decoding messages. In some cases, the message simply fails to decode, in others it decodes with missing or incorrect fields.

I've printed out the raw memory a

[2019-07-11 09:44] veggiesaurus commented on #258
the reason this is occurring is that we're reusing the uWS message buffer itself.The memory that `_event_buffer`points to is part of the larger `raw_message` buffer passed in `OnMessage`. By reusing that memory, we're assuming that uWS doesn't reuse it in any way, which is a bold assumption to make.

I guess the only solution is to actually copy the message to a new buffer, and clean up this buffe

[2019-07-11 18:10] veggiesaurus commented on #258
@kswang1029 can you confirm whether this is fixed now?

[2019-07-15 00:46] kswang1029 commented on #258
for the missing tile issue, yes, I verified with an automated test few hundreds times. All pass.

[2019-07-15 05:34] #258 closed

[2019-07-15 11:54] kswang1029 commented on #230
with the dev as of July 15, 2019, the issue seems gone. Close this issue for now. I will keep an eye on it.

[2019-07-15 11:55] #230 closed

[2019-07-15 14:04] confluence commented on #257
Here's the boolean mask of the minicube full image region:

[code]

I'm not entirely sure where the asymmetry is coming from, but this is clearly what is causing the incorrect results.

Is there any reason not to deliberately extend the full-image region a pixel past the edge of the image, to ensure that it encompasses all the pixels?

[2019-07-15 14:13] confluence commented on #257
Adding a pixel margin to the second control point used to construct the region appears to fix the problem (at least for this image). I will test with other images to confirm, and commit the fix in my PR.

[2019-07-16 02:13] zarda opened #263 "Point region get no z-profile"
Confirmed on frontend [branch](https://github.com/CARTAvis/carta-frontend/tree/hj/%23239_Support_point_region) and ICD test [branch](https://github.com/CARTAvis/carta-backend-ICD-test/tree/hj/issue%2315_region_spectral_point).

Reproduce : After setting up a point region 2 and any region 1, changing from another region 1 to point region 2 should SetSpectralRequirements to let region 1 be null, Set

[2019-07-16 07:08] kswang1029 opened #264 "hanging backend"
with dev branch as July 16

the backend hangs if we define a region which is completely outside the image. To reproduce:

1. make a region inside the image (FITS)
2. request region spectral profile
3. seeing it updating the profile
4. when it completes, move the region to be completely outside the image
5. check the profile (it is not updating)
6. move the region back inside the image, it is still

[2019-07-16 17:52] pford opened #265 "Assertion warning in Region.cc"
After PR #241 merge:

Region.cc:425:65: warning: comparison of
      constant 0 with expression of type 'bool' is always true
`assert(max_chan >= min_chan && all_channels >= max_chan >= 0 && all_channels >= min_chan >= 0);`

I also suggest ( ) around each comparison for clarity and readability, e.g. `((max_chan >= min_chan) &&` ...

[2019-07-16 18:29] veggiesaurus commented on #263
@pford can you look into this? We can't test the frontend point regions feature until this is fixed

[2019-07-16 20:02] pford commented on #263
I added a note in the weekly meeting page: backend dev, backend master, and ICD-test are all on different protobuf commits.  I cannot get **any** tests to pass in REGION_SPECTRAL_PROFILE.test.ts.

[2019-07-17 11:06] #219 closed

[2019-07-17 13:14] #253 closed

[2019-07-17 15:16] confluence commented on #257
Can you confirm that this is now fixed in `dev`?

[2019-07-17 15:19] confluence commented on #235
@kswang1029 Once you have generated some new files using the latest converter version, please confirm whether this is fixed.

[2019-07-17 16:03] pford commented on #265
Fixed.

[2019-07-17 16:03] #265 closed

[2019-07-17 21:34] veggiesaurus commented on #264
@markccchiang can you look into this?

[2019-07-17 21:36] veggiesaurus commented on #102
I think this might have been fixed in PR #259. Could we investigate this again?

[2019-07-17 21:38] veggiesaurus commented on #228
@robsimmonds this is what we discussed on Tuesday

[2019-07-18 02:08] kswang1029 commented on #257
@confluence YES! 👍👍👍

[2019-07-18 02:08] #257 closed

[2019-07-18 03:02] kswang1029 opened #273 "unexpected profile update with multiple spectral profile widgets and multiple regions"
with dev+dev July 18, 2019

Spectral profiles are updated unexpectedly when switching to different regions.

To reproduce:
1. create three regions on the image
2. create three spectral profile widgets and
     2.1 assign widget 1 to region 1 with "mean"
     2.2 assign widget 2 to region 2 with "StdDev"
     2.3 assign widget 3 to region 3 with "min"
3. once all profiles are delivered, switch to r

[2019-07-18 04:24] kswang1029 commented on #235
@confluence could you provide a guide line about how to build the convertor (dev branch?)?

[2019-07-18 05:27] ajm-asiaa commented on #235
@confluence Our systems here run RedHat7. The problem is that the hdf5_serial library doesn't exist for RedHat7. I remember we had a similar problem when we first tried to compile the original hdf5-image-viewer on RedHat, but I can't find any discussion or documentation on how it was solved.
It seems it needs more than simply changing

to

plus adding things like

to the CMakeLists.txt file

[2019-07-18 08:07] veggiesaurus commented on #273
@pford can you investigate? A diff on the server side between existing and incoming requirements seems to be needed

[2019-07-18 08:46] veggiesaurus commented on #264
this is now fixed, but a quick question related to this: If the region is entirely outside the image, then we simply don't return any spectral data. Should we not instead return an empty profile? (or a profile with `NaN`?) Otherwise the existing profile will remain there.

[2019-07-18 08:50] markccchiang commented on #264
Maybe we can. I will modify the code and send another PR.

[2019-07-18 08:59] #252 closed

[2019-07-18 14:48] pford commented on #273
Currently, the statistics in the REGION_STATS_DATA are cached, but not the spectral profiles.  When a region's requirements are set, no diffs are made and all profile data is sent.  Will fix this.

[2019-07-18 15:36] veggiesaurus commented on #273
if they're cached, then it should be sufficient to just return all, instead of a diff, I guess (if the diff process is too messy)

[2019-07-18 20:25] pford commented on #273
I started with the spatial profiles and have a problem, but I think it is in the frontend.  If you have one profile displayed (e.g. "x") then you add the other profile "y", backend only sends y-profile (the diff in requirements) but then x-profile goes blank.  I pushed the branch for issue 273 (spatial profiles only, so far).

[2019-07-18 20:36] veggiesaurus commented on #273
Yes, currently the frontend still expects you to send all the spatial profiles instead of the diff (because they were previously all being sent). I'll sort that out tomorrow. For now, you might have to use the dev console to ensure that profiles are being delivered properly

[2019-07-19 01:24] kswang1029 commented on #235
with the new hdf5 converter
`SCHEMA_VERSION = 0.2
HDF5_CONVERTER = hdf_convert
HDF5_CONVERTER_VERSION = 0.1.4`
now we have consistent histograms! 👍👍👍

[2019-07-19 01:24] #235 closed

[2019-07-20 04:55] kswang1029 commented on #264
Yes, issue solved and when a region is totally outside the image, we see NaN profile. 👍👍👍

[2019-07-20 04:55] #264 closed

[2019-07-22 11:19] veggiesaurus commented on #273
@kswang1029 can you verify that this is fixed in the latest `dev`? (`398fc62`)

[2019-07-22 20:57] pford commented on #273
This broke the partial spectral profiles (backend thinks it is sent after first update), fixing in branch for issue #263.

[2019-07-22 21:20] pford commented on #263
Tested with frontend hj/#239_Support_point_region branch.  The backend was comparing the Point region's subimage xy point with the cursor position instead of its own region control point.  Since they differed, it exited the spectral profile.

[2019-07-22 21:24] pford commented on #263
Side note in issue #273, backend was marking profile as sent after first partial profile, so it did not send profile updates.  Fixed in this branch pam/point_region, profile sent = false until progress is complete.

[2019-07-23 01:01] kswang1029 commented on #273
Issue solved! Nice. 👍

[2019-07-23 01:01] #273 closed

[2019-07-23 02:37] kswang1029 opened #280 "backend crash when requesting region spectral profile from an HDF5 cube"
to reproduce:
1) define a region which includes zero NaN pixel
2) request to see region spectral profile
3) while the profile is updating, move the region to be totally outside the image
4) then move the region to cover non-NaN pixels, NaN pixels and empty space.
5) possibly the backend will crash, if not, repeat 2) to 4)

The following is just to indicate the three different types of regions. To

[2019-07-23 03:01] markccchiang commented on #280
It is possible that we have to add a lock while calling the region mask `region->XyMask()`. I will fix it.

[2019-07-23 07:02] kswang1029 commented on #226
Just a note about the sequence of returned tiles. By requesting 49 tiles in a spiral pattern inside out, the returned sequence is (1-indexed):
[3,15,12,11,41,19,1,14,47,9,20,5,8,6,30,49,18,31,13,4,48,16,22,17,10,36,32,27,34,39,7,45,28,2,25,40,21,46,29,23,26,42,24,35,38,44,43,37,33]
This means the first requested tile returned in the 7th place in this example. Each measurement should return a diffe

[2019-07-23 08:34] veggiesaurus commented on #226
@kswang1029 are those tiles all identically sized?

[2019-07-23 08:57] kswang1029 commented on #226
yes, I believe so. The image is 4096x4096 in size, and we set tile_size=256 and layer_id=3.

Following is just for reference.
<img width="543" alt="Screen Shot 2019-07-23 at 16 54 30" src="https://user-images.githubusercontent.com/20819712/61697866-b79a6b80-ad6a-11e9-8094-2b20c6ad9155.png">

[2019-07-23 17:22] pford commented on #263
There are still issues with interrupting spectral profiles but they will be dealt with separately.  Ready to test that a point region gets a spectral profile.

[2019-07-23 18:49] pford commented on #211
Waiting for frontend issue #370 or ICD test update to test this.

[2019-07-23 22:27] pford commented on #211
Closing ticket, tested successfully with REGION_STATISTICS_POLYGON.test.ts and PR merged.

[2019-07-23 22:27] #211 closed

[2019-07-23 22:30] #102 closed

[2019-07-23 23:24] pford opened #285 "Implement region file browser"
Subtask of issue #171

[2019-07-23 23:26] pford opened #286 "Implement CRTF region import/export"
Subtask of #171, import region file into Regions and send response.

[2019-07-23 23:28] pford opened #287 "Implement DS9 region import/export"
Subtask of #171, implement exporting region ids into file of specified type.

[2019-07-24 02:18] zarda commented on #263
Tested well on both frontend and testing.

[2019-07-24 02:18] #263 closed

[2019-07-24 20:31] pford commented on #285
The region file browser is good to go.  I tested branch pam/285_region_browser with protobuf branch pam/icd7_region_io by temporarily hijacking the file list/info messages and calling the region list/info functions instead.

[2019-07-24 21:27] veggiesaurus commented on #285
@pford thanks, I'll start implementation of the region browser tomorrow.

[2019-07-25 09:46] veggiesaurus opened #289 "Point profiles are not correct when using HDF5 images"
Testing using `dev` branch, with the newly added point regions. The profiles returned from point regions seem to be offset by half a pixel when using HDF5 files. Probably this line in `Frame.cc`:
[code]
Cursor points should be rounded instead of truncated. Example of this in action:

![point offset](https://user-images.githubusercontent.com/592504/61864210-4cb77480-aed1-11e9-969d-e78a81a3b1b7.gif)

[2019-07-26 08:48] kswang1029 opened #292 "backend crash if requesting spectral profile from a point region totally outside the image"
this happens to all image format.

[2019-07-26 09:11] veggiesaurus commented on #292
@confluence and I were discussing this yesterday. I think the best solution would be to simply check whether the point is outside the image before attempting to calculate the profile, rather than trying to catch a casacore exception (which is how it's handled for other regions)

[2019-07-26 09:43] #289 closed

[2019-07-26 09:53] kswang1029 commented on #292
right, it would be good to have a checker at the frontend. For point and polygon, we can check if points are all outside the image (image coordinate). For rectangle, we can check the four corner coordinates. For ellipse, it is less straightforward, perhaps?

[2019-07-26 10:08] veggiesaurus commented on #292
I'm not sure if it's a good idea to have the check on the frontend. For WCS groups, a region might be within one image, and outside another. The frontend should still request it

[2019-07-26 10:32] kswang1029 commented on #292
Good point.

[2019-07-29 06:11] kswang1029 opened #294 "requesting point region spectral profile but the backend responses nothing"
with the dev as of July 29, 2019

backend may not respond to the request of spectral profile from a point region
to reproduce:
1) open set_QA/M17_SWex.image (only hdf5 works)
2) define 5 point regions
3) enable spectral profiler widget
4) should see cursor spectral profile
5) switch to region 1 and 2 and 3 and so on
 ==> _not_ always seeing the corresponding profiles.

It works normally if we repe

[2019-07-29 09:13] #87 closed

[2019-07-29 09:14] veggiesaurus commented on #292
@pford or @confluence can you please have a look at this?

[2019-07-29 11:35] veggiesaurus opened #295 "Frontend can delete cursor or image regions"
I've fixed this in my polygon region branch in the frontend so it shouldn't occur once that's merged in, but to be safe, it might be worth ensuring that the backend checks the region ID before deleting regions in `OnRemoveRegion`, since the cursor and image regions should never be deleted.

[2019-07-29 15:07] confluence commented on #292
This should be fixed in #296.

[2019-07-30 04:40] #295 closed

[2019-07-30 08:59] #76 closed

[2019-07-30 18:09] pford commented on #294
I could not reproduce this with latest local backend 2c217e9 and docker frontend 4627333 (mix 'n match offline).

[2019-07-31 03:36] kswang1029 opened #298 "spectral profile from a point region is not stoppable"
with dev as of July 31, 2019

the backend keeps sending updates of a point region spectral profile even if the user switches to another region.

UPDATE: same for cursor region.

[2019-07-31 03:40] kswang1029 opened #299 "backend crash if we delete a region when spectral profile is still being updated wrt the region"
with the dev as of July 31, 2019

To reproduce the issue:
1) open a large fits cube (e.g., set_IRAS_17150-3224/IRAS_17150-3224_sci.spw27.cube.I.manual.image.pbcor.fits)
2) make a big rectangle region
3) launch the spectral profile widget
4) request the profile from the rectangle region
5) when the profile is being updated, delete the rectangle region
6) backend should crash

[2019-07-31 04:16] kswang1029 opened #300 "adding new anchor to an existing polygon triggers SET_REGION and relevant data update"
Not sure where (frontend or backend) we improve this. Guessing we can solve this in the backend by checking area or equivalent quantity.

If we add a new anchor to an existing polygon, a new SET_REGION will be triggered, and relevant data will be updated. However, the new anchor sits perfectly on a straight line so the area, hence the covered pixels, remains the same. Therefore the relevant data u

[2019-07-31 06:04] #300 closed

[2019-07-31 06:04] veggiesaurus commented on #300
Issue moved to [CARTAvis/carta-frontend #429](https://github.com/CARTAvis/carta-frontend/issues/429) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-31 10:32] veggiesaurus opened #301 "crash when updating cursor region while spectral profile is still being delivered"
possibly the same root cause as #299 or #294

The backend is crashing when cursor spectral profiles are requested too quickly. To reproduce this bug, load a large file with many channels from a slow storage device, such as a hard drive, (I've tested with `supermosaic.10.fits` and `GNPilot.IQU.fits`) and then open a spectral profile widget linked to the cursor. By moving the cursor around, the back

[2019-07-31 12:27] #292 closed

[2019-07-31 17:45] #226 closed

[2019-07-31 17:47] #158 closed

[2019-07-31 17:48] #228 closed

[2019-08-01 02:31] kswang1029 commented on #294
with dev backend 36d6a07, the issue is gone. Close this issue for now but i will keep an eye on it.

[2019-08-01 02:31] #294 closed

[2019-08-01 02:37] kswang1029 commented on #280
with dev 36d6a07, i think the issue is gone. Shall we close this issue?

[2019-08-01 04:05] markccchiang commented on #280
Ok.

[2019-08-01 04:06] #280 closed

[2019-08-06 05:18] kswang1029 commented on #298
shall we consider this as critical (from the usability point of view if the image is big)? This means users always have to wait the cursor profile finished then start to see region profile updating. When this happens, the spectral profiler widget appears _blank_ until the region profile starts to update.

[2019-08-06 07:43] markccchiang commented on #298
In PR #288, I have considered the current region id which can be used to cancel the cursor or the other region id spectral profile calculation. However, if we open additional zprofile widgets for the other regions, then only the widgets with specific region id can be updated. Is it acceptable for you?

[2019-08-06 07:51] kswang1029 commented on #298
@markccchiang if you are referring to "origin/mark/refactor_profile_cancellation 296dd45 5027 2019-08-05 15:58:50 CST", cursor profile is still non-stoppable.

[2019-08-06 07:55] markccchiang commented on #298
This function was removed according to Pam's suggestion. Maybe you can test 2a9413619e2d5a7ccafe9f938e392d5f4d346ecf.

[2019-08-06 07:58] kswang1029 commented on #298
@markccchiang sorry with the mix n' match page, 2a94136 is not available anymore. Is it merged?

[2019-08-06 08:02] markccchiang commented on #298
It is not merged yet. Should I move the current region id as an interruption condition back?

[2019-08-06 08:09] kswang1029 commented on #298
The desired feature is the following. If we have three regions: cursor, point, and rectangle, and users request cursor spectral profile, then if users switch to either point or rectangle region while the cursor profile is updating, the cursor profile should stop updating immediately and start the new profile calculations for the new region request.

[2019-08-06 08:38] kswang1029 opened #304 "crash if double click on an image cube with per-plane-beam (this will load the image directly)"
With the dev as of Aug 6 2019:

If we double click an image with per-plane-beam on the file list to load it directly, the backend _**may**_ crash. It is not 100% guaranteed.

If we single click first to see file info (takes some time), then click load, the backend works fine.

test image: set_QA/SDC335.579-0.292.spw0.line.image

[2019-08-06 08:42] kswang1029 commented on #304
Need to investigation on how to 100% reproduce the issue. Close for now.

[2019-08-06 08:42] #304 closed

[2019-08-06 12:21] #301 closed

[2019-08-06 14:23] pford commented on #298
If the user changes the profile widget cursor->region X, the frontend sends a new cursor spectral requirement message with no profiles, which triggers cancelling the cursor profile.  Or perhaps you are saying to prefer the other region over cursor when both are required, but that will require some bookkeeping to resume the cursor profile once the other region profile is done.

[2019-08-06 16:01] veggiesaurus commented on #298
I think what @kswang1029 is saying is that if the cursor profile is no longer required, then it should be cancelled. If it is still required by another widget, it shouldn't be cancelled. I believe this is the intended behaviour of the current implementation.

If a region and a cursor profile are required, then they're calculated one by one, due to the casacore mutex. One way to calculate them "sim

[2019-08-06 22:13] pford commented on #285
Feature included in branches pam/285_region_browser and pam/region_browser_import_crtf.  Ready to test when frontend/ICD tests are compatible.

[2019-08-06 22:14] pford commented on #286
Feature included in pam/region_browser_import_crtf.  Ready to test when frontend/ICD tests are compatible.

[2019-08-06 22:35] pford opened #305 "Import rotbox region as rectangle with rotation"
On import, the annotation rotbox (AnnRotBox) region is a polygon which you cannot query for the input rectangle and rotation parameters.  The only way to do this is to parse the "rotbox" file line for these values, convert to the image's world coordinates, then convert to pixel coordinates.

[2019-08-07 03:00] kswang1029 opened #306 "reduce number of bins of the per-frame histogram when the image is large"
The number of bins of the per-frame histogram is now determined by sqrt(n_pix_x * n_pix_y). With a large image (e.g. 50000x 50000), making a histogram with 50000 bins seems not that useful and introduce performance degradation when rendering. We could consider to have an upper bound for the number of bins (e.g., 10000-ish. to be experimented).

[2019-08-07 03:37] veggiesaurus commented on #306
Should we consider combining the bins on the front-end?

[2019-08-07 03:41] kswang1029 commented on #306
@veggiesaurus that would work too. But surely reducing bins at the backend also reduces the message size I believe. As this histogram is for rendering purpose, we don't need that many bins for big images.

[2019-08-07 03:43] veggiesaurus commented on #306
That's true.

[2019-08-07 05:33] kswang1029 commented on #299
fixed via #302
Close this issue.

[2019-08-07 05:33] #299 closed

[2019-08-07 08:19] markccchiang commented on #298
The backend needs to know the zprofile widgets with respect to their region id, stats type and stoke index shown on the frontend. Then use this information to decide which zprofile calculations need to be canceled.

[2019-08-07 13:48] #217 closed

[2019-08-07 14:00] pford commented on #298
Perhaps RegionProfiler::DiffSpectralRequirements can be extended to determine which profiles to cancel in addition to which profiles to add (accessed with RegionProfiler::GetSpectralStatsToLoad)?

[2019-08-07 20:30] pford commented on #286
I tested the polygon regions in polygon_region.zip and checked the stats against M17_SWex_polygon_imstat_summary.txt.  Looks right!

[2019-08-07 20:34] pford commented on #171
Closing this issue, now broken down into subtasks #285 , #286 , and #287 .

[2019-08-07 20:34] #171 closed

[2019-08-08 03:47] kswang1029 opened #307 "incorrect and inconsistent per-frame histogram"
with the dev backend/frontend as of Aug 8, 2019

With the test image set_StokesCube/image_IQU.im, we see inconsistent and incorrect per-frame histogram. A region is created to cover the entire image. In some cases (at different channel), the histogram in the render config widget is correct. But in some other cases, the histogram widget is correct. Moreover, both can be incorrect.

![Screen Shot 20

[2019-08-08 20:04] pford commented on #286
Added coord_type field to export region message to enable exporting in pixel or world coordinates.

[2019-08-08 21:15] veggiesaurus commented on #307
@markccchiang or @confluence can you look into this? @kswang1029 have you found a way to consistently reproduce this?

[2019-08-08 21:34] pford commented on #307
Looking at the histogram messages, the histograms for both regions have the same number of bins.  When the histograms match, the histograms for each region have the same bin width; when they differ, the bin widths differ.

[2019-08-09 02:55] kswang1029 commented on #307
@veggiesaurus with set_StokesCube/image_IQU.im we can see the issue quite easily.

[2019-08-09 09:00] markccchiang commented on #307
That is probably the mismatch of Min/Max calculation results.

[2019-08-12 03:47] kswang1029 opened #311 "cancelable region spectral profiler with hdf5 images?"
With dev as of Aug 12 2019

backend team please confirm the following issue.

It appears that the backend is still busy on region spectral profile calculations even if there is no profile update messages being sent when the frontend no longer needs the profile.

To reproduce the issue:
1) open a large enough hdf5 image
2) freeze cursor and launch one spectral profile widget. we should see a profil

[2019-08-12 06:24] markccchiang commented on #311
It appears the hdf5 image is not included in the cancellation while the region id is removed from the frontend. I will fix this issue.

[2019-08-12 09:43] markccchiang commented on #311
Fixed it in the commit 2a42f613db5bb0c9b185b452828976832e3f41b1 (in PR #288).

[2019-08-12 16:37] #285 closed

[2019-08-12 16:39] pford commented on #285
Included in issue #286 and PR #312

[2019-08-13 05:03] vdmz opened #314 "README.md - another Debian package"
One needs the ```protobuf-compiler``` package too. This is not pulled in as a dependency of ```libprotobuf-dev```.

[code]

[2019-08-13 10:49] kswang1029 opened #316 "region import: missing point region"
The CRTF point region
`symbol[[320pix, 200pix], '.']`
is missing when importing.

[2019-08-13 14:22] pford commented on #316
In imageanalysis this is a display definition, along with line, vector, and text.  AnnotationBase::isRegion() returns false since AnnSymbol is not derived from AnnRegion.  I thought for carta a point region would be a rectangle with blc=trc.

[2019-08-13 14:30] kswang1029 commented on #316
If we define a point region with casaviewer can export it as a crtf file, we see it is “symbol”. The same file can be imported to casaviewer and we will see a point region.

[2019-08-13 14:32] veggiesaurus opened #317 "Crash when exporting point regions or polygons outside image"
At the moment, if you try to export a point region, the backend will crash with the error
`Error: LCPolygon - entire polygon is outside the lattice`

The same occurs if you create a region of any type that is entirely outside the image (see below)

![image](https://user-images.githubusercontent.com/592504/62950118-bd262700-bde7-11e9-8489-fded5a627d35.png)

We could work around the second crash, bu

[2019-08-13 14:37] kswang1029 commented on #317
@veggiesaurus no for v1.2, yes for v1.3.
What if the region is half outside the image? Can it be exported successfully? I cannot test this case with casaviewer....

[2019-08-13 14:51] veggiesaurus commented on #317
@kswang1029 if it is partially off, then it still works. I guess the solution for 1.2 is to prevent the _crash_ and then to sort out the casa issue before 1.3

[2019-08-13 14:51] veggiesaurus commented on #317
Even if the crash is fixed, is should still be a "known issue"

[2019-08-13 19:21] #316 closed

[2019-08-13 19:21] #317 closed

[2019-08-13 19:25] veggiesaurus opened #320 "Regions entirely outside image cannot be imported or exported"
_(likely has a casacode / casacore dependency and can be listed as known issue for 1.2 and fixed in  a patch release)_

Currently, any regions that are entirely outside the image are ignored when exporting or importing. This will become a critical issue for 1.3's WCS group feature.

[2019-08-13 23:37] pford commented on #320
I sent Dave Mehringer an email explaining what carta needs.  If the imageanalysis annotation regions could do everything but set an underlying lattice region (getRegion() returns nullptr) that would be perfect.  But I don't know the impact of such a change on other CASA code.

The casaviewer will not let you set a region outside the image.  An export of such a region (e.g set in a larger region, o

[2019-08-14 01:07] kswang1029 commented on #305
All good! 👍

[2019-08-14 01:07] #305 closed

[2019-08-14 06:53] kswang1029 opened #321 "empty histogram if all pixels are negative in a frame"
test image: set_noise/noise_negative2.miriad which has pixel values of ~-10

[2019-08-14 07:14] veggiesaurus commented on #321
@markccchiang it's because `_max_val` is being initialised to `std::numeric_limits<T>::min()` instead of `-std::numeric_limits<T>::max()`

[2019-08-14 07:17] markccchiang commented on #321
Yes, may be use `std::numeric_limits<T>::lowest()` instead of `std::numeric_limits<T>::min()` for initializing the `_max_val`.

[2019-08-14 07:18] veggiesaurus commented on #321
yes, good idea.

[2019-08-14 07:20] markccchiang commented on #321
Will push later, I am trying to build the casacode.

[2019-08-14 09:26] #321 closed

[2019-08-14 09:26] #307 closed

[2019-08-14 15:36] pford commented on #320
Dave and I have a plan to fix this, but the casacode change won't make it in for release 1.2.  I will make the change and have the PR waiting for Dave to review when he gets back from vacation.

[2019-08-14 16:50] veggiesaurus commented on #320
@pford thanks for following up on this. Sounds promising. It's not a problem aiming for 1.3.

[2019-08-15 20:36] #286 closed

[2019-08-15 22:17] #160 closed

[2019-08-15 22:18] pford commented on #311
Merged into dev

[2019-08-15 22:19] pford commented on #298
Merged into dev

[2019-08-15 22:38] pford commented on #135
Update: spectral profile and cube histograms done.  Do we need this for per-plane image/region histograms, or can this issue be closed?

[2019-08-15 22:52] pford commented on #161
As I understand it, this is extremely difficult in casacore.  Images are masked so that unmasked pixels may be used for calculations, which means that for a region, a pixel may be masked because it is NaN, it is outside the region, or both.  Therefore impossible to count "in the region but value is NaN".

[2019-08-16 03:04] kswang1029 commented on #135
@pford looks good to me. @veggiesaurus ?

[2019-08-16 03:08] kswang1029 commented on #142
@pford Issue solved. 👍 Close the issue.

[2019-08-16 03:08] #142 closed

[2019-08-16 03:13] kswang1029 commented on #311
@pford Yes, issue solved. 👍

[2019-08-16 05:58] kswang1029 commented on #298
Yes, looking good.

[2019-08-16 08:53] veggiesaurus commented on #314
@ajm-asiaa since this needs to be updated for the `casacode` requirments, shall we combine these two tasks?

[2019-08-16 08:53] #311 closed

[2019-08-16 09:32] veggiesaurus commented on #135
I'm fine with closing this. We can consider partial updates of the other long running tasks (histogram and stats) if and when it becomes necessary

[2019-08-16 09:32] #135 closed

[2019-08-16 22:52] pford commented on #320
Completed development in casacode branch.  Once tests pass, will open PR for Dave to review.  In the meantime, I will continue carta development against this branch.

[2019-08-20 03:19] kswang1029 opened #326 "backend hangs when trying to open a position-velocity image"
Dev 43289d9
Although PV is not currently supported, the backend hangs if we try to open a PV image. Perhaps we need a way to not allowing pv image to be loaded until we support it.

[2019-08-20 11:00] veggiesaurus commented on #161
@pford I guess we can icebox this for now then

[2019-08-20 11:01] #298 closed

[2019-08-21 03:44] markccchiang commented on #179
I think this issue is already solved. @kswang1029 could you please confirm it? Thank you!

[2019-08-21 04:26] kswang1029 commented on #179
@markccchiang with the help from @ajm-asiaa I think the issue is fixed. 👍 Close the issue.

[2019-08-21 04:26] #179 closed

[2019-08-21 10:11] veggiesaurus opened #328 "remove DS9 region files from list until they are supported"
Since we won't have DS9 region import/export for release 1.2, can we remove them from the file list in the `release/1.2` branch.

[2019-08-21 13:34] #94 closed

[2019-08-21 17:22] pford commented on #326
For this issue, the backend uses the coordinate system to determine which pixel axes are linear (p) and spectral (v).  In general (but found in some test pv images), if the image has an incomplete header, the coordinate system only processes the existing information so its number of pixel axes does not match the number of axes in the image data.  This will cause a problem later in pixel/world coor

[2019-08-21 17:50] pford commented on #13
BMAJ and BMIN are converted to deg for CASA and MIRIAD image types (checking HDF5), does anything else need to be done for this issue?

[2019-08-21 18:12] pford commented on #328
Done.

[2019-08-21 18:12] #328 closed

[2019-08-21 23:27] kswang1029 commented on #326
Yes, this sounds a good idea and useful for users.

In the warning message, it says "Position-velocity (pv) images not supported.". Could we add "yet". This may make users feel better. : )

[2019-08-21 23:41] kswang1029 commented on #13
Could we include comments too? For example,
`VELREF  =                  257 /1 LSR, 2 HEL, 3 OBS, +256 Radio`
Currently anything after / is not included and we just see
`VELREF = 257`

[2019-08-22 10:31] Kechil opened #331 "Make point symbol bigger (beta test comment)"

[2019-08-22 10:31] #331 closed

[2019-08-22 15:09] pford commented on #326
Messages updated.

[2019-08-23 07:55] kswang1029 opened #332 "regression: backend crash when open a cube"
with origin/release/1.2 74223bc 5042 2019-08-16 22:49:17 CST the image set_StokesCube/stokes_cube_noise.fits can be loaded without problem.

However, with origin/release/1.2 fd8d729 5050 2019-08-22 02:12:06 CST, loading the same image results in backend crash (file info returns without problem).

Tracing back: it is likely due to commits to filter out pv images (origin/pam/326_pv_image c6dc060 504

[2019-08-23 07:56] kswang1029 commented on #332
@pford could you help?

[2019-08-26 08:09] veggiesaurus opened #334 "Cannot import/export regions when image has invalid or non-existent WCS headers"
Some images don't have WCS information. For example, the "LMCq.fits" file has a minimal header, shown below. As such, it has no WCS information. The backend should still be able to export regions defined for this file in _pixel_ coordinates (although it's totally fine for it to fail to export in WCS). Currently, the backend fails to export regions, and displays `Export carta region type 3 failed:

[2019-08-28 00:52] kswang1029 commented on #332
@pford I see! Thanks for sorting it out! 👍

[2019-08-28 18:17] veggiesaurus opened #336 "Regression: Opening a 4D file without CTYPE4 = 'STOKES ' in the header causes the backend to crash"
Regression introduced by PR #327: If you try to load a 4D FITS or HDF5 cube, and the header is missing the entry `CTYPE4 = 'STOKES  '`, the backend will crash.

To reproduce bug: Take a properly formed 4D FITS file, edit the header with `edhead` and load with CARTA.

[2019-08-28 18:21] veggiesaurus commented on #336
possible duplicate of #332

[2019-08-29 01:58] kswang1029 commented on #326
fixed. 👍

[2019-08-29 01:58] #326 closed

[2019-09-04 22:58] pford opened #340 "Support image annotation text file (backend)"
Supported in v1.4:
- [x] name
- [x] color
- [x] line width
- [x] dashed line

Requirements for v4:
https://docs.google.com/document/d/1YCB_lIVH8ftJcNS0gliE2uHmuiowGkV6DQYJlfteJUM/edit#

Must support:

- [x] SetRegion
- [x] ExportRegion
- [x] ImportRegion
- [x] ResumeSession
- [x] Import/Export from matched image

[2019-09-05 04:57] kswang1029 commented on #340
@pford @veggiesaurus with this doc https://docs.google.com/document/d/1_eo3kmzHrMGDLuYmbMi6RQHytf0NiGyR_igRlBFjssc/edit I tried to find common properties of the casa region format and the ds9 region format. Please have a look. There are properties that are supported in one but not the other. Perhaps what we can do in CARTA is that we only support common properties as listed in the document. Please

[2019-09-05 15:37] alexhultman commented on #224
Hello,

New code is header only (just include it) and cross-platform C (without any dependencies) with optionally OpenSSL and zlib as dependencies. Windows is the only platform which need libuv

[2019-09-05 16:00] veggiesaurus commented on #224
@alexhultman thanks for the info!

[2019-09-10 03:14] kswang1029 opened #342 "export a rotated rectangle in crtf but when import back, the result is incorrect"
with dev frontend+backend branches as of Sep 10, 2019

To reproduce the issue, create two rotated rectangles, one inside the image and the other outside the image.
![Screen Shot 2019-09-10 at 10 53 38 AM](https://user-images.githubusercontent.com/20819712/64580760-1cad2d80-d3ba-11e9-8158-17fcebdcf8bf.png)

Then, export the regions as a crtf file in world coordinate. It would look like
#CRTFv0 CASA

[2019-09-10 09:18] zarda commented on #224
Do we need to include `uWebSockets` in submodules?

[2019-09-10 21:01] veggiesaurus commented on #224
that's probably a good idea. However, we first need to check if the backend can work nicely with C++17 compilers. I'm a bit concerned about RedHat support in that regard.

[2019-09-11 03:11] kswang1029 opened #343 "IMPORT_REGION_ACK.success == True even if region syntax in a file is invalid"
If there is invalid syntax in a region file, such as the following:

#CRTFv0 CASA Region Text Format version 0
symbol [[-123.8pix, **613.1**], .]
symbol [[-133.8pix, 613.1pix], .]

or

#CRTFv0 CASA Region Text Format version 0
symbol [[275.13653085deg, -16.17909524pix], .]
symbol [[275.13653085deg, -16.17909524deg], .]

currently all other valid regions are not loaded which is fine. However, IMPOR

[2019-09-11 06:48] veggiesaurus commented on #343
I suggest we stick to the strict definition of `success` that we're currently using, because `success` is a binary field. This makes error handling much simpler: Either a request succeeds (and we utilise the response) or it fails (and we display the error message).

I think a warning is a more appropriate solution here. We can use the `ERROR_DATA` stream with a severity of `WARNING` to display a t

[2019-09-11 06:51] kswang1029 commented on #343
good idea. 👍

[2019-09-11 07:03] veggiesaurus opened #344 "checking file name of a region file when exporting"
@kswang1029 commented on [Wed Sep 11 2019](https://github.com/CARTAvis/carta-frontend/issues/526)

Currently the frontend checks the input file name of a region file with all other existing region files (via REGION_LIST_RESPONSE) when exporting. However, the input name may coincide with other image files or other file types. If this happens, the frontend shows successful but actually there is no r

[2019-09-13 22:11] pford commented on #344
All files or all **image** files along with the region files?

[2019-09-13 22:32] kswang1029 commented on #344
I suggest we check for all files.

[2019-09-17 12:52] Kechil opened #347 "Support for HDF5 mip-mapped datasets"
- [ ] Load mipmapped tile instead of downsampling
- [ ] Don't load whole full-res image
- [ ] Benchmark on ilifu large files
- [ ] Cache full-res tiles and fix spatial profiles

[2019-09-17 12:56] Kechil opened #348 "Storing layouts and preferences on the server"

[2019-09-18 12:35] #332 closed

[2019-09-18 12:36] #336 closed

[2019-09-18 12:37] #320 closed

[2019-09-18 23:02] pford commented on #342
Ready to test in release and dev.

[2019-09-18 23:03] pford commented on #287
Ready to test in release and dev.

[2019-09-19 07:36] veggiesaurus commented on #287
@pford should I merge my ds9 frnotend branch into `dev` and `release`?

[2019-09-19 14:25] pford commented on #287
@veggiesaurus yes, please merge your branch.

[2019-09-19 18:35] pford commented on #343
@kswang1029 the error for your examples (mixed world and pixel coordinates) throws an exception in the casacode CRTF parser, so none of the regions are imported.  I can catch the exception, set success=false, set the error in the ACK message, and send ERROR_DATA for the Log widget.  The message specifies the CRTF line number where the error occurred.

[2019-09-19 19:38] veggiesaurus commented on #343
@pford sorry, I think I misunderstood what @kswang1029 was saying. If the import completely fails, setting success=false and setting the error message is sufficient. I can use the error message in the response. No need for error data in this case.

Perhaps if some succeed and others fail, we should return success and stream a warning?

[2019-09-19 20:34] pford commented on #343
If any definitions in the CRTF file fail, the parser throws an exception; there is no partial success.  If this is unacceptable, I will have to discuss this change with Dave for a casacode pull request for carta release 1.3.  The carta Ds9Parser will behave as you describe; I am working on improving the error messages for failed regions.

For me, the pop-up error messages disappear too quickly to

[2019-09-19 20:42] veggiesaurus commented on #343
Perhaps we should change to an alert popup for errors, and leave the toastr for warnings

[2019-09-19 20:45] veggiesaurus commented on #343
I don't think this is too much of a problem. @kswang1029? How do other viewers handle situations where one region is poorly defined?

[2019-09-20 02:15] kswang1029 commented on #343
@veggiesaurus
For casaviewer, if there is a poorly defined region, all other good regions are not loaded. At the bottom of the viewer GUI, there is a message in red specifying why.
For ds9, good regions can be still loaded. However, it seems there is no message somewhere specifying there is a bad region and why it is bad. This is a bit confusing as users may not know exactly how many regions shoul

[2019-09-20 05:23] kswang1029 commented on #344
Yes, it works well. 👍 Close this issue.

[2019-09-20 05:23] #344 closed

[2019-09-20 05:24] kswang1029 commented on #342
Yes, issue gone. 👍 Close this issue.

[2019-09-20 05:24] #342 closed

[2019-09-20 17:23] pford commented on #334
Merged fixes for seg fault in release 1.2 branch for patch.  Now sends "no direction coordinate" error message for wcs export.  Can export DS9 pixel coordinates, tested with region import in SAO DS9 viewer.

TBD: merge these changes into dev and fix pixel CRTF import/export and DS9 import.  Both use imageanalysis Annotation regions, which currently require a direction coordinate.

[2019-09-25 09:21] Kechil commented on #347
Part of tiling implementation (need to be a dependency)

[2019-10-16 15:11] pford opened #357 "Remove FITS hdus from file list and add to file info"
The file list takes too long with many FITS files because they are opened to find the image HDUs by name.  Instead, the file list should return file type (FITS) and the file size only.  The file info for each hdu should be sent in the file info message as a repeated field.

[2019-10-16 15:15] pford opened #358 "Inconsistent handling of symlinks"
File info hangs on file symlink outside of root filesystem, but is listed and opens on double-click.  Make this consistent by allowing file info.

[2019-10-18 07:18] #185 closed

[2019-10-18 12:51] Jordatious opened #360 "Support for fz"
Support for fz files (e.g. img.fits.fz) without the need to "funpack".

See: http://archive1.dm.noao.edu/tutorials/fpack

[2019-10-18 13:23] veggiesaurus opened #361 "Crash when parsing HDF5 image with header that is expected to be double/int"
For backward-compatilbility with an older revision of the IDIA schema, the backend attempts to load certain header entries as double or int when loading HDF5 file. However, at the moment, if these entries can't be parsed as double, `std::stod` throws a `std::inavalid_argument` exception, causing the backend to crash.

[2019-10-18 13:29] veggiesaurus commented on #360
@pford are we using `cfitsio` underneath to read FITS files? If so, `.fz` images _should_ work properly, or it should be reasonably easy to add support for them.

[2019-10-22 09:24] Kechil opened #363 "Event concurrency"

[2019-10-23 06:49] #361 closed

[2019-10-23 14:51] #348 closed

[2019-10-23 14:53] Kechil opened #364 "Storing layouts and preferences on the server"

[2019-10-23 14:59] duidae commented on #364
ah no wonder I didnt see this issue, it's placed in backend repo.
link to https://github.com/CARTAvis/carta-frontend/issues/491  https://github.com/CARTAvis/carta-frontend/issues/492

[2019-10-24 22:33] veggiesaurus commented on #363
@Kechil how is this different from #159?

[2019-10-28 07:07] kswang1029 opened #366 "backend stops responding when stop animating raster+contour images"
frontend: 9a74dbc
backend: 9ca101c

to reproduce:
1) load a large image cube in spatial domain (e.g. 2800x2800)
2) generate contours at 99.9%
3) start animation at 5 fps or higher and stop any time and repeat.
4) the backend may stop responding and we see a persistent streaming indicator
![Screen Shot 2019-10-28 at 15 06 32](https://user-images.githubusercontent.com/20819712/67658481-a5951e00-f994

[2019-10-28 08:27] kswang1029 opened #367 "support additional animator playback modes"
referencing https://github.com/CARTAvis/carta-frontend/issues/265

The backend needs to support the following animation playback modes:

- [x] forward
- [x] backward
- [x] bouncing
- [x] blink

[2019-10-28 08:54] veggiesaurus commented on #367
I think the backend already supports backward and bouncing. At least, they are defined in the ICD and seem to be handled in the code, but I'm not sure if there are any tests for them. @zarda , are there any ICD tests for animation modes?

[2019-10-28 09:04] zarda commented on #367
Please refer to [#11](https://github.com/CARTAvis/carta-backend-ICD-test/issues/11), forward and bouncing are good. I have no idea about the behave "blink", does it mean jump?

[2019-10-28 09:06] kswang1029 commented on #367
@zarda if the range is 3~10, blinking results in 3 10 3 10 3 10 and so on.

[2019-10-28 09:08] veggiesaurus commented on #367
I wonder if we could recreate this by using an appropriate delta channel definition and loop + reverse?

e.g. if we set startFrame to 3, endFrame to 10 and deltaFrame to 7, and then set the reverse and loop flags?

[2019-10-29 07:11] zarda commented on #367
The "backward" action can be implemented by setting a delta = -1, what is tested by revised ICD test.

[2019-10-29 08:29] kswang1029 opened #368 "non-uniform playback speed when fps is small"
frontend: d019989
backend: 9ca101c

NOTE: not sure this belongs to frontend or backend...

shape of the test image: [432, 432, 250, 1]

With the default fps=5, the playback speed is not uniform as follows:
![Oct-29-2019 16-25-37](https://user-images.githubusercontent.com/20819712/67749814-e1011c80-fa68-11e9-83cf-df44341250d3.gif)

However, it gets better with fps=15.

[2019-10-29 08:31] veggiesaurus commented on #368
could this be a network or disk issue?

[2019-10-29 08:35] kswang1029 commented on #368
it could be due to network... I am experiencing weird network behavior these days but cannot figure out why.

Just checked with the desktop version, it works fine.... Hmmm.....

[2019-10-29 09:25] #159 closed

[2019-10-29 09:25] #19 closed

[2019-10-29 14:31] kswang1029 commented on #368
I confirm that this issue is due to my test environment with poor wifi condition. We can close this issue now and this just serves as a log about what happens with poor wifi...

[2019-10-30 05:11] kswang1029 opened #369 "backend hangs if requesting file info of a non region file in the region file browser"
currently the region file browser lists up _all_ files regardless it is region file or not. If we click on a non region file (e.g., png, pdf, etc), the backend will hang.

[2019-10-30 06:00] kswang1029 commented on #287
Apologies for taking so long to get this test done due to travel and other business. I briefly tested the feature of ds9 region support in CARTA. Due to the richness of ds9 region format, I performed tests in two parts. All test files and image are attached.

1) import ds9 region files generated with ds9 to CARTA
a) same region in different coordinate systems and different coordinate formats
Here

[2019-10-30 06:13] veggiesaurus commented on #287
@kswang1029 if you load the same regions with CRTF (with the same number of decimal places as the DS9 file), do you get the same results?

[2019-10-30 06:20] kswang1029 commented on #287
@veggiesaurus good point. I will try.

[2019-10-31 02:48] duidae opened #370 "reverse animation does not stop at first frame and not looping"
using the message with start frame = last frame, delta = -1, confirmed with @zarda

[2019-10-31 07:35] zarda commented on #370
In case of negative delta, the first_frame and last_frame need to swap in [line](https://github.com/CARTAvis/carta-backend/blob/9ca101c0d4d911538835bc33a5c2dad23404297b/Session.cc#L1266).

[2019-10-31 09:54] #370 closed

[2019-11-04 06:51] kswang1029 opened #372 "missing PC header keywords from the backend"
The attached file is an image with rotation (thus the PC matrix is not unity).
[rotated.fits.zip](https://github.com/CARTAvis/carta-backend/files/3802874/rotated.fits.zip)

Its header looks like
SIMPLE  =                    T /Standard FITS
BITPIX  =                  -32 /Floating point (32 bit)
NAXIS   =                    2
NAXIS1  =                  113
NAXIS2  =                   76
EXTEND  =

[2019-11-04 09:26] veggiesaurus commented on #372
shouldn't the backend be sending _all_ headers, rather than some subset? Not sure why the PC entries would be missing.

[2019-11-04 13:00] teuben opened #373 "TabularCoordinate - start and end values in table must differ"
I have a FITS file, which to me looks quite ok. It works in ds9, but carta refuses to load it with the error:

Failed to open image at specified HDU: TabularCoordinate - start and end values in table must differ

The fitsheader reads as follows (file available upon request):

SIMPLE  =                    T / conforms to FITS standard
BITPIX  =                  -64 / array data type
NAXIS   =

[2019-11-05 07:45] veggiesaurus commented on #373
Did some digging, the error shows up in the following line:
[code]
so it's a casacore error, rather than a CARTA error :thinking: @pford will you look into this?

[2019-11-16 18:06] Kechil commented on #152
v1.5

[2019-11-16 18:07] Kechil commented on #151
v1.5

[2019-11-16 18:07] Kechil commented on #150
v1.5

[2019-11-16 18:20] #33 closed

[2019-11-16 18:22] Kechil commented on #46
Need to determine whether this is a casacore bug

[2019-11-16 18:24] #173 closed

[2019-11-16 18:43] jott3077 opened #374 "improper handling of masked values in CASA images"
CASA images with masked values are treated differently in CARTA. Sometimes masks are reported as zeros in the image plane, NaN in the statistics, and I saw a case where masked values are simply ignored and the values behind the mask is displayed.
Need to sort this out for all image formats.

[2019-11-18 23:31] #367 closed

[2019-11-25 22:50] jott3077 opened #376 "ability to provide entire path in 'load file' widget"
in the 'file loading widget one can only browse through the file system. Frequently it is more convenient to copy and paste in the path directly, as it saves many clicks.
Need to make sure though that this does not open a security hole.

[2019-11-25 23:04] jott3077 commented on #374
I added a few files to my home directory. Please download
www.nrao.edu/~jott/cartamaskissues.tar.gz
There are few files in there:

miriad-mask
The image is a miriad image, siome values are constant, then there's a transition, and the outer values are all masked. In CARTA they appear as zeros and not as masks.

testmask-casamaskfirstplane.im
a CASA image with a fully masked first plane. CARTA shows

[2019-11-25 23:24] jott3077 opened #377 "CARTA does not show correct velocities in CASA images"
See files in www.nrao.edu/~jott/images-velocity.tar.gz

IRC10216_HC3N.cube_r0.5.image.fits  (fits image)
IRC10216_HC3N.cube_r0.5.image  (CASA image)

NH3_3-3.2kms.clean.galmask.map.K5 (miriad image)
NH3_3-3.2kms.clean.galmask.map.K5.fits (fits image)

The CASA file loads the data with the first plane at -0.8238 km/s
The fits image is shown as -0.2832 km/s

Looks like the velocity labeling in the C

[2019-11-25 23:24] jott3077 commented on #377
(mask bug #347)

[2019-11-25 23:26] jott3077 opened #378 "CARTA does not start from '.'"
when I re-start CARTA from the command line in desktop mode, it will always start the file bowser in the last directory I looked at an image, not in '.', where it should, I think.

[2019-11-25 23:30] jott3077 opened #379 "add the environment variable needed for VNC to the startup"
Given the problems with VNC, I have set myself an alias like:

alias carta='LIBGL_ALWAYS_INDIRECT=1 carta'

That seems to work fine. But I wonder if the CARTA startup script could always set LIBGL_ALWAYS_INDIRECT=1 , so that vnc is not a special case anymore.  Maybe capture the variable at the start of CARTA, change to 1 and return to the previously set value at the shutdown of CARTA.

[2019-11-25 23:34] jott3077 opened #380 "relative coordinates to a given point"
A user request: add an option for a drop pin to which all coordinates are referenced to, so the viewer panel show relative and absolute coordinates.

[2019-11-26 17:56] pford opened #381 "Refactor backend file browser code"
Pending comments in backend development doc:
https://docs.google.com/document/d/1sqinYzsHN_8MMBEXg_lVlSdGlAMvAXkVciUIN-z24vA/edit#

This refactor will fix several backend bugs and enhancements related to the file browser.

[2019-11-26 17:57] pford commented on #46
Removed estimate, included in Epic estimate.

[2019-11-26 18:01] jott3077 commented on #377
I should mention that I haven't tested on HDF5 since I don't have such images.

[2019-11-26 18:01] jott3077 commented on #374
I should mention that I haven't tested on HDF5 since I don't have such images.

[2019-11-26 18:02] pford commented on #46
This is improved by using the Image object to create the FITS-like header.

[2019-11-26 18:56] jott3077 opened #382 "carta startup options are not available when running without an X display"
When trying to use
carta --help
or carta --remote
etc., without an attempt to bring up the GUI in the first place, all startup options fail when there's no X display available.

The task startup should not require X when anything but a GUI is requested (including the launch of the "carta --remote" server)

Here's an example:

[jott@nmpost028:~]> carta --help

(process:14740): Gtk-WARNING **: 11:52

[2019-11-27 13:48] #287 closed

[2019-11-27 13:49] #343 closed

[2019-11-27 14:01] kswang1029 opened #383 "backend support of catalogue overlay"
placeholder of all backend work related to catalogue overlay (frontend #571). Joint efforts from @markccchiang and @zarda, and discussions with @panchyo0 and @veggiesaurus

[2019-11-27 15:02] jott3077 opened #384 "recognize and display gzipped fits files"
fits files are frequently stored in a gzipped format. It would be great if CARTA could recognize them and  display them, so they can be viewed without the user having to gunzip (CARTA would gunzip on the fly - cf kvis has this feature).

[2019-11-27 15:05] veggiesaurus commented on #384
somewhat related to #360. This would probably require changes to casacore

[2019-11-27 15:08] kswang1029 commented on #384
What happens to a read-only file system? And security? performance?

[2019-11-27 15:09] veggiesaurus commented on #379
As far as I know, `LIBGL_ALWAYS_INDIRECT` only applies to the Mesa OpenGL driver, so setting this by default _shouldn't_ affect anything when running on a normal machine with an integrated or dedicated GPU, but @ajm-asiaa would have to do some testing to ensure that this doesn't affect anything else. Indirect rendering is considerably slower than direct rendering, so we don't want it to default to

[2019-11-27 15:10] veggiesaurus commented on #377
@pford to ensure that the same header values are being sent to the frontend. If they are the same, then I'll look into what's causing the differences.

[2019-11-27 15:15] veggiesaurus commented on #374
@jott3077 I'm not that familiar with masks other than NaN masks in FITS images, so I want to make sure that I'm understanding what you're requesting:

- Masked and NaN/INF pixels should be _rendered_ as the specified NaN color value (defaults to blue, I thnk)
- The _cursor_ value displayed when the user moves their cursor over a masked pixel should display the actual value, rather than just `NaN`

[2019-11-27 15:17] veggiesaurus commented on #384
There are ways to open gzip'd files without writing to disk, but that would obviously require more memory. No major security issues, other than the common security issue with compressed files: it's possible to create a small compressed file that decompresses to an infinitely large (at least from a practical perspective) file.

[2019-11-27 15:42] jott3077 commented on #374
I was thinking about the following:

- masks in CASA and MIRIAD images are stored in separate subtables. So they can be distinguished from NaN/INF or other magic values

- when hovering over a masked value with the cursor, it should show 'masked', NOT the actual value  and NOT zero (this is why the current behavior is a bug) also when NaNs are masked they should be shown as 'masked' (e.g. in CASA

[2019-11-27 17:37] veggiesaurus commented on #374
That would require a substantial change to the data delivery and rendering, because we'd then need to send a separate mask layer from backend to frontend.

Hdf5 files handle masks the same way as FITS: either you supply an explicit mask value in the headers (for integer based images) or you mask values by replacing them with NaN

[2019-11-27 18:23] pford commented on #13
I have implemented FITS headers with comments in pam/file_list_fixes branch.  However, when I tried to format the keyword name (8 chars left-aligned) and value (30 chars right-aligned) according to the FITS format, the frontend/AST library could not process the headers, so I reverted to no whitespace in the name and string value as before.

Also, the frontend will need to be modified to remove the

[2019-11-28 02:36] pford commented on #46
@kswang1029 , for multiple-beam images do you want a list of all beams or the just the beam with the median area?

[2019-11-28 02:43] kswang1029 commented on #46
For the file info, we need a median size. For beam rendering, we will need a full table.

[2019-11-28 04:33] markccchiang commented on #383
We may have a document to specify what data that frontend needs from the backend with respect to their protobuf messages.

[2019-11-28 05:14] veggiesaurus commented on #383
@panchyo0 has put together a design document [here](https://docs.google.com/document/d/1DD-_AXg7Nk5fzBAXLdXqkAOqyV-R40Wep7X2K0ymp4A/edit#heading=h.get8b5g447o), which should server as a good starting point. @panchyo0, can you move the document into the CARTA team drive's technical documents folder?

[2019-11-28 05:25] veggiesaurus commented on #383
@markccchiang @zarda I think the best starting point is to work out what our options are in terms of loading and parsing VOTables. Given that VOTables are simply a specific schema of XML, we have a few options:
1) use an existing VOTable library for c++ (there are very few, and none are maintained)
2) use an XML library for c++ (there are lots of excellent, well-maintained ones) and handle the "VO

[2019-11-28 13:15] veggiesaurus opened #385 "calculate mean and standard deviation while calculating histogram"
@kswang1029 has a suggestion that we allow the user to determine automatic contour levels based on mean and standard deviations of the image (either channel or cube). This requires _calculating_ the mean and standard deviation of either the image region or the cube region. However, since we already need to calculate the histogram anyway, we should just add the mean and standard deviation to the ca

[2019-11-28 13:24] veggiesaurus commented on #385
noting that this is a story point of "2" purely because it will require some ICD adjustments to send the mean and standard deviation to the frontend as well.

[2019-11-28 13:44] kswang1029 commented on #385
if min and max can be included, that would be very useful as the default parameter set if users select min-max-n_level-scaling level generator. I suppose the histogram has provided the answer.

[2019-11-28 18:41] panchyo0 commented on #383
The document is under CARTA team drive's technical documents folder/ frontend development/catalog overlay

[2019-11-29 10:18] confluence commented on #347
Task breakdown:

- [x] Add function(s) for loading mipmap data to the HDF5 image loader.
- [x] Split HDF5 image loader into header and implementation (refactoring; seems like a good time to do this)
- [x] Fix downsampled data height and width rounding bug in both backend and frontend.
- [x] Add an LRU tile cache for full-resolution tiles. This will be used for spatial profiles and full-resolution

[2019-12-03 09:01] veggiesaurus commented on #385
initial tests show that this increases the time taken to calculate histograms by about 10-20%. @kswang1029 and I agree that this tradeoff is worth it in terms of the additional functionality it provides. Mean and standard deviation indicators will also be useful for deciding on clip bounds for raster images.

[2019-12-04 17:56] pford commented on #13
Included in pull request #387

[2019-12-04 17:57] pford commented on #369
Included in pull request #387

[2019-12-04 17:57] pford commented on #372
Included in pull request #387

[2019-12-04 18:56] jott3077 opened #388 "Support CASA image types: concatenated, componentlist, LEL"
CASA produces a number of different image formats. CARTA needs to support these image types:

- [x] CASA Concatenated image
- [x] CASA Componentlist image
- [x] CASA LEL images

Supporting various data types (bool, int, complex, etc.) has been moved to new issue #520.
Supporting other image types (UV, pV) has been moved to new issue #663.

A link to examples is given in the google doc
https://docs

[2019-12-04 20:23] jott3077 opened #389 "regions away from the reference pixel are distorted and give the wrong pixel count"
I am trying a region like:

#CRTF v0
centerbox[[400pix,400pix],[4pix,4pix]]

on a really big image, where the reference coordinate is very far away (2028,790).
The region should cover 25 pixels, including those that sit right on the edge of the region.
If it would count the ones on the edges as outside, then the number should be 9.
Statistics, however, gives me 15, which is neither. At [1400pix,40

[2019-12-04 20:30] pford commented on #77
Generalized issue title, see also issue #388

[2019-12-04 21:45] pford commented on #388
The backend needs FileLoader subclasses for the additional types, and to support templated classes.  See casacore::ImageOpener::openImage for an example which returns appropriate templated type (PagedImage, HDF5Image, ImageConcat, ImageExpr for LEL images) as LatticeBase*, but data types do not include Boolean or Int.  We could adapt this for our backend and make CartaHdf5Image a templated class l

[2019-12-05 07:05] veggiesaurus commented on #388
We should probably investigate alternative data delivery mechanisms for integer and boolean images. For integers, the byte-shuffling and Zstd compression approach taken with contours would probably work nicely. For booleans, sending them as _bit_ arrays rather than byte arrays, and using Zstd (or even just the gzip compression built into WebSocket transmission) should be sufficient.

Converting to

[2019-12-05 08:05] veggiesaurus commented on #389
I tried to reproduce this, but it gives me 25 pixels each time, as long as my center is exactly an integer. As soon as it is non-integer, it becomes 16 pixels, which makes sense, since pixels along two of the edges no longer have their centres covered by the region.

@jott3077 how were you constructing these regions? Were you importing them or manually typing in the center and size values?

[2019-12-05 16:26] jott3077 commented on #389
I was creating a crtf file and imported it into CARTA.

This is the content of the file

#CRTF v0
centerbox[[2028pix,790pix],[4pix,4pix]]
centerbox[[400pix,400pix],[4pix,4pix]]
centerbox[[1400pix,400pix],[4pix,4pix]]

Did you get the image? I see I had a typo, the URL is
www.nrao.edu/~jott/NH3_3-3.2kms.clean.gal.map.m-2.fits
I just tried again and I get
Region 1: 25 pix
Region 2: 15pix
Region 3: 1

[2019-12-05 16:46] #381 closed, assigned to pford

[2019-12-05 16:48] pford commented on #369
Fix merged into dev.

[2019-12-05 16:48] pford commented on #372
Fix merged into dev.

[2019-12-05 16:50] pford commented on #13
Uses casacore::ImageFITSConverter::ImageHeaderToFITS for standard FITS header.  Merged into dev.

[2019-12-05 17:51] pford commented on #373
FITSImage tries to create a casacore::CoordinateSystem with a casacore::SpectralCoordinate by parsing the FITS headers with WCSLIB.  Then the optical velocities are converted to frequencies using:
`frequencies(i) = restFrequency/(vel/C::c+1.); // in Hz`
restFrequency is determined from the FITS headers restfreq or restwav, but since these headers do not exist all frequencies for the spectral axis

[2019-12-05 18:06] jott3077 opened #391 "jump to frame when clicking on spectral profiler"
It would be a good enhancement to have an option to click somewhere in the spectral profiler and the image animator would jump to the corresponding channel map and show it in the main window.

[2019-12-05 19:01] pford commented on #377
This seems to be fixed with using the ImageFITSConverter to create FITS headers in file info (pull request #387, merged into dev).  Assigning to Kuo-Song to test.

[2019-12-05 19:38] pford commented on #378
@ajm-asiaa startup script issue?

[2019-12-05 20:29] pford commented on #358
@kswang1029 is this still an issue?  I copied a FITS image to our NRAO lustre filesystem and created a symlink to it in my home directory.  Both are mounted filesystems (different ones).  Using both the RHEL7 CARTA.AppImage and the NRAO network carta installation, I could see the image in the file list, show its file info, and open it.

[2019-12-06 03:38] jott3077 opened #392 "Shift from 1-based to 0-based pixel counts needs to be reflected everywhere"
Typically, fits images (as well as miriad images) are based on counting pixels starting with (1,1).  CARTA shifts them to start with pixel (0,0).

On a first inspection, it  looks like the shift is done properly, such that the image values are at the correct WCS, which is good.

But there’s at least one confusing part: The header information that is displayed in CARTA is still based on pixel indic

[2019-12-06 06:33] veggiesaurus commented on #389
@pford can you look into this? Is it because we're converting the regions from pixel to WCS?

[2019-12-06 06:36] veggiesaurus commented on #392
adjusting the header makes me a bit nervous, since users might get confused when the header displayed in DS9 or other programs shows different reference pixel values.

As an example, astropy uses zero-based indexing for FITS files, but when you view the headers, they're displayed as-is.

I'm not sure how else to avoid this inconsistency when it comes to the different file standards. Perhaps we sho

[2019-12-06 06:40] kswang1029 commented on #392
I suggest in the file info we explicitly mention like "(1-based index)" or "(0-based index)" and keep everything else unchanged.

[2019-12-06 06:49] markccchiang commented on #383
Looks Xerces has the most support of XML parsing (SAX and DOM), but it is a little bulky. TinyXML is very tiny, not sure does it fit our future requirements. LibXML2 looks promising so far.

@kswang1029 mentioned two VOTable tools: [VO-India](http://voi.iucaa.in/voi/downloads.htm) and [VOTPP](http://ross.iasfbo.inaf.it/votpp/main.html). For the first link, it contains some java based libraries whi

[2019-12-06 07:14] veggiesaurus commented on #383
We should avoid that library, it's very out of date, and not well maintained. Fine to base your VOTable parser on it, but do remember that we're not trying to write a fully-fledged VOTable library which supports every possible feature, so our parser can probably be a bit simpler.

Based on the flowchart you linked, it looks like LibXML2 is the answer.

[2019-12-06 07:45] veggiesaurus commented on #373
@pford so what are the next steps? Do we file a casa bug and keep this in the icebox? @kswang1029 do we mark this as a known issue?

is there a default `restfreq` or `restwav` value we could insert?

[2019-12-06 08:56] kswang1029 commented on #373
I can mark this as a known issue in the user manual.

[2019-12-06 16:21] jott3077 commented on #392
Hi Angus, yes that was my initial proposal. 'Header' should definitely be unchanged. But we can make the change in 'file information'. We can be be more creative though, e.g. we add a new line and call it 'CARTA reference pixel' or even 'CARTA reference pixel (0-based)', to contrast it from 'Image reference pixel', then drop 'Image' from 'image reference coordinates' to only say 'Reference coordin

[2019-12-06 16:29] jott3077 opened #394 "Do not round in 'File Information'"
Loading an image in Galactic coordinates (same image as in #392) I find that 'file information' in the loading window displays the following lines:

Image reference coordinates = [0.3961 , -0.0707 ]
Image ref coords (coord type) = [0.39611 , -0.0706588 ]

Is there a reason why the first line is just a rounded version of the second line?  I suggest not to round the first line and just copy the full

[2019-12-07 07:35] veggiesaurus commented on #394
@pford does the rounding happen on the backend? I can't see any rounding in the frontend code (although I didn't look too carefully)

I think @duidae wrote the computed info part in the backend.

[2019-12-09 02:56] ajm-ska commented on #378
@jott3077 I tried to reproduce your issue using the Desktop versions of CARTA on MacOS, RHEL, and Ubuntu, but I can not. In all cases I start CARTA using the command line, use the file browser to browse to a folder, and open an image. Then I quit CARTA and re-open it. The file browser does not remember the last directory used. Are you sure that you are really closing CARTA and starting up a new se

[2019-12-09 16:11] pford commented on #394
I will change the fixed point format to general format, where precision depends on the input value.

[2019-12-09 17:28] #378 closed, assigned to ajm-ska

[2019-12-09 17:28] jott3077 commented on #378
@ajm-asiaa I tried it in a fresh terminal and I agree, the behavior seems to be fine. I cannot reproduce it either anymore. I will close the issue, until it reappears consistently.

[2019-12-09 21:13] pford commented on #389
The CRTF import is done by the imageanalysis code, which converts the input parameters (pixel or WCS) to the coordinate system of the image the region is applied to. Dave indicates in a CASA ticket that machine precision in these conversions may result in fractional pixels greater/less than .0 (the pixel center) that would exclude expected pixels.

The backend queries the imported AnnotationRegion

[2019-12-09 21:33] pford commented on #389
Noting here that Region 2 statistics agree with imstat, which was used for the expected values for statistics in the ICD tests.  For now, CASA will be adding a note in the documentation and known issues for "centerbox" use.

[code]

[2019-12-09 22:13] pford commented on #46
Re: performance issue, most CASA images take 4-8 ms for the PagedImage object to be created; this image takes 127 ms.  I do not see any way to create a PagedImage without reading the beams so I marked this as a `casa` issue.  With a recent pull request to refactor the file info, the PagedImage is reused in Frame so loading is much faster.

[2019-12-10 03:05] zarda commented on #383
The XML data binding framework allow us easy to maintain codes, likes [CodeSynthesis XSD](https://en.wikipedia.org/wiki/CodeSynthesis_XSD). We can unserialize data to be an object only.

[2019-12-10 05:34] veggiesaurus commented on #383
I wonder if that would support something with as flexible a schema as votable

[2019-12-10 06:02] kswang1029 commented on #383
It might be good to check what astropy adopts.

[2019-12-10 06:19] veggiesaurus commented on #383
astropy is all written in python, so we probably can't reuse any of the libraries they use. However, the code looks like it creates a custom object after parsing the XML document. I think that's the direction we should go, whether it's by introducing another library to automatically deserialize to our custom objects, or just creating the objects manually (probably simpler, considering that our obj

[2019-12-10 11:13] kswang1029 commented on #357
@pford @veggiesaurus Just to confirm, after the proposed change is implemented, there will be no HDU info in the file_list_response so initially users will just see a list of images (ie if there are 10 images, there will be just 10 entries in the list). If users click an image with multiple HDUs, then HDU info will be delivered to frontend with file_info_response. So frontend will need to use file